Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

fix(OneDataCollection): add required label to test grouping definition
  packages/react/src/patterns/OneDataCollection/__tests__/index.spec.tsx
Due: format-react

fix(OneDataCollection): reset Sort by and Group by on "Reset to default"
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/Settings/Settings.tsx
  packages/react/src/patterns/OneDataCollection/__tests__/index.spec.tsx
Due: format-react

fix: shrink useI18n blast radius in primitive components (F0Alert, DetailsItemsList)
  packages/react/src/components/F0Alert/F0Alert.tsx
  packages/react/src/components/F0Link/__tests__/index.test.tsx
  packages/react/src/experimental/Lists/DetailsItemsList/index.tsx
Due: format-react

fix: shrink useI18n blast radius in F0Alert and DetailsItemsList (#3977)
  packages/react/src/components/F0Alert/F0Alert.tsx
  packages/react/src/components/F0Link/__tests__/index.test.tsx
  packages/react/src/experimental/Lists/DetailsItemsList/index.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3978)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(OneDataCollection): use source defaults when resetting Sort by and Group by
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/__tests__/Settings.test.tsx
  packages/react/src/patterns/OneDataCollection/__tests__/index.spec.tsx
Due: format-react

feat(useDataSource): expose defaultSortings and defaultGrouping on returned source
  packages/react/src/hooks/datasource/useDataSource.ts
Due: format-react

feat(PageHeader): support onClick handler on PageAction
  packages/react/src/experimental/Navigation/Header/PageHeader/index.stories.tsx
  packages/react/src/experimental/Navigation/Header/PageHeader/index.tsx
Due: format-react

feat(PageHeader): support onClick handler on PageAction (#3979)
  packages/react/src/experimental/Navigation/Header/PageHeader/index.stories.tsx
  packages/react/src/experimental/Navigation/Header/PageHeader/index.tsx
Due: format-react

chore: release main (#3980)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(RichTextEditor): update mentionIds to use string format in tests
  packages/react/src/components/RichText/RichTextEditor/mentions.test.tsx
Due: format-react

feat: add GitHub Actions workflow for publishing Expo prod updates and notifying Slack FCT-52555
  .github/workflows/npm-publish.yaml
  .github/workflows/publish-expo-production.yaml
Due: none

chore: add GitHub Actions workflow for publishing Expo prod updates (#3983)
  .github/workflows/npm-publish.yaml
  .github/workflows/publish-expo-production.yaml
Due: none

fix: update mentionIds to use string format in tests (#3982)
  packages/react/src/components/RichText/RichTextEditor/mentions.test.tsx
Due: format-react

test: add unit tests for useDataCollectionStorage to verify pre-hydration write behavior
  packages/react/src/patterns/OneDataCollection/__stories__/filters/per-visualization-filters.stories.tsx
  packages/react/src/patterns/OneDataCollection/hooks/useDataColectionStorage/__tests__/useDataCollectionStorage.test.tsx
Due: format-react

fix: reset storage readiness during hydration to prevent stale writes under new keys
  packages/react/src/patterns/OneDataCollection/hooks/useDataColectionStorage/__tests__/useDataCollectionStorage.test.tsx
  packages/react/src/patterns/OneDataCollection/hooks/useDataColectionStorage/useDataCollectionStorage.ts
Due: format-react

feat: implement persistence for per-visualization filters in data collection
  packages/react/src/patterns/OneDataCollection/__stories__/filters/per-visualization-filters.stories.tsx
  packages/react/src/patterns/OneDataCollection/hooks/useDataColectionStorage/__tests__/useDataCollectionStorage.test.ts
  packages/react/src/patterns/OneDataCollection/hooks/useDataColectionStorage/useDataCollectionStorage.ts
Due: format-react

chore: release main (#3984)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0Button): add isDark prop for ghost variant to support dark surfaces
  packages/react-native/playground/components/F0ButtonShowcase/index.tsx
  packages/react-native/src/components/F0Button/F0Button.md
  packages/react-native/src/components/F0Button/F0Button.styles.ts
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/F0Button.types.ts
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
  packages/react-native/src/components/F0Button/__tests__/__snapshots__/F0Button.spec.tsx.snap
Due: format-react-native

fix: rich text field not getting updated when co-editing form
  packages/react/src/patterns/F0Form/fields/richtext/RichTextFieldRenderer.tsx
Due: format-react

fix: accept f0FormDefinition in availableFormDefinitions
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/patterns/F0Form/index.tsx
Due: format-react

fix: disable delete action for sections containing locked questions
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/TableOfContent/useTableOfContentItems.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/__tests__/index.test.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Section/index.tsx
Due: format-react

feat(F0Button): add iconPosition prop to control icon placement and update showcase
  packages/react-native/playground/components/F0ButtonShowcase/index.tsx
  packages/react-native/src/components/F0Button/F0Button.md
  packages/react-native/src/components/F0Button/F0Button.styles.ts
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/F0Button.types.ts
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
  packages/react-native/src/components/F0Button/__tests__/__snapshots__/F0Button.spec.tsx.snap
Due: format-react-native

feat: persistence per-viz filters data collection (#3971)
  packages/react/src/patterns/OneDataCollection/__stories__/filters/per-visualization-filters.stories.tsx
  packages/react/src/patterns/OneDataCollection/hooks/useDataColectionStorage/__tests__/useDataCollectionStorage.test.tsx
  packages/react/src/patterns/OneDataCollection/hooks/useDataColectionStorage/useDataCollectionStorage.ts
Due: format-react

chore: release main (#3988)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0Button): changes to F0Button and added new icons (#3969)
  packages/react-native/playground/components/F0ButtonShowcase/index.tsx
  packages/react-native/src/components/F0Button/F0Button.md
  packages/react-native/src/components/F0Button/F0Button.styles.ts
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/F0Button.types.ts
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
  packages/react-native/src/components/F0Button/__tests__/__snapshots__/F0Button.spec.tsx.snap
  packages/react-native/src/icons/app/FaceID.tsx
  packages/react-native/src/icons/app/TouchID.tsx
  packages/react-native/src/icons/app/index.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3989)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: improve error handling in publish-expo-production workflow
  .github/workflows/publish-expo-production.yaml
Due: none

chore: enhance error handling and output validation in publish-expo-production workflow
  .github/workflows/publish-expo-production.yaml
Due: none

chore: improve error handling in publish-expo-production workflow (#3991)
  .github/workflows/publish-expo-production.yaml
Due: none

chore: add form testing utilities
  packages/react/src/patterns/F0Form/__tests__/createF0FormTester.test.ts
  packages/react/src/patterns/F0Form/conditionalResolver.ts
  packages/react/src/patterns/F0Form/index.tsx
  packages/react/src/patterns/F0Form/testing/createF0FormDefinitionTester.ts
  packages/react/src/patterns/F0Form/testing/createF0FormTester.ts
  packages/react/src/patterns/F0Form/testing/index.ts
Due: format-react

fix: add missing submit validation logic
  packages/react/src/patterns/F0Form/__tests__/createF0FormTester.test.ts
  packages/react/src/patterns/F0Form/testing/createF0FormDefinitionTester.ts
  packages/react/src/patterns/F0Form/testing/createF0FormTester.ts
Due: format-react

fix: address copilot review comments on F0Form testing utilities
  packages/react/src/patterns/F0Form/testing/createF0FormDefinitionTester.ts
  packages/react/src/patterns/F0Form/testing/createF0FormTester.ts
Due: format-react

fix: address copilot concerns
  packages/react/src/patterns/F0Form/fields/richtext/RichTextFieldRenderer.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
Due: format-react

chore: add form testing utilities (#3992)
  packages/react/src/patterns/F0Form/__tests__/createF0FormTester.test.ts
  packages/react/src/patterns/F0Form/conditionalResolver.ts
  packages/react/src/patterns/F0Form/index.tsx
  packages/react/src/patterns/F0Form/testing/createF0FormDefinitionTester.ts
  packages/react/src/patterns/F0Form/testing/createF0FormTester.ts
  packages/react/src/patterns/F0Form/testing/index.ts
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
