Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

fix(OneDateNavigator): use locale from l10n context in granularity label
  packages/react/src/experimental/OneCalendar/OneCalendar.tsx
  packages/react/src/experimental/OneCalendar/granularities/day/__tests__/index.test.tsx
  packages/react/src/experimental/OneCalendar/granularities/day/index.tsx
  packages/react/src/experimental/OneCalendar/granularities/types.ts
  packages/react/src/experimental/OneCalendar/granularities/week/__tests__/index.test.tsx
  packages/react/src/experimental/OneCalendar/granularities/week/index.tsx
Due: format-react

feat: add F0Metadata component
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0MetadataShowcase/index.tsx
  packages/react-native/src/components/F0Metadata/F0Metadata.md
  packages/react-native/src/components/F0Metadata/F0Metadata.styles.ts
  packages/react-native/src/components/F0Metadata/F0Metadata.tsx
  packages/react-native/src/components/F0Metadata/F0Metadata.types.ts
  packages/react-native/src/components/F0Metadata/F0MetadataItem.tsx
  packages/react-native/src/components/F0Metadata/F0MetadataValue.tsx
  packages/react-native/src/components/F0Metadata/__tests__/F0Metadata.spec.tsx
  packages/react-native/src/components/F0Metadata/__tests__/__snapshots__/F0Metadata.spec.tsx.snap
  packages/react-native/src/components/F0Metadata/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

test(value-display): add compound snapshot story
  packages/react/src/ui/value-display/types/compound/__stories__/compound.stories.tsx
Due: format-react

chore: small changes
  packages/react-native/src/components/F0Tabs/F0Tabs.md
  packages/react-native/src/components/F0Tabs/F0Tabs.styles.ts
  packages/react-native/src/components/F0Tabs/F0Tabs.types.ts
Due: format-react-native

feat(rich-text): add Ask AI tutor flow in bubble menu
  packages/react/src/experimental/RichText/CoreEditor/BubbleMenu/AskAITutorButton.tsx
  packages/react/src/experimental/RichText/CoreEditor/BubbleMenu/AskAITutorDialog.tsx
  packages/react/src/experimental/RichText/CoreEditor/BubbleMenu/index.tsx
  packages/react/src/experimental/RichText/NotesTextEditor/index.stories.tsx
Due: format-react

feat(react): add F0TimelineRow component (#3727)
  packages/core/assets/icons/app/Marker.svg
  packages/core/assets/icons/app/multitask.svg
  packages/react/src/components/exports.ts
  packages/react/src/icons/app/Marker.tsx
  packages/react/src/icons/app/Multitask.tsx
  packages/react/src/icons/app/index.ts
  packages/react/src/sds/TimeLine/F0TimelineRow.tsx
  packages/react/src/sds/TimeLine/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/sds/TimeLine/__tests__/F0TimelineRow.test.tsx
  packages/react/src/sds/TimeLine/components/Actions.tsx
  packages/react/src/sds/TimeLine/components/F0TimelineConnector.tsx
  packages/react/src/sds/TimeLine/components/MultitaskHeader.tsx
  packages/react/src/sds/TimeLine/components/MultitaskRow.tsx
  packages/react/src/sds/TimeLine/components/TaskDetails.tsx
  packages/react/src/sds/TimeLine/components/TaskHeader.tsx
  packages/react/src/sds/TimeLine/components/TaskRow.tsx
  packages/react/src/sds/TimeLine/components/TimelineRowLayout.tsx
  packages/react/src/sds/TimeLine/index.tsx
  packages/react/src/sds/TimeLine/types.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3768)
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: small changes
  packages/react-native/src/components/F0Metadata/F0Metadata.md
  packages/react-native/src/components/F0Metadata/F0Metadata.tsx
  packages/react-native/src/components/F0Metadata/F0MetadataValue.tsx
Due: format-react-native

fix(value-display): collapse empty compound values
  packages/react/src/ui/value-display/types/compound/__stories__/compound.stories.tsx
  packages/react/src/ui/value-display/types/compound/compound.test.tsx
  packages/react/src/ui/value-display/types/compound/compound.tsx
Due: format-react

feat(value-display): add compound renderer (#3582)
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.mdx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.stories.tsx
  packages/react/src/experimental/OneDataCollection/property-render.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/ui/value-display/__stories__/ValueDisplay.mdx
  packages/react/src/ui/value-display/renderers.tsx
  packages/react/src/ui/value-display/types.ts
  packages/react/src/ui/value-display/types/compound/__stories__/compound.mdx
  packages/react/src/ui/value-display/types/compound/__stories__/compound.stories.tsx
  packages/react/src/ui/value-display/types/compound/compound.test.tsx
  packages/react/src/ui/value-display/types/compound/compound.tsx
  packages/react/src/ui/value-display/types/compound/index.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3769)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

docs: update design-buddy skill and design rules
  .skills/f0-design-buddy/SKILL.md
  packages/react/docs/design-rules.mdx
Due: none

fix: extend locale fix to OneDateNavigator trigger button (toString path)
  packages/react/src/experimental/OneCalendar/granularities/month/__tests__/index.test.tsx
  packages/react/src/experimental/OneCalendar/granularities/month/index.tsx
  packages/react/src/experimental/OneCalendar/granularities/types.ts
  packages/react/src/experimental/OneDateNavigator/__stories__/OneDateNavigator.stories.tsx
  packages/react/src/experimental/OneDateNavigator/__tests__/OneDateNavigator.test.tsx
  packages/react/src/experimental/OneDateNavigator/components/DateNavigatorTrigger.tsx
Due: format-react

fix: little issues
  packages/react/src/sds/ai/F0AiChat/actions/core/messageCreditsWarning/types.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea.tsx
Due: format-react

feat(F0AiChatTextArea): add credit warning banner with upsell actions (#3608)
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/messageCreditsWarning/F0MessageCreditsWarning.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/messageCreditsWarning/__stories__/F0CreditsWarning.stories.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/messageCreditsWarning/index.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/messageCreditsWarning/types.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/messageCreditsWarning/useMessageCreditsWarningAction.tsx
  packages/react/src/sds/ai/F0AiChat/actions/registry.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/__stories__/ChatTextarea.stories.tsx
Due: format-react

chore: release main (#3770)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: add import instructions on the docs of each component
  packages/react/.storybook/DocsContainer.tsx
  packages/react/.storybook/ImportBanner.tsx
  packages/react/.storybook/resolveImportPath.ts
Due: format-react

refactor: simplify agent prompts to use skills as source of truth
  .github/agent-prompts/a11y-review.md
  .github/agent-prompts/code-review.md
  .github/agent-prompts/storybook-review.md
  .github/agent-prompts/test-coverage-review.md
Due: none

fix: add it right after component description
  packages/react/.storybook/ImportBanner.tsx
Due: format-react

fix: add import instructions on the docs of each component (#3771)
  packages/react/.storybook/DocsContainer.tsx
  packages/react/.storybook/ImportBanner.tsx
  packages/react/.storybook/resolveImportPath.ts
Due: format-react

chore: release main (#3772)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(icons): rename module icons Rocket→Onboarding and ItManagement→Software
  packages/react-native/src/icons/modules/ItManagement.tsx
  packages/react-native/src/icons/modules/Onboarding.tsx
  packages/react-native/src/icons/modules/index.ts
  packages/react/src/components/avatars/F0AvatarModule/modules.ts
  packages/react/src/icons/modules/ItManagement.tsx
  packages/react/src/icons/modules/Onboarding.tsx
  packages/react/src/icons/modules/index.ts
Due: format-react, format-react-native

feat(tabs): add F0Tabs component with showcase, styles, and docs (#3765)
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0TabsShowcase/index.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.md
  packages/react-native/src/components/F0Tabs/F0Tabs.styles.ts
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.types.ts
  packages/react-native/src/components/F0Tabs/__tests__/F0Tabs.spec.tsx
  packages/react-native/src/components/F0Tabs/__tests__/__snapshots__/F0Tabs.spec.tsx.snap
  packages/react-native/src/components/F0Tabs/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3773)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

fix(core): align color tokens with Figma design system
  packages/core/base.css
  packages/core/src/tokens/colors.ts
Due: none

feat: add F0Metadata component (#3766)
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0MetadataShowcase/index.tsx
  packages/react-native/src/components/F0Metadata/F0Metadata.md
  packages/react-native/src/components/F0Metadata/F0Metadata.styles.ts
  packages/react-native/src/components/F0Metadata/F0Metadata.tsx
  packages/react-native/src/components/F0Metadata/F0Metadata.types.ts
  packages/react-native/src/components/F0Metadata/F0MetadataItem.tsx
  packages/react-native/src/components/F0Metadata/F0MetadataValue.tsx
  packages/react-native/src/components/F0Metadata/__tests__/F0Metadata.spec.tsx
  packages/react-native/src/components/F0Metadata/__tests__/__snapshots__/F0Metadata.spec.tsx.snap
  packages/react-native/src/components/F0Metadata/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

chore: release main (#3774)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat(checkbox): add F0Checkbox component with showcase, styles, and tests
  packages/react-native/AGENTS.md
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0CheckboxShowcase/index.tsx
  packages/react-native/src/components/F0Checkbox/F0Checkbox.md
  packages/react-native/src/components/F0Checkbox/F0Checkbox.styles.ts
  packages/react-native/src/components/F0Checkbox/F0Checkbox.tsx
  packages/react-native/src/components/F0Checkbox/F0Checkbox.types.ts
  packages/react-native/src/components/F0Checkbox/__tests__/F0Checkbox.spec.tsx
  packages/react-native/src/components/F0Checkbox/__tests__/__snapshots__/F0Checkbox.spec.tsx.snap
  packages/react-native/src/components/F0Checkbox/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

chore: small format change
  packages/react-native/src/components/F0Checkbox/F0Checkbox.md
Due: format-react-native

fix(OneFilterPicker): scope test queries to visible OverflowList container
  packages/react/src/components/OneFilterPicker/__test__/index.test.tsx
  packages/react/src/components/OneFilterPicker/components/FiltersPresets.test.tsx
Due: format-react

fix(OverflowList): prevent multi-item jumps and add custom overflow trigger for FiltersPresets (#3753)
  packages/react/src/components/OneFilterPicker/__test__/index.test.tsx
  packages/react/src/components/OneFilterPicker/components/FiltersPresets.test.tsx
  packages/react/src/components/OneFilterPicker/components/FiltersPresets.tsx
  packages/react/src/ui/OverflowList/useOverflowCalculation.ts
Due: format-react

chore: release main (#3777)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

docs(storybook): replace welcome banner with Introduction and System Principles content (#3568)
  packages/react/docs/Introduction.mdx
Due: none

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
