Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

fix(tokens): add background-promote-bold to RN theme and use rounded-xxl in Avatar
  packages/react-native/src/styles/theme.css
  packages/react/src/ui/Avatar/Avatar.tsx
Due: format-react, format-react-native

fix: apply oxfmt formatting and replace rounded-[12px] with rounded-md semantic token
  packages/react/src/ui/InputField/InputField.tsx
Due: format-react

fix: rename border radius tokens xxl->2xl and 2xl->3xl for consistent scale
  packages/core/src/tokens/borderRadius.ts
  packages/react-native/src/styles/theme.css
  packages/react-native/src/styles/tokens/borderRadius.ts
  packages/react/src/lib/F0Box/__stories__/F0Box.stories.tsx
  packages/react/src/lib/F0Box/types.ts
  packages/react/src/lib/F0Box/utils/border.ts
  packages/react/src/lib/F0Box/utils/responsive-safelist.ts
  packages/react/src/ui/Avatar/Avatar.tsx
Due: format-react, format-react-native

chore: apply oxfmt formatting
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/deprecated/EntitySelect/Content/MainContent/Searcher.tsx
  packages/react/src/deprecated/EntitySelect/Content/MainContent/index.tsx
  packages/react/src/deprecated/EntitySelect/CreateItem/index.tsx
  packages/react/src/deprecated/EntitySelect/ListItem/index.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/Item/PrimitiveItem.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/index.tsx
  packages/react/src/ui/F0Wizard/components/WizardSteps.tsx
  packages/react/src/ui/InputField/InputField.tsx
Due: format-react

chore: apply oxfmt formatting
  packages/react-native/src/styles/tokens/borderRadius.ts
  packages/react/src/lib/F0Box/__stories__/F0Box.stories.tsx
  packages/react/src/lib/F0Box/types.ts
  packages/react/src/lib/F0Box/utils/border.ts
  packages/react/src/ui/Avatar/Avatar.tsx
  packages/react/src/ui/InputField/InputField.tsx
Due: format-react, format-react-native

docs(OneDataCollection): add infinite-scroll selection story and example
  packages/react/src/patterns/OneDataCollection/__stories__/index.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/selectable-bulk-actions.mdx
Due: format-react

feat(FileAttachment): show raw file size instead of labeled fileWeight
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0Form/fields/file/FileAttachment.tsx
  packages/react/src/patterns/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/file/__tests__/FileFieldRenderer.test.tsx
  packages/react/src/patterns/F0Form/fields/file/types.ts
Due: format-react

feat(FileUpload): improve document upload experience (#3918)
  packages/react/src/components/avatars/F0AvatarIcon/F0AvatarIcon.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0Form/fields/file/FileAttachment.tsx
  packages/react/src/patterns/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/file/__tests__/FileFieldRenderer.test.tsx
  packages/react/src/patterns/F0Form/fields/file/types.ts
  packages/react/src/patterns/F0Form/useSchemaDefinition.ts
  packages/react/src/patterns/F0FormField/__stories__/F0FormField.stories.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4002)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: prevent form from being submitted from canva mode when it has validation errors (#4001)
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/__tests__/formActions.test.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormSubmitAction.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
Due: format-react

chore: release main (#4003)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0AiChat): clarifying question UX, persistence, motion polish, reply
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiChat.stories.tsx
  packages/react/src/sds/ai/F0AiChat/__tests__/useReplySelection.test.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/__tests__/useClarifyingQuestionAction.test.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/persistClarifyingResolution.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/types.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/useClarifyingQuestionAction.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatInput.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/DropOverlay.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/PendingQuoteChip.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/ClarifyingQuestionPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/ConfirmFooter.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/CustomAnswerRow.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/OptionRow.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/OptionsList.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/RadioIndicator.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/StepHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/__tests__/ClarifyingQuestionPanel.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/TypewriterPlaceholder.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/__stories__/ClarifyingQuestion.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/components/Block.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/AssistantMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/ReplyPopover.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/UserMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/useReplySelection.ts
  packages/react/src/sds/ai/F0AiChat/hooks/useMessageScroll.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/styles.css
Due: format-react

feat(entityRef): enrich jobPosting hover card
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/jobPosting/JobPostingEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/jobPosting/types.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
Due: format-react

feat(icons): add Reply icon and integrate into chat components
  packages/core/assets/icons/app/reply.svg
  packages/react/src/icons/app/Reply.tsx
  packages/react/src/icons/app/index.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/PendingQuoteChip.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/UserMessage.tsx
Due: format-react

style(ChatTextarea): update PendingQuoteChip styles for improved appearance
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/PendingQuoteChip.tsx
Due: format-react

fix: add support to define initial files resolution through f0 form definition
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0WizardForm/types.ts
  packages/react/src/patterns/F0WizardForm/useF0FormDefinition.ts
Due: format-react

fix(UserMessage): remove duplicate ReplyQuoteBlock rendering
  packages/react/src/sds/ai/F0AiChat/components/messages/UserMessage.tsx
Due: format-react

fix: define how we resolve initial files along with async default values
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/components/F0FormSection.tsx
  packages/react/src/patterns/F0Form/context.ts
  packages/react/src/patterns/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/file/__tests__/FileFieldRenderer.test.tsx
  packages/react/src/patterns/F0Form/types.ts
  packages/react/src/patterns/F0WizardForm/types.ts
  packages/react/src/patterns/F0WizardForm/useF0FormDefinition.ts
Due: format-react

feat(F0AiChat): clarifying question UX, persistence, motion polish, reply (#4004)
  packages/core/assets/icons/app/reply.svg
  packages/react/src/icons/app/Reply.tsx
  packages/react/src/icons/app/index.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiChat.stories.tsx
  packages/react/src/sds/ai/F0AiChat/__tests__/useReplySelection.test.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/__tests__/useClarifyingQuestionAction.test.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/persistClarifyingResolution.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/types.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/useClarifyingQuestionAction.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatInput.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/DropOverlay.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/PendingQuoteChip.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/ClarifyingQuestionPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/ConfirmFooter.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/CustomAnswerRow.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/OptionRow.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/OptionsList.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/RadioIndicator.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/StepHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/__tests__/ClarifyingQuestionPanel.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/TypewriterPlaceholder.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/__stories__/ClarifyingQuestion.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/components/Block.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/AssistantMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/ReplyPopover.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/UserMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/useReplySelection.ts
  packages/react/src/sds/ai/F0AiChat/hooks/useMessageScroll.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/styles.css
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4007)
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: add support to define initial files resolution through f0 form definition (#4006)
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/components/F0FormSection.tsx
  packages/react/src/patterns/F0Form/context.ts
  packages/react/src/patterns/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/file/__tests__/FileFieldRenderer.test.tsx
  packages/react/src/patterns/F0Form/types.ts
  packages/react/src/patterns/F0WizardForm/types.ts
  packages/react/src/patterns/F0WizardForm/useF0FormDefinition.ts
Due: format-react

chore: release main (#4010)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(F0AiChat): preserve final streamed delta in ordered message parts
  packages/react/src/sds/ai/F0AiChat/providers/OrderedMessagePartsProvider.tsx
  packages/react/src/sds/ai/F0AiChat/providers/__tests__/OrderedMessagePartsProvider.test.tsx
Due: format-react

fix(F0AiChat): preserve final streamed delta in ordered message parts (#4011)
  packages/react/src/sds/ai/F0AiChat/providers/OrderedMessagePartsProvider.tsx
  packages/react/src/sds/ai/F0AiChat/providers/__tests__/OrderedMessagePartsProvider.test.tsx
Due: format-react

chore: release main (#4012)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(dialog): support multiple secondary actions
  packages/react/src/patterns/F0Dialog/__stories__/F0Modal.stories.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogFooter.tsx
  packages/react/src/patterns/F0Dialog/index.tsx
  packages/react/src/patterns/F0Dialog/internal-types.ts
  packages/react/src/patterns/F0Dialog/types.ts
Due: format-react

feat: add f0FormField shortcut helpers
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/f0Schema.ts
Due: format-react

feat: add support for optional on more and more fields
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/f0Schema.ts
Due: format-react

fix: use more shortcuts
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/f0Schema.ts
Due: format-react

fix: use more shortcuts
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/f0Schema.ts
Due: format-react

refactor(dialog): extract shared F0DialogActionItem base type
  packages/react/src/patterns/F0Dialog/types.ts
Due: format-react

fix: address copilot comments
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/f0Schema.ts
Due: format-react

fix(useSelectable): also clear selection on sortings/search change in infinite-scroll
  packages/react/src/hooks/datasource/__test__/useSelectable.test.tsx
  packages/react/src/hooks/datasource/useSelectable/useSelectable.ts
Due: format-react

feat(CandidateEntityRef): show source and applied date rows (#3998)
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/candidate/CandidateEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/candidate/types.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
Due: format-react
