Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

feat(F0BlurView): add F0BlurView component with documentation, tests, showcase
  packages/react-native/jest.config.mjs
  packages/react-native/mocks/expo-blur.js
  packages/react-native/package.json
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0BlurViewShowcase/index.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.md
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.tsx
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.types.ts
  packages/react-native/src/components/primitives/F0BlurView/__tests__/F0BlurView.spec.tsx
  packages/react-native/src/components/primitives/F0BlurView/__tests__/__snapshots__/F0BlurView.spec.tsx.snap
  packages/react-native/src/components/primitives/F0BlurView/index.ts
  pnpm-lock.yaml
Due: format-react-native

chore: small changes
  packages/react-native/AGENTS.md
  packages/react-native/src/components/F0Checkbox/F0Checkbox.md
  packages/react-native/src/components/F0Checkbox/F0Checkbox.tsx
  packages/react-native/src/components/F0Checkbox/F0Checkbox.types.ts
Due: format-react-native

feat(checkbox): add F0Checkbox component with showcase (#3776)
  packages/react-native/AGENTS.md
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0CheckboxShowcase/index.tsx
  packages/react-native/src/components/F0Checkbox/F0Checkbox.md
  packages/react-native/src/components/F0Checkbox/F0Checkbox.styles.ts
  packages/react-native/src/components/F0Checkbox/F0Checkbox.tsx
  packages/react-native/src/components/F0Checkbox/F0Checkbox.types.ts
  packages/react-native/src/components/F0Checkbox/__tests__/F0Checkbox.spec.tsx
  packages/react-native/src/components/F0Checkbox/__tests__/__snapshots__/F0Checkbox.spec.tsx.snap
  packages/react-native/src/components/F0Checkbox/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3779)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: small change
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.md
Due: format-react-native

feat: add `F0BlurView` primitive (#3778)
  packages/react-native/jest.config.mjs
  packages/react-native/mocks/expo-blur.js
  packages/react-native/package.json
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0BlurViewShowcase/index.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.md
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.tsx
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.types.ts
  packages/react-native/src/components/primitives/F0BlurView/__tests__/F0BlurView.spec.tsx
  packages/react-native/src/components/primitives/F0BlurView/__tests__/__snapshots__/F0BlurView.spec.tsx.snap
  packages/react-native/src/components/primitives/F0BlurView/index.ts
  pnpm-lock.yaml
Due: format-react-native

chore: release main (#3780)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

fix(editable-table): add active, hover states to the cells of the editable table (#3733)
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/BaseCell.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/BaseCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/SelectCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3782)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: make CSV export opt-in via csvExport prop and export public API
  packages/react/src/experimental/OneDataCollection/OneDatacollection.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/export-test.stories.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/exports.ts
Due: format-react

fix: handle { type, value } cell wrappers in CSV extractDisplayValue
  packages/react/src/experimental/OneDataCollection/utils/csvExport.ts
Due: format-react

test: add paginated export story and revert mock data size
  packages/react/src/experimental/OneDataCollection/__stories__/export-test.stories.tsx
Due: format-react

refactor: improve type safety in csvExport and useExportAction
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
  packages/react/src/experimental/OneDataCollection/utils/csvExport.ts
Due: format-react

feat: add CSV export functionality to OneDataCollection
  packages/react/src/experimental/OneDataCollection/OneDatacollection.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/export-test.stories.tsx
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
  packages/react/src/experimental/OneDataCollection/utils/csvExport.ts
Due: format-react

fix: fetch all pages when exporting paginated data collections
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
Due: format-react

fix: include csvExport in hasCollectionsActions gate
  packages/react/src/experimental/OneDataCollection/OneDatacollection.tsx
Due: format-react

test: add unit tests for csvExport utilities
  packages/react/src/experimental/OneDataCollection/__tests__/csvExport.test.ts
  packages/react/src/experimental/OneDataCollection/utils/csvExport.ts
Due: format-react

fix: restore mocks in useExportAction tests and correct enabled JSDoc
  packages/react/src/experimental/OneDataCollection/__tests__/useExportAction.test.tsx
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
Due: format-react

fix: use effectiveSource for export and guard empty secondary actions
  packages/react/src/experimental/OneDataCollection/OneDatacollection.tsx
Due: format-react

fix: add missing afterEach import in useExportAction tests
  packages/react/src/experimental/OneDataCollection/__tests__/useExportAction.test.tsx
Due: format-react

fix: include exportAction.onClick in memo deps to prevent stale exports
  packages/react/src/experimental/OneDataCollection/OneDatacollection.tsx
Due: format-react

fix: export action performance and filename consistency
  packages/react/src/experimental/OneDataCollection/OneDatacollection.tsx
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
  packages/react/src/experimental/OneDataCollection/utils/csvExport.ts
Due: format-react

fix: address PR review feedback
  packages/react/src/experimental/OneDataCollection/__stories__/export-test.stories.tsx
  packages/react/src/experimental/OneDataCollection/__tests__/useExportAction.test.tsx
  packages/react/src/experimental/OneDataCollection/utils/csvExport.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

test: add integration tests for useExportAction hook
  packages/react/src/experimental/OneDataCollection/__tests__/useExportAction.test.tsx
Due: format-react

feat: use i18n for export action labels
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

fix(core): align color tokens with Figma design system (#3775)
  packages/core/base.css
  packages/core/src/tokens/colors.ts
Due: none

chore: release main
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

chore: release main (#3784)
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

fix: add optional chaining for i18n collections.export keys
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
Due: format-react

fix: handle Observable return type from fetchData in export
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
Due: format-react

feat: add exportFetchData to data adapter for side-effect-free export
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
  packages/react/src/hooks/datasource/types/fetch.typings.ts
Due: format-react

feat: respect column visibility in CSV export
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
  packages/react/src/experimental/OneDataCollection/utils/csvExport.ts
Due: format-react

feat: respect column order in CSV export
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
  packages/react/src/experimental/OneDataCollection/utils/csvExport.ts
Due: format-react

fix: respect row sort order and column definition order in CSV export
  packages/react/src/experimental/OneDataCollection/__tests__/useExportAction.test.tsx
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
  packages/react/src/experimental/OneDataCollection/utils/csvExport.ts
Due: format-react

feat: restrict file question type
  packages/react/src/sds/surveys/SurveyFormBuilder/Context.tsx
Due: format-react

fix: replace any types with proper generics in csvExport and useExportAction
  packages/react/src/experimental/OneDataCollection/hooks/useExportAction.ts
  packages/react/src/experimental/OneDataCollection/utils/csvExport.ts
Due: format-react

fix: add UTF-8 BOM to CSV export for Excel compatibility
  packages/react/src/experimental/OneDataCollection/__tests__/useExportAction.test.tsx
  packages/react/src/experimental/OneDataCollection/utils/csvExport.ts
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
