Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

test(F0AnalyticsDashboard): close location item menu
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/LocationItem.stories.tsx
Due: format-react

fix(F0Chat): drop the mention chip's font-weight so the caret tracks the glyphs (#5274)
  packages/react/src/kits/ai/F0AiChatTextArea/__tests__/TextareaField.test.tsx
  packages/react/src/kits/ai/F0AiChatTextArea/components/TextareaField.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatTextareaField.tsx
  packages/react/src/sds/chat/F0Chat/components/__tests__/ChatTextareaField.test.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#5278)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(lint): match src/ instead of zero files
  lefthook.yml
  packages/react-native/.oxlintrc.json
  packages/react-native/package.json
  packages/react-native/src/components/F0Avatar/F0AvatarIcon.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarModule.tsx
  packages/react/package.json
  packages/react/src/lib/data-testid/__tests__/withDataTestId.test.tsx
Due: format-react, format-react-native

fix(lint): turn the correctness rules back on
  packages/react-native/.oxlintrc.json
  packages/react/.oxlintrc.json
  packages/react/.scripts/__tests__/lint-script-default.test.ts
  packages/react/src/components/F0InputField/__stories__/F0InputField.stories.tsx
  packages/react/src/lib/F0GridStack/components/__tests__/widget-utils.test.tsx
  packages/react/src/patterns/F0Graph/hooks/__tests__/useGraphRenderModel.test.ts
  packages/react/src/patterns/OneDataCollection/Settings/Settings.tsx
  packages/react/src/ui/Toast/F0Toast.tsx
Due: format-react

fix(analytics): stabilize location overlays across widths
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/LocationItem.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/LocationItem/LocationVisualization.tsx
Due: format-react

fix(lint): suppress no-this-in-sfc per site, not per file type
  packages/react/.oxlintrc.json
  packages/react/src/kits/F0DataChart/__tests__/BarChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/FunnelChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/GaugeChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/HeatmapChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/LineChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/PieChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/RadarChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/ScatterChart.test.tsx
Due: format-react

fix(a11y): resolve analytics axe findings
  packages/react/src/experimental/OneTable/Table/__tests__/Table.test.tsx
  packages/react/src/experimental/OneTable/Table/index.tsx
  packages/react/src/kits/F0DataChart/__tests__/BarChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/HeatmapChart.test.tsx
  packages/react/src/kits/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/kits/F0DataChart/components/HeatmapChart/HeatmapChart.tsx
  packages/react/src/kits/F0DataChart/utils/useEChartsInstance.ts
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/patterns/F0Map/components/internal/BaseMapMarker/BaseMapMarker.tsx
  packages/react/src/patterns/F0Map/components/internal/BaseMapMarker/__tests__/BaseMapMarker.test.tsx
Due: format-react

fix(lint): lint the packages, and enforce correctness ruleset (#5279)
  lefthook.yml
  packages/react-native/.oxlintrc.json
  packages/react-native/package.json
  packages/react-native/src/components/F0Avatar/F0AvatarIcon.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarModule.tsx
  packages/react/.oxlintrc.json
  packages/react/.scripts/__tests__/lint-script-default.test.ts
  packages/react/package.json
  packages/react/src/components/F0InputField/__stories__/F0InputField.stories.tsx
  packages/react/src/kits/F0DataChart/__tests__/BarChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/FunnelChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/GaugeChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/HeatmapChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/LineChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/PieChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/RadarChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/ScatterChart.test.tsx
  packages/react/src/lib/F0GridStack/components/__tests__/widget-utils.test.tsx
  packages/react/src/lib/data-testid/__tests__/withDataTestId.test.tsx
  packages/react/src/patterns/F0Graph/hooks/__tests__/useGraphRenderModel.test.ts
  packages/react/src/patterns/OneDataCollection/Settings/Settings.tsx
  packages/react/src/ui/Toast/F0Toast.tsx
Due: format-react, format-react-native

fix(analytics): stabilize chart area interactions
  packages/react/src/kits/F0DataChart/components/AccessibleAreaSelectionActions.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/AskOne.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/AccessibleAreaSelectionActions.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/ChartItem.askAi.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/F0AnalyticsDashboard.test.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#5280)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

test(analytics): wait for chart drawing readiness
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/AskOne.stories.tsx
Due: format-react

test(analytics): accept automatic chart collapse
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/AskOne.stories.tsx
Due: format-react

feat(NewHomeLayout): stop widget drag at the pinned widgets
  packages/react/src/sds/Home/WidgetContainer/index.stories.tsx
  packages/react/src/sds/Home/WidgetContainer/index.tsx
  packages/react/src/sds/Home/WidgetContainer/lockedCeiling.spec.tsx
  packages/react/src/sds/Home/WidgetContainer/lockedCeiling.ts
Due: format-react

fix(analytics): align empty selection copy
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/F0AnalyticsDashboard.test.tsx
Due: format-react

feat(NewHomeLayout): stop the drag at the slot, not at the pinned card
  packages/react/src/sds/Home/WidgetContainer/index.spec.tsx
  packages/react/src/sds/Home/WidgetContainer/index.stories.tsx
  packages/react/src/sds/Home/WidgetContainer/index.tsx
  packages/react/src/sds/Home/WidgetContainer/lockedCeiling.spec.tsx
  packages/react/src/sds/Home/WidgetContainer/lockedCeiling.ts
Due: format-react

fix(analytics): spell out Escape in selection hints
  packages/react/src/kits/F0DataChart/__stories__/AreaSelection.stories.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/AskOne.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/F0AnalyticsDashboard.test.tsx
Due: format-react

fix(NewHomeLayout): keep one cursor for the whole widget drag
  packages/react/src/sds/Home/WidgetContainer/index.tsx
  packages/react/src/sds/Home/WidgetContainer/lockedCeiling.test.tsx
Due: format-react

test(NewHomeLayout): hoist the dnd-kit stub to the top of the file
  packages/react/src/sds/Home/WidgetContainer/lockedCeiling.test.tsx
Due: format-react

chore(ownership): route feat design review to product-designers
  ownership/README.md
  ownership/review-policy.ts
  ownership/teams.yml
Due: none

fix(analytics): align chart selection action name
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/AskOne.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.mdx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/F0AnalyticsDashboard.test.tsx
Due: format-react

fix(analytics): make selected value count grammatical
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/ChartItem.askAi.test.tsx
Due: format-react

feat(F0Chat): add an optional events prop for host-side analytics
  packages/react/src/sds/chat/F0Chat/F0Chat.mdx
  packages/react/src/sds/chat/F0Chat/F0Chat.stories.tsx
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.events.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposerAttachmentPreview.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatDocumentAttachmentCard.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatImagePreview.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatLinkPreview.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatLocationAttachment.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageActions.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageAttachments.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageReactions.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatVideoAttachment.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatViewportOverlays.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatVoiceAttachment.tsx
  packages/react/src/sds/chat/F0Chat/components/ReplyQuote.tsx
  packages/react/src/sds/chat/F0Chat/hooks/useEmojiAutocomplete.ts
  packages/react/src/sds/chat/F0Chat/hooks/useMentions.ts
  packages/react/src/sds/chat/F0Chat/index.ts
  packages/react/src/sds/chat/F0Chat/providers/ChatSurfaceProvider.tsx
  packages/react/src/sds/chat/F0Chat/providers/ChatUIProvider.tsx
  packages/react/src/sds/chat/F0Chat/providers/F0ChatProvider.tsx
  packages/react/src/sds/chat/F0Chat/types.ts
  packages/react/src/sds/chat/F0Chat/utils/attachments.ts
  packages/react/src/sds/chat/F0Chat/utils/reactions.ts
Due: format-react

feat(F0Chat): add edit-last and double-click-to-reply shortcuts
  packages/react/src/sds/chat/F0Chat/F0Chat.mdx
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.hotkeys.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageActions.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageItem.tsx
  packages/react/src/sds/chat/F0Chat/providers/ChatUIProvider.tsx
  packages/react/src/sds/chat/F0Chat/utils/__tests__/message-permissions.test.ts
  packages/react/src/sds/chat/F0Chat/utils/message-permissions.ts
Due: format-react

feat(analytics-dashboard): expose committed item render state
  packages/react/src/patterns/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.mdx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/CollectionItem.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/F0AnalyticsDashboard.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/CollectionItem/CollectionItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardItem/DashboardItemBadge.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/MetricItem/MetricItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useDashboardItemData.ts
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useDashboardItemRenderState.ts
  packages/react/src/patterns/F0AnalyticsDashboard/index.ts
  packages/react/src/patterns/F0AnalyticsDashboard/types.ts
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/__tests__/loadState.test.tsx
  packages/react/src/patterns/OneDataCollection/internal/LoadStateObserver.tsx
Due: format-react

refactor(analytics-dashboard): narrow render lifecycle
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.mdx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/CollectionItem.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/F0AnalyticsDashboard.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/CollectionItem/CollectionItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/MetricItem/MetricItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useDashboardItemData.ts
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useDashboardItemRenderState.ts
  packages/react/src/patterns/F0AnalyticsDashboard/types.ts
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/__tests__/loadState.test.tsx
  packages/react/src/patterns/OneDataCollection/internal/LoadStateObserver.tsx
Due: format-react

feat(F0DataChart): show how far a bar passed its target
  packages/react/src/kits/F0DataChart/__stories__/Bar.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/F0DataChart.mdx
  packages/react/src/kits/F0DataChart/__tests__/BarChart.test.tsx
  packages/react/src/kits/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/kits/F0DataChart/types.ts
  packages/react/src/kits/F0DataChart/utils/colors.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

test(F0DataChart): reach the gradient mock without vi.mocked
  packages/react/src/kits/F0DataChart/__tests__/BarChart.test.tsx
Due: format-react

feat(F0Select): add inline variant (#5095)
  packages/react/.storybook/a11y-skip-allowlist.json
  packages/react/src/components/F0SearchInput/F0SearchInput.tsx
  packages/react/src/components/F0SearchInput/__tests__/F0SearchInput.test.tsx
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.inline.stories.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Select/__tests__/F0Select.test.tsx
  packages/react/src/components/F0Select/components/SelectBottomActions.tsx
  packages/react/src/components/F0Select/types.ts
  packages/react/src/experimental/Navigation/Header/Breadcrumbs/internal/BreadcrumbSelect/index.tsx
  packages/react/src/ui/Select/components/SelectContent.test.tsx
  packages/react/src/ui/Select/components/SelectContent.tsx
  packages/react/src/ui/Select/components/radix-ui/index.ts
  packages/react/src/ui/Select/components/radix-ui/select.tsx
Due: format-react

chore: release main (#5287)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(NewHomeLayout): stop widget drag at the pinned widgets (#5282)
  packages/react/src/sds/Home/WidgetContainer/index.spec.tsx
  packages/react/src/sds/Home/WidgetContainer/index.stories.tsx
  packages/react/src/sds/Home/WidgetContainer/index.tsx
  packages/react/src/sds/Home/WidgetContainer/lockedCeiling.test.tsx
  packages/react/src/sds/Home/WidgetContainer/lockedCeiling.ts
Due: format-react

chore: release main (#5288)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(Tooltip): accept a title, body and bulleted list in cell tooltips
  packages/react/src/experimental/Overlays/Tooltip/__tests__/Tooltip.items.test.tsx
  packages/react/src/experimental/Overlays/Tooltip/index.stories.tsx
  packages/react/src/experimental/Overlays/Tooltip/index.tsx
  packages/react/src/lib/tooltip-wrapper.tsx
  packages/react/src/ui/value-display/types/icon/icon.tsx
  packages/react/src/ui/value-display/types/status/__stories__/status.mdx
  packages/react/src/ui/value-display/types/status/__stories__/status.stories.tsx
  packages/react/src/ui/value-display/types/status/status.test.tsx
  packages/react/src/ui/value-display/types/status/status.tsx
Due: format-react

fix(F0AiChatTextArea): match the composer surface to the widgets
  packages/react/src/kits/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/kits/ai/F0AiChatTextArea/__tests__/F0AiChatTextArea.surface.test.tsx
Due: format-react

fix(OneDataCollection): guard persisted state and the Save view chip
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/__tests__/presets.test.tsx
  packages/react/src/patterns/OneDataCollection/hooks/useDataColectionStorage/__tests__/pruneStoredStatus.test.ts
  packages/react/src/patterns/OneDataCollection/hooks/useDataColectionStorage/__tests__/useDataCollectionStorage.test.tsx
  packages/react/src/patterns/OneDataCollection/hooks/useDataColectionStorage/pruneStoredStatus.ts
  packages/react/src/patterns/OneDataCollection/hooks/useDataColectionStorage/useDataCollectionStorage.ts
Due: format-react

fix(F0AiChatTextArea): match the composer surface to the widgets (#5290)
  packages/react/src/kits/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/kits/ai/F0AiChatTextArea/__tests__/F0AiChatTextArea.surface.test.tsx
Due: format-react
