Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

chore: release main (#4597)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(kanban): allow palette color on lane headers
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/Kanban.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/types.ts
  packages/react/src/ui/Kanban/Kanban.tsx
  packages/react/src/ui/Kanban/__stories__/Kanban.stories.tsx
  packages/react/src/ui/Kanban/types.ts
  packages/react/src/ui/Lane/Lane.tsx
  packages/react/src/ui/Lane/components/LaneHeader.tsx
  packages/react/src/ui/Lane/types.ts
Due: format-react

docs(cocreation): co-creation pattern definition (docs, stories, mocks)
  packages/react/src/lib/storybook-utils/ai-mocks.ts
  packages/react/src/patterns/Cocreation/__stories__/accessibility.mdx
  packages/react/src/patterns/Cocreation/__stories__/adoption.mdx
  packages/react/src/patterns/Cocreation/__stories__/assets/chat-fullscreen.png
  packages/react/src/patterns/Cocreation/__stories__/assets/split-empty.png
  packages/react/src/patterns/Cocreation/__stories__/building-blocks.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
  packages/react/src/patterns/Cocreation/__stories__/guidelines.mdx
  packages/react/src/patterns/Cocreation/__stories__/index.mdx
  packages/react/src/patterns/Cocreation/__stories__/mockData.tsx
  packages/react/src/patterns/Cocreation/__stories__/mockToast.tsx
  packages/react/src/patterns/Cocreation/__stories__/phases.mdx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.mdx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.stories.tsx
  packages/react/src/patterns/Cocreation/__stories__/survey-mocks.ts
  packages/react/src/patterns/Cocreation/__stories__/tab-configs.ts
  packages/react/src/sds/ai/F0AiChat/__stories__/_mock/MockAiChatRuntime.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/_mock/MockConnectedChatInput.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/_mock/MockConnectedMessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/_mock/index.ts
  packages/react/src/sds/ai/F0AiChatTextArea/__stories__/F0AiChatTextArea.stories.tsx
Due: format-react

test(react-native): update F0Tag dot-color snapshots for new palette
  packages/react-native/src/components/F0Tag/__tests__/__snapshots__/F0Tag.spec.tsx.snap
Due: none

docs(cocreation): refine survey create copy, drop Open in Surveys
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
Due: format-react

chore: change Componentes in tab first
  packages/react-native/playground/app/(tabs)/_layout.tsx
  packages/react-native/playground/app/index.tsx
Due: format-react-native

feat(kanban): allow palette color on lane headers (#4598)
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/Kanban.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/types.ts
  packages/react/src/ui/Kanban/Kanban.tsx
  packages/react/src/ui/Kanban/__stories__/Kanban.stories.tsx
  packages/react/src/ui/Kanban/types.ts
  packages/react/src/ui/Lane/Lane.tsx
  packages/react/src/ui/Lane/components/LaneHeader.tsx
  packages/react/src/ui/Lane/types.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4599)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(OneDataCollection): avoid full-table re-render churn on row data refresh
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/providers/__tests__/SelectionRegistryProvider.test.ts
Due: format-react

style(cocreation): format pattern docs with oxfmt
  packages/react/src/patterns/Cocreation/__stories__/accessibility.mdx
  packages/react/src/patterns/Cocreation/__stories__/adoption.mdx
  packages/react/src/patterns/Cocreation/__stories__/building-blocks.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
  packages/react/src/patterns/Cocreation/__stories__/guidelines.mdx
  packages/react/src/patterns/Cocreation/__stories__/phases.mdx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.mdx
Due: none

feat(f0compose): move calendar into Format + panel polish
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

fix(f0compose): calendar connect card in Format
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

docs(f0compose): clarify the meeting link helper text
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

feat(EditableTable): render cellHint icon on the right for read-only cells (FCT-56432) (#4580)
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/BaseCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/DisabledCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/NonEditableCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/BaseCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/DisabledCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/NonEditableCell.tsx
Due: format-react

chore: release main (#4601)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(OneDataCollection): add toolbar upsell button option (#4578)
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/actions/collection-actions.stories.tsx
  packages/react/src/patterns/OneDataCollection/actions.tsx
  packages/react/src/patterns/OneDataCollection/components/CollectionActions/CollectionActions.tsx
  packages/react/src/patterns/OneDataCollection/components/CollectionActions/__tests__/CollectionActions.test.tsx
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionSource/types.ts
Due: format-react

chore: release main (#4602)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

docs(f0compose): tighten meeting link helper text
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

refactor(cocreation): centralize story canvas-content casts in helpers
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
Due: format-react

fix(headers): render the header close button on mobile too
  packages/react/src/experimental/Information/Headers/BaseHeader/index.tsx
Due: format-react

refactor(cocreation): extract repeated survey toast titles to constants
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
Due: format-react

refactor(cocreation): use the real toasts API, drop the mock toast
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
  packages/react/src/patterns/Cocreation/__stories__/mockToast.tsx
Due: format-react

refactor(cocreation): use i18n.actions.save for the survey save button
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
Due: format-react

docs(f0compose): meeting link helper — "Paste your meeting link"
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

Revert "refactor(F0Dialog): deprecate patterns F0Dialog in favor of dialog-alike (#4552)"
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/dialog-alike/F0Dialog/__stories__/F0Dialog.stories.tsx
  packages/react/src/components/dialog-alike/common/DialogWrapperProvider.tsx
  packages/react/src/components/exports.ts
  packages/react/src/deprecated/EntitySelect/index.tsx
  packages/react/src/patterns/F0Dialog/F0Dialog.tsx
  packages/react/src/patterns/F0Dialog/F0DialogInternal.tsx
  packages/react/src/patterns/F0Dialog/__stories__/F0Modal.stories.tsx
  packages/react/src/patterns/F0Dialog/__tests__/F0Dialog.aichat-stacking.test.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogContent.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogFooter.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogHeader.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogProvider.tsx
  packages/react/src/patterns/F0Dialog/index.tsx
  packages/react/src/patterns/F0Dialog/internal-types.ts
  packages/react/src/patterns/F0Dialog/utils.ts
  packages/react/src/patterns/F0WizardForm/types.ts
  packages/react/src/patterns/OneDataCollection/__tests__/presets.test.tsx
  packages/react/src/patterns/OneDataCollection/components/PresetFormDialog/PresetFormDialog.tsx
  packages/react/src/patterns/OneFilterPicker/components/FiltersControls.tsx
  packages/react/src/sds/ai/F0AiMessagesContainer/components/feedback/FeedbackModal.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/TableOfContent/index.tsx
  packages/react/src/ui/Select/components/SelectContent.tsx
Due: format-react

fix(dialog-alike): stop side-drawer anchor from re-rendering on every scroll
  packages/react/src/components/dialog-alike/common/dialog-primitive/DialogContent.tsx
  packages/react/src/components/dialog-alike/common/dialog-primitive/__tests__/useContainerAnchor.test.tsx
  packages/react/src/components/dialog-alike/common/dialog-primitive/useContainerAnchor.ts
Due: format-react

fix(dialog-alike): stop side-drawer anchor re-rendering on every scroll (renderer OOM) (#4604)
  packages/react/src/components/dialog-alike/common/dialog-primitive/DialogContent.tsx
  packages/react/src/components/dialog-alike/common/dialog-primitive/__tests__/useContainerAnchor.test.tsx
  packages/react/src/components/dialog-alike/common/dialog-primitive/useContainerAnchor.ts
Due: format-react

chore: release main (#4605)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(InFilter): scope nested tree separator to root-level items only
  packages/react/src/patterns/OneFilterPicker/filterTypes/InFilter/__stories__/InFilter.stories.tsx
  packages/react/src/patterns/OneFilterPicker/filterTypes/InFilter/components/InFilterOptionRow.tsx
Due: format-react

feat(value-display): support 15 base-color palette in categoryBarChart
  packages/react/src/ui/value-display/types/categoryBarChart/__stories__/categoryBarChart.mdx
  packages/react/src/ui/value-display/types/categoryBarChart/__stories__/categoryBarChart.stories.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.test.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.tsx
Due: format-react

feat(F0Avatar): expose configurable background color via bgColor prop
  packages/react/src/components/avatars/F0Avatar/F0Avatar.tsx
  packages/react/src/components/avatars/F0Avatar/__stories__/F0Avatar.stories.tsx
  packages/react/src/components/avatars/F0AvatarCompany/F0AvatarCompany.tsx
  packages/react/src/components/avatars/F0AvatarCompany/types.ts
  packages/react/src/components/avatars/F0AvatarPerson/F0AvatarPerson.tsx
  packages/react/src/components/avatars/F0AvatarPerson/types.ts
  packages/react/src/components/avatars/F0AvatarTeam/F0AvatarTeam.tsx
Due: format-react

feat(avatars): promote F0Avatar + entity types to stable (#4326)
  packages/react/src/components/avatars/F0Avatar/F0Avatar.tsx
  packages/react/src/components/avatars/F0Avatar/__stories__/F0Avatar.mdx
  packages/react/src/components/avatars/F0Avatar/__stories__/F0Avatar.stories.tsx
  packages/react/src/components/avatars/F0Avatar/__tests__/F0Avatar.test.tsx
  packages/react/src/components/avatars/F0AvatarCompany/__stories__/F0AvatarCompany.mdx
  packages/react/src/components/avatars/F0AvatarCompany/__stories__/F0AvatarCompany.stories.tsx
  packages/react/src/components/avatars/F0AvatarCompany/__tests__/F0AvatarCompany.test.tsx
  packages/react/src/components/avatars/F0AvatarEmoji/F0AvatarEmoji.tsx
  packages/react/src/components/avatars/F0AvatarEmoji/__stories__/F0AvatarEmoji.mdx
  packages/react/src/components/avatars/F0AvatarEmoji/__stories__/F0AvatarEmoji.stories.tsx
  packages/react/src/components/avatars/F0AvatarEmoji/__tests__/F0AvatarEmoji.test.tsx
  packages/react/src/components/avatars/F0AvatarFile/__stories__/F0AvatarFile.mdx
  packages/react/src/components/avatars/F0AvatarFile/__stories__/F0AvatarFile.stories.tsx
  packages/react/src/components/avatars/F0AvatarFlag/__stories__/F0AvatarFlag.mdx
  packages/react/src/components/avatars/F0AvatarFlag/__stories__/F0AvatarFlag.stories.tsx
  packages/react/src/components/avatars/F0AvatarFlag/__tests__/F0AvatarFlag.test.tsx
  packages/react/src/components/avatars/F0AvatarIcon/F0AvatarIcon.tsx
  packages/react/src/components/avatars/F0AvatarIcon/__stories__/F0AvatarIcon.mdx
  packages/react/src/components/avatars/F0AvatarIcon/__stories__/F0AvatarIcon.stories.tsx
  packages/react/src/components/avatars/F0AvatarIcon/__tests__/F0AvatarIcon.test.tsx
  packages/react/src/components/avatars/F0AvatarPerson/__stories__/F0AvatarPerson.mdx
  packages/react/src/components/avatars/F0AvatarPerson/__stories__/F0AvatarPerson.stories.tsx
  packages/react/src/components/avatars/F0AvatarPerson/__tests__/F0AvatarPerson.test.tsx
  packages/react/src/components/avatars/F0AvatarTeam/__stories__/F0AvatarTeam.mdx
  packages/react/src/components/avatars/F0AvatarTeam/__stories__/F0AvatarTeam.stories.tsx
  packages/react/src/components/avatars/F0AvatarTeam/__tests__/F0AvatarTeam.test.tsx
Due: format-react

chore: release main (#4607)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(storybook): add sidebar-remap indexer for cross-section moves
  packages/react/.storybook/main.ts
  packages/react/src/lib/storybook-utils/sidebar-remap.test.ts
  packages/react/src/lib/storybook-utils/sidebar-remap.ts
Due: format-react

refactor(storybook): rename the "SDS" sidebar section to "Domain Specific"
  packages/react/.storybook/main.ts
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
