Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

chore: test fixes
  packages/react/.storybook/preview.tsx
  packages/react/src/components/dialog-alike/common/Header.tsx
  packages/react/src/components/dialog-alike/common/types.ts
  packages/react/src/hooks/dialog/__stories__/useDialog.stories.tsx
  packages/react/src/hooks/dialog/__tests__/useDialog.test.tsx
  packages/react/src/hooks/dialog/index.ts
  packages/react/src/hooks/dialog/types.ts
  packages/react/src/hooks/dialog/useDialog.tsx
  packages/react/src/hooks/drawer/__stories__/useDrawer.mdx
  packages/react/src/hooks/drawer/__stories__/useDrawer.stories.tsx
  packages/react/src/hooks/drawer/__tests__/useDrawer.test.tsx
  packages/react/src/hooks/drawer/index.ts
  packages/react/src/hooks/drawer/types.ts
  packages/react/src/hooks/drawer/useDrawer.tsx
  packages/react/src/hooks/exports.ts
  packages/react/src/lib/providers/dialogs-alike/DialogsAlikeLayoutProvider.tsx
  packages/react/src/lib/providers/dialogs-alike/components/DialogsAlike.tsx
  packages/react/src/lib/providers/dialogs-alike/components/__tests__/Dialogs.test.tsx
  packages/react/src/lib/providers/dialogs-alike/index.ts
  packages/react/src/lib/providers/dialogs-alike/internal-types.ts
  packages/react/src/lib/providers/dialogs-alike/types.ts
  packages/react/src/lib/providers/dialogs/DialogsLayoutProvider.tsx
  packages/react/src/lib/providers/dialogs/components/Dialogs.tsx
  packages/react/src/lib/providers/dialogs/index.ts
  packages/react/src/lib/providers/dialogs/internal-types.ts
  packages/react/src/lib/providers/f0/f0-provider.tsx
Due: format-react

chore: format fix
  packages/react/src/hooks/drawer/__stories__/useDrawer.mdx
Due: none

chore: fix storybook tests
  packages/react/src/components/dialog-alike/F0Dialog/__stories__/F0Dialog.stories.tsx
  packages/react/src/hooks/drawer/__stories__/useDrawer.stories.tsx
Due: format-react

chore: fix storybook tests
  packages/react/src/components/dialog-alike/F0Dialog/__stories__/F0Dialog.stories.tsx
Due: format-react

feat(WizardStepper): add experimental stepper component with F0Dialog integration
  packages/react/src/components/F0Dialog/F0DialogInternal.tsx
  packages/react/src/components/F0Dialog/__stories__/F0Modal.stories.tsx
  packages/react/src/components/F0Dialog/index.tsx
  packages/react/src/components/F0Dialog/internal-types.ts
  packages/react/src/experimental/Navigation/WizardStepper/index.stories.tsx
  packages/react/src/experimental/Navigation/WizardStepper/index.tsx
  packages/react/src/experimental/Navigation/exports.tsx
Due: format-react

refactor: remove horizontal orientation from WizardStepper
  packages/react/src/components/F0Dialog/F0DialogInternal.tsx
  packages/react/src/experimental/Navigation/WizardStepper/index.stories.tsx
  packages/react/src/experimental/Navigation/WizardStepper/index.tsx
Due: format-react

chore: rename context
  packages/react/src/components/dialog-alike/F0Drawer/index.tsx
Due: format-react

feat: add barSeries and hourDistribution value-display types
  packages/react/src/components/value-display/renderers.tsx
  packages/react/src/components/value-display/types/barSeries/__stories__/barSeries.mdx
  packages/react/src/components/value-display/types/barSeries/__stories__/barSeries.stories.tsx
  packages/react/src/components/value-display/types/barSeries/barSeries.test.tsx
  packages/react/src/components/value-display/types/barSeries/barSeries.tsx
  packages/react/src/components/value-display/types/barSeries/index.tsx
  packages/react/src/components/value-display/types/hourDistribution/__stories__/hourDistribution.mdx
  packages/react/src/components/value-display/types/hourDistribution/__stories__/hourDistribution.stories.tsx
  packages/react/src/components/value-display/types/hourDistribution/hourDistribution.test.tsx
  packages/react/src/components/value-display/types/hourDistribution/hourDistribution.tsx
  packages/react/src/components/value-display/types/hourDistribution/index.tsx
Due: format-react

fix(useSelectable): maintain selection when filters change if selectAll is disabled
  packages/react/src/hooks/datasource/useSelectable/useSelectable.ts
Due: format-react

fix(useSelectable): maintain selection (#3328)
  packages/react/src/hooks/datasource/useSelectable/useSelectable.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3329)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor: create F0Wizard component instead of extending F0Dialog
  packages/react/src/components/F0Dialog/F0DialogInternal.tsx
  packages/react/src/components/F0Dialog/__stories__/F0Modal.stories.tsx
  packages/react/src/components/F0Dialog/index.tsx
  packages/react/src/components/F0Dialog/internal-types.ts
  packages/react/src/components/F0Wizard/F0Wizard.tsx
  packages/react/src/components/F0Wizard/F0WizardContent.tsx
  packages/react/src/components/F0Wizard/__stories__/F0Wizard.stories.tsx
  packages/react/src/components/F0Wizard/index.tsx
  packages/react/src/components/exports.ts
Due: format-react

refactor: move wizard components to sds/wizards
  packages/react/src/components/exports.ts
  packages/react/src/experimental/Navigation/exports.tsx
  packages/react/src/sds/wizards/Wizard/F0Wizard.tsx
  packages/react/src/sds/wizards/Wizard/F0WizardContent.tsx
  packages/react/src/sds/wizards/Wizard/__stories__/F0Wizard.stories.tsx
  packages/react/src/sds/wizards/Wizard/index.tsx
  packages/react/src/sds/wizards/WizardStepper/index.stories.tsx
  packages/react/src/sds/wizards/WizardStepper/index.tsx
  packages/react/src/sds/wizards/exports.ts
Due: format-react

feat(AiChat): add file attachment support with drag & drop
  packages/react/src/ai/AiChat/components/ChatDropZone.tsx
  packages/react/src/ai/AiChat/components/ChatTextarea.tsx
  packages/react/src/ai/AiChat/components/ChatWindow.tsx
  packages/react/src/ai/AiChat/components/UserMessage.tsx
  packages/react/src/ai/AiChat/components/WelcomeScreen.tsx
  packages/react/src/ai/AiChat/exports.ts
  packages/react/src/ai/AiChat/index.tsx
  packages/react/src/ai/AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/experimental/RichText/FileItem/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

feat(AiChat): improve dropzone overlay styling and text
  packages/react/src/ai/AiChat/components/ChatDropZone.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

fix: await sendMessage calls for proper file attachment handling
  packages/react/src/ai/AiChat/components/WelcomeScreen.tsx
  packages/react/src/ai/AiChat/index.tsx
Due: format-react

feat: migration to uniwind and tailwind 4
  packages/react-native-playground/.storybook/storybook.requires.ts
  packages/react-native-playground/babel.config.js
  packages/react-native-playground/metro.config.js
  packages/react-native-playground/package.json
  packages/react-native/.gitignore
  packages/react-native/app.json
  packages/react-native/global.css
  packages/react-native/metro.config.cjs
  packages/react-native/nativewind-env.d.ts
  packages/react-native/package.json
  packages/react-native/playground/app/(tabs)/_layout.tsx
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/app/(tabs)/tokens.tsx
  packages/react-native/playground/app/_layout.tsx
  packages/react-native/playground/app/index.tsx
  packages/react-native/playground/components/ActivityShowcase/index.tsx
  packages/react-native/playground/components/AvatarShowcase/index.tsx
  packages/react-native/playground/components/BadgeShowcase/index.tsx
  packages/react-native/playground/components/ButtonShowcase/index.tsx
  packages/react-native/playground/components/CounterShowcase/index.tsx
  packages/react-native/playground/components/DataListShowcase/index.tsx
  packages/react-native/playground/components/DetailsItemShowcase/index.tsx
  packages/react-native/playground/components/DetailsItemsListShowcase/index.tsx
  packages/react-native/playground/components/IconShowcase/index.tsx
  packages/react-native/playground/components/OneChipShowcase/index.tsx
  packages/react-native/playground/components/OnePresetShowcase/index.tsx
  packages/react-native/playground/components/PageHeaderShowcase/index.tsx
  packages/react-native/playground/components/Select/index.tsx
  packages/react-native/playground/components/TagShowcase/index.tsx
  packages/react-native/playground/components/ThemeSwitcher.tsx
  packages/react-native/src/components/Badge/index.tsx
  packages/react-native/src/components/Button/index.tsx
  packages/react-native/src/components/Icon/index.tsx
  packages/react-native/src/components/Navigation/PageHeader/index.tsx
  packages/react-native/src/components/OneChip/index.tsx
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/index.tsx
  packages/react-native/tailwind.config.ts
  packages/react-native/tsconfig.json
  packages/react-native/uniwind-types.d.ts
  pnpm-lock.yaml
Due: format-react-native

chore: remove unused iconWithClassName utility
  packages/react-native/src/lib/iconWithClassName.ts
Due: format-react-native

feat: enhance item actions handling in table rows (#3321)
  packages/react/src/experimental/OneDataCollection/components/itemActions/useItemActions.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
Due: format-react

chore: release main (#3330)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(AiChat): make setOnBeforeSend public API
  packages/react/src/ai/AiChat/providers/AiChatStateProvider.tsx
Due: format-react

chore: add sds folder to Storybook config
  packages/react/.storybook/main.ts
  packages/react/src/sds/wizards/Wizard/__stories__/F0Wizard.stories.tsx
  packages/react/src/sds/wizards/WizardStepper/index.stories.tsx
Due: format-react

fix: derive position of fields by declaration order in the zod schema
  packages/react/src/experimental/Forms/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/experimental/Forms/F0Form/f0Schema.ts
  packages/react/src/experimental/Forms/F0Form/useSchemaDefinition.ts
  packages/react/src/ui/form.tsx
Due: format-react

feat: add image resize support to NotesTextEditor
  packages/react/src/experimental/RichText/CoreEditor/Extensions/Image/index.tsx
Due: format-react

fix: add support for action bar submit
  packages/react/src/experimental/Forms/F0Form/F0Form.tsx
  packages/react/src/experimental/Forms/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/experimental/Forms/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/experimental/Forms/F0Form/index.tsx
  packages/react/src/experimental/Forms/F0Form/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/vitest.config.ts
  packages/react/vitest.shims.d.ts
Due: format-react

fix: use text-base instead of text-sm in WizardStepper
  packages/react/src/sds/wizards/WizardStepper/index.tsx
Due: format-react

fix(TableHead): adjust z-index for sticky header styling
  packages/react/src/experimental/OneTable/TableHead/index.tsx
Due: format-react

fix: add range date fields
  packages/react/src/experimental/Forms/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/experimental/Forms/F0Form/f0Schema.ts
  packages/react/src/experimental/Forms/F0Form/fields/FieldRenderer.tsx
  packages/react/src/experimental/Forms/F0Form/fields/date/DateFieldRenderer.tsx
  packages/react/src/experimental/Forms/F0Form/fields/date/types.ts
  packages/react/src/experimental/Forms/F0Form/fields/daterange/DateRangeFieldRenderer.tsx
  packages/react/src/experimental/Forms/F0Form/fields/daterange/index.ts
  packages/react/src/experimental/Forms/F0Form/fields/daterange/types.ts
  packages/react/src/experimental/Forms/F0Form/fields/types.ts
  packages/react/src/experimental/Forms/F0Form/index.tsx
  packages/react/src/experimental/Forms/F0Form/useSchemaDefinition.ts
Due: format-react

feat: update React Native package structure and add new build configurations
  packages/react-native/.gitignore
  packages/react-native/expo-router/entry.js
  packages/react-native/package.json
  packages/react-native/src/components/Icon/README.md
  packages/react-native/src/components/exports.ts
  packages/react-native/src/index.ts
  packages/react-native/tsconfig.build.json
  pnpm-lock.yaml
Due: format-react-native

chore: remove F0-Core dependency and clean up unused theme tokens in React Native package
  packages/react-native/.npmignore
  packages/react-native/global.css
  packages/react-native/jest.config.mjs
  packages/react-native/package.json
  packages/react-native/src/components/Activity/ActivityItem/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Avatars/CompanyAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Avatars/DateAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Avatars/EmojiAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Avatars/FileAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Avatars/IconAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Avatars/PersonAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Avatars/TeamAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Button/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Counter/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Navigation/PageHeader/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/OneChip/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/OnePreset/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Tags/AlertTab/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Tags/DotTag/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Tags/DotTag/index.tsx
  packages/react-native/src/components/Tags/RawTag/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItem/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/styles/index.ts
  packages/react-native/src/styles/theme.css
  packages/react-native/src/styles/tokens/borderRadius.ts
  packages/react-native/src/styles/tokens/breakpoints.ts
  packages/react-native/src/styles/tokens/colors.ts
  packages/react-native/src/styles/tokens/spacing.ts
  packages/react-native/tsconfig.json
  pnpm-lock.yaml
Due: format-react-native

chore: remove global.cssfrom package config and integrate uniwind with Tailwind CSS v4
  packages/react-native/README.md
  packages/react-native/package.json
Due: none

chore: update pnpm.lock
  pnpm-lock.yaml
Due: none

chore: update dependencies and ESLint configuration in React Native package
  .github/workflows/build-and-publish-alpha.yaml
  packages/react-native/eslint.config.mjs
  packages/react-native/package.json
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/IconShowcase/index.tsx
  packages/react-native/playground/components/PageHeaderShowcase/index.tsx
  packages/react-native/playground/components/Select/index.tsx
  packages/react-native/src/styles/tokens/spacing.ts
  pnpm-lock.yaml
Due: format-react-native

feat: add Avatar color showcase and update avatar color definitions
  packages/react-native/playground/components/AvatarShowcase/index.tsx
  packages/react-native/src/index.ts
  packages/react-native/src/ui/avatar.tsx
Due: format-react-native

feat: redesign image selection border, resize handle, and delete button
  packages/react/src/experimental/RichText/CoreEditor/Extensions/Image/index.tsx
  packages/react/src/experimental/RichText/NotesTextEditor/index.css
  packages/react/src/experimental/RichText/index.css
Due: format-react

chore: update test snapshots
  packages/react-native/src/components/Avatars/CompanyAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Avatars/PersonAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Avatars/TeamAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItem/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/__snapshots__/index.spec.tsx.snap
Due: none

refactor: replace class-variance-authority with cva in components and update package dependencies
  packages/react-native/package.json
  packages/react-native/src/components/Badge/index.tsx
  packages/react-native/src/components/Button/index.tsx
  packages/react-native/src/components/Icon/index.tsx
  packages/react-native/src/components/OneChip/index.tsx
  pnpm-lock.yaml
Due: format-react-native
