Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

refactor(F0BarChart): remove deprecated component and types; introduce F0DataChart
  packages/react/src/components/Charts/F0BarChart/__stories__/decorators.tsx
  packages/react/src/components/Charts/F0BarChart/__stories__/index.stories.tsx
  packages/react/src/components/Charts/F0BarChart/index.ts
  packages/react/src/components/Charts/F0BarChart/types.ts
  packages/react/src/components/Charts/F0BarChart/useBarChartOptions.ts
  packages/react/src/components/F0DataChart/F0DataChart.tsx
  packages/react/src/components/F0DataChart/__stories__/decorators.tsx
  packages/react/src/components/F0DataChart/__stories__/index.stories.tsx
  packages/react/src/components/F0DataChart/components/BarChart/BarChart.tsx
  packages/react/src/components/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/components/F0DataChart/components/LineChart/LineChart.tsx
  packages/react/src/components/F0DataChart/components/LineChart/useLineChartOptions.ts
  packages/react/src/components/F0DataChart/index.ts
  packages/react/src/components/F0DataChart/types.ts
  packages/react/src/components/F0DataChart/utils/colors.ts
  packages/react/src/components/F0DataChart/utils/options.ts
  packages/react/src/components/F0DataChart/utils/theme.ts
  packages/react/src/components/F0DataChart/utils/useChartTheme.ts
  packages/react/src/components/F0DataChart/utils/useEChartsInstance.ts
Due: format-react

feat(F0AnalyticsDashboard): introduce F0AnalyticsDashboard component with filter bar and grid layout
  packages/react/src/components/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/components/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/components/F0AnalyticsDashboard/__stories__/mockData.ts
  packages/react/src/components/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/CollectionItem/CollectionItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardItem/DashboardItemSkeleton.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/FilterBar/FilterBar.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/MetricItem/MetricItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/hooks/useDashboardItemData.ts
  packages/react/src/components/F0AnalyticsDashboard/index.ts
  packages/react/src/components/F0AnalyticsDashboard/types.ts
  packages/react/src/components/F0DataChart/F0DataChart.tsx
  packages/react/src/components/F0DataChart/__stories__/index.stories.tsx
  packages/react/src/components/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/components/F0DataChart/components/FunnelChart/FunnelChart.tsx
  packages/react/src/components/F0DataChart/components/FunnelChart/useFunnelChartOptions.ts
  packages/react/src/components/F0DataChart/components/LineChart/useLineChartOptions.ts
  packages/react/src/components/F0DataChart/index.ts
  packages/react/src/components/F0DataChart/skeletons.tsx
  packages/react/src/components/F0DataChart/types.ts
  packages/react/src/components/F0DataChart/utils/options.ts
  packages/react/src/components/F0DataChart/utils/theme.ts
  packages/react/src/components/F0DataChart/utils/useContainerWidth.ts
  packages/react/src/components/exports.ts
Due: format-react

refactor(F0AnalyticsDashboard): simplify story structure and update mock data delays
  packages/react/src/components/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/components/F0AnalyticsDashboard/__stories__/mockData.ts
Due: format-react

feat(F0Text): introduce F0Text primitive component (#3563)
  packages/react-native/jest.config.mjs
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0TextShowcase/F0TextShowcase.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/F0Text/F0Text.md
  packages/react-native/src/components/primitives/F0Text/F0Text.styles.ts
  packages/react-native/src/components/primitives/F0Text/F0Text.tsx
  packages/react-native/src/components/primitives/F0Text/F0Text.types.ts
  packages/react-native/src/components/primitives/F0Text/__tests__/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/primitives/F0Text/__tests__/index.spec.tsx
  packages/react-native/src/components/primitives/F0Text/index.ts
  packages/react-native/src/index.ts
  packages/react-native/src/lib/__tests__/utils.spec.ts
  packages/react-native/src/lib/utils.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3571)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore(one-data-collection): editable table visualization (#3373)
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations.mdx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.mdx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/context/EditableRowContext.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.spec.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/TableSettings.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/providers/NestedProvider.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/settings/SettingsRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/settings/handleResetSettings.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/collectionViewRegistry.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/ui/value-display/editors.ts
  packages/react/src/ui/value-display/index.tsx
  packages/react/src/ui/value-display/types.ts
  packages/react/src/ui/value-display/types/text/index.tsx
  packages/react/src/ui/value-display/types/text/text-editor.tsx
Due: format-react

fix: add more detail item types to DetailItemsList component
  packages/react/src/components/tags/F0TagAlert/F0TagAlert.tsx
  packages/react/src/components/tags/F0TagAlert/types.ts
  packages/react/src/components/tags/F0TagDot/F0TagDot.tsx
  packages/react/src/components/tags/F0TagDot/types.ts
  packages/react/src/components/tags/F0TagRaw/F0TagRaw.tsx
  packages/react/src/components/tags/F0TagRaw/types.ts
  packages/react/src/experimental/Lists/DataList/index.tsx
  packages/react/src/experimental/Lists/DetailsItem/index.tsx
  packages/react/src/experimental/Lists/DetailsItemsList/index.stories.tsx
Due: format-react

refactor: divide DataList index.tsx to be more lightweight
  packages/react/src/experimental/Lists/DataList/index.tsx
  packages/react/src/experimental/Lists/DataList/items/AlertTagItem.tsx
  packages/react/src/experimental/Lists/DataList/items/BalanceTagItem.tsx
  packages/react/src/experimental/Lists/DataList/items/CompanyItem.tsx
  packages/react/src/experimental/Lists/DataList/items/DotTagItem.tsx
  packages/react/src/experimental/Lists/DataList/items/Item.tsx
  packages/react/src/experimental/Lists/DataList/items/PersonItem.tsx
  packages/react/src/experimental/Lists/DataList/items/RawTagItem.tsx
  packages/react/src/experimental/Lists/DataList/items/StatusTagItem.tsx
  packages/react/src/experimental/Lists/DataList/items/TagListItem.tsx
  packages/react/src/experimental/Lists/DataList/items/TeamItem.tsx
  packages/react/src/experimental/Lists/DataList/items/index.ts
  packages/react/src/experimental/Lists/DataList/types/actions.ts
  packages/react/src/experimental/Lists/DataList/types/index.ts
  packages/react/src/experimental/Lists/DataList/types/items.ts
  packages/react/src/experimental/Lists/DataList/utils.ts
  packages/react/src/experimental/Lists/DetailsItemsList/index.stories.tsx
Due: format-react

fix: some sizing issues in F0WizardForm
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/ui/F0Wizard/F0Wizard.tsx
Due: format-react

feat(F0DataChart): enhance chart skeletons with orientation and stacking options
  packages/react/src/components/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/MetricItem/MetricItem.tsx
  packages/react/src/components/F0DataChart/__stories__/decorators.tsx
  packages/react/src/components/F0DataChart/__stories__/index.stories.tsx
  packages/react/src/components/F0DataChart/components/FunnelChart/useFunnelChartOptions.ts
  packages/react/src/components/F0DataChart/components/LineChart/useLineChartOptions.ts
  packages/react/src/components/F0DataChart/skeletons.tsx
  packages/react/src/components/F0DataChart/utils/options.ts
Due: format-react

fix: display message only on steps that return it in the onSubmit
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/__stories__/F0WizardForm.stories.tsx
  packages/react/src/components/F0WizardForm/__tests__/F0WizardForm.test.tsx
Due: format-react

fix: add more detail item types to DetailItemsList component (#3572)
  packages/react/src/components/tags/F0TagAlert/F0TagAlert.tsx
  packages/react/src/components/tags/F0TagAlert/types.ts
  packages/react/src/components/tags/F0TagDot/F0TagDot.tsx
  packages/react/src/components/tags/F0TagDot/types.ts
  packages/react/src/components/tags/F0TagRaw/F0TagRaw.tsx
  packages/react/src/components/tags/F0TagRaw/types.ts
  packages/react/src/experimental/Lists/DataList/index.tsx
  packages/react/src/experimental/Lists/DataList/items/AlertTagItem.tsx
  packages/react/src/experimental/Lists/DataList/items/BalanceTagItem.tsx
  packages/react/src/experimental/Lists/DataList/items/CompanyItem.tsx
  packages/react/src/experimental/Lists/DataList/items/DotTagItem.tsx
  packages/react/src/experimental/Lists/DataList/items/Item.tsx
  packages/react/src/experimental/Lists/DataList/items/PersonItem.tsx
  packages/react/src/experimental/Lists/DataList/items/RawTagItem.tsx
  packages/react/src/experimental/Lists/DataList/items/StatusTagItem.tsx
  packages/react/src/experimental/Lists/DataList/items/TagListItem.tsx
  packages/react/src/experimental/Lists/DataList/items/TeamItem.tsx
  packages/react/src/experimental/Lists/DataList/items/index.ts
  packages/react/src/experimental/Lists/DataList/types/actions.ts
  packages/react/src/experimental/Lists/DataList/types/index.ts
  packages/react/src/experimental/Lists/DataList/types/items.ts
  packages/react/src/experimental/Lists/DataList/utils.ts
  packages/react/src/experimental/Lists/DetailsItem/index.tsx
  packages/react/src/experimental/Lists/DetailsItemsList/index.stories.tsx
Due: format-react

chore: fix many ts errors showing in the editor for test files (#3569)
  packages/react/package.json
  packages/react/tsconfig.json
Due: none

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3575)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: some sizing issues in F0WizardForm (#3573)
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/__stories__/F0WizardForm.stories.tsx
  packages/react/src/components/F0WizardForm/__tests__/F0WizardForm.test.tsx
  packages/react/src/ui/F0Wizard/F0Wizard.tsx
Due: format-react

chore: release main (#3577)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

Revert "fix: some sizing issues in F0WizardForm (#3573)"
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/__stories__/F0WizardForm.stories.tsx
  packages/react/src/components/F0WizardForm/__tests__/F0WizardForm.test.tsx
  packages/react/src/ui/F0Wizard/F0Wizard.tsx
Due: format-react

Revert "chore: fix many ts errors showing in the editor for test files (#3569)"
  packages/react/tsconfig.json
Due: none

fix: revert fix many ts errors showing in the editor for test files (#3579)
  packages/react/tsconfig.json
Due: none

chore: release main (#3580)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0Text): add AnimatedF0Text component and F0Text new variant
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/AnimatedF0TextShowcase/index.tsx
  packages/react-native/playground/components/F0TextShowcase/F0TextShowcase.tsx
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/AnimatedF0Text.md
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/AnimatedF0Text.tsx
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/AnimatedF0Text.types.ts
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/__tests__/AnimatedF0Text.spec.tsx
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/__tests__/__snapshots__/AnimatedF0Text.spec.tsx.snap
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/index.ts
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.md
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.styles.ts
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.tsx
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.types.ts
  packages/react-native/src/components/primitives/F0Text/F0Text/__tests__/F0Text.spec.tsx
  packages/react-native/src/components/primitives/F0Text/F0Text/__tests__/__snapshots__/F0Text.spec.tsx.snap
  packages/react-native/src/components/primitives/F0Text/F0Text/index.ts
  packages/react-native/src/styles/theme.css
Due: format-react-native

docs: add AGENTS.md for React Native and update main AGENTS.md with reference
  AGENTS.md
  packages/react-native/AGENTS.md
Due: none

feat: add onAddRow button to EditableTable and nested rows
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.spec.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/__tests__/NestedRow.spec.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

fix(F0TextShowcase): small changes
  packages/react-native/playground/components/F0TextShowcase/F0TextShowcase.tsx
Due: format-react-native

fix: allow to properly resort elements in-out sections
  packages/react/src/sds/CoCreationForm/BaseQuestion/ActionsMenu/index.tsx
  packages/react/src/sds/CoCreationForm/Form/AddButton/index.tsx
  packages/react/src/sds/CoCreationForm/Form/__tests__/index.test.tsx
  packages/react/src/sds/CoCreationForm/Form/__tests__/utils.test.ts
  packages/react/src/sds/CoCreationForm/Form/index.stories.tsx
  packages/react/src/sds/CoCreationForm/Form/index.tsx
  packages/react/src/sds/CoCreationForm/Form/useReorderHandler.ts
  packages/react/src/sds/CoCreationForm/Form/utils.ts
Due: format-react

fix: disable user-selection when user is dragging elements in co-creation form
  packages/react/src/sds/CoCreationForm/Form/index.tsx
Due: format-react

feat: editable-table design
  packages/react/src/experimental/Forms/Fields/Input/internal.tsx
  packages/react/src/experimental/OneDataCollection/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/README.md
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableCellRenderer.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableRowContext.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/TextCell.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/BaseCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/TextCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/index.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/consts.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneTable/TableCell/index.tsx
  packages/react/src/ui/InputField/InputField.tsx
  packages/react/src/ui/input.tsx
  packages/react/src/ui/value-display/editors.ts
  packages/react/src/ui/value-display/index.tsx
  packages/react/src/ui/value-display/types.ts
  packages/react/src/ui/value-display/types/text/index.tsx
  packages/react/src/ui/value-display/types/text/text-editor.tsx
Due: format-react

feat: wip
  packages/react/src/experimental/OneDataCollection/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneTable/TableCell/NestedCell/index.tsx
  packages/react/src/experimental/OneTable/TableCell/TreeConnector/index.tsx
  packages/react/src/experimental/OneTable/TableCell/index.tsx
Due: format-react

feat: add addRowButtonLabel and nestedAddRowButtonLabel props to EditableTable
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.spec.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/__tests__/NestedRow.spec.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
Due: format-react

fix: improve sorting in table of content
  packages/react/src/experimental/Navigation/F0TableOfContent/Item/index.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/index.tsx
Due: format-react

docs: update README with latest F0Text and AnimatedF0Text details; update expo-go-qr.svg
  packages/react-native/README.md
  packages/react-native/assets/images/expo-go-qr.svg
Due: none

feat: f0-react-native-headingxl-and-animatedf0text (#3581)
  AGENTS.md
  packages/react-native/AGENTS.md
  packages/react-native/README.md
  packages/react-native/assets/images/expo-go-qr.svg
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/AnimatedF0TextShowcase/index.tsx
  packages/react-native/playground/components/F0TextShowcase/F0TextShowcase.tsx
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/AnimatedF0Text.md
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/AnimatedF0Text.tsx
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/AnimatedF0Text.types.ts
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/__tests__/AnimatedF0Text.spec.tsx
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/__tests__/__snapshots__/AnimatedF0Text.spec.tsx.snap
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/index.ts
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.md
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.styles.ts
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.tsx
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.types.ts
  packages/react-native/src/components/primitives/F0Text/F0Text/__tests__/F0Text.spec.tsx
  packages/react-native/src/components/primitives/F0Text/F0Text/__tests__/__snapshots__/F0Text.spec.tsx.snap
  packages/react-native/src/components/primitives/F0Text/F0Text/index.ts
  packages/react-native/src/styles/theme.css
Due: format-react-native

chore: release main (#3586)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

fix: add more actions to question elements in table of contents
  packages/react/src/components/F0TableOfContentPopover/F0TableOfContentPopover.tsx
  packages/react/src/components/F0TableOfContentPopover/useDeferredClose.ts
  packages/react/src/experimental/Navigation/F0TableOfContent/Item/ItemDropDown.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/Item/PrimitiveItem.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/types.ts
  packages/react/src/sds/CoCreationForm/BaseQuestion/ActionsMenu/index.tsx
  packages/react/src/sds/CoCreationForm/BaseQuestion/ActionsMenu/useQuestionActions.ts
  packages/react/src/sds/CoCreationForm/Form/TableOfContent/index.tsx
  packages/react/src/sds/CoCreationForm/Form/TableOfContent/useTableOfContentItems.ts
  packages/react/src/sds/CoCreationForm/Form/__tests__/useQuestionActions.test.ts
Due: format-react

feat: add table of content to CoCreationForm and better sorting (#3564)
  packages/react/src/components/F0TableOfContentPopover/F0TableOfContentPopover.tsx
  packages/react/src/components/F0TableOfContentPopover/internal-types.ts
  packages/react/src/components/F0TableOfContentPopover/useDeferredClose.ts
  packages/react/src/experimental/Navigation/F0TableOfContent/Item/ItemDropDown.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/Item/PrimitiveItem.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/Item/index.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/index.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/CoCreationForm/BaseQuestion/ActionsMenu/index.tsx
  packages/react/src/sds/CoCreationForm/BaseQuestion/ActionsMenu/useQuestionActions.ts
  packages/react/src/sds/CoCreationForm/BaseQuestion/index.tsx
  packages/react/src/sds/CoCreationForm/Form/AddButton/index.tsx
  packages/react/src/sds/CoCreationForm/Form/EndOfSectionDivider.tsx
  packages/react/src/sds/CoCreationForm/Form/LastQuestionDialog.tsx
  packages/react/src/sds/CoCreationForm/Form/QuestionItem.tsx
  packages/react/src/sds/CoCreationForm/Form/SectionHeaderItem.tsx
  packages/react/src/sds/CoCreationForm/Form/TableOfContent/index.tsx
  packages/react/src/sds/CoCreationForm/Form/TableOfContent/useTableOfContentItems.ts
  packages/react/src/sds/CoCreationForm/Form/__tests__/index.test.tsx
  packages/react/src/sds/CoCreationForm/Form/__tests__/useQuestionActions.test.ts
  packages/react/src/sds/CoCreationForm/Form/__tests__/utils.test.ts
  packages/react/src/sds/CoCreationForm/Form/index.stories.tsx
  packages/react/src/sds/CoCreationForm/Form/index.tsx
  packages/react/src/sds/CoCreationForm/Form/useReorderHandler.ts
  packages/react/src/sds/CoCreationForm/Form/utils.ts
  packages/react/src/sds/CoCreationForm/Section/index.tsx
  packages/react/src/sds/CoCreationForm/constants.ts
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
