Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

feat(react-native): support Expo SDK 56 (React Native 0.85)
  package.json
  packages/react-native/babel.config.cjs
  packages/react-native/jest.config.mjs
  packages/react-native/jest.setup.js
  packages/react-native/package.json
  packages/react-native/src/components/F0Avatar/__tests__/__snapshots__/F0Avatar.spec.tsx.snap
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
  packages/react-native/src/components/F0Metadata/__tests__/__snapshots__/F0Metadata.spec.tsx.snap
  packages/react-native/src/components/F0Step/__tests__/F0Step.spec.tsx
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.md
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.tsx
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.types.ts
  packages/react-native/src/components/primitives/F0BlurView/__tests__/__snapshots__/F0BlurView.spec.tsx.snap
  packages/react-native/src/components/primitives/PressableFeedback/__tests__/index.spec.tsx
  pnpm-lock.yaml
Due: format-react-native

chore(react-native): use native Liquid Glass tabs in the playground tab bar
  packages/react-native/playground/app/(tabs)/_layout.tsx
Due: format-react-native

refactor(ai): id-based welcome-card clicks with optional message
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__stories__/F0AiChatTextArea.stories.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__tests__/F0AiChatTextArea.welcomeLayout.test.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__tests__/WelcomeScreenCardsRow.test.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/components/WelcomeScreenCardsRow.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
Due: format-react

chore(react-native): add native Expo UI + symbols showcases to the playground
  packages/react-native/package.json
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/NativeControlsShowcase/index.tsx
  packages/react-native/playground/components/SymbolViewShowcase/index.tsx
  pnpm-lock.yaml
Due: format-react-native

feat(ai): let hosts handle welcome-card clicks via onCardSelect
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

feat(OneDataCollection): add column add/remove affordances to the table settings popover
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/OneDataCollection/Settings/SortAndHideSettings.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/table/table.stories.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/SortAndHideList/SortAndHideList.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/SortAndHideList/SortAndHideList.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/SortAndHideList/__stories__/SortAndHideList.stories.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/SortAndHideList/types.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/TableSettings.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/settings/SettingsRenderer.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/types.ts
Due: format-react

chore: visual assets for PR #4587 (column add/remove popover)
  add-column-entry.png
  add-remove-column-demo.mp4
  hover-remove.png
Due: none

feat(ChatBubble): refactor corner rounding logic for message bubbles and reply quotes
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/chat/F0Chat/__tests__/ReplyQuote.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatBubble.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageItem.tsx
  packages/react/src/sds/chat/F0Chat/components/ReplyQuote.tsx
Due: format-react

feat(Dialogs): export dialog alias for improved accessibility
  packages/react/src/lib/providers/dialogs-alike/index.ts
Due: format-react

feat(F0CardHorizontal): alias F0CardHorizontal as F0CardRow for improved clarity
  packages/react/src/experimental/F0CardHorizontal/index.ts
Due: format-react

feat(dialogs): add confirmation dialog with back-compat confirm alias
  packages/react/src/lib/providers/dialogs-alike/__tests__/imperative.test.ts
  packages/react/src/lib/providers/dialogs-alike/imperative.tsx
Due: format-react

feat(f0compose): per-participant notes and single Exit CTA
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

feat(exports): add dialog alias for improved accessibility and clarity
  packages/react/src/lib/exports.ts
  packages/react/src/lib/providers/dialogs-alike/index.ts
Due: format-react

feat(tabs): enhance TabButton styles to suppress ghost
  packages/react/src/patterns/Navigation/Sidebar/Tabs/index.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4588)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(f0compose): private participant notes + F0 detail panels
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

feat(F0CardHorizontal): add disabled and descriptionAsSingleLine props
  packages/react/src/experimental/F0CardHorizontal/F0CardHorizontal.tsx
  packages/react/src/experimental/F0CardHorizontal/__stories__/F0CardHorizontal.stories.tsx
Due: format-react

fix(react): keep deprecated EntitySelect demo names unchanged
  packages/react/src/deprecated/EntitySelect/entity-select-name.factory.tsx
  packages/react/src/deprecated/EntitySelect/index.stories.tsx
Due: format-react

feat(F0CardHorizontal): add disabled and descriptionAsSingleLine props (#4590)
  packages/react/src/experimental/F0CardHorizontal/F0CardHorizontal.tsx
  packages/react/src/experimental/F0CardHorizontal/__stories__/F0CardHorizontal.stories.tsx
Due: format-react

chore: release main (#4591)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(react-native): add F0AiProposalCard and ai_ticketing module
  packages/react-native/src/components/Avatars/ModuleAvatar/modules.ts
  packages/react-native/src/components/F0AiProposalCard/F0AiProposalCard.md
  packages/react-native/src/components/F0AiProposalCard/F0AiProposalCard.styles.ts
  packages/react-native/src/components/F0AiProposalCard/F0AiProposalCard.tsx
  packages/react-native/src/components/F0AiProposalCard/F0AiProposalCard.types.ts
  packages/react-native/src/components/F0AiProposalCard/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

feat(F0TagStatus): add optional icon prop
  packages/react/src/components/tags/F0TagStatus/F0TagStatus.tsx
  packages/react/src/components/tags/F0TagStatus/__storybook__/TagStatus.stories.tsx
  packages/react/src/components/tags/F0TagStatus/types.ts
  packages/react/src/ui/value-display/types/status/status.tsx
Due: format-react

fix(react-native): register ai_ticketing in the SDS avatar registry
  packages/react-native/src/components/Avatars/ModuleAvatar/modules.ts
  packages/react-native/src/components/F0AiProposalCard/F0AiProposalCard.md
  packages/react-native/src/components/F0AiProposalCard/F0AiProposalCard.types.ts
  packages/react-native/src/components/F0AiProposalCard/__tests__/F0AiProposalCard.spec.tsx
  packages/react-native/src/components/F0AiProposalCard/__tests__/__snapshots__/F0AiProposalCard.spec.tsx.snap
  packages/react-native/src/components/F0Avatar/internal/module-icons.ts
Due: format-react-native

refactor(ai): replace welcome-card onCardSelect with per-card onClick
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__stories__/F0AiChatTextArea.stories.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__tests__/F0AiChatTextArea.welcomeLayout.test.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__tests__/WelcomeScreenCardsRow.test.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/components/WelcomeScreenCardsRow.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
Due: format-react

fix(emoji-picker): mount em-emoji-picker via createElement to avoid Illegal constructor
  packages/react/src/kits/Social/Reactions/Picker/index.tsx
  packages/react/src/lib/EmojiPicker.test.tsx
  packages/react/src/lib/EmojiPicker.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseScoreQuestion/ScoreEditOption.tsx
Due: format-react

chore(react-native): make the playground showcase harness native (Expo UI / SDK 56)
  packages/react-native/package.json
  packages/react-native/playground/components/Select/index.tsx
  packages/react-native/playground/components/Select/types.ts
  packages/react-native/playground/components/ThemeSwitcher.tsx
  pnpm-lock.yaml
Due: format-react-native

fix(react): migrate new F0CardHorizontal story merged from main
  packages/react/src/experimental/F0CardHorizontal/__stories__/F0CardHorizontal.stories.tsx
Due: format-react

feat(ai): add welcomeScreenCards to F0AiChat (#4550)
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__stories__/F0AiChatTextArea.stories.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__tests__/F0AiChatTextArea.welcomeLayout.test.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__tests__/WelcomeScreenCardsRow.test.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/components/WelcomeScreenCardsRow.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/components/WelcomeScreenSuggestionsRow.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
Due: format-react

chore: release main (#4595)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(headers): replace closeAction with onClose
  packages/react/src/experimental/Information/Headers/BaseHeader/index.tsx
  packages/react/src/patterns/ResourceHeader/index.tsx
Due: format-react

feat(ai): add revealChatOnCanvasToggle to F0AiChat
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

feat: expose full base color palette for F0TagDot
  packages/react-native/src/components/F0Tag/F0Tag.types.ts
  packages/react/src/components/tags/F0TagDot/__storybook__/TagDot.stories.tsx
  packages/react/src/components/tags/F0TagDot/types.ts
Due: format-react, format-react-native

fix(emoji-picker): mount em-emoji-picker via createElement to avoid Illegal constructor (#4594)
  packages/react/src/kits/Social/Reactions/Picker/index.tsx
  packages/react/src/lib/EmojiPicker.test.tsx
  packages/react/src/lib/EmojiPicker.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseScoreQuestion/ScoreEditOption.tsx
Due: format-react
