Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

chore: fix storybook tests
  packages/react/src/lib/data-testid/__stories__/withDataTestId.stories.tsx
Due: format-react

feat: position
  packages/react/src/hooks/toast/ToastProvider.tsx
Due: format-react

feat: position
  packages/react/src/hooks/toast/ToastProvider.tsx
  packages/react/src/hooks/toast/useToast.tsx
  packages/react/src/internal/components/Toast/F0Toast.tsx
  packages/react/src/internal/components/Toast/types.ts
Due: format-react

feat: enable in provider
  packages/react/.storybook/main.ts
  packages/react/.storybook/preview.tsx
  packages/react/docs/data-test-id.mdx
  packages/react/src/experimental/OneEmptyState/OneEmptyState.tsx
  packages/react/src/experimental/OneEmptyState/__stories__/OneEmptyState.stories.tsx
  packages/react/src/lib/data-testid/__stories__/withDataTestId.mdx
  packages/react/src/lib/data-testid/__tests__/withDataTestId.test.tsx
  packages/react/src/lib/data-testid/index.tsx
  packages/react/src/lib/providers/f0/f0-provider.tsx
  packages/react/src/lib/providers/user-platafform/UserPlatformProvider.tsx
  packages/react/src/testing/test-utils.tsx
Due: format-react

chore: fix value-display home links
  packages/react/src/components/value-display/__stories__/ValueDisplay.mdx
Due: none

chore: fix chromatic action
  .github/workflows/chromatic.yml
Due: none

refactor(RichTextEditor): replace F0Icon with AIButton and update EnhanceMenu layout
  packages/react/src/experimental/RichText/RichTextEditor/Enhance/EnhanceMenu/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/Enhance/LoadingEnhance/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/Enhance/index.tsx
Due: format-react

feat: add table export functionality and enhance markdown renderers with new table component
  packages/react/src/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/ai/F0AiChat/copilotActions/useTableExportAction.tsx
  packages/react/src/ai/F0MarkdownRenderers/F0MarkdownRenderers.tsx
  packages/react/src/ai/F0MarkdownRenderers/components/Table.tsx
  packages/react/src/ai/F0MarkdownRenderers/index.ts
  packages/react/src/ai/F0TableExport/F0TableExport.tsx
  packages/react/src/ai/F0TableExport/__stories__/F0TableExport.stories.tsx
  packages/react/src/ai/F0TableExport/index.ts
  packages/react/src/ai/F0TableExport/types.ts
  packages/react/src/ai/exports.ts
Due: format-react

refactor(F0TableExport.stories): simplify story definitions
  packages/react/src/ai/F0TableExport/__stories__/F0TableExport.stories.tsx
Due: format-react

fix(RichTextEditor): update toolbar visibility conditions and adjust layout for fullscreen mode
  packages/react/src/experimental/RichText/CoreEditor/Toolbar/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/Enhance/LoadingEnhance/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/Enhance/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/Footer/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/Head/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/index.tsx
Due: format-react

feat(react-native): add pages module ID for policies inbox tasks
  packages/react-native/src/components/Avatars/ModuleAvatar/modules.ts
Due: format-react-native

feat(RichTextEditor): implement enhance highlight feature and loading indicators
  packages/react/src/experimental/RichText/CoreEditor/BubbleMenu/index.tsx
  packages/react/src/experimental/RichText/CoreEditor/Extensions/EnhanceHighlight/index.tsx
  packages/react/src/experimental/RichText/CoreEditor/Extensions/index.tsx
  packages/react/src/experimental/RichText/NotesTextEditor/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/Enhance/AcceptChanges/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/Enhance/EnhanceMenu/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/Enhance/LoadingEnhance/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/Head/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/utils/enhance.tsx
  packages/react/src/experimental/RichText/RichTextEditor/utils/extensions.tsx
  packages/react/src/experimental/RichText/index.css
Due: format-react

refactor(RichTextEditor): simplify loading overlay logic and remove unused props
  packages/react/src/experimental/RichText/RichTextEditor/Enhance/LoadingEnhance/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/index.tsx
Due: format-react

refactor(RichTextEditor): integrate i18n for error handling and enhance labels
  packages/react/src/experimental/RichText/RichTextEditor/Enhance/AcceptChanges/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/Enhance/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/Error/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/index.stories.tsx
  packages/react/src/experimental/RichText/RichTextEditor/index.tsx
  packages/react/src/experimental/RichText/RichTextEditor/utils/types.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

chore: fix chromatic action
  packages/react/src/components/F0Alert/__stories__/F0Alert.stories.tsx
  packages/react/src/components/F0BigNumber/__stories__/F0BigNumber.stories.tsx
  packages/react/src/components/F0Button/__stories__/F0Button.stories.tsx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
  packages/react/src/components/F0ButtonToggle/__stories__/F0ButtonToggle.stories.tsx
  packages/react/src/components/F0Card/__stories__/Card.stories.tsx
  packages/react/src/components/F0Checkbox/__stories__/F0Checkbox.stories.tsx
  packages/react/src/components/F0ChipList/index.stories.tsx
  packages/react/src/components/F0DatePicker/__stories__/F0DatePicker.stories.tsx
  packages/react/src/components/F0Dialog/__stories__/F0Modal.stories.tsx
  packages/react/src/components/F0FilterPickerContent/__stories__/F0FilterPickerContent.stories.tsx
  packages/react/src/components/F0Heading/__stories__/Heading.stories.tsx
  packages/react/src/components/F0Link/__stories__/F0Link.stories.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Text/__stories__/Text.stories.tsx
  packages/react/src/components/Utilities/F0GridStack/__stories__/F0GridStack.stories.tsx
  packages/react/src/components/avatars/F0Avatar/__stories__/F0Avatar.stories.tsx
  packages/react/src/experimental/OnePagination/index.stories.tsx
  packages/react/src/lib/data-testid/__stories__/withDataTestId.stories.tsx
Due: format-react

chore: fix chromatic action
  .github/workflows/chromatic.yml
  packages/react/src/components/OneFilterPicker/components/FilterList.tsx
Due: format-react

chore: right-top position
  .github/workflows/chromatic.yml
  packages/react/src/hooks/toast/ToastProvider.tsx
  packages/react/src/hooks/toast/__stories__/useToast.stories.tsx
  packages/react/src/internal/components/Toast/F0Toast.tsx
  packages/react/src/lib/providers/f0/f0-provider.tsx
Due: format-react

feat: set long label for consistency (#3318)
  packages/react/src/components/F0DatePicker/components/DateInput.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3344)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: datatestid testing strategy
  packages/react/src/components/F0Alert/__stories__/F0Alert.stories.tsx
  packages/react/src/components/F0BigNumber/__stories__/F0BigNumber.stories.tsx
  packages/react/src/components/F0Button/__stories__/F0Button.stories.tsx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
  packages/react/src/components/F0ButtonToggle/__stories__/F0ButtonToggle.stories.tsx
  packages/react/src/components/F0Card/__stories__/Card.stories.tsx
  packages/react/src/components/F0Checkbox/__stories__/F0Checkbox.stories.tsx
  packages/react/src/components/F0ChipList/index.stories.tsx
  packages/react/src/components/F0DatePicker/__stories__/F0DatePicker.stories.tsx
  packages/react/src/components/F0Dialog/__stories__/F0Modal.stories.tsx
  packages/react/src/components/F0FilterPickerContent/__stories__/F0FilterPickerContent.stories.tsx
  packages/react/src/components/F0Heading/__stories__/Heading.stories.tsx
  packages/react/src/components/F0Icon/__stories__/F0Icon.stories.tsx
  packages/react/src/components/F0Link/__stories__/F0Link.stories.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Text/__stories__/Text.stories.tsx
  packages/react/src/components/Utilities/Await/__stories__/Await.stories.tsx
  packages/react/src/components/Utilities/F0GridStack/__stories__/F0GridStack.stories.tsx
  packages/react/src/components/avatars/F0Avatar/__stories__/F0Avatar.stories.tsx
  packages/react/src/experimental/OneEmptyState/__stories__/OneEmptyState.stories.tsx
  packages/react/src/experimental/OnePagination/index.stories.tsx
  packages/react/src/experimental/Utilities/ScrollArea/index.stories.tsx
  packages/react/src/lib/data-testid/__stories__/withDataTestId.stories.tsx
Due: format-react

fix: needed updates
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/components/F0Form/f0Schema.ts
  packages/react/src/components/F0Form/fields/date/schema.ts
  packages/react/src/components/F0Form/fields/number/schema.ts
  packages/react/src/components/F0Form/fields/schema.ts
  packages/react/src/components/F0Form/fields/textarea/schema.ts
  packages/react/src/components/F0Form/index.tsx
  packages/react/src/components/F0Form/types.ts
  packages/react/src/components/F0Form/useSchemaDefinition.ts
Due: format-react

chore: update React Native package dependencies, add scripts for class generation
  .cursor/mcp.json
  packages/react-native/README.md
  packages/react-native/global.css
  packages/react-native/package.json
  packages/react-native/scripts/build-with-fix.cjs
  packages/react-native/scripts/fix-types-path.cjs
  packages/react-native/scripts/generate-classes-css.mjs
  packages/react-native/scripts/generate-classes.mjs
  packages/react-native/scripts/set-main.cjs
  packages/react-native/src/components/Avatars/ModuleAvatar/index.tsx
  packages/react-native/src/components/Badge/index.tsx
  packages/react-native/src/components/Button/index.tsx
  packages/react-native/src/components/Counter/index.tsx
  packages/react-native/src/components/Icon/index.tsx
  packages/react-native/src/components/OneChip/index.tsx
  packages/react-native/src/components/OnePreset/index.tsx
  packages/react-native/src/lib/utils.ts
  packages/react-native/src/styles/classes.css
  packages/react-native/src/ui/avatar.tsx
  packages/react-native/tsconfig.build.json
  pnpm-lock.yaml
Due: format-react-native

feat(RichTextEditor): enhance header functionality with new banner and action structure
  packages/react/src/experimental/RichText/NotesTextEditor/Header/index.tsx
  packages/react/src/experimental/RichText/NotesTextEditor/index.stories.tsx
  packages/react/src/experimental/RichText/NotesTextEditor/index.tsx
  packages/react/src/experimental/RichText/NotesTextEditor/types.tsx
Due: format-react

chore: datatestid testing strategy
  packages/react/src/components/F0DatePicker/__stories__/F0DatePicker.stories.tsx
  packages/react/src/components/Utilities/F0GridStack/__stories__/F0GridStack.stories.tsx
  packages/react/src/components/avatars/F0Avatar/F0Avatar.tsx
  packages/react/src/components/avatars/F0AvatarFlag/index.tsx
  packages/react/src/experimental/Utilities/ScrollArea/index.stories.tsx
Due: format-react

chore: datatestid testing strategy
  packages/react/src/components/avatars/F0AvatarFlag/index.tsx
Due: format-react

refactor: use CardSelectable
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/components/RowRenderer.tsx
  packages/react/src/components/F0Form/components/SwitchGroupRenderer.tsx
  packages/react/src/experimental/Forms/CardSelectable/CardSelectable.tsx
  packages/react/src/experimental/Forms/CardSelectable/index.stories.tsx
  packages/react/src/experimental/Forms/CardSelectable/index.tsx
  packages/react/src/experimental/Forms/CardSelectable/types.ts
Due: format-react

feat: counter inside filter component
  packages/react/src/components/F0Button/internal-types.ts
  packages/react/src/components/F0Button/internal.tsx
  packages/react/src/components/OneFilterPicker/OneFilterPicker.tsx
  packages/react/src/components/OneFilterPicker/components/FiltersControls.tsx
  packages/react/src/components/OneFilterPicker/context.ts
Due: format-react

fix: add missing apply selection button in F0Select
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Select/components/SelectBottomActions.tsx
  packages/react/src/components/F0Select/components/SelectTopActions.tsx
  packages/react/src/components/F0Select/types.ts
  packages/react/src/components/OneFilterPicker/components/FiltersControls.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

fix: always show apply button when in multiselection
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Select/types.ts
Due: format-react

refactor: clean up and optimize component styles, update type handling, and build script formatting
  packages/react-native/scripts/build-with-fix.cjs
  packages/react-native/src/components/Button/index.tsx
  packages/react-native/src/components/Navigation/PageHeader/index.tsx
  packages/react-native/src/components/OneChip/index.tsx
  packages/react-native/src/components/OnePreset/index.tsx
  packages/react-native/src/styles/classes.css
  packages/react-native/src/styles/theme.css
Due: format-react-native

fix: add it for multiple selection always
  packages/react/src/components/F0Select/F0Select.tsx
Due: format-react

chore: update snapshots
  packages/react-native/src/components/Button/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Navigation/PageHeader/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/OneChip/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/OnePreset/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/__snapshots__/index.spec.tsx.snap
Due: none

chore: remove scripts from linter
  packages/react-native/eslint.config.mjs
Due: none

chore: update pnpm.lock
  pnpm-lock.yaml
Due: none

fix: add missing apply selection button in F0Select (#3345)
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/components/SelectBottomActions.tsx
  packages/react/src/components/F0Select/components/SelectTopActions.tsx
  packages/react/src/components/OneFilterPicker/components/FiltersControls.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

chore: release main (#3347)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: add intuitive default placeholders for date inputs
  packages/react/src/components/F0DatePicker/components/DateInput.tsx
  packages/react/src/experimental/OneCalendar/granularities/day/index.tsx
  packages/react/src/experimental/OneCalendar/granularities/halfyear/index.tsx
  packages/react/src/experimental/OneCalendar/granularities/month/index.tsx
  packages/react/src/experimental/OneCalendar/granularities/quarter/index.tsx
  packages/react/src/experimental/OneCalendar/granularities/range/index.tsx
  packages/react/src/experimental/OneCalendar/granularities/types.ts
  packages/react/src/experimental/OneCalendar/granularities/week/index.tsx
  packages/react/src/experimental/OneCalendar/granularities/year/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react
