Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

chore: release main (#3602)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(ai-chat): implement chat history functionality and thread
  packages/react/src/components/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/components/F0DataChart/components/FunnelChart/useFunnelChartOptions.ts
  packages/react/src/components/F0DataChart/components/LineChart/useLineChartOptions.ts
  packages/react/src/components/F0DataChart/utils/options.ts
  packages/react/src/examples/ApplicationFrame/index.stories.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/__tests__/MessagesContainer.test.ts
  packages/react/src/sds/ai/F0AiChat/components/ChatHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/ChatHistoryDialog.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useThreadTitleAction.tsx
  packages/react/src/sds/ai/F0AiChat/hooks/useChatHistory.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

feat: ai mask
  packages/react/src/sds/ai/F0AiMask/F0AiMask.ts
  packages/react/src/sds/ai/F0AiMask/env.d.ts
  packages/react/src/sds/ai/F0AiMask/gl/geometry.ts
  packages/react/src/sds/ai/F0AiMask/gl/program.ts
  packages/react/src/sds/ai/F0AiMask/gl/shaders/fragment.glsl
  packages/react/src/sds/ai/F0AiMask/gl/shaders/vertex.glsl
Due: format-react

feat: ai mask story
  packages/react/src/sds/ai/F0AiMask/__stories__/F0AiMask.stories.tsx
Due: format-react

fix: export
  packages/react/src/sds/ai/F0AiMask/__stories__/F0AiMask.stories.tsx
  packages/react/src/sds/ai/F0AiMask/index.ts
  packages/react/src/sds/ai/exports.ts
Due: format-react

refactor: move add-row props from TableCollection to AddRowContext
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/context/AddRowContext.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.spec.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/__tests__/NestedRow.spec.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
Due: format-react

feat: add onAddRow button to EditableTable and nested rows (#3576)
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/context/AddRowContext.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.spec.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/__tests__/NestedRow.spec.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3604)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: AI Mask Effect Component (#3603)
  packages/react/src/sds/ai/F0AiMask/F0AiMask.ts
  packages/react/src/sds/ai/F0AiMask/__stories__/F0AiMask.stories.tsx
  packages/react/src/sds/ai/F0AiMask/env.d.ts
  packages/react/src/sds/ai/F0AiMask/gl/geometry.ts
  packages/react/src/sds/ai/F0AiMask/gl/program.ts
  packages/react/src/sds/ai/F0AiMask/gl/shaders/fragment.glsl
  packages/react/src/sds/ai/F0AiMask/gl/shaders/vertex.glsl
  packages/react/src/sds/ai/F0AiMask/index.ts
  packages/react/src/sds/ai/exports.ts
Due: format-react

chore: release main (#3605)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(ai-chat): enhance chat functionality with pinning and deletion features
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/components/ChatHistoryDialog.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useThreadTitleAction.tsx
  packages/react/src/sds/ai/F0AiChat/hooks/useChatHistory.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

fix: Adding new follow up props to Frontend tools (#3589)
  packages/react/src/sds/UpsellingKit/ai/F0BookAMeetingCard/useBookAMeetingCardAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0DemoCard/useDemoCardAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0FAQCard/useFAQCardAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0ModuleCard/useModuleCardAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0QuestionCard/useQuestionCardAction.tsx
Due: format-react

test: enhance F0Text.spec.tsx to verify individual className components
  packages/react-native/src/components/primitives/F0Text/F0Text/__tests__/F0Text.spec.tsx
Due: format-react-native

feat: improve text component
  packages/react/src/components/F0TextV2/F0TextV2.tsx
  packages/react/src/components/F0TextV2/__tests__/Text.test.tsx
  packages/react/src/components/F0TextV2/index.tsx
  packages/react/src/components/F0TextV2/utils.ts
  packages/react/src/ui/Text/index.tsx
  packages/react/src/ui/TextV2/TextV2.tsx
  packages/react/src/ui/TextV2/__tests__/TextV2.test.tsx
  packages/react/src/ui/TextV2/index.tsx
  packages/react/src/ui/TextV2/types.ts
  packages/react/src/ui/TextV2/variants.ts
Due: format-react

feat: improve text component
  packages/react/src/components/F0TextV2/F0TextV2.tsx
  packages/react/src/components/F0TextV2/__stories__/Text.stories.tsx
  packages/react/src/components/F0TextV2/__tests__/Text.test.tsx
  packages/react/src/components/F0TextV2/index.tsx
Due: format-react

feat: deprecate last F0Text component
  packages/react/src/components/F0Text/index.tsx
  packages/react/src/components/F0TextV2/index.tsx
  packages/react/src/components/exports.ts
Due: format-react

feat: add new improved text component
  packages/react/src/components/F0TextV2/__stories__/Text.stories.tsx
  packages/react/src/components/F0TextV2/__tests__/Text.test.tsx
  packages/react/src/components/F0TextV2/index.tsx
  packages/react/src/components/F0TextV2/types.ts
  packages/react/src/components/F0TextV2/utils.ts
  packages/react/src/components/exports.ts
Due: format-react

refactor(ai-chat): streamline chat components and enhance functionality
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/AssistantMessage.stories.tsx
  packages/react/src/sds/ai/F0AiChat/__tests__/MessagesContainer.test.ts
  packages/react/src/sds/ai/F0AiChat/components/AssistantMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/FeedbackModal.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainerFullscreen.tsx
  packages/react/src/sds/ai/F0AiChat/components/ScrollShadow.tsx
  packages/react/src/sds/ai/F0AiChat/components/TurnContent.tsx
  packages/react/src/sds/ai/F0AiChat/components/TurnFeedback.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/tool-names.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDataDownloadAction.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayChartAction.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useMessageSourcesAction.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useOrchestratorThinkingAction.tsx
  packages/react/src/sds/ai/F0AiChat/hooks/useCanvasState.ts
  packages/react/src/sds/ai/F0AiChat/hooks/useChatWidth.ts
  packages/react/src/sds/ai/F0AiChat/hooks/useConversationBridge.ts
  packages/react/src/sds/ai/F0AiChat/hooks/useCopilotKitBridge.ts
  packages/react/src/sds/ai/F0AiChat/hooks/useMessagesSetup.ts
  packages/react/src/sds/ai/F0AiChat/hooks/useVisualizationState.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/providers/FeedbackProvider.tsx
  packages/react/src/sds/ai/F0AiChat/utils/convertMastraToAgui.ts
  packages/react/src/sds/ai/F0AiChat/utils/turnConversions.ts
  packages/react/src/sds/ai/F0ChatDashboard/F0ChatDashboard.tsx
  packages/react/src/sds/ai/F0ChatDashboard/computations.ts
  packages/react/src/sds/ai/F0ChatDashboard/index.ts
  packages/react/src/sds/ai/F0ChatDashboard/types.ts
  packages/react/src/sds/ai/F0ChatDashboard/utils/formatters.ts
Due: format-react

feat: enhance AnimatedF0Text with className support for layout and positioning
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/AnimatedF0Text.md
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/AnimatedF0Text.tsx
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/AnimatedF0Text.types.ts
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/__tests__/AnimatedF0Text.spec.tsx
Due: format-react-native

docs: update F0Text documentation to clarify prop omission and typography control
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.md
Due: format-react-native

feat: inline clarifying questions in F0AiChatTextArea
  packages/react/src/sds/ai/F0AiChat/components/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useClarifyingQuestionAction.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__stories__/F0AiChatTextArea.stories.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
Due: format-react

fix: clear textarea input on clarifying question confirm
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
Due: format-react

feat: allow className for layout on F0Text (#3606)
  packages/react-native/playground/components/F0TextShowcase/F0TextShowcase.tsx
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/AnimatedF0Text.md
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/AnimatedF0Text.tsx
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/AnimatedF0Text.types.ts
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/__tests__/AnimatedF0Text.spec.tsx
  packages/react-native/src/components/primitives/F0Text/AnimatedF0Text/__tests__/__snapshots__/AnimatedF0Text.spec.tsx.snap
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.md
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.styles.ts
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.tsx
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.types.ts
  packages/react-native/src/components/primitives/F0Text/F0Text/__tests__/F0Text.spec.tsx
  packages/react-native/src/components/primitives/F0Text/F0Text/__tests__/__snapshots__/F0Text.spec.tsx.snap
  packages/react-native/src/lib/utils.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3609)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: keep old Icon component
  packages/react-native/src/components/Icon/__tests__/Icon.spec.tsx
  packages/react-native/src/components/Icon/index.tsx
  packages/react-native/src/components/exports.ts
Due: format-react-native

refactor: optimize icon interop caching and update imports in F0Icon component
  packages/react-native/src/components/primitives/F0Icon/F0Icon.md
  packages/react-native/src/components/primitives/F0Icon/F0Icon.tsx
  packages/react-native/src/components/primitives/F0Icon/__tests__/F0Icon.spec.tsx
  packages/react-native/src/components/primitives/F0Icon/__tests__/F0Icon.tokens.spec.ts
Due: format-react-native

test: add TypeScript ignores for Node built-ins in F0Icon token tests
  packages/react-native/src/components/primitives/F0Icon/__tests__/F0Icon.tokens.spec.ts
Due: format-react-native

feat: improve text component
  packages/react/src/components/F0TextV2/__stories__/Text.stories.tsx
  packages/react/src/components/F0TextV2/__tests__/Text.test.tsx
  packages/react/src/components/F0TextV2/index.tsx
  packages/react/src/ui/TextV2/TextV2.tsx
  packages/react/src/ui/TextV2/__tests__/TextV2.test.tsx
  packages/react/src/ui/TextV2/index.tsx
  packages/react/src/ui/TextV2/types.ts
  packages/react/src/ui/TextV2/variants.ts
Due: format-react

feat(F0DataChart): add ECharts-based chart component
  packages/react/src/components/F0DataChart/F0DataChart.tsx
  packages/react/src/components/F0DataChart/__stories__/decorators.tsx
  packages/react/src/components/F0DataChart/__stories__/index.stories.tsx
  packages/react/src/components/F0DataChart/components/BarChart/BarChart.tsx
  packages/react/src/components/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/components/F0DataChart/components/FunnelChart/FunnelChart.tsx
  packages/react/src/components/F0DataChart/components/FunnelChart/utils.ts
  packages/react/src/components/F0DataChart/components/LineChart/LineChart.tsx
  packages/react/src/components/F0DataChart/components/LineChart/useLineChartOptions.ts
  packages/react/src/components/F0DataChart/index.ts
  packages/react/src/components/F0DataChart/skeletons.tsx
  packages/react/src/components/F0DataChart/types.ts
  packages/react/src/components/F0DataChart/utils/colors.ts
  packages/react/src/components/F0DataChart/utils/options.ts
  packages/react/src/components/F0DataChart/utils/theme.ts
  packages/react/src/components/F0DataChart/utils/useChartTheme.ts
  packages/react/src/components/F0DataChart/utils/useContainerWidth.ts
  packages/react/src/components/F0DataChart/utils/useEChartsInstance.ts
  packages/react/src/components/exports.ts
Due: format-react

feat(F0DataChart): add unified chart component with bar, line, and funnel types
  packages/react/src/components/F0DataChart/F0DataChart.tsx
  packages/react/src/components/F0DataChart/__stories__/decorators.tsx
  packages/react/src/components/F0DataChart/__stories__/index.stories.tsx
  packages/react/src/components/F0DataChart/components/BarChart/BarChart.tsx
  packages/react/src/components/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/components/F0DataChart/components/FunnelChart/FunnelChart.tsx
  packages/react/src/components/F0DataChart/components/FunnelChart/utils.ts
  packages/react/src/components/F0DataChart/components/LineChart/LineChart.tsx
  packages/react/src/components/F0DataChart/components/LineChart/useLineChartOptions.ts
  packages/react/src/components/F0DataChart/index.ts
  packages/react/src/components/F0DataChart/skeletons.tsx
  packages/react/src/components/F0DataChart/types.ts
  packages/react/src/components/F0DataChart/utils/colors.ts
  packages/react/src/components/F0DataChart/utils/options.ts
  packages/react/src/components/F0DataChart/utils/theme.ts
  packages/react/src/components/F0DataChart/utils/useChartTheme.ts
  packages/react/src/components/F0DataChart/utils/useContainerWidth.ts
  packages/react/src/components/F0DataChart/utils/useEChartsInstance.ts
Due: format-react

refactor(F0DataChart): extract shared helpers and remove duplication
  packages/react/src/components/F0DataChart/F0DataChart.tsx
  packages/react/src/components/F0DataChart/__stories__/Bar.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/F0DataChart.mdx
  packages/react/src/components/F0DataChart/__stories__/Funnel.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/Gauge.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/Heatmap.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/Line.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/Pie.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/Radar.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/Skeletons.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/decorators.tsx
  packages/react/src/components/F0DataChart/__stories__/index.stories.tsx
  packages/react/src/components/F0DataChart/components/FunnelChart/FunnelChart.tsx
  packages/react/src/components/F0DataChart/components/FunnelChart/useFunnelChartOptions.ts
  packages/react/src/components/F0DataChart/components/FunnelChart/utils.ts
  packages/react/src/components/F0DataChart/components/GaugeChart/GaugeChart.tsx
  packages/react/src/components/F0DataChart/components/GaugeChart/useGaugeChartOptions.ts
  packages/react/src/components/F0DataChart/components/HeatmapChart/HeatmapChart.tsx
  packages/react/src/components/F0DataChart/components/HeatmapChart/useHeatmapChartOptions.ts
  packages/react/src/components/F0DataChart/components/PieChart/PieChart.tsx
  packages/react/src/components/F0DataChart/components/PieChart/usePieChartOptions.ts
  packages/react/src/components/F0DataChart/components/RadarChart/RadarChart.tsx
  packages/react/src/components/F0DataChart/components/RadarChart/useRadarChartOptions.ts
  packages/react/src/components/F0DataChart/index.ts
  packages/react/src/components/F0DataChart/skeletons.tsx
  packages/react/src/components/F0DataChart/types.ts
  packages/react/src/components/F0DataChart/utils/colors.ts
  packages/react/src/components/F0DataChart/utils/formatters.ts
  packages/react/src/components/F0DataChart/utils/options.ts
Due: format-react

style(F0DataChart): fix mdx formatting
  packages/react/src/components/F0DataChart/__stories__/F0DataChart.mdx
Due: none

fix(F0DataChart): address PR review feedback
  packages/react/src/components/F0DataChart/components/FunnelChart/FunnelChart.tsx
  packages/react/src/components/F0DataChart/components/FunnelChart/useFunnelChartOptions.ts
  packages/react/src/components/F0DataChart/utils/theme.ts
Due: format-react

test(F0DataChart): add unit tests for utils and component dispatch
  packages/react/src/components/F0DataChart/__tests__/F0DataChart.test.tsx
  packages/react/src/components/F0DataChart/__tests__/colors.test.ts
  packages/react/src/components/F0DataChart/__tests__/formatters.test.ts
  packages/react/src/components/F0DataChart/components/FunnelChart/useFunnelChartOptions.ts
Due: format-react
