Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3587)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: editable table nested design
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.mdx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/README.md
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableCellRenderer.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/TextCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/index.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/DisabledCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/NonEditableCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/consts.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/LoadMore/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/RowLoading/index.tsx
  packages/react/src/experimental/OneTable/TableCell/NestedCell/index.tsx
  packages/react/src/experimental/OneTable/TableCell/TreeConnector/index.tsx
  packages/react/src/experimental/OneTable/TableCell/index.tsx
Due: format-react

fix(tools): follow ups
  packages/react/src/sds/UpsellingKit/ai/F0BookAMeetingCard/useBookAMeetingCardAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0DemoCard/useDemoCardAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0FAQCard/useFAQCardAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0ModuleCard/useModuleCardAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0QuestionCard/useQuestionCardAction.tsx
Due: format-react

feat(F0Select): add group-header item type for static options
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Select/types.ts
Due: format-react

feat(ai-chat): add dashboard/chart canvas components and fix funnel chart crash
  packages/react/src/components/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
  packages/react/src/components/F0DataChart/components/FunnelChart/useFunnelChartOptions.ts
  packages/react/src/components/F0DataChart/utils/colors.ts
  packages/react/src/components/F0DataChart/utils/options.ts
  packages/react/src/components/F0DataChart/utils/theme.ts
  packages/react/src/examples/ApplicationFrame/index.tsx
  packages/react/src/sds/ai/F0AiChat/components/CanvasPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/UserMessage.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayChartAction.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0ChatChart/F0ChatChart.tsx
  packages/react/src/sds/ai/F0ChatChart/__stories__/F0ChatChart.stories.tsx
  packages/react/src/sds/ai/F0ChatChart/index.ts
  packages/react/src/sds/ai/F0ChatChart/types.ts
  packages/react/src/sds/ai/F0ChatDashboard/F0ChatDashboard.tsx
  packages/react/src/sds/ai/F0ChatDashboard/computations.ts
  packages/react/src/sds/ai/F0ChatDashboard/index.ts
  packages/react/src/sds/ai/F0ChatDashboard/types.ts
  packages/react/src/sds/ai/F0ChatReportCard/F0ChatReportCard.tsx
  packages/react/src/sds/ai/F0ChatReportCard/index.ts
  packages/react/src/sds/ai/F0ChatReportCard/types.ts
  packages/react/src/sds/ai/exports.ts
Due: format-react

fix(F0Select): add role=presentation to group-header for accessibility
  packages/react/src/components/F0Select/F0Select.tsx
Due: format-react

fix(F0Select): prevent double separator before group headers
  packages/react/src/components/F0Select/F0Select.tsx
Due: format-react

fix(F0Select): remove orphaned group headers during search
  packages/react/src/components/F0Select/F0Select.tsx
Due: format-react

fix(F0Select): guard against undefined items during orphaned header cleanup
  packages/react/src/components/F0Select/F0Select.tsx
Due: format-react

test(F0Select): add unit tests for group header support
  packages/react/src/components/F0Select/__tests__/F0Select.test.tsx
Due: format-react

refactor(F0Select): remove redundant comments from group header logic
  packages/react/src/components/F0Select/F0Select.tsx
Due: format-react

feat: add dropdown mode to F0ButtonDropdown for primary actions with descriptions
  packages/react/src/components/F0ButtonDropdown/F0ButtonDropdown.tsx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
  packages/react/src/components/F0ButtonDropdown/__tests__/F0ButtonDropdown.test.tsx
  packages/react/src/components/F0ButtonDropdown/types.ts
  packages/react/src/experimental/OneDataCollection/OneDatacollection.tsx
  packages/react/src/experimental/OneDataCollection/actions.tsx
  packages/react/src/experimental/OneDataCollection/components/CollectionActions/CollectionActions.tsx
  packages/react/src/experimental/OneDataCollection/components/CollectionActions/__tests__/CollectionActions.test.tsx
  packages/react/src/experimental/OneDataCollection/hooks/useDataCollectionSource/types.ts
Due: format-react

refactor: simplify dropdown mode trigger to plain string label
  packages/react/src/components/F0ButtonDropdown/F0ButtonDropdown.tsx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
  packages/react/src/components/F0ButtonDropdown/__tests__/F0ButtonDropdown.test.tsx
  packages/react/src/components/F0ButtonDropdown/types.ts
  packages/react/src/experimental/OneDataCollection/OneDatacollection.tsx
  packages/react/src/experimental/OneDataCollection/actions.tsx
  packages/react/src/experimental/OneDataCollection/components/CollectionActions/CollectionActions.tsx
  packages/react/src/experimental/OneDataCollection/components/CollectionActions/__tests__/CollectionActions.test.tsx
  packages/react/src/experimental/OneDataCollection/hooks/useDataCollectionSource/types.ts
Due: format-react

refactor(F0Select): simplify group header rendering with single-pass deferred emit
  packages/react/src/components/F0Select/F0Select.tsx
Due: format-react

test: add dropdown mode item click test for F0ButtonDropdown
  packages/react/src/components/F0ButtonDropdown/__tests__/F0ButtonDropdown.test.tsx
Due: format-react

feat: add F0IconShowcase and migrate icon usage to F0Icon
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0IconShowcase/index.tsx
  packages/react-native/playground/components/IconShowcase/index.tsx
  packages/react-native/playground/components/Select/index.tsx
  packages/react-native/src/components/Activity/ActivityItem/index.spec.tsx
  packages/react-native/src/components/Activity/ActivityItem/index.tsx
  packages/react-native/src/components/Avatars/IconAvatar/index.tsx
  packages/react-native/src/components/Avatars/ModuleAvatar/index.tsx
  packages/react-native/src/components/Badge/index.tsx
  packages/react-native/src/components/Button/index.spec.tsx
  packages/react-native/src/components/Button/index.tsx
  packages/react-native/src/components/Icon/README.md
  packages/react-native/src/components/Icon/__tests__/Icon.spec.tsx
  packages/react-native/src/components/Icon/index.tsx
  packages/react-native/src/components/OneChip/index.tsx
  packages/react-native/src/components/Tags/AlertTab/index.tsx
  packages/react-native/src/components/Tags/RawTag/index.tsx
  packages/react-native/src/components/experimental/Lists/DataList/ItemContainer.tsx
  packages/react-native/src/components/experimental/Lists/DataList/actions/CopyAction.tsx
  packages/react-native/src/components/experimental/Lists/DataList/actions/GenericAction.tsx
  packages/react-native/src/components/experimental/Lists/DataList/index.tsx
  packages/react-native/src/components/experimental/Lists/DetailsItem/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/F0Icon/F0Icon.md
  packages/react-native/src/components/primitives/F0Icon/F0Icon.styles.ts
  packages/react-native/src/components/primitives/F0Icon/F0Icon.tsx
  packages/react-native/src/components/primitives/F0Icon/F0Icon.types.ts
  packages/react-native/src/components/primitives/F0Icon/__tests__/F0Icon.spec.tsx
  packages/react-native/src/components/primitives/F0Icon/__tests__/F0Icon.tokens.spec.ts
  packages/react-native/src/components/primitives/F0Icon/index.ts
  packages/react-native/src/icons/index.ts
Due: format-react-native

feat: button dropdown mode for primary actions with descriptions (#3590)
  packages/react/src/components/F0ButtonDropdown/F0ButtonDropdown.tsx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
  packages/react/src/components/F0ButtonDropdown/__tests__/F0ButtonDropdown.test.tsx
  packages/react/src/components/F0ButtonDropdown/types.ts
  packages/react/src/experimental/OneDataCollection/OneDatacollection.tsx
  packages/react/src/experimental/OneDataCollection/actions.tsx
  packages/react/src/experimental/OneDataCollection/components/CollectionActions/CollectionActions.tsx
  packages/react/src/experimental/OneDataCollection/components/CollectionActions/__tests__/CollectionActions.test.tsx
  packages/react/src/experimental/OneDataCollection/hooks/useDataCollectionSource/types.ts
Due: format-react

chore: release main (#3593)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: new stories & nested adjustments
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneTable/TableCell/TreeConnector/index.tsx
  packages/react/src/experimental/OneTable/TableCell/index.tsx
  packages/react/src/experimental/OneTable/TableCell/utils/nested.ts
Due: format-react

fix: improve error highlight and navigation in F0Form
  packages/react/src/components/F0Form/useErrorNavigation.ts
  packages/react/src/styles.css
Due: format-react

fix: improve errors
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/__stories__/ValidationIssues.test.stories.tsx
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/components/F0Form/components/SwitchGroupRenderer.tsx
  packages/react/src/components/F0Form/fields/FieldRenderer.tsx
  packages/react/src/components/F0Form/fields/richtext/RichTextFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/schema.ts
  packages/react/src/components/F0Form/fields/select/SelectFieldRenderer.tsx
  packages/react/src/components/F0Form/useErrorNavigation.ts
  packages/react/src/experimental/RichText/RichTextEditor/index.tsx
  packages/react/src/styles.css
Due: format-react

feat: avoid double footer
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
Due: format-react

fix: add more highlighting for some fields
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/components/SwitchGroupRenderer.tsx
  packages/react/src/components/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/select/SelectFieldRenderer.tsx
  packages/react/src/styles.css
Due: format-react

fix: rename Inter font assets to match PostScript names for cross-platform resolution FCT-49780
  packages/react-native/README.md
  packages/react-native/app.json
  packages/react-native/assets/fonts/Inter/Inter-Bold.ttf
  packages/react-native/assets/fonts/Inter/Inter-Medium.ttf
  packages/react-native/assets/fonts/Inter/Inter-Regular.ttf
  packages/react-native/assets/fonts/Inter/Inter-SemiBold.ttf
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.md
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.styles.ts
Due: format-react-native

fix: add some validation tests
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/__tests__/F0FormValidation.test.tsx
  packages/react/src/components/F0Form/__tests__/useErrorNavigation.test.ts
  packages/react/src/components/F0Form/fields/date/DateFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/date/TimeFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/daterange/DateRangeFieldRenderer.tsx
  packages/react/src/components/F0Form/useErrorNavigation.ts
Due: format-react

fix: update F0Text styles to include font-bold variant mapping to Inter-Bold font family
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.styles.ts
Due: format-react-native

fix: font differences between Android and iOS (#3596)
  packages/react-native/README.md
  packages/react-native/app.json
  packages/react-native/assets/fonts/Inter/Inter-Bold.ttf
  packages/react-native/assets/fonts/Inter/Inter-Medium.ttf
  packages/react-native/assets/fonts/Inter/Inter-Regular.ttf
  packages/react-native/assets/fonts/Inter/Inter-SemiBold.ttf
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.md
  packages/react-native/src/components/primitives/F0Text/F0Text/F0Text.styles.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3598)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

fix: address copilot comments
  packages/react/src/components/F0Form/__tests__/F0FormValidation.test.tsx
  packages/react/src/components/F0Form/__tests__/useErrorNavigation.test.ts
  packages/react/src/components/F0Form/components/SwitchGroupRenderer.tsx
  packages/react/src/components/F0Form/useErrorNavigation.ts
  packages/react/src/experimental/RichText/RichTextEditor/index.tsx
  packages/react/src/styles.css
Due: format-react

fix: fix the tests
  packages/react/src/components/F0Form/__tests__/F0FormValidation.test.tsx
Due: format-react

fix: add dark mode to storybook in preview mode
  packages/react/.storybook/preview.tsx
Due: format-react

fix: add dark mode to storybook in preview mode (#3599)
  packages/react/.storybook/preview.tsx
Due: format-react

chore: release main (#3601)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: address copilot comments
  packages/react/src/components/F0Form/components/SwitchGroupRenderer.tsx
  packages/react/src/components/F0Form/useErrorNavigation.ts
  packages/react/src/experimental/RichText/RichTextEditor/index.tsx
Due: format-react

fix: error highlight animations & validation fixes across all field types in F0Form (#3597)
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/__stories__/ValidationIssues.test.stories.tsx
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/components/F0Form/__tests__/F0FormValidation.test.tsx
  packages/react/src/components/F0Form/__tests__/useErrorNavigation.test.ts
  packages/react/src/components/F0Form/components/SwitchGroupRenderer.tsx
  packages/react/src/components/F0Form/fields/FieldRenderer.tsx
  packages/react/src/components/F0Form/fields/date/DateFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/date/TimeFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/daterange/DateRangeFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/richtext/RichTextFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/schema.ts
  packages/react/src/components/F0Form/fields/select/SelectFieldRenderer.tsx
  packages/react/src/components/F0Form/useErrorNavigation.ts
  packages/react/src/experimental/RichText/RichTextEditor/index.tsx
  packages/react/src/styles.css
Due: format-react
