Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

refactor: address copilot comments
  packages/react/src/components/F0Button/internal.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseScoreQuestion/ScoreEditOption.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseScoreQuestion/__tests__/ScoreEditOption.test.tsx
Due: format-react

fix(OneDataCollection): preserve selection across infinite-scroll loadMore (#4000)
  packages/react/src/hooks/datasource/__test__/useSelectable.test.tsx
  packages/react/src/hooks/datasource/useSelectable/typings.ts
  packages/react/src/hooks/datasource/useSelectable/useSelectable.ts
  packages/react/src/patterns/OneDataCollection/__stories__/index.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/selectable-bulk-actions.mdx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(OneDataCollection): align group header checkboxes with header and row checkboxes (#3628)
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/__tests__/Table.test.tsx
  packages/react/src/ui/table.tsx
Due: format-react

chore: release main (#4053)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0Tabs): make tab id type generic
  packages/react-native/src/components/F0Tabs/F0Tabs.md
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.types.ts
Due: format-react-native

feat(F0AiChat): add One Run easter egg and unify game state in provider
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/types.ts
  packages/react/src/sds/ai/F0AiChat/components/DinoGame.tsx
  packages/react/src/sds/ai/F0AiChat/components/__stories__/OneRunSprites.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/__tests__/DinoGame.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/history/__tests__/utils.test.ts
  packages/react/src/sds/ai/F0AiChat/components/layout/ChatWindow.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/CreditsPopover.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ResizeHandle.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/WelcomeScreen.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
Due: format-react

fix: issue in the CI with test
  packages/react/vite/vitest.setup.ts
Due: format-react

fix: editable table QA
  packages/react/src/experimental/OneTable/TableCell/NestedCell/index.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/MoneyCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/hooks/useCalculateConectorHeight.ts
Due: format-react

fix: prevent users from editing emoji options when the question component is disabled (#4052)
  packages/react/src/components/F0Button/internal-types.ts
  packages/react/src/components/F0Button/internal.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseScoreQuestion/ScoreEditOption.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseScoreQuestion/__tests__/ScoreEditOption.test.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/RatingQuestion/index.stories.tsx
  packages/react/vite/vitest.setup.ts
Due: format-react

chore: release main (#4056)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0AiChat): stop fix, chat-wide drop zone, canvas polish, history (#4038)
  packages/react/src/components/RichText/FileItem/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/ApplicationFrame/index.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/persistClarifyingResolution.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/types.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/useClarifyingQuestionAction.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/components/CanvasCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/components/__tests__/CanvasCard.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/DinoGame.tsx
  packages/react/src/sds/ai/F0AiChat/components/__stories__/OneRunSprites.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/__tests__/DinoGame.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/history/__tests__/utils.test.ts
  packages/react/src/sds/ai/F0AiChat/components/history/components/ThreadItem.tsx
  packages/react/src/sds/ai/F0AiChat/components/history/utils.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatInput.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/AttachedFilesList.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/DropOverlay.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/PendingQuoteChip.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/TextareaField.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/ClarifyingQuestionPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/StepHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/__tests__/ClarifyingQuestionPanel.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/__stories__/ClarifyingQuestion.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/CanvasPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ChatHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ChatWindow.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/CreditsPopover.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ResizeHandle.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/ScrollShadow.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/WelcomeScreen.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
Due: format-react

fix(F0Select): fix collapsible groups hiding records, prevent jitter, improve UX
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Select/__tests__/F0Select.test.tsx
  packages/react/src/hooks/datasource/__test__/useGroups.test.ts
  packages/react/src/hooks/datasource/useGroups.ts
  packages/react/src/lib/Await/Await.tsx
  packages/react/src/ui/ChevronToggle/ChevronToggle.tsx
  packages/react/src/ui/GroupHeader/GroupHeader.tsx
  packages/react/src/ui/GroupHeader/__tests__/GroupHeader.test.tsx
  packages/react/src/ui/Select/__stories__/select.stories.tsx
  packages/react/src/ui/Select/components/SelectContent.tsx
  packages/react/src/ui/Select/typings.ts
Due: format-react

chore: release main (#4057)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0AiChat): migrate dashboard header to ResourceHeader with status + creator metadata
  packages/react/src/experimental/Information/Headers/BaseHeader/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/ExportDropdown/ExportDropdown.tsx
  packages/react/src/patterns/ResourceHeader/index.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/displayDashboard/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardHeader.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/__tests__/DashboardHeader.test.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/types.ts
Due: format-react

fix(SaveDashboardDialog): adjust dialog width and enhance description field
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/SaveDashboardDialog.tsx
Due: format-react

feat(SaveDashboardDialog): use Textarea for description field
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/SaveDashboardDialog.tsx
Due: format-react

feat(F0AnalyticsDashboard): enhance export functionality and UI updates
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/DashboardItem.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/ExportDropdown.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/CollectionItem/CollectionItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useCollectionDownloadActions.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/components/Table.tsx
Due: format-react

feat(DashboardHeader): prefer backend title/description over chat history once saved
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardHeader.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/types.ts
Due: format-react

fix(Await): clear stale error and value when resolve changes
  packages/react/src/lib/Await/Await.tsx
Due: format-react

fix(F0Select): fix collapsible groups hiding records and improve group UX (#4039)
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Select/__tests__/F0Select.test.tsx
  packages/react/src/hooks/datasource/__test__/useGroups.test.ts
  packages/react/src/hooks/datasource/useGroups.ts
  packages/react/src/lib/Await/Await.tsx
  packages/react/src/ui/ChevronToggle/ChevronToggle.tsx
  packages/react/src/ui/GroupHeader/GroupHeader.tsx
  packages/react/src/ui/GroupHeader/__tests__/GroupHeader.test.tsx
  packages/react/src/ui/Select/__stories__/select.stories.tsx
  packages/react/src/ui/Select/components/SelectContent.tsx
  packages/react/src/ui/Select/typings.ts
Due: format-react

chore: release main (#4058)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(editable-table): null values in number cells, fix input focus loss and action column width (#4050)
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/BaseCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/NumberCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/BaseCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/ErrorTooltip.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/NumberCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/index.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
Due: format-react

chore: release main (#4059)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(PageHeader): fix embedded back button not navigating (#4032)
  packages/react/src/experimental/Navigation/Header/PageHeader/index.tsx
Due: format-react

chore: release main (#4060)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0AiChat): self-heal dashboard recipes via /compute repair
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/useDashboardCompute.ts
Due: format-react

refactor(F0Tabs): address review comments
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
Due: format-react-native

refactor(F0AnalyticsDashboard): remove close button props and enhance export feedback
  packages/react/src/experimental/Information/Headers/BaseHeader/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/ExportDropdown.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/ExportDropdown/ExportDropdown.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useCollectionDownloadActions.ts
  packages/react/src/patterns/F0AnalyticsDashboard/utils/downloadHelpers.ts
  packages/react/src/patterns/ResourceHeader/index.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardHeader.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/index.tsx
Due: format-react

chore(F0AiChat): remove DinoGame easter egg
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/DinoGame.tsx
  packages/react/src/sds/ai/F0AiChat/components/__stories__/OneRunSprites.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/__tests__/DinoGame.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ChatWindow.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/CreditsPopover.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
Due: format-react

feat(CreditsPopover): add Dino mini-game launch functionality and update layout
  packages/react/src/sds/ai/F0AiChat/components/layout/CreditsPopover.tsx
Due: format-react

fix(F0AiChat): remove DinoGame easter egg (#4062)
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/DinoGame.tsx
  packages/react/src/sds/ai/F0AiChat/components/__stories__/OneRunSprites.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/__tests__/DinoGame.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ChatWindow.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/CreditsPopover.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
Due: format-react

chore: release main (#4063)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0AiChat): migrate dashboard header to ResourceHeader with status + creator metadata (#4008)
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/DashboardItem.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/ExportDropdown.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/CollectionItem/CollectionItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/ExportDropdown/ExportDropdown.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useCollectionDownloadActions.ts
  packages/react/src/patterns/F0AnalyticsDashboard/utils/downloadHelpers.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/displayDashboard/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardHeader.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/SaveDashboardDialog.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/__tests__/DashboardHeader.test.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/index.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/types.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/components/Table.tsx
Due: format-react
