Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

fix: replace any annotations with proper types in F0ButtonDropdown test mock
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableTableAddRow.test.tsx
Due: format-react

fix: handle object refs in AddRowRow combinedRef
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/AddRow/index.tsx
Due: format-react

chore: support only expo sdk 54+ new arch
  packages/react-native/README.md
  packages/react-native/babel.config.cjs
  packages/react-native/docs/new-architecture.md
  packages/react-native/package.json
  pnpm-lock.yaml
Due: format-react-native

docs(react-native): clarify Reanimated/Worklets Babel plugin requirements
  packages/react-native/README.md
  packages/react-native/docs/new-architecture.md
Due: format-react-native

refactor: extract shared NestedActionRow to deduplicate AddRowRow and LoadMoreRow
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/LoadMore/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedActionRow/index.tsx
Due: format-react

fix(DashboardGrid): adjust grid gap to improve layout
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/components/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/components/F0DataChart/utils/options.ts
Due: format-react

feat(DashboardItem): integrate i18n for action labels to support localization
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
Due: format-react

fix: add lms icon to modules
  packages/core/assets/icons/modules/LMS.svg
  packages/react/src/components/avatars/F0AvatarModule/modules.ts
  packages/react/src/icons/modules/LMS.tsx
  packages/react/src/icons/modules/index.ts
  packages/react/src/sds/UpsellingKit/ProductCard/index.stories.tsx
Due: format-react

feat: add support for presentForm tool
  packages/react/src/components/F0Form/F0AiFormPresenter.tsx
  packages/react/src/components/F0Form/F0AiFormRegistry.tsx
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/__tests__/F0AiFormRegistryAvailableDefinitions.test.tsx
  packages/react/src/components/F0Form/__tests__/F0AiFormRegistryPresent.test.tsx
  packages/react/src/components/F0Form/index.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useF0AiFormActions.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/usePresentFormAction.ts
Due: format-react

feat(Dialog): enable width variants for side panel positions
  packages/react/src/components/F0Dialog/F0DialogInternal.tsx
  packages/react/src/components/F0Dialog/__stories__/F0Modal.stories.tsx
  packages/react/src/components/F0Dialog/internal-types.ts
Due: format-react

refactor(F0Dialog): reduce redundant storybook story variants
  packages/react/src/components/F0Dialog/__stories__/F0Modal.stories.tsx
Due: format-react

refactor(F0Dialog): remove alert icon
  packages/react/src/components/F0Dialog/__stories__/F0Modal.stories.tsx
Due: format-react

feat: voice mode
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiChat.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/ChatHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

fix: add lms icon to modules (#3699)
  packages/core/assets/icons/modules/LMS.svg
  packages/react/src/components/avatars/F0AvatarModule/modules.ts
  packages/react/src/icons/modules/LMS.tsx
  packages/react/src/icons/modules/index.ts
  packages/react/src/sds/UpsellingKit/ProductCard/index.stories.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3701)
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(ResourceHeader): :sparkles: Add loading prop to primary/secondary actions
  packages/react/src/experimental/Information/Headers/BaseHeader/index.tsx
  packages/react/src/experimental/Information/Headers/ResourceHeader/index.stories.tsx
  packages/react/src/experimental/Information/Headers/index.mdx
  packages/react/src/experimental/Information/utils.tsx
Due: format-react

refactor: remove icon prop from F0ButtonDropdown dropdown mode
  packages/react/src/components/F0ButtonDropdown/F0ButtonDropdown.tsx
  packages/react/src/components/F0ButtonDropdown/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneTable/TableCell/NestedCell/index.tsx
Due: format-react

feat(editable-table): right-align text inside input for numeric columns (#3647)
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/TextCell.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/TextCell.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3702)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(editable-table): add cell-level error tooltip state (#3690)
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/BaseCell.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/BaseCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/DateCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/ErrorTooltip.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/SelectCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/TextCell.tsx
Due: format-react

chore: release main (#3703)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3704)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: Add row with dropdown (#3679)
  packages/react/src/components/F0ButtonDropdown/F0ButtonDropdown.tsx
  packages/react/src/components/F0ButtonDropdown/theme.ts
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableTableAddRow.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/context/AddRowContext.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/AddRow/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedActionRow/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/__tests__/NestedRow.spec.tsx
  packages/react/src/experimental/OneTable/TableCell/NestedCell/index.tsx
  packages/react/src/experimental/OneTable/TableCell/TreeConnector/index.tsx
Due: format-react

chore: release main (#3705)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: allow initial values in wizard
  packages/react/src/components/F0Form/F0AiFormPresenter.tsx
  packages/react/src/components/F0Form/F0AiFormRegistry.tsx
  packages/react/src/components/F0Form/__tests__/F0AiFormRegistryPresent.test.tsx
Due: format-react

feat(Dialog): enable width variants for side panel positions (#3492)
  packages/react/src/components/F0Dialog/F0DialogInternal.tsx
  packages/react/src/components/F0Dialog/__stories__/F0Modal.stories.tsx
  packages/react/src/components/F0Dialog/internal-types.ts
Due: format-react

chore: release main (#3706)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: add Storybook component diff notifications via GitHub Issues
  .github/workflows/build-and-deploy-storybook.yaml
  scripts/storybook-diff.mjs
  scripts/storybook-snapshot.json
Due: none

refactor: mix stories together
  packages/react/src/components/F0Form/F0AiFormPresenter.tsx
  packages/react/src/components/F0Form/F0AiFormRegistry.tsx
  packages/react/src/components/F0Form/__tests__/F0AiFormRegistryPresent.test.tsx
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/usePresentFormAction.ts
Due: format-react

feat(storybook-diff): classify changes into Breaking/New Atoms/Visual Tweaks with direct story URLs
  scripts/storybook-diff.mjs
  scripts/storybook-snapshot.json
Due: none

feat(storybook-diff): refine classification — Breaking/Visual Tweaks/New Atoms/Low Impact with /docs/ links
  scripts/storybook-diff.mjs
Due: none

feat(storybook-diff): add 'Acción requerida' checklist when Foundations change
  scripts/storybook-diff.mjs
Due: none

fix(f0-form): fix row field alignment when validation errors appear
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/components/RowRenderer.tsx
Due: format-react
