Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

feat: children with different ids
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
Due: format-react

fix: children rows not selected for bulk actions in EditableTable
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/LoadMore/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/RowLoading/index.tsx
  packages/react/src/hooks/datasource/useSelectable/useSelectable.ts
Due: format-react

feat: wip
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/hooks/datasource/useSelectable/useSelectable.ts
Due: format-react

fix: cascade select-all to nested children in DataCollection
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
Due: format-react

feat: new item to datalist
  packages/react-native/playground/components/DataListShowcase/index.tsx
  packages/react-native/playground/components/DetailsItemsListShowcase/index.tsx
  packages/react-native/src/components/experimental/Lists/DataList/index.tsx
  packages/react-native/src/components/experimental/Lists/DetailsItem/index.tsx
Due: format-react-native

feat(F0Link): introduce F0Link component with variants and sizes, including showcase and docs
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0LinkShowcase/index.tsx
  packages/react-native/src/components/F0Link/F0Link.md
  packages/react-native/src/components/F0Link/F0Link.styles.ts
  packages/react-native/src/components/F0Link/F0Link.tsx
  packages/react-native/src/components/F0Link/F0Link.types.ts
  packages/react-native/src/components/F0Link/__tests__/F0Link.spec.tsx
  packages/react-native/src/components/F0Link/__tests__/__snapshots__/F0Link.spec.tsx.snap
  packages/react-native/src/components/F0Link/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

fix(one-data-collection): add summary placeholders (FCT-48392) (#3538)
  packages/react/src/experimental/OneDataCollection/__stories__/summary.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
Due: format-react

fix(F0Link): resolve duplicate numberOfLines prop and update className handling in F0Link component
  packages/react-native/src/components/F0Link/F0Link.md
  packages/react-native/src/components/F0Link/F0Link.tsx
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3678)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(react): handle query params in isActive link matching
  packages/react/src/lib/linkHandler.spec.tsx
  packages/react/src/lib/linkHandler.tsx
Due: format-react

fix(react): handle query params in isActive link matching (#3680)
  packages/react/src/lib/linkHandler.spec.tsx
  packages/react/src/lib/linkHandler.tsx
Due: format-react

chore: release main (#3681)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: data collection grouped headers (#3616)
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/RowLoading/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/hooks/useHeaderGroups.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
  packages/react/src/experimental/OneTable/TableHead/index.tsx
Due: format-react

chore: release main (#3682)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: one tools to interact with F0Form
  packages/react/src/components/F0Form/F0AiFormRegistry.tsx
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/components/F0FormSection.tsx
  packages/react/src/components/F0Form/describeFormSchema.ts
  packages/react/src/components/F0Form/index.tsx
  packages/react/src/components/F0Form/types.ts
  packages/react/src/components/F0Form/useF0Form.ts
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useF0AiFormActions.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormDescribeAction.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormFillAction.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormGetStateAction.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormListAction.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormSubmitAction.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
Due: format-react

fix(react): fix subfilter bugs and add WithSubfilters story
  packages/react/src/components/OneFilterPicker/OneFilterPicker.tsx
  packages/react/src/components/OneFilterPicker/filterTypes/InFilter/InFilter.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/filters/filters.stories.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
Due: format-react

feat(ai): add F0ChatChart, F0ChatDashboard, and F0ChatReportCard components
  packages/react/src/sds/ai/F0ChatChart/F0ChatChart.tsx
  packages/react/src/sds/ai/F0ChatChart/__stories__/F0ChatChart.stories.tsx
  packages/react/src/sds/ai/F0ChatChart/index.ts
  packages/react/src/sds/ai/F0ChatChart/types.ts
  packages/react/src/sds/ai/F0ChatDashboard/F0ChatDashboard.tsx
  packages/react/src/sds/ai/F0ChatDashboard/computations.ts
  packages/react/src/sds/ai/F0ChatDashboard/index.ts
  packages/react/src/sds/ai/F0ChatDashboard/types.ts
  packages/react/src/sds/ai/F0ChatReportCard/F0ChatReportCard.tsx
  packages/react/src/sds/ai/F0ChatReportCard/index.ts
  packages/react/src/sds/ai/F0ChatReportCard/types.ts
  packages/react/src/sds/ai/exports.ts
Due: format-react

feat(ai): add canvas panel and displayChart/displayDashboard copilot actions
  packages/react/src/examples/ApplicationFrame/index.tsx
  packages/react/src/sds/ai/F0AiChat/components/CanvasPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/UserMessage.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayChartAction.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

fix(ai): address PR #3623 copilot review comments
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/CanvasPanel.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0ChatChart/__stories__/F0ChatChart.stories.tsx
  packages/react/src/sds/ai/F0ChatDashboard/F0ChatDashboard.tsx
  packages/react/src/sds/ai/F0ChatDashboard/computations.ts
  packages/react/src/sds/ai/F0ChatReportCard/F0ChatReportCard.tsx
Due: format-react

refactor(ai): reorganize imports and enhance feedback handling in chat components
  packages/react/src/sds/ai/F0AiChat/__stories__/AssistantMessage.stories.tsx
  packages/react/src/sds/ai/F0AiChat/__tests__/MessagesContainer.test.ts
  packages/react/src/sds/ai/F0AiChat/components/AssistantMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/FeedbackModal.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainerFullscreen.tsx
  packages/react/src/sds/ai/F0AiChat/components/TurnFeedback.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useOrchestratorThinkingAction.tsx
  packages/react/src/sds/ai/F0AiChat/hooks/useScrollToBottom.ts
  packages/react/src/sds/ai/F0AiChat/providers/FeedbackProvider.tsx
  packages/react/src/sds/ai/F0AiChat/utils/turnUtils.ts
  packages/react/src/sds/ai/F0DataDownload/F0DataDownload.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/components/Table.tsx
Due: format-react

fix(ai): address remaining PR #3623 review comments
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0ChatChart/__tests__/F0ChatChart.test.tsx
  packages/react/src/sds/ai/F0ChatDashboard/__stories__/F0ChatDashboard.stories.tsx
  packages/react/src/sds/ai/F0ChatDashboard/__tests__/computations.test.ts
  packages/react/src/sds/ai/F0ChatReportCard/__stories__/F0ChatReportCard.stories.tsx
  packages/react/src/sds/ai/F0ChatReportCard/__tests__/F0ChatReportCard.test.tsx
Due: format-react

feat(ai): enhance message rendering in chat components
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainerFullscreen.tsx
Due: format-react

fix(ai): address 2nd round copilot review comments on PR #3623
  packages/react/src/sds/ai/F0ChatChart/F0ChatChart.tsx
  packages/react/src/sds/ai/F0ChatChart/__tests__/F0ChatChart.test.tsx
  packages/react/src/sds/ai/F0ChatDashboard/__tests__/computations.test.ts
  packages/react/src/sds/ai/F0ChatDashboard/computations.ts
  packages/react/src/sds/ai/F0ChatReportCard/__tests__/F0ChatReportCard.test.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/components/Table.tsx
Due: format-react

feat(ai): add all chart types support to F0ChatChart
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayChartAction.tsx
  packages/react/src/sds/ai/F0ChatChart/F0ChatChart.tsx
  packages/react/src/sds/ai/F0ChatChart/__stories__/F0ChatChart.stories.tsx
  packages/react/src/sds/ai/F0ChatChart/index.ts
  packages/react/src/sds/ai/F0ChatChart/types.ts
Due: format-react

fix(ai): move F0ChatDashboard to separate build entry to fix OOM
  packages/react/src/F0ChatDashboard.ts
  packages/react/src/sds/ai/exports.ts
  packages/react/vite.config.ts
Due: format-react

refactor(ai): update styling and component sizes in F0DataDownload and Table components
  packages/react/src/sds/ai/F0DataDownload/F0DataDownload.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/components/Table.tsx
Due: format-react

fix(ci): increase Node heap size for react build to prevent OOM
  .github/workflows/build-and-publish-alpha.yaml
Due: none

feat(ai): enhance F0AnalyticsDashboard with edit mode and layout change support
  packages/react/src/components/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/CollectionItem/CollectionItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/MetricItem/MetricItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/types.ts
  packages/react/src/components/F0Dialog/F0DialogInternal.tsx
  packages/react/src/components/F0Dialog/internal-types.ts
  packages/react/src/examples/ApplicationFrame/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/__tests__/MessagesContainer.test.ts
  packages/react/src/sds/ai/F0AiChat/__tests__/fetchThreadMessages.test.ts
  packages/react/src/sds/ai/F0AiChat/components/CanvasPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/ChatHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/ChatHistoryDialog.tsx
  packages/react/src/sds/ai/F0AiChat/components/FeedbackModal.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0AiChat/hooks/useChatHistory.ts
  packages/react/src/sds/ai/F0AiChat/hooks/useMessageScroll.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0AiChat/utils/fetchThreadMessages.ts
  packages/react/src/sds/ai/F0AiChat/utils/local-storage.ts
  packages/react/src/sds/ai/F0ChatDashboard/F0ChatDashboard.tsx
  packages/react/src/sds/ai/F0ChatDashboard/__stories__/F0ChatDashboard.stories.tsx
  packages/react/src/sds/ai/F0ChatDashboard/__tests__/computations.test.ts
  packages/react/src/sds/ai/F0ChatDashboard/computations.ts
  packages/react/src/sds/ai/F0ChatDashboard/index.ts
  packages/react/src/sds/ai/F0ChatDashboard/types.ts
  packages/react/src/sds/ai/F0ChatDashboard/useDashboardCompute.ts
  packages/react/src/sds/ai/F0ChatDashboard/useSaveDashboardConfig.ts
  packages/react/src/sds/ai/F0ChatReportCard/__stories__/F0ChatReportCard.stories.tsx
  packages/react/src/sds/ai/F0ChatReportCard/__tests__/F0ChatReportCard.test.tsx
  packages/react/src/sds/ai/exports.ts
Due: format-react

refactor(ai): update styling in MessagesContainer component for improved layout
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
Due: format-react

feat(ai): add chat history functionality and enhance message handling
  packages/react/src/examples/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/__tests__/MessagesContainer.test.ts
  packages/react/src/sds/ai/F0AiChat/components/CanvasPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/ChatHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/ChatWindow.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainerFullscreen.tsx
  packages/react/src/sds/ai/F0AiChat/components/ResizeHandle.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0AiChat/utils/turnUtils.ts
  packages/react/src/sds/ai/F0ChatDashboard/__stories__/F0ChatDashboard.stories.tsx
Due: format-react

refactor(ai): remove F0ChatChart and related components to streamline AI dashboard functionality
  packages/react/src/sds/ai/F0AiChat/__tests__/fetchThreadMessages.test.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayChartAction.tsx
  packages/react/src/sds/ai/F0AiChat/utils/fetchThreadMessages.ts
  packages/react/src/sds/ai/F0ChatChart/F0ChatChart.tsx
  packages/react/src/sds/ai/F0ChatChart/__stories__/F0ChatChart.stories.tsx
  packages/react/src/sds/ai/F0ChatChart/__tests__/F0ChatChart.test.tsx
  packages/react/src/sds/ai/F0ChatChart/index.ts
  packages/react/src/sds/ai/F0ChatChart/types.ts
  packages/react/src/sds/ai/F0ChatReportCard/F0ChatReportCard.tsx
  packages/react/src/sds/ai/exports.ts
Due: format-react

refactor(ai): remove optional description from dashboard types and update related components
  packages/react/src/sds/ai/F0AiChat/components/CanvasPanel.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0ChatDashboard/types.ts
  packages/react/src/sds/ai/F0ChatReportCard/F0ChatReportCard.tsx
  packages/react/src/sds/ai/F0ChatReportCard/__stories__/F0ChatReportCard.stories.tsx
  packages/react/src/sds/ai/F0ChatReportCard/__tests__/F0ChatReportCard.test.tsx
Due: format-react

feat(ai): enhance F0AnalyticsDashboard with flexible grid layout and new item properties
  packages/react/src/components/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/components/F0AnalyticsDashboard/__stories__/mockDataMixed.ts
  packages/react/src/components/F0AnalyticsDashboard/components/CollectionItem/CollectionItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardGrid/useColumnResize.ts
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardItem/DashboardItemSkeleton.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/MetricItem/MetricItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/types.ts
  packages/react/src/components/Utilities/F0GridStack/F0GridStack.tsx
  packages/react/src/components/Utilities/F0GridStack/components/grid-stack-provider.tsx
  packages/react/src/sds/ai/F0AiChat/components/CanvasPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/ChatHeader.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/providers/savedDashboardConfigStore.ts
  packages/react/src/sds/ai/F0ChatDashboard/F0ChatDashboard.tsx
  packages/react/src/sds/ai/F0ChatDashboard/types.ts
  packages/react/src/sds/ai/F0ChatReportCard/F0ChatReportCard.tsx
  packages/react/src/sds/ai/F0ChatReportCard/types.ts
Due: format-react

feat(i18n): add report card and data download translations to enhance user experience
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0ChatReportCard/F0ChatReportCard.tsx
  packages/react/src/sds/ai/F0DataDownload/F0DataDownload.tsx
Due: format-react

Potential fix for pull request finding
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
Due: format-react

fix(i18n): update delete label translation in DashboardGrid component
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
Due: format-react

feat: apply audit changes
  packages/react-native/playground/components/DataListShowcase/index.tsx
  packages/react-native/playground/components/DetailsItemsListShowcase/index.tsx
  packages/react-native/src/components/experimental/Lists/DataList/index.tsx
  packages/react-native/src/components/experimental/Lists/DetailsItem/index.tsx
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/index.tsx
Due: format-react-native

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
