Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

chore: release main (#3366)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3368)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat: add onFullscreenChange callback to RichTextEditor (#3325)
  packages/react/src/experimental/RichText/RichTextEditor/index.spec.tsx
  packages/react/src/experimental/RichText/RichTextEditor/index.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3370)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(theme): add comprehensive typography scale to theme.css
  packages/react-native/src/styles/theme.css
Due: format-react-native

feat: new icons, add eas.json for build configuration, and enhance README with Expo Go details
  packages/react-native/README.md
  packages/react-native/app.json
  packages/react-native/assets/images/adaptive-icon.png
  packages/react-native/assets/images/expo-go-qr.svg
  packages/react-native/assets/images/icon.png
  packages/react-native/assets/images/ios-dark.png
  packages/react-native/assets/images/ios-light.png
  packages/react-native/assets/images/ios-tinted.png
  packages/react-native/assets/images/splash-icon.png
  packages/react-native/eas.json
  packages/react-native/playground/app/_layout.tsx
Due: format-react-native

chore(one-data-collection): wip editable table visualization
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations.mdx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.mdx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/settings/SettingsRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/settings/handleResetSettings.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/TableSettings.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/collectionViewRegistry.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

fix: theme typography tokens (#3371)
  packages/react-native/README.md
  packages/react-native/app.json
  packages/react-native/assets/images/adaptive-icon.png
  packages/react-native/assets/images/expo-go-qr.svg
  packages/react-native/assets/images/icon.png
  packages/react-native/assets/images/ios-dark.png
  packages/react-native/assets/images/ios-light.png
  packages/react-native/assets/images/ios-tinted.png
  packages/react-native/assets/images/splash-icon.png
  packages/react-native/eas.json
  packages/react-native/playground/app/_layout.tsx
  packages/react-native/src/styles/theme.css
Due: format-react-native

chore: release main (#3372)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat(OneDataCollection): show Input in EditableTable only for text-type columns
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
Due: format-react

fix: update Tailwind configuration and export F0Box component
  packages/react/src/components/F0Box/F0Box.tsx
  packages/react/src/components/F0Box/__stories__/F0Box.stories.tsx
  packages/react/src/components/F0Box/index.tsx
  packages/react/src/components/F0Box/types.ts
  packages/react/src/components/F0Box/utils/background.ts
  packages/react/src/components/F0Box/utils/border.ts
  packages/react/src/components/F0Box/utils/dimensions.ts
  packages/react/src/components/F0Box/utils/display.ts
  packages/react/src/components/F0Box/utils/divider.ts
  packages/react/src/components/F0Box/utils/flex.ts
  packages/react/src/components/F0Box/utils/grid.ts
  packages/react/src/components/F0Box/utils/index.ts
  packages/react/src/components/F0Box/utils/margin.ts
  packages/react/src/components/F0Box/utils/overflow.ts
  packages/react/src/components/F0Box/utils/padding.ts
  packages/react/src/components/F0Box/utils/responsive-safelist.ts
  packages/react/src/components/F0Box/utils/responsive.ts
  packages/react/src/components/exports.ts
Due: format-react

refactor: replace Plus icon with New icon in ChatHeader component
  packages/react/src/ai/F0AiChat/components/ChatHeader.tsx
Due: format-react

fix: proper types for select type
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/f0Schema.ts
  packages/react/src/components/F0Form/fields/select/types.ts
Due: format-react

feat(F0Box): add position and border style props, extend gap sizes
  packages/react/src/components/F0Box/F0Box.tsx
  packages/react/src/components/F0Box/index.tsx
  packages/react/src/components/F0Box/types.ts
  packages/react/src/components/F0Box/utils/border.ts
  packages/react/src/components/F0Box/utils/display.ts
  packages/react/src/components/F0Box/utils/flex.ts
  packages/react/src/components/F0Box/utils/responsive-safelist.ts
  packages/react/src/components/F0Box/utils/responsive.ts
Due: format-react

chore: add ai building blocks team as codeowner of ai directory
  CODEOWNERS
Due: none

feat: add todo state to TasksList component
  packages/react/src/experimental/Widgets/Content/TasksList/TaskItem/index.tsx
  packages/react/src/experimental/Widgets/Content/TasksList/index.tsx
Due: format-react

fix: update order
  packages/react/src/experimental/Widgets/Content/TasksList/TaskItem/index.tsx
  packages/react/src/experimental/Widgets/Content/TasksList/index.tsx
Due: format-react

docs: update stories
  packages/react/src/experimental/Widgets/Content/TasksList/TaskItem/index.stories.tsx
  packages/react/src/experimental/Widgets/Content/TasksList/index.stories.tsx
Due: format-react

fix: missing value-display
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.spec.tsx
Due: format-react

fix: correct import path for Reactions Picker CSS
  packages/react/src/sds/CoCreationForm/BaseScoreQuestion/ScoreEditOption.tsx
Due: format-react

style: apply formatting
  packages/react/src/sds/Profile/TasksList/TaskItem/index.tsx
  packages/react/src/ui/Select/components/SelectContent.tsx
Due: format-react

fix: clamp image resize to editor width
  packages/react/src/experimental/RichText/CoreEditor/Extensions/Image/index.tsx
Due: format-react

refactor(F0Box): enhance spacing and margin tokens, update responsive utilities
  packages/react/src/components/F0Box/F0Box.tsx
  packages/react/src/components/F0Box/__stories__/F0Box.stories.tsx
  packages/react/src/components/F0Box/types.ts
  packages/react/src/components/F0Box/utils/background.ts
  packages/react/src/components/F0Box/utils/border.ts
  packages/react/src/components/F0Box/utils/flex.ts
  packages/react/src/components/F0Box/utils/margin.ts
  packages/react/src/components/F0Box/utils/padding.ts
  packages/react/src/components/F0Box/utils/responsive-safelist.ts
  packages/react/src/components/F0Box/utils/responsive.ts
  packages/react/src/experimental/Navigation/F0TableOfContent/index.tsx
Due: format-react

feat: introduce F0Text component with semantic typography and color variants
  packages/react-native/global.css
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/app/(tabs)/tokens.tsx
  packages/react-native/playground/components/F0TextShowcase/F0TextShowcase.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/Text/F0Text.md
  packages/react-native/src/components/primitives/Text/F0Text.tsx
  packages/react-native/src/components/primitives/Text/Text.styles.ts
  packages/react-native/src/components/primitives/Text/Text.types.ts
  packages/react-native/src/components/primitives/Text/__tests__/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/primitives/Text/__tests__/index.spec.tsx
  packages/react-native/src/styles/theme.css
Due: format-react-native

feat: add F0Text styles and types for semantic typography variants
  packages/react-native/src/components/primitives/Text/F0Text.styles.ts
  packages/react-native/src/components/primitives/Text/F0Text.tsx
  packages/react-native/src/components/primitives/Text/F0Text.types.ts
Due: format-react-native
