Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

fix: date not setting properly
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormFillAction.ts
  packages/react/src/sds/ai/F0AiChat/canvas/components/CanvasCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCard.tsx
Due: format-react

fix: scroll issue
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCard.tsx
Due: format-react

feat(F0Tabs): add separatorWidth prop for customizable separator width and update documentation
  packages/react-native/AGENTS.md
  packages/react-native/playground/components/F0TabsShowcase/index.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.md
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.types.ts
  packages/react-native/src/components/F0Tabs/__tests__/F0Tabs.spec.tsx
  packages/react-native/src/components/F0Tabs/__tests__/__snapshots__/F0Tabs.spec.tsx.snap
Due: format-react-native

fix: styles
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/components/CanvasCard.tsx
Due: format-react

fix: failing tests
  packages/react/src/patterns/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/__tests__/formActions.test.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/components/__tests__/CanvasCard.test.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/__tests__/DashboardCard.test.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCard.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/__tests__/ActiveFormCard.test.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3952)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0Tabs): introduce contentInset prop for customizable horizontal insets and update docs
  packages/react-native/playground/components/F0TabsShowcase/index.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.md
  packages/react-native/src/components/F0Tabs/F0Tabs.styles.ts
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.types.ts
  packages/react-native/src/components/F0Tabs/__tests__/__snapshots__/F0Tabs.spec.tsx.snap
Due: format-react-native

fix(EditableTable): improve nested row add button alignment and number cell clamping (#3947)
  packages/react/src/experimental/OneTable/TableCell/utils/nested.ts
  packages/react/src/hooks/datasource/useSelectable/useSelectable.ts
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableTableAddRow.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/NumberCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/NumberCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/hooks/useInputTextWidth.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/hooks/useNumberCellLayout.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/Row.tsx
Due: format-react

chore: release main (#3953)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(skill): address Copilot review comments on f0-docs skill
  packages/react/.skills/f0-docs/SKILL.md
  packages/react/.skills/f0-docs/references/component-analysis.md
  packages/react/.skills/f0-docs/references/component-status.md
  packages/react/.skills/f0-docs/references/documentation-quality.md
  packages/react/.skills/f0-docs/references/mdx-authoring.md
Due: format-react

fix(F0Tabs): update contentInset values in documentation and implementation for consistency
  packages/react-native/playground/components/F0TabsShowcase/index.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.md
  packages/react-native/src/components/F0Tabs/F0Tabs.styles.ts
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.types.ts
  packages/react-native/src/components/F0Tabs/__tests__/__snapshots__/F0Tabs.spec.tsx.snap
Due: format-react-native

feat(F0Tabs): improvements and changes (#3948)
  packages/react-native/AGENTS.md
  packages/react-native/playground/components/F0TabsShowcase/index.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.md
  packages/react-native/src/components/F0Tabs/F0Tabs.styles.ts
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.types.ts
  packages/react-native/src/components/F0Tabs/__tests__/F0Tabs.spec.tsx
  packages/react-native/src/components/F0Tabs/__tests__/__snapshots__/F0Tabs.spec.tsx.snap
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3955)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat: add support to pass custom form component to canvas form content
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

feat: add support to pass FormComponent through F0Provider
  packages/react/src/lib/providers/f0/f0-provider.tsx
  packages/react/src/patterns/F0Form/types.ts
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

feat(F0AiChat): saved dashboards, canvas actions, pending context
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/displayDashboard/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContext.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardHeader.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/SaveDashboardDialog.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/__tests__/DashboardHeader.test.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/__tests__/SaveDashboardDialog.test.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/index.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/types.ts
  packages/react/src/sds/ai/F0AiChat/canvas/index.ts
  packages/react/src/sds/ai/F0AiChat/canvas/types.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/UserMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/shared/CopilotFunctionBridge.tsx
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

refactor(F0AiChat): enhance dashboard unsaved state handling
  packages/react/src/sds/ai/F0AiChat/actions/core/displayDashboard/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContext.tsx
Due: format-react

feat: add VacancyEntityRef and RequisitionEntityRef
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/components/entityRefRegistry.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/requisition/RequisitionEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/requisition/__tests__/RequisitionEntityRef.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/requisition/types.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/vacancy/VacancyEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/vacancy/__tests__/VacancyEntityRef.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/vacancy/types.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/types.ts
  packages/react/src/sds/ai/F0AiChat/documentation/ENTITY_REFS.md
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

fix: add missing tests
  packages/react/src/lib/exports.ts
  packages/react/src/patterns/F0Form/index.tsx
  packages/react/src/patterns/F0Form/types.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
Due: format-react

feat(docs): add f0-docs skill for MDX documentation workflow (#3893)
  packages/react/.skills/f0-docs/SKILL.md
  packages/react/.skills/f0-docs/references/component-analysis.md
  packages/react/.skills/f0-docs/references/component-status.md
  packages/react/.skills/f0-docs/references/documentation-quality.md
  packages/react/.skills/f0-docs/references/mdx-authoring.md
Due: format-react

chore: release main (#3959)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(skills): restore md-only skip rule, fix semicolons and !dev tags in examples
  packages/react/.skills/f0-quality-gate/SKILL.md
  packages/react/.skills/f0-storybook-stories/SKILL.md
Due: format-react

feat: editable table with actions column
  packages/react/src/patterns/OneDataCollection/__stories__/actions/actions.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/editable-table/editable-table.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/patterns/OneDataCollection/components/itemActions/ItemActionsRow/ItemActionsRow.tsx
  packages/react/src/patterns/OneDataCollection/item-actions.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/README.md
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableTableItemActions.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/Row.tsx
Due: format-react

feat: add VacancyEntityRef and RequisitionEntityRef (#3954)
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/components/entityRefRegistry.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/requisition/RequisitionEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/requisition/__tests__/RequisitionEntityRef.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/requisition/types.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/vacancy/VacancyEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/vacancy/__tests__/VacancyEntityRef.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/vacancy/types.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/types.ts
  packages/react/src/sds/ai/F0AiChat/documentation/ENTITY_REFS.md
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

chore: release main (#3960)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: orb voice animation story
  packages/react/src/sds/ai/F0OrbVoiceAnimation/__stories__/F0OrbVoiceAnimation.stories.tsx
Due: format-react

feat: orb voice animation
  packages/react/src/sds/ai/F0OrbVoiceAnimation/components/F0OrbVoiceAnimation.tsx
  packages/react/src/sds/ai/F0OrbVoiceAnimation/components/ReactShaderToy.tsx
  packages/react/src/sds/ai/F0OrbVoiceAnimation/components/shaderSource.ts
  packages/react/src/sds/ai/F0OrbVoiceAnimation/hooks/useOrbVoiceAnimation.ts
  packages/react/src/sds/ai/F0OrbVoiceAnimation/index.ts
  packages/react/src/sds/ai/F0OrbVoiceAnimation/types.ts
Due: format-react

fix: exports
  packages/react/src/sds/ai/exports.ts
Due: format-react

feat: replace WebGL renderer with CSS/SVG in F0OrbVoiceAnimation
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0OrbVoiceAnimation/__stories__/F0OrbVoiceAnimation.stories.tsx
  packages/react/src/sds/ai/F0OrbVoiceAnimation/components/F0OrbVoiceAnimation.tsx
  packages/react/src/sds/ai/F0OrbVoiceAnimation/components/styles.css
  packages/react/src/sds/ai/F0OrbVoiceAnimation/hooks/useOrbVoiceAnimation.ts
Due: format-react

fix: lowercase form
  packages/react/src/lib/providers/f0/f0-provider.tsx
  packages/react/src/patterns/F0Form/types.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
Due: format-react

fix: storybook internal component doc pages broken
  packages/react/.storybook/DocsContainer.tsx
Due: format-react

fix: remove exports
  packages/react/src/sds/ai/exports.ts
Due: format-react

feat: add support to pass custom form component to canvas form content (#3956)
  packages/react/src/lib/exports.ts
  packages/react/src/lib/providers/f0/f0-provider.tsx
  packages/react/src/patterns/F0Form/index.tsx
  packages/react/src/patterns/F0Form/types.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
Due: format-react

fix: storybook internal component doc pages broken (#3961)
  packages/react/.storybook/DocsContainer.tsx
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
