Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3686)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

fix(react): fix subfilter bugs and add WithSubfilters story (#3684)
  packages/react/src/components/OneFilterPicker/OneFilterPicker.tsx
  packages/react/src/components/OneFilterPicker/filterTypes/InFilter/InFilter.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/filters/filters.stories.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3687)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: added `f0link` component (#3677)
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0LinkShowcase/index.tsx
  packages/react-native/src/components/F0Link/F0Link.md
  packages/react-native/src/components/F0Link/F0Link.styles.ts
  packages/react-native/src/components/F0Link/F0Link.tsx
  packages/react-native/src/components/F0Link/F0Link.types.ts
  packages/react-native/src/components/F0Link/__tests__/F0Link.spec.tsx
  packages/react-native/src/components/F0Link/__tests__/__snapshots__/F0Link.spec.tsx.snap
  packages/react-native/src/components/F0Link/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

chore: release main (#3688)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

docs: add collection action dropdown story
  packages/react/src/experimental/OneDataCollection/__stories__/actions/collection-actions.stories.tsx
Due: format-react

docs(react): add DataCollection dropdown action story (#3689)
  packages/react/src/experimental/OneDataCollection/__stories__/actions/collection-actions.stories.tsx
Due: format-react

feat(EditableTable): support multiple add-row actions with split/dropdown button
  packages/react/src/components/F0ButtonDropdown/F0ButtonDropdown.tsx
  packages/react/src/components/F0ButtonDropdown/theme.ts
  packages/react/src/components/F0ButtonDropdown/types.ts
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/context/AddRowContext.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/AddRow/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/__tests__/NestedRow.spec.tsx
  packages/react/src/experimental/OneTable/TableCell/NestedCell/index.tsx
  packages/react/src/experimental/OneTable/TableCell/TreeConnector/index.tsx
Due: format-react

feat: add frontend tools for form discovery
  packages/react/package.json
  packages/react/src/components/F0Form/F0AiFormRegistry.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormDescribeAction.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormFillAction.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormGetStateAction.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormListAction.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormSubmitAction.ts
  pnpm-lock.yaml
Due: format-react

feat(editable-table): add cell-level error tooltip state
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/BaseCell.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/BaseCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/DateCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/ErrorTooltip.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/SelectCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/TextCell.tsx
Due: format-react

fix(editable-table): address cell error tooltip review comments
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/BaseCell.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/BaseCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/ErrorTooltip.tsx
Due: format-react

feat(ai): add support for radar, pie, gauge, and heatmap chart types
  packages/react/src/sds/ai/F0ChatDashboard/F0ChatDashboard.tsx
  packages/react/src/sds/ai/F0ChatDashboard/__stories__/F0ChatDashboard.stories.tsx
  packages/react/src/sds/ai/F0ChatDashboard/types.ts
  packages/react/src/sds/ai/F0ChatDashboard/useDashboardCompute.ts
Due: format-react

feat: new item to datalist (#3532)
  packages/react-native/playground/components/DataListShowcase/index.tsx
  packages/react-native/playground/components/DetailsItemsListShowcase/index.tsx
  packages/react-native/src/components/experimental/Lists/DataList/index.tsx
  packages/react-native/src/components/experimental/Lists/DetailsItem/index.tsx
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/index.tsx
Due: format-react-native

chore: release main (#3691)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

Reuse primary actions from table
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
Due: format-react

Use normalized actions from Table
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
Due: format-react

footer only if actions has content
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
Due: format-react

fix(EntitySelect): portal into dialog container and use dynamic list heights
  packages/react/src/experimental/Forms/EntitySelect/Content/MainContent/index.tsx
  packages/react/src/experimental/Forms/EntitySelect/Content/SecondaryContent/index.tsx
  packages/react/src/experimental/Forms/EntitySelect/Content/index.tsx
  packages/react/src/experimental/Forms/EntitySelect/index.tsx
Due: format-react

feat(chart): implement container size tracking and update label interval
  packages/react/src/components/F0DataChart/__tests__/options.test.ts
  packages/react/src/components/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/components/F0DataChart/components/HeatmapChart/useHeatmapChartOptions.ts
  packages/react/src/components/F0DataChart/components/LineChart/useLineChartOptions.ts
  packages/react/src/components/F0DataChart/components/RadarChart/useRadarChartOptions.ts
  packages/react/src/components/F0DataChart/utils/options.ts
  packages/react/src/components/F0DataChart/utils/useContainerSize.ts
  packages/react/src/components/F0DataChart/utils/useContainerWidth.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0ChatDashboard/F0ChatDashboard.tsx
Due: format-react

fix: make form tools work
  packages/react/src/components/F0Form/F0AiFormRegistry.tsx
  packages/react/src/components/F0Form/index.tsx
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useF0AiFormActions.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormDescribeAction.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormFillAction.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormGetStateAction.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormListAction.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useFormSubmitAction.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
Due: format-react

feat: add support for defaultValues to be a function
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/__tests__/F0FormAsyncDefaults.test.tsx
  packages/react/src/components/F0Form/components/F0FormSkeleton.tsx
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/index.tsx
  packages/react/src/components/F0WizardForm/types.ts
  packages/react/src/components/F0WizardForm/useF0FormDefinition.ts
Due: format-react

feat: add ai_ticketing module icon
  packages/react/src/components/avatars/F0AvatarModule/modules.ts
Due: format-react

refactor(F0ButtonDropdown): remove ghost variant and switch AddRow to outline
  packages/react/src/components/F0ButtonDropdown/F0ButtonDropdown.tsx
  packages/react/src/components/F0ButtonDropdown/theme.ts
  packages/react/src/components/F0ButtonDropdown/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneTable/TableCell/NestedCell/index.tsx
Due: format-react

refactor: detach custom field rendering from f0formdefinition
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/__tests__/F0FormAsyncDefaults.test.tsx
  packages/react/src/components/F0Form/__tests__/F0FormRenderCustomField.test.tsx
  packages/react/src/components/F0Form/components/F0FormSection.tsx
  packages/react/src/components/F0Form/components/F0FormSkeleton.tsx
  packages/react/src/components/F0Form/context.ts
  packages/react/src/components/F0Form/fields/custom/CustomFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/custom/types.ts
  packages/react/src/components/F0Form/index.tsx
  packages/react/src/components/F0Form/types.ts
  packages/react/src/components/F0Form/useSchemaDefinition.ts
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/types.ts
  packages/react/src/components/F0WizardForm/useF0FormDefinition.ts
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
Due: format-react

feat: wip
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/context/AddRowContext.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneTable/TableCell/NestedCell/index.tsx
Due: format-react

feat: add ai_ticketing module icon (#3693)
  packages/react/src/components/avatars/F0AvatarModule/modules.ts
Due: format-react

chore: release main (#3694)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(CommunityPost): remove grey hover background from post card
  packages/react/src/sds/Home/Communities/Post/CommunityPost/index.tsx
Due: format-react

feat(CommunityPost): add default and hover box shadows with transition
  packages/react/src/sds/Home/Communities/Post/CommunityPost/index.tsx
Due: format-react

feat: add support for virtual f0 forms
  packages/react/src/components/F0Form/F0AiFormRegistry.tsx
  packages/react/src/components/F0Form/__tests__/F0AiFormRegistryAvailableDefinitions.test.tsx
  packages/react/src/components/F0Form/index.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
Due: format-react

test: add multi-action add-row tests and displayName to AddRowRow
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/AddRow/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/__tests__/NestedRow.spec.tsx
Due: format-react

refactor: move addRow tests from Table/NestedRow into EditableTableAddRow
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableTableAddRow.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.test.tsx
Due: format-react

perf: only call addNestedRowActions when row is expanded
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
Due: format-react

test: move negative footer test back to Table.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableTableAddRow.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.test.tsx
Due: format-react
