Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3915)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: update peer dependency versions in README.md for react-native and add new expo dependencies
  packages/react-native/README.md
Due: none

chore: support only expo sdk 54+ new arch (#3697)
  packages/react-native/README.md
  packages/react-native/babel.config.cjs
  packages/react-native/docs/new-architecture.md
  packages/react-native/jest.setup.js
  packages/react-native/package.json
  pnpm-lock.yaml
Due: format-react-native

docs(f0-docs skill): apply 4 learnings from F0ButtonDropdown to mdx-authoring
  packages/react/.skills/f0-docs/references/mdx-authoring.md
Due: format-react

feat: add support to render form on the side with canva view
  packages/react/src/patterns/F0Form/F0AiFormPresenter.tsx
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/__tests__/F0AiFormRegistryPresent.test.tsx
  packages/react/src/patterns/F0Form/index.tsx
  packages/react/src/patterns/F0Form/types.ts
  packages/react/src/patterns/F0WizardForm/types.ts
  packages/react/src/patterns/F0WizardForm/useF0FormDefinition.ts
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/__tests__/formActions.test.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useF0AiFormActions.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormCardStateRender.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormFillAction.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormSubmitAction.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/usePickActiveFormAction.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/usePresentFormAction.ts
  packages/react/src/sds/ai/F0AiChat/canvas/components/CanvasCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormHeader.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/index.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/index.ts
  packages/react/src/sds/ai/F0AiChat/canvas/registry.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/styles.css
Due: format-react

fix: split mixed-type rows in position-based layout
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
Due: format-react

fix: increase bottom padding on insight item wrapper for visual separation
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
Due: format-react

fix: add margin between insight rows and metrics, tooltip on truncated description
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/sds/ai/F0AiInsightCard/components/CardHeader.tsx
Due: format-react

feat: add support to submit form through chat
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useF0AiFormActions.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormCardStateRender.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormSubmitAction.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/ActiveFormCard.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/ui/textarea.tsx
Due: format-react

fix(docs): apply oxfmt formatting to F0Alert stories and mdx
  packages/react/src/components/F0Alert/__stories__/F0Alert.mdx
  packages/react/src/components/F0Alert/__stories__/F0Alert.stories.tsx
Due: format-react

feat(F0Alert): add optional dismiss button (onClose)
  packages/react/src/components/F0Alert/F0Alert.tsx
  packages/react/src/components/F0Alert/__stories__/F0Alert.mdx
  packages/react/src/components/F0Alert/__stories__/F0Alert.stories.tsx
  packages/react/src/components/F0Alert/types.ts
Due: format-react

docs(F0Alert): expand guidelines, add accessibility section and persistence note
  packages/react/src/components/F0Alert/__stories__/F0Alert.mdx
Due: none

fix(docs): remove unsupported !dev tags from F0Alert stories
  packages/react/src/components/F0Alert/__stories__/F0Alert.stories.tsx
Due: format-react

fix: apply oxfmt formatting to F0Alert files
  packages/react/src/components/F0Alert/F0Alert.tsx
  packages/react/src/components/F0Alert/__stories__/F0Alert.mdx
  packages/react/src/components/F0Alert/__stories__/F0Alert.stories.tsx
  packages/react/src/components/F0Alert/types.ts
Due: format-react

feat(docs): add F0Alert MDX documentation
  packages/react/src/components/F0Alert/__stories__/F0Alert.mdx
  packages/react/src/components/F0Alert/__stories__/F0Alert.stories.tsx
Due: format-react

docs: convert #### subheadings to bold in Guidelines section
  packages/react/src/components/F0Alert/__stories__/F0Alert.mdx
Due: none

fix(F0Alert): pin close button to top-right on responsive layout
  packages/react/src/components/F0Alert/F0Alert.tsx
Due: format-react

fix(F0Alert): center close button vertically on desktop layout
  packages/react/src/components/F0Alert/F0Alert.tsx
Due: format-react

fix: apply oxfmt formatting to F0Alert.mdx
  packages/react/src/components/F0Alert/__stories__/F0Alert.mdx
Due: none

feat(F0Form): redesign file upload components to match Figma
  packages/react/src/components/avatars/F0AvatarIcon/F0AvatarIcon.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0Form/fields/file/FileAttachment.tsx
  packages/react/src/patterns/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/file/types.ts
  packages/react/src/patterns/F0FormField/__stories__/F0FormField.stories.tsx
Due: format-react

fix(FileFieldRenderer): update test assertion to match new fileWeight i18n format
  packages/react/src/patterns/F0Form/fields/file/__tests__/FileFieldRenderer.test.tsx
Due: format-react

feat(rich-text): add unified AI Enhance system with inline accept/reject UI
  packages/react/src/components/RichText/CoreEditor/BubbleMenu/index.tsx
  packages/react/src/components/RichText/CoreEditor/Enhance/EnhanceActivator.tsx
  packages/react/src/components/RichText/CoreEditor/Enhance/EnhanceMenu.tsx
  packages/react/src/components/RichText/CoreEditor/Enhance/enhance.ts
  packages/react/src/components/RichText/CoreEditor/Enhance/index.ts
  packages/react/src/components/RichText/CoreEditor/Enhance/types.ts
  packages/react/src/components/RichText/CoreEditor/Enhance/useEnhance.ts
  packages/react/src/components/RichText/CoreEditor/Error/index.tsx
  packages/react/src/components/RichText/CoreEditor/index.tsx
  packages/react/src/components/RichText/RichTextEditor/Enhance/AcceptChanges/index.tsx
  packages/react/src/components/RichText/RichTextEditor/Enhance/EnhanceMenu/index.tsx
  packages/react/src/components/RichText/RichTextEditor/Enhance/LoadingEnhance/index.tsx
  packages/react/src/components/RichText/RichTextEditor/Enhance/index.tsx
  packages/react/src/components/RichText/RichTextEditor/Footer/index.tsx
  packages/react/src/components/RichText/RichTextEditor/index.tsx
  packages/react/src/components/RichText/RichTextEditor/utils/types.tsx
Due: format-react

style: fix prettier formatting
  packages/react/src/components/RichText/CoreEditor/BubbleMenu/index.tsx
  packages/react/src/components/RichText/CoreEditor/Enhance/EnhanceActivator.tsx
  packages/react/src/components/RichText/CoreEditor/Enhance/EnhanceMenu.tsx
  packages/react/src/components/RichText/CoreEditor/Enhance/enhance.ts
  packages/react/src/components/RichText/CoreEditor/Enhance/index.ts
  packages/react/src/components/RichText/CoreEditor/Enhance/types.ts
  packages/react/src/components/RichText/CoreEditor/Enhance/useEnhance.ts
  packages/react/src/components/RichText/CoreEditor/Error/index.tsx
  packages/react/src/components/RichText/RichTextEditor/Footer/index.tsx
  packages/react/src/components/RichText/RichTextEditor/index.tsx
  packages/react/src/components/RichText/RichTextEditor/utils/types.tsx
Due: format-react

fix(duration-input): remove _DurationInput from public exports
  packages/react/src/experimental/Forms/Fields/DurationInput/DurationInput.tsx
Due: format-react

feat: add some tests
  packages/react/src/patterns/F0Form/__tests__/F0AiFormRegistryAvailableDefinitions.test.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/__tests__/formActions.test.tsx
  packages/react/src/ui/__test__/textarea.test.tsx
Due: format-react

fix: apply oxfmt formatting to FileFieldRenderer.test.tsx
  packages/react/src/patterns/F0Form/fields/file/__tests__/FileFieldRenderer.test.tsx
Due: format-react

docs(AGENTS): add mandatory pre-commit format step to prevent CI failures
  packages/react/AGENTS.md
Due: none

refactor: remove Phase 2 staleness UI, add generatedAt for future use
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/types.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/types.ts
Due: format-react

fix: code suggestions
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useF0AiFormActions.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormFillAction.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/usePickActiveFormAction.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/ActiveFormCard.tsx
  packages/react/src/styles.css
  packages/react/src/ui/__test__/textarea.test.tsx
Due: format-react

feat: add support to define steps in f0 form definition
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0WizardForm/F0WizardForm.tsx
  packages/react/src/patterns/F0WizardForm/types.ts
  packages/react/src/patterns/F0WizardForm/useF0FormDefinition.ts
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/ActiveFormCard.tsx
Due: format-react

fix: automatically show sections sidepanel for big forms
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
Due: format-react

fix: passing props to applicationframe
  packages/react/src/sds/ai/F0AiChat/components/input/ChatInput.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/CreditWarningWrapper.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/types.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

fix(EntitySelect): render popover inside dialogs and fix scroll/height issues
  packages/react/src/deprecated/EntitySelect/Content/index.tsx
  packages/react/src/deprecated/EntitySelect/index.stories.tsx
  packages/react/src/deprecated/EntitySelect/index.tsx
Due: format-react

fix: props
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/F0AiFullscreenChat.tsx
Due: format-react

docs: add CopilotKit migration opportunity cost analysis
  packages/react/src/sds/ai/F0AiChat/documentation/COPILOTKIT_MIGRATION_COST_ANALYSIS.md
Due: format-react

feat(icons): add Basket, BookmarkFilled, UserProtected and update Bookmark, Watch (#3802)
  packages/react/src/icons/app/Basket.tsx
  packages/react/src/icons/app/Bookmark.tsx
  packages/react/src/icons/app/BookmarkFilled.tsx
  packages/react/src/icons/app/UserProtected.tsx
  packages/react/src/icons/app/Watch.tsx
  packages/react/src/icons/app/index.ts
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
