Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

chore(ai): downgrade CopilotKit peer dependencies to v1.10.6 and refactor tool rendering
  packages/react/package.json
  packages/react/src/sds/ai/F0AiChat/components/messages/AssistantMessage.tsx
  packages/react/src/sds/ai/F0AiChat/providers/ToolRendererProvider.tsx
  packages/react/src/sds/ai/F0AiChat/utils/messageExpansion.ts
Due: format-react

chore: remove CopilotKit version changes and related refactors
  packages/react/package.json
  packages/react/src/components/F0ActionBar/index.tsx
  packages/react/src/components/RichText/RichTextDisplay/index.tsx
  packages/react/src/components/RichText/index.css
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/AssistantMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/Thinking.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/__stories__/AssistantMessage.stories.tsx
  packages/react/src/sds/ai/F0AiChat/hooks/useAutoOpenCanvas.ts
  packages/react/src/sds/ai/F0AiChat/providers/ToolRendererProvider.tsx
  packages/react/src/sds/ai/F0AiChat/utils/constants.ts
  packages/react/src/sds/ai/F0AiChat/utils/messageExpansion.ts
  packages/react/src/sds/ai/F0AiChat/utils/turnUtils.ts
  pnpm-lock.yaml
Due: format-react

feat(dataDownload): implement data download functionality with Excel and CSV support
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/dataDownload/DataDownload.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/dataDownload/__stories__/DataDownload.stories.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/dataDownload/download.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/dataDownload/types.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/dataDownload/useDataDownloadAction.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/components/CanvasCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardHeader.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dataDownload/DataDownloadCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dataDownload/DataDownloadContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dataDownload/DataDownloadContext.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dataDownload/DataDownloadHeader.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dataDownload/index.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/registry.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

fix: update background styles for various components to improve dark mode support
  packages/react/docs/components/FeatureCard.tsx
  packages/react/src/components/F0ActionBar/index.tsx
  packages/react/src/components/avatars/F0AvatarDate/F0AvatarDate.tsx
  packages/react/src/components/avatars/F0AvatarEmoji/F0AvatarEmoji.tsx
  packages/react/src/components/avatars/F0AvatarIcon/F0AvatarIcon.tsx
  packages/react/src/components/avatars/internal/BaseAvatar/BaseAvatar.tsx
  packages/react/src/experimental/AiPromotionChat/OneSwitch.tsx
  packages/react/src/patterns/Navigation/Sidebar/Searchbar/index.tsx
  packages/react/src/patterns/OneDataCollection/components/ActionBar/index.tsx
  packages/react/src/sds/Home/Communities/Celebration/index.tsx
  packages/react/src/sds/Home/Communities/Post/PostEvent/index.tsx
  packages/react/src/sds/UpsellingKit/ai/F0DemoCard/F0DemoCard.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/components/Image.tsx
  packages/react/src/sds/ai/F0OneSwitch/F0OneSwitch.tsx
  packages/react/src/ui/Action/variants.ts
  packages/react/src/ui/Card/Card.tsx
  packages/react/src/ui/chart.tsx
  packages/react/src/ui/tab-navigation.tsx
Due: format-react

feat(dashboard): add navigation filters and week-reactive mock data
  packages/react/src/patterns/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/mockDataMixed.ts
  packages/react/src/patterns/F0AnalyticsDashboard/types.ts
  packages/react/src/sds/ai/F0AiChat/components/messages/MessagesContainer.tsx
Due: format-react

refactor: update import paths for components to align with new directory structure
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dataDownload/DataDownloadContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dataDownload/DataDownloadHeader.tsx
Due: format-react

chore: update React and related dependencies to specific versions in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: none

fix: change status variant
  packages/react-native/playground/components/DataListShowcase/index.tsx
  packages/react-native/src/components/experimental/Lists/DataList/index.tsx
Due: format-react-native

chore: update React and related dependencies to specific versions (#3866)
  package.json
  pnpm-lock.yaml
Due: none

fix: sm avatar list not showing up properly on DetailsItemList component
  packages/react/src/experimental/Lists/DetailsItem/index.tsx
  packages/react/src/ui/OverflowList/index.tsx
Due: format-react

fix: sm avatar list not showing up properly on DetailsItemList component (#3867)
  packages/react/src/experimental/Lists/DetailsItem/index.tsx
  packages/react/src/ui/OverflowList/index.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3868)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: no thumbnail variant (#3860)
  packages/react-native/playground/components/DataListShowcase/index.tsx
  packages/react-native/src/components/experimental/Lists/DataList/index.tsx
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3869)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: remove unused dependencies from pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor(F0DatePicker): promote from experimental to stable (#3849)
  packages/react/src/components/F0DatePicker/__stories__/F0DatePicker.stories.tsx
  packages/react/src/components/F0DatePicker/index.ts
Due: format-react

refactor(OneEmptyState): promote from experimental to stable (#3850)
  packages/react/src/components/OneEmptyState/__stories__/OneEmptyState.stories.tsx
Due: format-react

feat(ai): add saved insights components and carousel
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/insight/InsightCard.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/insight/InsightCarousel.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/insight/InsightSaveContext.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/insight/SavedInsightCard.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/insight/__stories__/InsightCard.stories.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/insight/__stories__/InsightCarousel.stories.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/insight/__stories__/SavedInsightCard.stories.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/insight/types.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/insight/useInsightAction.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/insight/useInsightRefresh.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/insight/useInsightTranslations.ts
  packages/react/src/sds/ai/F0AiChat/actions/index.ts
  packages/react/src/sds/ai/F0AiChat/actions/registry.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
Due: format-react

feat(OneChip): stabilize with F0Chip export, a11y fixes, and tests
  packages/react/src/components/F0ChipList/ChipCounter.tsx
  packages/react/src/components/F0ChipList/index.tsx
  packages/react/src/components/F0Select/components/ActiveFiltersChips.tsx
  packages/react/src/components/OneChip/__tests__/Chip.test.tsx
  packages/react/src/components/OneChip/index.stories.tsx
  packages/react/src/components/OneChip/index.tsx
  packages/react/src/patterns/OneFilterPicker/components/FilterChipButton.tsx
Due: format-react

feat: implement bulk drag-and-drop functionality in Kanban
  packages/react/src/lib/dnd/atlaskitDriver.ts
  packages/react/src/lib/dnd/hooks.ts
  packages/react/src/lib/dnd/types.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/Kanban.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/types.ts
  packages/react/src/ui/Kanban/Kanban.tsx
  packages/react/src/ui/Kanban/__stories__/Kanban.stories.tsx
  packages/react/src/ui/Kanban/__tests__/Kanban.test.tsx
  packages/react/src/ui/Kanban/components/KanbanCard.tsx
  packages/react/src/ui/Kanban/components/KanbanLane.tsx
  packages/react/src/ui/Kanban/types.ts
Due: format-react

fix(OneChip): address a11y blocking issues and storybook improvements
  packages/react/src/components/OneChip/__tests__/Chip.test.tsx
  packages/react/src/components/OneChip/index.stories.tsx
  packages/react/src/components/OneChip/index.tsx
Due: format-react

fix(OneChip): fix ARIA nesting, deactivated keyboard guard, add tests
  packages/react/src/components/OneChip/__tests__/Chip.test.tsx
  packages/react/src/components/OneChip/index.stories.tsx
  packages/react/src/components/OneChip/index.tsx
Due: format-react

fix(OneChip): fix a11y, keyboard, and story issues from quality gate
  packages/react/src/components/OneChip/__tests__/Chip.test.tsx
  packages/react/src/components/OneChip/index.stories.tsx
  packages/react/src/components/OneChip/index.tsx
Due: format-react

fix(OneChip): address quality gate round-4 blocking issues
  packages/react/src/components/OneChip/__tests__/Chip.test.tsx
  packages/react/src/components/OneChip/index.tsx
Due: format-react

fix(OneChip): address quality gate round-5 blocking issues
  packages/react/src/components/OneChip/index.stories.tsx
  packages/react/src/components/OneChip/index.tsx
Due: format-react

refactor(Kanban): optimize bulk move logic and update documentation for selectedIds
  packages/react/src/lib/dnd/hooks.ts
  packages/react/src/ui/Kanban/Kanban.tsx
  packages/react/src/ui/Kanban/__stories__/Kanban.stories.tsx
  packages/react/src/ui/Kanban/types.ts
Due: format-react

feat(dashboard): implement filter bar skeleton and enhance dashboard item rendering
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/FilterBar/FilterBarSkeleton.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/types.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContext.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/__tests__/clampDashboardItemRowSpan.test.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/CustomAnswerRow.tsx
Due: format-react

feat(sds/procurement): add CardGhost component
  packages/react/src/sds/procurement/CardGhost/index.stories.tsx
  packages/react/src/sds/procurement/CardGhost/index.tsx
  packages/react/src/sds/procurement/exports.ts
Due: format-react

fix(sds/procurement): replace ReactNode tag with filled boolean
  packages/react/src/sds/procurement/CardGhost/index.stories.tsx
  packages/react/src/sds/procurement/CardGhost/index.tsx
Due: format-react

fix(sds/procurement): use i18n for CardGhost labels
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/procurement/CardGhost/index.stories.tsx
  packages/react/src/sds/procurement/CardGhost/index.tsx
Due: format-react

refactor: move CardGhost to experimental/Lists/GhostListItem
  packages/react/src/experimental/Lists/GhostListItem/index.stories.tsx
  packages/react/src/experimental/Lists/GhostListItem/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/procurement/CardGhost/index.tsx
  packages/react/src/sds/procurement/exports.ts
Due: format-react

fix: use singular List/ for storybook title consistency
  packages/react/src/experimental/Lists/GhostListItem/index.stories.tsx
Due: format-react

feat(SurveyAnsweringForm): add inline rendering mode
  packages/react/src/experimental/Lists/GhostListItem/index.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/index.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
Due: format-react

fix(SurveyAnsweringForm): fix inline layout collapsing
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
Due: format-react

fix(SurveyAnsweringForm): separate inline render path
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
Due: format-react

fix(SurveyAnsweringForm): fix inline stories layout
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
Due: format-react

fix(SurveyAnsweringForm): center inline content with max-width
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
Due: format-react

refactor(SurveyAnsweringForm): keep dialog render path identical to original
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
Due: format-react
