Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

fix(F0Coachmark): dim the page, and keep the panel on it
  packages/react/src/experimental/Overlays/F0Coachmark/CoachmarkSpotlight.tsx
  packages/react/src/experimental/Overlays/F0Coachmark/F0Coachmark.tsx
  packages/react/src/experimental/Overlays/F0Coachmark/__tests__/overlay.test.tsx
Due: format-react

fix(NewHomeLayout): put the Needs You step under its card
  packages/react/src/sds/Home/NewHomeLayout/index.stories.tsx
Due: format-react

fix(F0Coachmark): dim the page, and keep the panel on it (#5399)
  packages/react/src/experimental/Overlays/F0Coachmark/CoachmarkSpotlight.tsx
  packages/react/src/experimental/Overlays/F0Coachmark/F0Coachmark.tsx
  packages/react/src/experimental/Overlays/F0Coachmark/__tests__/overlay.test.tsx
  packages/react/src/sds/Home/NewHomeLayout/index.stories.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#5401)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

test(NewHomeLayout): cover widget remounts at the stacked width
  packages/react/src/sds/Home/NewHomeLayout/stackedRemount.test.tsx
Due: format-react

fix(NewHomeLayout): keep widgets mounted when the layout stacks
  packages/react/src/sds/Home/NewHomeLayout/index.tsx
  packages/react/src/sds/Home/NewHomeLayout/stackedRemount.test.tsx
  packages/react/src/sds/Home/WidgetContainer/WidgetStage.tsx
  packages/react/src/sds/Home/WidgetContainer/index.tsx
  packages/react/src/sds/Home/WidgetContainer/widgetStage.test.tsx
Due: format-react

feat(F0CommandPalette): add experimental command palette
  packages/react/src/experimental/Overlays/F0CommandPalette/CommandPaletteProvider.tsx
  packages/react/src/experimental/Overlays/F0CommandPalette/F0CommandPalette.tsx
  packages/react/src/experimental/Overlays/F0CommandPalette/__stories__/F0CommandPalette.mdx
  packages/react/src/experimental/Overlays/F0CommandPalette/__stories__/F0CommandPalette.stories.tsx
  packages/react/src/experimental/Overlays/F0CommandPalette/__tests__/F0CommandPalette.test.tsx
  packages/react/src/experimental/Overlays/F0CommandPalette/components/CommandFooter.tsx
  packages/react/src/experimental/Overlays/F0CommandPalette/components/CommandRowItem.tsx
  packages/react/src/experimental/Overlays/F0CommandPalette/components/CommandSearchBar.tsx
  packages/react/src/experimental/Overlays/F0CommandPalette/index.tsx
  packages/react/src/experimental/Overlays/F0CommandPalette/internal-types.ts
  packages/react/src/experimental/Overlays/F0CommandPalette/types.ts
  packages/react/src/experimental/Overlays/F0CommandPalette/useCommandRows.ts
  packages/react/src/experimental/Overlays/exports.tsx
  packages/react/src/lib/fuzzyMatch.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

fix(F0Chat): regenerate the react-virtuoso patch onto the reviewed design
  patches/react-virtuoso@4.18.11.patch
  pnpm-lock.yaml
Due: none

fix(F0CommandPalette): close on outside press, and draw row controls outside the listbox
  packages/react/src/experimental/Overlays/F0CommandPalette/F0CommandPalette.tsx
  packages/react/src/experimental/Overlays/F0CommandPalette/__stories__/F0CommandPalette.mdx
  packages/react/src/experimental/Overlays/F0CommandPalette/__stories__/F0CommandPalette.stories.tsx
  packages/react/src/experimental/Overlays/F0CommandPalette/components/CommandRowActions.tsx
  packages/react/src/experimental/Overlays/F0CommandPalette/components/CommandRowItem.tsx
Due: format-react

fix(F0CommandPalette): apply the entry timing to the animation, not the transition
  packages/react/src/experimental/Overlays/F0CommandPalette/F0CommandPalette.tsx
Due: format-react

feat(meeting): open the chat as a side panel, whatever it was doing
  packages/react/src/patterns/ApplicationFrame/AiChatBridge.tsx
  packages/react/src/patterns/ApplicationFrame/MeetingOneSwitch.tsx
  packages/react/src/patterns/ApplicationFrame/__tests__/AiChatBridge.test.tsx
  packages/react/src/patterns/ApplicationFrame/__tests__/MeetingOneSwitch.test.tsx
Due: format-react

fix(huddle): fill the room before the conversation is underway
  packages/react/src/patterns/ApplicationFrame/__tests__/groupHuddle.test.tsx
  packages/react/src/patterns/ApplicationFrame/mocks/useMockHuddle.ts
Due: format-react

fix(meeting): let a full room stay a grid
  packages/react/src/sds/meetings/F0Meeting/SPEC.md
  packages/react/src/sds/meetings/F0Meeting/__tests__/grid-floor.test.ts
  packages/react/src/sds/meetings/F0Meeting/__tests__/room-overflow.render.test.tsx
  packages/react/src/sds/meetings/F0Meeting/__tests__/spotlight-solver.test.ts
  packages/react/src/sds/meetings/F0Meeting/components/grid/MeetingGrid.tsx
  packages/react/src/sds/meetings/F0Meeting/components/grid/OverflowTile.tsx
  packages/react/src/sds/meetings/F0Meeting/layout/constants.ts
  packages/react/src/sds/meetings/F0Meeting/layout/grid-solver.ts
  packages/react/src/sds/meetings/F0Meeting/layout/spotlight-solver.ts
Due: format-react

fix(meeting): put the tiles on the room's own surface
  packages/react/src/sds/meetings/F0Meeting/__tests__/ParticipantTile.render.test.tsx
  packages/react/src/sds/meetings/F0Meeting/components/controls/MeetingMediaControl.tsx
  packages/react/src/sds/meetings/F0Meeting/components/grid/ParticipantTile.tsx
  packages/react/src/sds/meetings/F0Meeting/components/grid/SpeakingIndicator.tsx
  packages/react/src/sds/meetings/F0Meeting/window/FloatingWindow.tsx
Due: format-react

fix(ApplicationFrame): serve the main content before the side panel
  packages/core/src/tokens/panels.ts
  packages/react/src/kits/ai/F0AiChat/components/layout/ChatWindow.tsx
  packages/react/src/kits/ai/F0AiChat/internal-types.ts
  packages/react/src/kits/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/kits/ai/F0AiChat/utils/__tests__/panelWidth.test.ts
  packages/react/src/kits/ai/F0AiChat/utils/panelWidth.ts
  packages/react/src/kits/ai/F0AiChatHeader/F0AiChatHeader.tsx
  packages/react/src/patterns/ApplicationFrame/__tests__/ApplicationFrame.responsivePanel.test.tsx
  packages/react/src/patterns/ApplicationFrame/__tests__/layoutTransition.test.ts
  packages/react/src/patterns/ApplicationFrame/index.tsx
  packages/react/src/patterns/ApplicationFrame/layoutTransition.ts
  packages/react/src/sds/chat/F0Chat/__tests__/ChatHeader.fullscreen.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatHeader.tsx
Due: format-react

chore(mocks): change the person names used across stories and fixtures
  packages/react-native/playground/components/DataListShowcase/index.tsx
  packages/react-native/src/components/Avatars/PersonAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Avatars/PersonAvatar/index.spec.tsx
  packages/react-native/src/components/experimental/Lists/DetailsItem/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItem/index.spec.tsx
  packages/react/src/components/F0Card/__stories__/Card.mdx
  packages/react/src/components/F0Card/__stories__/Card.stories.tsx
  packages/react/src/components/F0Card/__tests__/Card.test.tsx
  packages/react/src/components/F0Select/__stories__/mocks.ts
  packages/react/src/components/OneChip/index.stories.tsx
  packages/react/src/components/avatars/F0AvatarList/__stories__/F0AvatarList.mdx
  packages/react/src/components/avatars/F0AvatarList/__stories__/F0AvatarList.stories.tsx
  packages/react/src/components/avatars/F0AvatarPerson/__stories__/F0AvatarPerson.stories.tsx
  packages/react/src/components/avatars/internal/BaseAvatar/__tests__/utils.spec.ts
  packages/react/src/experimental/Lists/DataList/index.stories.tsx
  packages/react/src/experimental/Lists/DetailsItemsList/index.stories.tsx
  packages/react/src/experimental/Navigation/Dropdown/index.stories.tsx
  packages/react/src/experimental/Navigation/Header/Breadcrumbs/index.stories.tsx
  packages/react/src/mocks/index.ts
  packages/react/src/patterns/Cocreation/__stories__/mockData.tsx
  packages/react/src/patterns/F0Graph/components/F0GraphControls/__stories__/F0GraphControls.stories.tsx
  packages/react/src/patterns/F0Graph/components/F0GraphEdge/__stories__/F0GraphEdge.stories.tsx
  packages/react/src/patterns/F0Graph/components/F0GraphNode/__stories__/F0GraphNode.mdx
  packages/react/src/patterns/F0Graph/components/F0GraphNode/__stories__/F0GraphNode.stories.tsx
  packages/react/src/patterns/F0WizardForm/__stories__/F0WizardForm.stories.tsx
  packages/react/src/patterns/Navigation/Sidebar/Footer/index.stories.tsx
  packages/react/src/patterns/Navigation/Sidebar/Menu/index.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/shared.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/index.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/card/card.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/table/table.stories.tsx
  packages/react/src/sds/Home/F0AvatarPulse/__storybook__/F0AvatarPulse.stories.tsx
  packages/react/src/sds/chat/F0Chat/components/__tests__/ChatCardAttachment.test.tsx
  packages/react/src/sds/chat/F0Chat/utils/__tests__/message-actions.test.ts
  packages/react/src/ui/Lane/__stories__/mockData.ts
Due: format-react, format-react-native

fix(ApplicationFrame): size the side panel against the room it has
  packages/core/src/index.ts
  packages/core/src/tokens/panels.ts
  packages/react/src/kits/ai/F0AiChat/components/layout/ChatWindow.tsx
  packages/react/src/kits/ai/F0AiChat/internal-types.ts
  packages/react/src/kits/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/kits/ai/F0AiChat/types.ts
  packages/react/src/kits/ai/F0AiChat/utils/__tests__/panelWidth.test.ts
  packages/react/src/kits/ai/F0AiChat/utils/constants.ts
  packages/react/src/kits/ai/F0AiChat/utils/panelWidth.ts
  packages/react/src/patterns/ApplicationFrame/__tests__/ApplicationFrame.responsivePanel.test.tsx
  packages/react/src/patterns/ApplicationFrame/index.tsx
Due: format-react

chore(core): move the motion vocabulary into a shared token
  packages/core/src/index.ts
  packages/core/src/tokens/motion.ts
  packages/react/src/sds/chat/F0Chat/utils/chat-motion.ts
Due: format-react

chore(storybook): let a story slow the mock agent's thinking down
  packages/react/src/kits/ai/F0AiChat/__stories__/_mock/MockAiChatRuntime.tsx
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
Due: format-react

feat(F0Chat): rework the announcement noticeboard copy
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.announcement.test.tsx
  packages/react/src/sds/chat/F0Chat/mocks/__tests__/mockSeeds.announcement.test.ts
  packages/react/src/sds/chat/F0Chat/mocks/mockSeeds.ts
Due: format-react

fix(Sidebar): adjust styles for unread dot and tab button responsiveness
  packages/react/src/patterns/Navigation/Sidebar/Tabs/index.tsx
Due: format-react

fix(Sidebar): ring the unread dot so it reads on any background
  packages/react/src/patterns/Navigation/Sidebar/Tabs/index.tsx
Due: format-react

feat(F0AiChat): show how long the turn has been thinking
  packages/react/src/kits/ai/F0ActionItem/F0ActionItem.tsx
  packages/react/src/kits/ai/F0ActionItem/types.ts
  packages/react/src/kits/ai/F0AiMessagesContainer/F0AiMessagesContainer.tsx
  packages/react/src/kits/ai/F0AiMessagesContainer/__tests__/thinkingElapsed.integration.test.tsx
  packages/react/src/kits/ai/F0AiMessagesContainer/components/Thinking.tsx
  packages/react/src/kits/ai/F0AiMessagesContainer/components/ThinkingElapsed.tsx
  packages/react/src/kits/ai/F0AiMessagesContainer/components/__tests__/ThinkingElapsed.test.tsx
  packages/react/src/kits/ai/F0AiMessagesContainer/hooks/__tests__/useThinkingClock.test.ts
  packages/react/src/kits/ai/F0AiMessagesContainer/hooks/useThinkingClock.ts
  packages/react/src/kits/ai/F0AiMessagesContainer/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

chore(storybook): motion QA controls on the ApplicationFrame stories
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
Due: format-react

fix(ApplicationFrame): move the whole frame on one clock
  packages/react/src/kits/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/kits/ai/F0AiChat/components/layout/ChatWindow.tsx
  packages/react/src/kits/ai/F0AiChat/components/layout/__tests__/ChatWindow.exit.test.tsx
  packages/react/src/kits/ai/F0AiChat/hooks/useRevealOnChange.ts
  packages/react/src/patterns/ApplicationFrame/__tests__/ApplicationFrame.closeExit.test.tsx
  packages/react/src/patterns/ApplicationFrame/__tests__/ApplicationFrame.motion.test.tsx
  packages/react/src/patterns/ApplicationFrame/__tests__/ApplicationFrame.responsivePanel.test.tsx
  packages/react/src/patterns/ApplicationFrame/__tests__/layoutTransition.test.ts
  packages/react/src/patterns/ApplicationFrame/__tests__/useWindowResizing.test.ts
  packages/react/src/patterns/ApplicationFrame/index.tsx
  packages/react/src/patterns/ApplicationFrame/layoutTransition.ts
  packages/react/src/patterns/ApplicationFrame/useWindowResizing.ts
  packages/react/src/patterns/Navigation/Sidebar/Sidebar.tsx
Due: format-react

perf(F0ActionItem): stop the spinner's frame loop when animations are off
  packages/react/src/kits/ai/F0ActionItem/components/ChatSpinner.tsx
  packages/react/src/kits/ai/F0AiMessagesContainer/__tests__/thinkingElapsed.integration.test.tsx
  packages/react/src/kits/ai/F0AiMessagesContainer/components/__tests__/ThinkingElapsed.test.tsx
  packages/react/src/testing/test-utils.tsx
Due: format-react

perf(F0ActionItem): rest the spinner when animations are globally off
  packages/react/src/kits/ai/F0ActionItem/components/ChatSpinner.tsx
Due: format-react

chore: keep the fixture rename to packages/react
  packages/react-native/playground/components/DataListShowcase/index.tsx
  packages/react-native/src/components/Avatars/PersonAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Avatars/PersonAvatar/index.spec.tsx
  packages/react-native/src/components/experimental/Lists/DetailsItem/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItem/index.spec.tsx
Due: format-react-native

fix(F0Chat): patch react-virtuoso so a prepend never blanks the transcript (#5394)
  patches/react-virtuoso@4.18.11.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(F0Chat): keep a mention through an edit by anchoring it
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
  packages/react/src/sds/chat/F0Chat/hooks/__tests__/useMentions.test.ts
  packages/react/src/sds/chat/F0Chat/hooks/highlight-utils.ts
  packages/react/src/sds/chat/F0Chat/hooks/useMentions.ts
  packages/react/src/sds/chat/F0Chat/utils/mention-ranges.ts
  packages/react/src/sds/chat/F0Chat/utils/render-body.tsx
Due: format-react

feat(F0Chat): let Escape back out of a reply and clear the composer
  packages/react/src/sds/chat/F0Chat/F0Chat.stories.tsx
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.hotkeys.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
Due: format-react

fix(F0RichTextDisplay): prevent props spread bypassing sanitizer (#5389)
  packages/react/.oxlint-plugins/README.md
  packages/react/.oxlint-plugins/__tests__/f0-security.test.ts
  packages/react/.oxlint-plugins/f0-security/index.js
  packages/react/.oxlint-plugins/f0-security/rules/no-spread-after-inner-html.js
  packages/react/.oxlint-plugins/f0-security/rules/require-sanitized-inner-html.js
  packages/react/.oxlint-plugins/f0-security/rules/require-style-nonce.js
  packages/react/.oxlintrc.json
  packages/react/AGENTS.md
  packages/react/src/components/RichText/F0RichTextDisplay/F0RichTextDisplay.test.tsx
  packages/react/src/components/RichText/F0RichTextDisplay/F0RichTextDisplay.tsx
  packages/react/src/lib/F0GridStack/components/grid-stack-provider.tsx
Due: format-react

chore: release main (#5405)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(NewHomeLayout): drop the added comments
  packages/react/src/sds/Home/NewHomeLayout/index.tsx
  packages/react/src/sds/Home/NewHomeLayout/stackedRemount.test.tsx
  packages/react/src/sds/Home/WidgetContainer/WidgetStage.tsx
  packages/react/src/sds/Home/WidgetContainer/index.tsx
  packages/react/src/sds/Home/WidgetContainer/widgetStage.test.tsx
Due: format-react

fix(NewHomeLayout): keep widgets mounted when the layout stacks (#5402)
  packages/react/src/sds/Home/NewHomeLayout/index.tsx
  packages/react/src/sds/Home/NewHomeLayout/stackedRemount.test.tsx
  packages/react/src/sds/Home/WidgetContainer/WidgetStage.tsx
  packages/react/src/sds/Home/WidgetContainer/index.tsx
  packages/react/src/sds/Home/WidgetContainer/widgetStage.test.tsx
Due: format-react

chore: release main (#5406)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(F0Form): keep a switch group's hooks in one order
  packages/react/src/patterns/F0Form/__tests__/switchGroupRenderIf.test.tsx
  packages/react/src/patterns/F0Form/components/SwitchGroupRenderer.tsx
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
