Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

chore: release main (#3521)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(MessagesContainer): simplify scroll handling and remove unused state variables
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
Due: format-react

style(ChatWindow): adjust width of resize handle and reorder class names for consistency
  packages/react/src/sds/ai/F0AiChat/components/ChatWindow.tsx
Due: format-react

style(MessagesContainer): adjust padding in message container for improved layout
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
Due: format-react

feat(dataCollection): selectable header (#3518)
  packages/react/src/experimental/OneDataCollection/components/ActionBar/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/useSticky.ts
  packages/react/src/experimental/OneTable/TableHead/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/ChatWindow.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/components/Table.tsx
  packages/react/src/ui/table.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3522)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: add support for initial files
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/components/F0FormSection.tsx
  packages/react/src/components/F0Form/context.ts
  packages/react/src/components/F0Form/f0Schema.ts
  packages/react/src/components/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/file/FileUploadItem.tsx
  packages/react/src/components/F0Form/fields/file/__tests__/FileFieldRenderer.test.tsx
  packages/react/src/components/F0Form/fields/file/types.ts
  packages/react/src/components/F0Form/fields/types.ts
  packages/react/src/components/F0Form/index.tsx
  packages/react/src/components/F0Form/types.ts
Due: format-react

fix: remove progress bar
  packages/react/src/components/F0Form/fields/file/FileUploadItem.tsx
Due: format-react

chore(one-data-collection): editable table visualization
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations.mdx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.mdx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/TextCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/index.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/context/EditableRowContext.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/TableSettings.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/providers/NestedProvider.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/settings/SettingsRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/settings/handleResetSettings.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/collectionViewRegistry.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

feat: add support for file field type in F0Form (#3520)
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/components/F0FormSection.tsx
  packages/react/src/components/F0Form/context.ts
  packages/react/src/components/F0Form/f0Schema.ts
  packages/react/src/components/F0Form/fields/FieldRenderer.tsx
  packages/react/src/components/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/file/FileUploadItem.tsx
  packages/react/src/components/F0Form/fields/file/__tests__/FileFieldRenderer.test.tsx
  packages/react/src/components/F0Form/fields/file/types.ts
  packages/react/src/components/F0Form/fields/types.ts
  packages/react/src/components/F0Form/index.tsx
  packages/react/src/components/F0Form/types.ts
  packages/react/src/components/F0Form/useSchemaDefinition.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

chore: release main (#3523)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: add QuestionCircle icon SVG
  packages/core/assets/icons/app/QuestionCircle.svg
Due: none

fix(data-testid): preserve discriminated union props in WithDataTestIdPropsOf
  packages/react/src/lib/data-testid/__tests__/withDataTestId.test.tsx
  packages/react/src/lib/data-testid/index.tsx
Due: format-react

chore(agents): add f0-quality-gate orchestrator skill with parallel subagent reviews (#3519)
  packages/react/.skills/f0-ai-config-hygiene/SKILL.md
  packages/react/.skills/f0-quality-gate/SKILL.md
  packages/react/.storybook/preview.tsx
  packages/react/AGENTS.md
  packages/react/docs/ai-configuration.mdx
Due: format-react

fix: proper withDataTestId typings
  packages/react/src/lib/data-testid/index.tsx
Due: format-react

fix: handle text overflow for unspaced content in CommunityPost
  packages/react/src/sds/Home/Communities/Post/CommunityPost/index.stories.tsx
  packages/react/src/sds/Home/Communities/Post/CommunityPost/index.tsx
  packages/react/src/sds/Home/Communities/Post/PostDescription/index.tsx
Due: format-react

Update packages/react/src/sds/Home/Communities/Post/CommunityPost/index.tsx
  packages/react/src/sds/Home/Communities/Post/CommunityPost/index.tsx
Due: format-react

fix: restore missing SkeletonStory type in CommunityPost stories
  packages/react/src/sds/Home/Communities/Post/CommunityPost/index.stories.tsx
Due: format-react

feat: add content alignment option to DetailsItemsList Allow right-aligned detail values. Default behavior remains unchanged.
  packages/react/src/experimental/Lists/DataList/ItemContainer.tsx
  packages/react/src/experimental/Lists/DataList/index.tsx
  packages/react/src/experimental/Lists/DetailsItem/index.tsx
  packages/react/src/experimental/Lists/DetailsItemsList/index.tsx
Due: format-react

Apply suggestion from @Copilot
  packages/react/src/experimental/Lists/DataList/index.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

chore: release main (#3530)
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

feat: create F0Wizard and F0WizardForm components
  packages/react/src/components/F0Form/components/F0FormSection.tsx
  packages/react/src/components/F0Wizard/F0Wizard.tsx
  packages/react/src/components/F0Wizard/__stories__/F0Wizard.stories.tsx
  packages/react/src/components/F0Wizard/__tests__/F0Wizard.test.tsx
  packages/react/src/components/F0Wizard/__tests__/WizardSteps.test.tsx
  packages/react/src/components/F0Wizard/__tests__/useWizardNavigation.test.ts
  packages/react/src/components/F0Wizard/components/WizardProvider.tsx
  packages/react/src/components/F0Wizard/components/WizardSteps.tsx
  packages/react/src/components/F0Wizard/hooks/useWizardNavigation.ts
  packages/react/src/components/F0Wizard/index.tsx
  packages/react/src/components/F0Wizard/internal-types.ts
  packages/react/src/components/F0Wizard/types.ts
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/__stories__/F0WizardForm.stories.tsx
  packages/react/src/components/F0WizardForm/index.tsx
  packages/react/src/components/F0WizardForm/types.ts
  packages/react/src/components/F0WizardForm/useF0FormDefinition.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

Update packages/react/src/experimental/Lists/DetailsItem/index.tsx
  packages/react/src/experimental/Lists/DetailsItem/index.tsx
Due: format-react

feat: add content alignment option to DetailsItemsList II Allow right-aligned detail values. Default behavior remains unchanged.
  packages/react/src/experimental/Lists/DataList/ItemContainer.tsx
  packages/react/src/experimental/Lists/DataList/index.tsx
  packages/react/src/experimental/Lists/DetailsItem/index.tsx
Due: format-react

feat: extend cell props
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/index.ts
Due: format-react

refactor: use formDefinition in F0Form
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/index.tsx
  packages/react/src/components/F0Form/types.ts
  packages/react/src/components/F0Wizard/index.tsx
  packages/react/src/components/F0WizardForm/__stories__/F0WizardForm.stories.tsx
  packages/react/src/components/F0WizardForm/index.tsx
Due: format-react

feat: onCellChange is not optional
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/context/EditableRowContext.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
Due: format-react

feat: add content alignment option to DetailsItemsList III Allow right-aligned detail values. Default behavior remains unchanged.
  packages/react/src/experimental/Lists/DetailsItem/index.tsx
  packages/react/src/experimental/Lists/DetailsItemsList/index.stories.tsx
  packages/react/src/experimental/Lists/DetailsItemsList/index.tsx
Due: format-react

feat(react-native): add QuestionCircle icon
  packages/react-native/src/icons/app/QuestionCircle.tsx
  packages/react-native/src/icons/app/index.ts
Due: format-react-native

fix: do not allow jumping step with validation errors
  packages/react/src/components/F0Wizard/F0Wizard.tsx
  packages/react/src/components/F0Wizard/__stories__/F0Wizard.stories.tsx
  packages/react/src/components/F0Wizard/__tests__/F0Wizard.test.tsx
  packages/react/src/components/F0Wizard/__tests__/WizardSteps.test.tsx
  packages/react/src/components/F0Wizard/__tests__/useWizardNavigation.test.ts
  packages/react/src/components/F0Wizard/components/WizardSteps.tsx
  packages/react/src/components/F0Wizard/hooks/useWizardNavigation.ts
  packages/react/src/components/F0Wizard/internal-types.ts
  packages/react/src/components/F0Wizard/types.ts
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/types.ts
Due: format-react

refactor: reorder imports
  packages/react-native/src/icons/app/QuestionCircle.tsx
Due: format-react-native

feat: console log when cell renders blank
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
Due: format-react

feat: add VisualizationFilterOverrides
  packages/react/src/experimental/OneDataCollection/visualizations/collection/types.ts
Due: format-react

feat: add content alignment option to DetailsItemsList IV Allow right-aligned detail values. Default behavior remains unchanged.
  packages/react/src/experimental/Lists/DetailsItem/index.tsx
Due: format-react

refactor: clean up imports in Question icon component
  packages/react-native/src/icons/app/Question.tsx
Due: format-react-native

fix: set min height
  packages/react/src/components/F0Wizard/F0Wizard.tsx
  packages/react/src/components/F0WizardForm/__stories__/F0WizardForm.stories.tsx
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
