Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3357)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: aura voice animation component
  packages/react/package.json
  packages/react/src/ai/F0AuraVoiceAnimation/AuraVoiceAnimation.tsx
  packages/react/src/ai/F0AuraVoiceAnimation/ReactShaderToy.tsx
  packages/react/src/ai/F0AuraVoiceAnimation/index.ts
  packages/react/src/ai/F0AuraVoiceAnimation/useAuraVoiceAnimation.ts
  packages/react/src/ai/exports.ts
  packages/react/vite.config.ts
  pnpm-lock.yaml
Due: format-react

fix: improve folder structure
  packages/react/src/ai/F0AuraVoiceAnimation/components/F0AuraVoiceAnimation.tsx
  packages/react/src/ai/F0AuraVoiceAnimation/components/ReactShaderToy.tsx
  packages/react/src/ai/F0AuraVoiceAnimation/components/shaderSource.ts
  packages/react/src/ai/F0AuraVoiceAnimation/hooks/useAuraVoiceAnimation.ts
  packages/react/src/ai/F0AuraVoiceAnimation/index.ts
  packages/react/src/ai/F0AuraVoiceAnimation/types.ts
Due: format-react

feat: export as experimental
  packages/react/src/ai/exports.ts
  packages/react/src/experimental/exports.ts
Due: format-react

feat: add to storybook
  packages/react/src/ai/F0AuraVoiceAnimation/__stories__/AuraVoiceAnimation.stories.tsx
Due: format-react

feat: add size attribute
  packages/react/src/ai/F0AuraVoiceAnimation/__stories__/F0AuraVoiceAnimation.stories.tsx
  packages/react/src/ai/F0AuraVoiceAnimation/components/F0AuraVoiceAnimation.tsx
  packages/react/src/ai/F0AuraVoiceAnimation/types.ts
Due: format-react

fix: export
  packages/react/src/ai/exports.ts
  packages/react/src/experimental/exports.ts
Due: format-react

refactor: restructure styles and remove class generation scripts; introduce new styles index
  packages/react-native/global.css
  packages/react-native/package.json
  packages/react-native/scripts/generate-classes-css.mjs
  packages/react-native/scripts/generate-classes.mjs
  packages/react-native/src/styles/classes.css
  packages/react-native/src/styles/index.css
  packages/react-native/src/styles/theme.css
Due: format-react-native

refactor: improve code formatting and organization in tokens.tsx
  packages/react-native/playground/app/(tabs)/tokens.tsx
Due: format-react-native

feat: add PressableFeedback component for enhanced press animations
  packages/react-native/jest.setup.js
  packages/react-native/src/components/PressableFeedback/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/PressableFeedback/index.spec.tsx
  packages/react-native/src/components/PressableFeedback/index.tsx
  packages/react-native/src/components/exports.ts
Due: format-react-native

refactor: replace Pressable with PressableFeedback in OneChip, OnePreset, and BaseTag components
  packages/react-native/src/components/OneChip/index.tsx
  packages/react-native/src/components/OnePreset/index.tsx
  packages/react-native/src/components/Tags/BaseTag/index.tsx
Due: format-react-native

feat(F0AiChat): add disclaimer support and resizable chat window functionality
  packages/react/src/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/ai/F0AiChat/__stories__/F0AiChat.stories.tsx
  packages/react/src/ai/F0AiChat/components/ChatWindow.tsx
  packages/react/src/ai/F0AiChat/internal-types.ts
  packages/react/src/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/ai/F0AiChat/types.ts
  packages/react/src/experimental/Navigation/ApplicationFrame/index.stories.tsx
  packages/react/src/experimental/Navigation/ApplicationFrame/index.tsx
  packages/react/src/experimental/Navigation/Header/PageHeader/index.tsx
  packages/react/src/experimental/Overlays/Tooltip/index.tsx
Due: format-react

fix: add support to center action bar relative to application frame
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/types.ts
  packages/react/src/experimental/F0ActionBar/index.tsx
Due: format-react

feat: aura voice animation component (#3358)
  packages/react/package.json
  packages/react/src/ai/F0AuraVoiceAnimation/__stories__/F0AuraVoiceAnimation.stories.tsx
  packages/react/src/ai/F0AuraVoiceAnimation/components/F0AuraVoiceAnimation.tsx
  packages/react/src/ai/F0AuraVoiceAnimation/components/ReactShaderToy.tsx
  packages/react/src/ai/F0AuraVoiceAnimation/components/shaderSource.ts
  packages/react/src/ai/F0AuraVoiceAnimation/hooks/useAuraVoiceAnimation.ts
  packages/react/src/ai/F0AuraVoiceAnimation/index.ts
  packages/react/src/ai/F0AuraVoiceAnimation/types.ts
  packages/react/src/ai/exports.ts
  packages/react/vite.config.ts
  pnpm-lock.yaml
Due: format-react

chore: release main (#3359)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: fix tests and snapshots
  packages/react-native/eslint.config.mjs
  packages/react-native/src/components/OneChip/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/OnePreset/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/PressableFeedback/index.tsx
  packages/react-native/src/components/Tags/AlertTab/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Tags/DotTag/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Tags/RawTag/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItem/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/__snapshots__/index.spec.tsx.snap
Due: format-react-native

style: update selected icon colors for improved visibility in theme.css
  packages/react-native/src/styles/theme.css
Due: format-react-native

feat(ai-chat): enhance file upload functionality with validation and async handling
  packages/react/src/ai/F0AiChat/__stories__/F0AiChat.stories.tsx
Due: format-react

feat: add custom fonts and theme variables for improved typography
  packages/react-native/app.json
  packages/react-native/assets/fonts/Inter/InterBold.ttf
  packages/react-native/assets/fonts/Inter/InterMedium.ttf
  packages/react-native/assets/fonts/Inter/InterNormal.ttf
  packages/react-native/assets/fonts/Inter/InterSemiBold.ttf
  packages/react-native/assets/fonts/OxaniumMedium.ttf
  packages/react-native/assets/fonts/factorial.ttf
  packages/react-native/global.css
Due: none

chore: update README.md
  packages/react-native/README.md
Due: none

fix(OneFilterPicker): increase FilterList width to fit translations
  packages/react/src/components/OneFilterPicker/components/FilterList.tsx
Due: format-react

chore: remove unused mcp.json configuration file
  .cursor/mcp.json
Due: none

chore: fct-47371 added start:dev script
  packages/react-native/package.json
Due: none

refactor(ChatWindow, ApplicationFrame): improve component structure and styling consistency
  packages/react/src/ai/F0AiChat/components/ChatWindow.tsx
  packages/react/src/experimental/Navigation/ApplicationFrame/index.tsx
Due: format-react

feat(AiChat): add reset functionality for chat width and persist width in localStorage
  packages/react/src/ai/F0AiChat/components/ChatWindow.tsx
  packages/react/src/ai/F0AiChat/internal-types.ts
  packages/react/src/ai/F0AiChat/providers/AiChatStateProvider.tsx
Due: format-react

fix: add support for Select fields with source
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/f0Schema.ts
  packages/react/src/components/F0Form/fields/select/SelectFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/select/types.ts
  packages/react/src/components/F0Form/useSchemaDefinition.ts
Due: format-react

fix: show more selected items in select input when possible
  packages/react/src/components/F0Select/components/SelectedItems.tsx
  packages/react/src/components/F0Select/utils.ts
Due: format-react

fix: initial visible count
  packages/react/src/components/F0Select/utils.ts
Due: format-react

fix: show more selected items in select input when possible (#3362)
  packages/react/src/components/F0Select/components/SelectedItems.tsx
  packages/react/src/components/F0Select/utils.ts
Due: format-react

chore: release main (#3363)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(AIChat): Resize functionality, disclaimer and fixed tooltip bug (#3361)
  packages/react/src/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/ai/F0AiChat/__stories__/F0AiChat.stories.tsx
  packages/react/src/ai/F0AiChat/components/ChatWindow.tsx
  packages/react/src/ai/F0AiChat/internal-types.ts
  packages/react/src/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/ai/F0AiChat/types.ts
  packages/react/src/experimental/Navigation/ApplicationFrame/index.stories.tsx
  packages/react/src/experimental/Navigation/ApplicationFrame/index.tsx
  packages/react/src/experimental/Navigation/Header/PageHeader/index.tsx
  packages/react/src/experimental/Overlays/Tooltip/index.tsx
Due: format-react

chore: release main (#3364)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: new faq component for ai
  packages/react/src/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/ai/F0AiChat/copilotActions/types.ts
  packages/react/src/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/ai/F0AiChat/copilotActions/useFAQCardAction.tsx
  packages/react/src/ai/F0UpsellKit/F0BookAMeetingCard/F0BookAMeetingCard.tsx
  packages/react/src/ai/F0UpsellKit/F0DemoCard/F0DemoCard.tsx
  packages/react/src/ai/F0UpsellKit/F0FAQCard/F0FAQCard.tsx
  packages/react/src/ai/F0UpsellKit/F0FAQCard/__stories__/F0FAQCard.stories.tsx
  packages/react/src/ai/F0UpsellKit/F0FAQCard/index.ts
  packages/react/src/ai/F0UpsellKit/F0FAQCard/types.ts
  packages/react/src/ai/F0UpsellKit/F0ModuleCard/F0ModuleCard.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

fix(select): prevent layout jump when toggling filters
  packages/react/src/ui/Select/components/SelectContent.tsx
Due: format-react

fix(select): prevent layout jump when toggling filters (#3365)
  packages/react/src/ui/Select/components/SelectContent.tsx
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
