Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

feat(F0GraphNode): render actions slot as floating NodeToolbar on selection
  packages/react/src/patterns/F0Graph/F0GraphNode/F0GraphNode.tsx
  packages/react/src/patterns/F0Graph/F0GraphNode/__stories__/F0GraphNode.mdx
  packages/react/src/patterns/F0Graph/F0GraphNode/__stories__/F0GraphNode.stories.tsx
  packages/react/src/patterns/F0Graph/F0GraphNode/__tests__/F0GraphNode.test.tsx
  packages/react/src/patterns/F0Graph/F0GraphNode/types.ts
  packages/react/src/patterns/F0Graph/F0GraphNode/variants.ts
Due: format-react

chore(F0Graph): add WithoutFullscreen story and refine F0Graph/F0GraphNode
  packages/react/.storybook/preview.tsx
  packages/react/src/patterns/F0Graph/EXPAND_COLLAPSE_ALL_PLAN.md
  packages/react/src/patterns/F0Graph/F0Graph.tsx
  packages/react/src/patterns/F0Graph/F0GraphEdge/__stories__/F0GraphEdge.stories.tsx
  packages/react/src/patterns/F0Graph/F0GraphNode/F0GraphNode.tsx
  packages/react/src/patterns/F0Graph/F0GraphNode/__stories__/F0GraphNode.mdx
  packages/react/src/patterns/F0Graph/F0GraphNode/__stories__/F0GraphNode.stories.tsx
  packages/react/src/patterns/F0Graph/F0GraphNode/__tests__/F0GraphNode.test.tsx
  packages/react/src/patterns/F0Graph/__stories__/F0Graph.mdx
  packages/react/src/patterns/F0Graph/__stories__/F0Graph.stories.tsx
  packages/react/src/patterns/F0Graph/__tests__/F0Graph.test.tsx
Due: format-react

chore(F0Graph): refine F0GraphControls stories and prune obsolete integration tests
  packages/react/src/patterns/F0Graph/F0Graph.tsx
  packages/react/src/patterns/F0Graph/F0GraphControls/__stories__/F0GraphControls.mdx
  packages/react/src/patterns/F0Graph/F0GraphControls/__stories__/F0GraphControls.stories.tsx
  packages/react/src/patterns/F0Graph/__tests__/F0Graph.integration.test.tsx
Due: format-react

chore(F0Graph): fix F0Text className type errors in stories
  packages/react/src/patterns/F0Graph/__stories__/F0Graph.stories.tsx
Due: format-react

chore(F0Graph): replace F0Text with span in stories and tweak F0GraphNode
  packages/react/src/patterns/F0Graph/F0GraphNode/F0GraphNode.tsx
  packages/react/src/patterns/F0Graph/F0GraphNode/__stories__/F0GraphNode.stories.tsx
Due: format-react

chore(F0GraphNode): simplify stories to single hover toolbar
  packages/react/src/patterns/F0Graph/F0GraphNode/__stories__/F0GraphNode.stories.tsx
Due: format-react

fix(OneDataCollection): address review comments C1, C5, C8
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/__tests__/bulkActionStatus.test.tsx
  packages/react/src/patterns/OneDataCollection/components/ActionBar/OneDataCollectionActionBar.tsx
Due: format-react

feat(f0-graph-edge): add hover variant, swap highlighted to viridian, drop animated
  packages/react/src/patterns/F0Graph/F0Graph.css
  packages/react/src/patterns/F0Graph/F0Graph.tsx
  packages/react/src/patterns/F0Graph/F0GraphEdge/F0GraphEdge.tsx
  packages/react/src/patterns/F0Graph/F0GraphEdge/types.ts
Due: format-react

chore(F0GraphNode): remove default styling from toolbar actions wrapper
  packages/react/src/patterns/F0Graph/F0GraphNode/F0GraphNode.tsx
Due: format-react

feat(f0-graph): per-edge interactivity gating from handler presence
  packages/react/src/patterns/F0Graph/F0Graph.tsx
  packages/react/src/patterns/F0Graph/types.ts
Due: format-react

docs(f0-graph-edge): refresh stories, MDX, and tests for new variants
  packages/react/src/patterns/F0Graph/F0GraphEdge/__stories__/F0GraphEdge.mdx
  packages/react/src/patterns/F0Graph/F0GraphEdge/__stories__/F0GraphEdge.stories.tsx
  packages/react/src/patterns/F0Graph/F0GraphEdge/__tests__/F0GraphEdge.test.tsx
Due: format-react

docs(f0-graph-edge): drop stale animated copy and add NonInteractive story
  packages/react/src/patterns/F0Graph/F0GraphEdge/__stories__/F0GraphEdge.stories.tsx
  packages/react/src/patterns/F0Graph/index.tsx
Due: format-react

fix(F0GraphEdge): read variant from data when registered as RF edge type
  packages/react/src/patterns/F0Graph/F0GraphEdge/F0GraphEdge.tsx
  packages/react/src/patterns/F0Graph/F0GraphEdge/__stories__/F0GraphEdge.mdx
  packages/react/src/patterns/F0Graph/F0GraphEdge/__stories__/F0GraphEdge.stories.tsx
Due: format-react

style(f0-graph): use f1-border-selected-bold for highlighted edges
  packages/react/src/patterns/F0Graph/F0Graph.css
  packages/react/src/patterns/F0Graph/F0GraphEdge/F0GraphEdge.tsx
Due: format-react

feat(OneDataCollection): add loading/success/error status for bulk actions (#4037)
  packages/react/src/components/F0ActionBar/index.tsx
  packages/react/src/components/F0ButtonDropdown/F0ButtonDropdown.tsx
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/index.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/selectable-bulk-actions.mdx
  packages/react/src/patterns/OneDataCollection/__tests__/bulkActionStatus.test.tsx
  packages/react/src/patterns/OneDataCollection/components/ActionBar/OneDataCollectionActionBar.tsx
  packages/react/src/patterns/OneDataCollection/components/ActionBar/index.tsx
  packages/react/src/patterns/OneDataCollection/types.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4153)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(F0Graph): address Copilot review comments
  packages/react/src/patterns/F0Graph/F0GraphEdge/F0GraphEdge.tsx
  packages/react/src/patterns/F0Graph/F0GraphEdge/types.ts
  packages/react/src/patterns/F0Graph/F0GraphSearch/F0GraphSearch.tsx
  packages/react/src/patterns/F0Graph/hooks/useLazyTree.ts
  packages/react/src/patterns/F0Graph/hooks/useTreeBuilder.ts
  packages/react/src/patterns/F0Graph/index.tsx
Due: format-react

feat(F0AiChat/dashboard): forward per-column `info` as header tooltip
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/types.ts
Due: format-react

feat(F0AiChat/dashboard): consume server-derived filter definitions
  packages/react/src/patterns/OneDataCollection/navigationFilters/filterTypes/DateNavigation/DateNavigation.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/types.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/useDashboardCompute.ts
Due: format-react

feat(F0AiChat/dashboard): date filter chips, snapshot, dateNavigatorColumn
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/types.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/useDashboardCompute.ts
Due: format-react

fix(ai): render custom placeholder when placeholders array has single element
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/TextareaField.tsx
Due: format-react

feat: new F0Wizard
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0WizardStepsShowcase/index.tsx
  packages/react-native/src/components/F0Step/F0Step.styles.ts
  packages/react-native/src/components/F0Step/__tests__/F0Step.spec.tsx
  packages/react-native/src/components/F0WizardSteps/F0WizardSteps.md
  packages/react-native/src/components/F0WizardSteps/F0WizardSteps.tsx
  packages/react-native/src/components/F0WizardSteps/F0WizardSteps.types.ts
  packages/react-native/src/components/F0WizardSteps/__tests__/F0WizardSteps.spec.tsx
  packages/react-native/src/components/F0WizardSteps/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

test(F0WizardSteps): replace snapshot tests with explicit assertions
  packages/react-native/src/components/F0WizardSteps/__tests__/F0WizardSteps.spec.tsx
  packages/react-native/src/components/F0WizardSteps/__tests__/__snapshots__/F0WizardSteps.spec.tsx.snap
Due: format-react-native

test(F0WizardSteps): commit generated snapshot file
  packages/react-native/src/components/F0Step/__tests__/__snapshots__/F0Step.spec.tsx.snap
  packages/react-native/src/components/F0WizardSteps/__tests__/__snapshots__/F0WizardSteps.spec.tsx.snap
Due: none

Potential fix for pull request finding
  packages/react-native/src/components/F0WizardSteps/F0WizardSteps.md
Due: format-react-native

refactor(react-native): rename F0WizardSteps to F0Wizard, add styles.ts with tv()
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0WizardShowcase/index.tsx
  packages/react-native/src/components/F0Step/F0Step.styles.ts
  packages/react-native/src/components/F0Step/__tests__/F0Step.spec.tsx
  packages/react-native/src/components/F0Step/__tests__/__snapshots__/F0Step.spec.tsx.snap
  packages/react-native/src/components/F0Wizard/F0Wizard.md
  packages/react-native/src/components/F0Wizard/F0Wizard.styles.ts
  packages/react-native/src/components/F0Wizard/F0Wizard.tsx
  packages/react-native/src/components/F0Wizard/F0Wizard.types.ts
  packages/react-native/src/components/F0Wizard/__tests__/F0Wizard.spec.tsx
  packages/react-native/src/components/F0Wizard/index.ts
  packages/react-native/src/components/F0WizardSteps/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

fix(kanban): enhance dependency tracking for lane updates
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionData/useDataCollectionLanesData.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/Kanban.tsx
Due: format-react

fix(kanban): optimize lane updates
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionData/useDataCollectionLanesData.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/Kanban.tsx
Due: format-react

fix(kanban): improve loading handling and error callback stability
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionData/useDataCollectionLanesData.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/Kanban.tsx
Due: format-react

fix(kanban): optimize lane updates (#4131)
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionData/useDataCollectionLanesData.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/Kanban.tsx
Due: format-react

chore: release main (#4157)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(react-native): review feedback — F0Step token, F0Wizard style and comments
  packages/react-native/src/components/F0Step/F0Step.styles.ts
  packages/react-native/src/components/F0Wizard/F0Wizard.tsx
Due: format-react-native

feat(react-native): add F0WizardSteps component (#4141)
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0WizardShowcase/index.tsx
  packages/react-native/src/components/F0Step/F0Step.styles.ts
  packages/react-native/src/components/F0Step/__tests__/F0Step.spec.tsx
  packages/react-native/src/components/F0Step/__tests__/__snapshots__/F0Step.spec.tsx.snap
  packages/react-native/src/components/F0Wizard/F0Wizard.md
  packages/react-native/src/components/F0Wizard/F0Wizard.styles.ts
  packages/react-native/src/components/F0Wizard/F0Wizard.tsx
  packages/react-native/src/components/F0Wizard/F0Wizard.types.ts
  packages/react-native/src/components/F0Wizard/__tests__/F0Wizard.spec.tsx
  packages/react-native/src/components/F0Wizard/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#4158)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

fix(community): reset expandable post state
  packages/react/src/sds/Home/Communities/Post/CommunityPost/index.stories.tsx
  packages/react/src/sds/Home/Communities/Post/CommunityPost/index.test.tsx
  packages/react/src/sds/Home/Communities/Post/CommunityPost/index.tsx
  packages/react/src/sds/Home/Communities/Post/PostDescription/index.tsx
Due: format-react
