Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

feat(docs): add F0Alert Storybook documentation (#3894)
  packages/react/.skills/f0-storybook-stories/SKILL.md
  packages/react/.storybook/ImportBanner.tsx
  packages/react/src/components/F0Alert/F0Alert.tsx
  packages/react/src/components/F0Alert/__stories__/F0Alert.mdx
  packages/react/src/components/F0Alert/__stories__/F0Alert.stories.tsx
  packages/react/src/components/F0Alert/__tests__/F0Alert.test.tsx
  packages/react/src/components/F0Alert/types.ts
  packages/react/src/components/F0Checkbox/__stories__/F0Checkbox.mdx
  packages/react/src/components/F0Checkbox/__stories__/F0Checkbox.stories.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3942)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(F0Icon): enhance prop handling by stripping text-* classes and blocking unsafe props
  packages/react-native/src/components/primitives/F0Icon/F0Icon.md
  packages/react-native/src/components/primitives/F0Icon/F0Icon.tsx
  packages/react-native/src/components/primitives/F0Icon/F0Icon.types.ts
  packages/react-native/src/components/primitives/F0Icon/__tests__/F0Icon.spec.tsx
Due: format-react-native

test(rich-text): add unit tests for mention functionality in RichTextEditor
  packages/react/src/components/RichText/CoreEditor/Extensions/Mention/suggestion.test.tsx
  packages/react/src/components/RichText/CoreEditor/Extensions/Mention/suggestion.tsx
  packages/react/src/components/RichText/RichTextEditor/index.spec.tsx
  packages/react/src/components/RichText/RichTextEditor/index.test.tsx
  packages/react/src/components/RichText/RichTextEditor/mentions.test.tsx
Due: format-react

feat(F0ButtonToggle): add external className prop and fullWidth option
  packages/react/src/components/F0ButtonToggle/internal/F0ButtonToggle.internal.tsx
  packages/react/src/components/F0ButtonToggle/internal/types.internal.ts
  packages/react/src/components/F0ButtonToggleGroup/F0ButtonToggleGroup.tsx
  packages/react/src/components/F0ButtonToggleGroup/types.ts
  packages/react/src/patterns/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/CollectionItem/CollectionItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/MetricItem/MetricItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useChartDownloadActions.ts
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useCollectionDownloadActions.ts
  packages/react/src/patterns/F0AnalyticsDashboard/utils/chartDataAdapter.ts
  packages/react/src/sds/ai/F0AiChat/canvas/components/CanvasCard.tsx
Due: format-react

fix: add fieldType in state
  packages/react/.storybook/preview-head.html
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormFillAction.ts
  packages/react/src/styles.css
Due: format-react

feat(F0Icon): add tintColor prop for runtime color customization and … (#3934)
  packages/react-native/playground/components/F0IconShowcase/index.tsx
  packages/react-native/src/components/primitives/F0Icon/F0Icon.md
  packages/react-native/src/components/primitives/F0Icon/F0Icon.tsx
  packages/react-native/src/components/primitives/F0Icon/F0Icon.types.ts
  packages/react-native/src/components/primitives/F0Icon/__tests__/F0Icon.spec.tsx
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3943)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat(ApplicationFrame): add EmployeeListButton to display employee data in chat
  packages/react/src/sds/ai/F0AiChat/components/shared/CopilotFunctionBridge.tsx
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

fix: address PR review comments
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useChartDownloadActions.ts
  packages/react/src/patterns/F0AnalyticsDashboard/utils/chartDataAdapter.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
Due: format-react

feat(DashboardItem): add InfoCircleLine icon for data explanation
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
Due: format-react

fix: auto-open form and don't lose values when closing canvas
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/__tests__/F0AiFormRegistryAvailableDefinitions.test.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/components/CanvasCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCard.test.tsx
Due: format-react

feat(F0DataChart): responsive accessibility patterns + universal chart type transforms (#3928)
  packages/react/src/components/F0ButtonToggle/internal/F0ButtonToggle.internal.tsx
  packages/react/src/components/F0ButtonToggle/internal/types.internal.ts
  packages/react/src/components/F0ButtonToggleGroup/F0ButtonToggleGroup.tsx
  packages/react/src/components/F0ButtonToggleGroup/types.ts
  packages/react/src/kits/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/kits/F0DataChart/components/LineChart/useLineChartOptions.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/CollectionItem/CollectionItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/MetricItem/MetricItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useChartDownloadActions.ts
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useCollectionDownloadActions.ts
  packages/react/src/patterns/F0AnalyticsDashboard/utils/chartDataAdapter.ts
  packages/react/src/sds/ai/F0AiChat/canvas/components/CanvasCard.tsx
  packages/react/src/sds/ai/F0AiChat/components/shared/CopilotFunctionBridge.tsx
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

chore: release main (#3944)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: richTextEditor issue with +3 mentions (#3917)
  packages/react/src/components/RichText/CoreEditor/Extensions/Mention/suggestion.test.tsx
  packages/react/src/components/RichText/CoreEditor/Extensions/Mention/suggestion.tsx
  packages/react/src/components/RichText/RichTextEditor/index.spec.tsx
  packages/react/src/components/RichText/RichTextEditor/index.test.tsx
  packages/react/src/components/RichText/RichTextEditor/mentions.test.tsx
Due: format-react

chore: release main (#3945)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(ai): expose onSaveDashboard callback and Save Report button in dashboard header
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContext.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardHeader.tsx
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

feat(ai): add refresh button to dashboard header
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContext.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardHeader.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/index.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/types.ts
  packages/react/src/sds/ai/F0AiChat/components/layout/CanvasPanel.tsx
Due: format-react

fix(ai): include parent refresh key in dashboard data refresh
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
Due: format-react

fix: improve form
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormFillAction.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/formCanvasEntity.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/ActiveFormCard.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/__tests__/ActiveFormCard.test.tsx
Due: format-react

fix(F0AiChat): surface file upload errors to the user
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/AttachedFilesList.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/types.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/useFileAttachments.ts
Due: format-react

fix: remove auto-dismiss of error files, let user dismiss manually
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/useFileAttachments.ts
Due: format-react

fix: improve experience
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/ActiveFormCard.tsx
Due: format-react

fix: address review — a11y, error fallbacks, conditional tooltip
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/AttachedFilesList.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/useFileAttachments.ts
Due: format-react

fix: correct padding
  packages/react/src/patterns/F0Form/F0Form.tsx
Due: format-react

fix: improve the experience so that One knows about the form even faster
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/__tests__/formActions.test.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useF0AiFormActions.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormFillAction.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/usePickActiveFormAction.ts
Due: format-react

feat(F0Tabs): add fullWidth prop for evenly distributed tabs and enhance disabled state handling
  packages/react-native/playground/components/F0TabsShowcase/index.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.md
  packages/react-native/src/components/F0Tabs/F0Tabs.styles.ts
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.types.ts
  packages/react-native/src/components/F0Tabs/__tests__/F0Tabs.spec.tsx
  packages/react-native/src/components/F0Tabs/__tests__/__snapshots__/F0Tabs.spec.tsx.snap
Due: format-react-native

fix: polish active form card
  packages/react/src/experimental/Lists/DetailsItemsList/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/canvas/components/CanvasCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__stories__/FormCard.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/ActiveFormCard.tsx
Due: format-react

fix(F0Tabs): update disabled state opacity from 50% to 30% for better visibility
  packages/react-native/src/components/F0Tabs/F0Tabs.styles.ts
  packages/react-native/src/components/F0Tabs/__tests__/__snapshots__/F0Tabs.spec.tsx.snap
Due: format-react-native

fix(F0Tabs): update disabled state opacity from 30% to 50% for improved visibility
  packages/react-native/src/components/F0Tabs/F0Tabs.styles.ts
  packages/react-native/src/components/F0Tabs/__tests__/__snapshots__/F0Tabs.spec.tsx.snap
Due: format-react-native

feat(F0Tabs): implement scroll functionality for tab navigation and update layout handling
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
  packages/react-native/src/components/F0Tabs/__tests__/__snapshots__/F0Tabs.spec.tsx.snap
Due: format-react-native

fix(F0AiChat): surface file upload errors to the user (#3946)
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/AttachedFilesList.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/types.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/useFileAttachments.ts
Due: format-react

chore: release main (#3950)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(EditableTable): improve nested row add button and number cell
  packages/react/src/experimental/OneTable/TableCell/utils/nested.ts
  packages/react/src/hooks/datasource/useSelectable/useSelectable.ts
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableTableAddRow.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/NumberCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/NumberCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/hooks/useInputTextWidth.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/hooks/useNumberCellLayout.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/Row.tsx
Due: format-react

feat(F0Tabs): add separatorInset prop for customizable separator alignment and update documentation
  packages/react-native/playground/components/F0TabsShowcase/index.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.md
  packages/react-native/src/components/F0Tabs/F0Tabs.styles.ts
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.types.ts
  packages/react-native/src/components/F0Tabs/__tests__/F0Tabs.spec.tsx
  packages/react-native/src/components/F0Tabs/__tests__/__snapshots__/F0Tabs.spec.tsx.snap
Due: format-react-native

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
