Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4511)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(Sidebar): remove tab notification dot, keep badge
  packages/react/src/patterns/Navigation/Sidebar/Tabs/index.tsx
Due: format-react

fix(SurveyFormBuilder): hide a locked question's empty description input
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
Due: format-react

refactor(SurveyFormBuilder): rename section notice field to lockedNote
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/index.stories.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Section/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Section/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/types.ts
Due: format-react

style(SurveyFormBuilder): tighten spacing when no description is shown
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
Due: format-react

feat(SurveyFormBuilder): lockable sections & questions (#4512)
  packages/react/src/components/tags/F0TagRaw/F0TagRaw.tsx
  packages/react/src/components/tags/F0TagRaw/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__tests__/SurveyAnsweringForm.test.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyFormSchema.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/QuestionItem.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/SectionHeaderItem.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/TableOfContent/useTableOfContentItems.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/__tests__/SurveyFormBuilder.blockedQuestions.test.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/__tests__/index.test.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/__tests__/useReorderHandler.test.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/index.stories.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/useReorderHandler.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/useQuestionDisabled.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseScoreQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/CheckboxQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/DateQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/DropdownSingleQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/FileQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/LinkQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/NumericQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/SelectQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/TextQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Section/Item/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Section/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Section/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/types.ts
Due: format-react

chore: release main (#4513)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(F0NumberInput): show thousand separators when not focused
  packages/react/src/components/F0NumberInput/__tests__/F0NumberInput.test.tsx
  packages/react/src/components/F0NumberInput/internal.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/NumberCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/hooks/useNumberCellLayout.ts
Due: format-react

feat(value-display): add categoryBarChart cell renderer (#4472)
  packages/react/src/ui/value-display/renderers.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/__stories__/categoryBarChart.mdx
  packages/react/src/ui/value-display/types/categoryBarChart/__stories__/categoryBarChart.stories.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.test.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/index.tsx
Due: format-react

chore: release main (#4515)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0DatePicker): add selectOnCellOnly to defer selection to cell click
  packages/react/src/components/F0DatePicker/F0DatePicker.tsx
  packages/react/src/components/F0DatePicker/types.ts
  packages/react/src/components/OneCalendar/OneCalendar.test.tsx
  packages/react/src/components/OneCalendar/OneCalendar.tsx
  packages/react/src/patterns/F0Form/fields/period/PeriodFieldRenderer.tsx
  packages/react/src/ui/DatePickerPopup/DatePickerPopup.test.tsx
  packages/react/src/ui/DatePickerPopup/DatePickerPopup.tsx
Due: format-react

docs(F0TableOfContent): drop Delete section footer example
  packages/react/src/experimental/Navigation/F0TableOfContent/__stories__/F0TableOfContent.stories.tsx
Due: format-react

feat(ClockInControls): add locationSelectorElement slot for location drill-in
  packages/react/src/sds/Home/ClockIn/ClockInControls/index.spec.tsx
  packages/react/src/sds/Home/ClockIn/ClockInControls/index.stories.tsx
  packages/react/src/sds/Home/ClockIn/ClockInControls/index.tsx
Due: format-react

feat(F0TableOfContent): add footer action buttons (#4489)
  packages/react/src/experimental/Navigation/F0TableOfContent/TOCFooter/index.test.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/TOCFooter/index.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/__stories__/F0TableOfContent.stories.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/index.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/types.ts
Due: format-react

chore: release main (#4517)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0Banner): add inline status banner component
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0BannerShowcase/index.tsx
  packages/react-native/src/components/F0Banner/F0Banner.md
  packages/react-native/src/components/F0Banner/F0Banner.styles.ts
  packages/react-native/src/components/F0Banner/F0Banner.tsx
  packages/react-native/src/components/F0Banner/F0Banner.types.ts
  packages/react-native/src/components/F0Banner/__tests__/F0Banner.spec.tsx
  packages/react-native/src/components/F0Banner/__tests__/__snapshots__/F0Banner.spec.tsx.snap
  packages/react-native/src/components/F0Banner/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

refactor(F0Card)!: move F0CardHorizontal to experimental
  packages/react/src/components/F0Card/index.tsx
  packages/react/src/experimental/F0CardHorizontal/F0CardHorizontal.tsx
  packages/react/src/experimental/F0CardHorizontal/__stories__/F0CardHorizontal.mdx
  packages/react/src/experimental/F0CardHorizontal/__stories__/F0CardHorizontal.stories.tsx
  packages/react/src/experimental/F0CardHorizontal/__tests__/F0CardHorizontal.test.tsx
  packages/react/src/experimental/F0CardHorizontal/components/CardHorizontalActions.tsx
  packages/react/src/experimental/F0CardHorizontal/index.ts
  packages/react/src/experimental/exports.ts
  packages/react/src/sds/ai/F0HILActionConfirmation/F0HILActionConfirmation.tsx
  packages/react/src/sds/ai/F0HILActionConfirmation/types.ts
Due: format-react

refactor(Sidebar): make chat status icon-only
  packages/react/src/patterns/Navigation/Sidebar/Chats/SidebarChatItem.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/__tests__/SidebarChatList.test.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/index.stories.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/types.ts
  packages/react/src/patterns/Navigation/Sidebar/Tabs/index.tsx
Due: format-react

chore(F0Banner): apply oxfmt formatting
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0BannerShowcase/index.tsx
  packages/react-native/src/components/F0Banner/F0Banner.md
  packages/react-native/src/components/F0Banner/F0Banner.tsx
  packages/react-native/src/components/F0Banner/__tests__/F0Banner.spec.tsx
Due: format-react-native

docs(F0CardHorizontal): add responsive-width stacking story
  packages/react/src/experimental/F0CardHorizontal/__stories__/F0CardHorizontal.mdx
  packages/react/src/experimental/F0CardHorizontal/__stories__/F0CardHorizontal.stories.tsx
Due: format-react

feat(Sidebar): add per-chat unread message count badge
  packages/react/src/patterns/Navigation/Sidebar/Chats/SidebarChatItem.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/__tests__/SidebarChatList.test.tsx
  packages/react/src/patterns/Navigation/Sidebar/CollapsibleSection/index.tsx
Due: format-react

fix(Sidebar): align tab unread indicator and test
  packages/react/src/patterns/Navigation/Sidebar/Tabs/__tests__/Tabs.test.tsx
  packages/react/src/patterns/Navigation/Sidebar/Tabs/index.tsx
Due: format-react

feat(f0compose): duration as one field, clearer min-attendance label, report CTA
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

feat(Sidebar): sort unread chats first; add +99 example
  packages/react/src/patterns/Navigation/Sidebar/Chats/SidebarChatItem.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/SidebarChatList.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/__tests__/SidebarChatList.test.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/index.stories.tsx
  packages/react/src/patterns/Navigation/Sidebar/Tabs/__tests__/Tabs.test.tsx
Due: format-react

feat(F0AiChatTextArea): add external control surface (apiRef, onChange, showSubmitButton)
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__stories__/F0AiChatTextArea.stories.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__tests__/F0AiChatTextArea.externalControls.test.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/components/ActionBar.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/index.ts
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
Due: format-react

refactor(F0Card)!: rename F0CardRow to F0CardHorizontal (#4483)
  packages/react/src/components/F0Card/components/CardAvatar.tsx
  packages/react/src/components/F0Card/index.tsx
  packages/react/src/experimental/F0CardHorizontal/F0CardHorizontal.tsx
  packages/react/src/experimental/F0CardHorizontal/__stories__/F0CardHorizontal.mdx
  packages/react/src/experimental/F0CardHorizontal/__stories__/F0CardHorizontal.stories.tsx
  packages/react/src/experimental/F0CardHorizontal/__tests__/F0CardHorizontal.test.tsx
  packages/react/src/experimental/F0CardHorizontal/components/CardHorizontalActions.tsx
  packages/react/src/experimental/F0CardHorizontal/index.ts
  packages/react/src/experimental/exports.ts
  packages/react/src/sds/ai/F0HILActionConfirmation/F0HILActionConfirmation.tsx
  packages/react/src/sds/ai/F0HILActionConfirmation/__stories__/F0HILActionConfirmation.stories.tsx
  packages/react/src/sds/ai/F0HILActionConfirmation/types.ts
  packages/react/src/ui/ButtonGroup/ButtonGroup.tsx
  packages/react/src/ui/ButtonGroup/variants.ts
Due: format-react

chore: release main (#4519)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(storybook): render docs content inside I18nProvider
  packages/react/.storybook/DocsContainer.tsx
Due: format-react

docs(F0CardHorizontal): stack the card-list Do/Don't vertically
  packages/react/src/experimental/F0CardHorizontal/__stories__/F0CardHorizontal.mdx
  packages/react/src/lib/storybook-utils/do-donts.tsx
Due: format-react

feat(F0Banner): make banner full-bleed, remove rounded corners
  packages/react-native/playground/components/F0BannerShowcase/index.tsx
  packages/react-native/src/components/F0Banner/F0Banner.styles.ts
  packages/react-native/src/components/F0Banner/__tests__/__snapshots__/F0Banner.spec.tsx.snap
Due: format-react-native

style(Sidebar): adjust padding and icon sizes for improved layout
  packages/react/src/patterns/Navigation/Sidebar/Chats/SidebarChatItem.tsx
Due: format-react

fix(lifecycle-site): address Copilot review feedback
  packages/lifecycle-site/package.json
  packages/lifecycle-site/src/components/FlowDiagram.tsx
  packages/lifecycle-site/src/data/profiles.ts
  packages/lifecycle-site/src/data/rulesInventory.ts
  packages/lifecycle-site/tsconfig.app.json
  packages/lifecycle-site/tsconfig.json
  packages/lifecycle-site/tsconfig.node.json
  pnpm-lock.yaml
Due: none

feat(lifecycle-site): rework into a task-oriented onboarding guide
  packages/lifecycle-site/src/App.tsx
  packages/lifecycle-site/src/components/ContributeSection.tsx
  packages/lifecycle-site/src/components/Hero.tsx
  packages/lifecycle-site/src/components/PathSelector.tsx
  packages/lifecycle-site/src/components/PrototypeSection.tsx
  packages/lifecycle-site/src/components/Troubleshooting.tsx
  packages/lifecycle-site/src/components/WhereF0Lives.tsx
  packages/lifecycle-site/src/data/contribute.ts
  packages/lifecycle-site/src/data/phases.ts
  packages/lifecycle-site/src/data/prototype.ts
  packages/lifecycle-site/src/data/troubleshooting.ts
Due: none

fix(storybook): render docs content inside I18nProvider (#4520)
  packages/react/.storybook/DocsContainer.tsx
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
