Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

chore: add expo-image as a peer dependency and update F0Image documentation
  packages/react-native/package.json
  packages/react-native/src/components/primitives/F0Image/F0Image.md
Due: format-react-native

feat: f0 react native f0image primitive (#3639)
  packages/react-native/jest.setup.js
  packages/react-native/package.json
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0ImageShowcase/index.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/F0Image/F0Image.md
  packages/react-native/src/components/primitives/F0Image/F0Image.tsx
  packages/react-native/src/components/primitives/F0Image/F0Image.types.ts
  packages/react-native/src/components/primitives/F0Image/__tests__/F0Image.spec.tsx
  packages/react-native/src/components/primitives/F0Image/index.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3640)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat: add F0DurationInput compound input component
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__stories__/F0DurationInput.stories.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
  packages/react/src/components/F0DurationInput/index.tsx
  packages/react/src/components/F0DurationInput/types.ts
  packages/react/src/components/F0DurationInput/utils.ts
  packages/react/src/components/exports.ts
Due: format-react

fix(F0DurationInput): address PR review comments, fix border radius and focus rings
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__stories__/F0DurationInput.stories.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
  packages/react/src/components/F0DurationInput/index.tsx
  packages/react/src/components/F0DurationInput/types.ts
  packages/react/src/components/F0DurationInput/utils.ts
Due: format-react

fix(F0DurationInput): disabled cursor, hover color, animation, label
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
Due: format-react

fix(F0DurationInput): fix disabled cursor-not-allowed visibility
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
Due: format-react

fix(F0DurationInput): address second round of review comments
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__stories__/F0DurationInput.stories.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
  packages/react/src/components/F0DurationInput/utils.ts
Due: format-react

feat: introduce F0Tag component with multiple variants and showcase examples
  packages/react-native/AGENTS.md
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0TagShowcase/index.tsx
  packages/react-native/playground/components/TagShowcase/index.tsx
  packages/react-native/src/components/Avatars/Avatar.tsx
  packages/react-native/src/components/Avatars/BaseAvatar/index.tsx
  packages/react-native/src/components/Avatars/PersonAvatar/index.tsx
  packages/react-native/src/components/F0Tag/F0Tag.md
  packages/react-native/src/components/F0Tag/F0Tag.styles.ts
  packages/react-native/src/components/F0Tag/F0Tag.tsx
  packages/react-native/src/components/F0Tag/F0Tag.types.ts
  packages/react-native/src/components/F0Tag/F0TagAlert.tsx
  packages/react-native/src/components/F0Tag/F0TagBalance.tsx
  packages/react-native/src/components/F0Tag/F0TagCompany.tsx
  packages/react-native/src/components/F0Tag/F0TagDot.tsx
  packages/react-native/src/components/F0Tag/F0TagList.tsx
  packages/react-native/src/components/F0Tag/F0TagList.types.ts
  packages/react-native/src/components/F0Tag/F0TagPerson.tsx
  packages/react-native/src/components/F0Tag/F0TagRaw.tsx
  packages/react-native/src/components/F0Tag/F0TagRoot.tsx
  packages/react-native/src/components/F0Tag/F0TagStatus.tsx
  packages/react-native/src/components/F0Tag/F0TagTeam.tsx
  packages/react-native/src/components/F0Tag/__tests__/F0Tag.spec.tsx
  packages/react-native/src/components/F0Tag/__tests__/__snapshots__/F0Tag.spec.tsx.snap
  packages/react-native/src/components/F0Tag/index.ts
  packages/react-native/src/components/Tags/AlertTab/index.tsx
  packages/react-native/src/components/Tags/exports.ts
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/index.spec.tsx
  packages/react-native/src/components/exports.ts
Due: format-react-native

fix(F0DurationInput): allow Enter/Escape keys, mark separator as decorative
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
Due: format-react

fix(F0DurationInput): i18n ariaLabel override, data-disabled convention
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
  packages/react/src/components/F0DurationInput/types.ts
Due: format-react

fix(F0DurationInput): type-only import, empty label warning
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
  packages/react/src/components/F0DurationInput/types.ts
Due: format-react

fix(F0DurationInput): visible-units normalization, disabled cursor, dev warning
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
  packages/react/src/components/F0DurationInput/index.tsx
  packages/react/src/components/F0DurationInput/utils.ts
Due: format-react

fix(F0DurationInput): match InputField disabled cursor pattern exactly
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
Due: format-react

fix(F0DurationInput): disabled:cursor-not-allowed, deduplicate UNIT_ORDER
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/utils.ts
Due: format-react

fix(F0DurationInput): move disabled cursor to container via pointer-events
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
Due: format-react

fix(F0DurationInput): override aria-disabled cursor, re-sync on units change
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
Due: format-react

fix(F0DurationInput): simplify handleKeyDown to allow all non-printable keys
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
Due: format-react

fix(F0DurationInput): apply 61% opacity to suffix text color
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
Due: format-react

feat: restore add-row and summary stories for editable table
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
Due: format-react

fix(F0DurationInput): warn once for empty label and keep group accessible
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
Due: format-react

fix(F0DurationInput): clamp input width and fix suffix opacity and aria-label
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
Due: format-react

fix(F0DurationInput): harden unit normalization and placeholder behavior
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
  packages/react/src/components/F0DurationInput/utils.ts
Due: format-react

feat: wip
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneTable/TableCell/TreeConnector/index.tsx
  packages/react/src/experimental/OneTable/TableCell/index.tsx
Due: format-react

feat: editable table nested design
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/RowLoading/index.tsx
Due: format-react

feat: new stories & nested adjustments
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
Due: format-react

feat(EditableTable): add date cell type with F0DatePicker integration
  packages/react/src/components/F0DatePicker/F0DatePicker.tsx
  packages/react/src/components/F0DatePicker/components/DateInput.tsx
  packages/react/src/components/F0DatePicker/types.internal.ts
  packages/react/src/components/F0DatePicker/types.ts
  packages/react/src/experimental/OneCalendar/granularities/day/index.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/BaseCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/DateCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/consts.ts
Due: format-react

fix(editable-table): address PR 3600 comments
  packages/react/src/components/F0DatePicker/F0DatePicker.tsx
  packages/react/src/components/F0DatePicker/components/DateInput.tsx
  packages/react/src/components/F0DatePicker/types.ts
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/BaseCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/DateCell.tsx
Due: format-react

fix(editable-table): address PR 3600 feedback
  packages/react/src/components/F0DatePicker/types.internal.ts
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/README.md
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/DateCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/index.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneTable/TableCell/index.tsx
  packages/react/src/ui/InputField/InputField.tsx
Due: format-react

refactor: rename dotTagColors to f0TagDotColors and enforce text formatting in F0Tag components
  packages/react-native/playground/components/F0TagShowcase/index.tsx
  packages/react-native/src/components/F0Tag/F0Tag.md
  packages/react-native/src/components/F0Tag/F0TagCompany.tsx
  packages/react-native/src/components/F0Tag/F0TagPerson.tsx
  packages/react-native/src/components/F0Tag/F0TagTeam.tsx
  packages/react-native/src/components/F0Tag/__tests__/F0Tag.spec.tsx
  packages/react-native/src/components/F0Tag/index.ts
  packages/react-native/src/components/Tags/exports.ts
Due: format-react-native

fix: mark Tag component as deprecated and remove F0TagList showcase from TagShowcase
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/TagShowcase/index.tsx
Due: format-react-native

feat: add F0TagList component and update text formatting validation in F0Tag variants!
  packages/react-native/src/components/F0Tag/F0Tag.md
  packages/react-native/src/components/F0Tag/F0TagAlert.tsx
  packages/react-native/src/components/F0Tag/F0TagCompany.tsx
  packages/react-native/src/components/F0Tag/F0TagDot.tsx
  packages/react-native/src/components/F0Tag/F0TagPerson.tsx
  packages/react-native/src/components/F0Tag/F0TagRaw.tsx
  packages/react-native/src/components/F0Tag/F0TagStatus.tsx
  packages/react-native/src/components/F0Tag/F0TagTeam.tsx
  packages/react-native/src/lib/text.ts
Due: format-react-native

test(F0DurationInput): cover keyboard filtering behavior
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
Due: format-react

fix(editable-table): remove duplicate import, invalid props, and format issue
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/RowLoading/index.tsx
  packages/react/src/experimental/OneTable/TableCell/TreeConnector/index.tsx
Due: format-react

feat: introduce F0Tag component with multiple variants (#3642)
  packages/react-native/AGENTS.md
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0TagShowcase/index.tsx
  packages/react-native/playground/components/TagShowcase/index.tsx
  packages/react-native/src/components/Avatars/Avatar.tsx
  packages/react-native/src/components/Avatars/BaseAvatar/index.tsx
  packages/react-native/src/components/Avatars/PersonAvatar/index.tsx
  packages/react-native/src/components/F0Tag/F0Tag.md
  packages/react-native/src/components/F0Tag/F0Tag.styles.ts
  packages/react-native/src/components/F0Tag/F0Tag.tsx
  packages/react-native/src/components/F0Tag/F0Tag.types.ts
  packages/react-native/src/components/F0Tag/F0TagAlert.tsx
  packages/react-native/src/components/F0Tag/F0TagBalance.tsx
  packages/react-native/src/components/F0Tag/F0TagCompany.tsx
  packages/react-native/src/components/F0Tag/F0TagDot.tsx
  packages/react-native/src/components/F0Tag/F0TagList.tsx
  packages/react-native/src/components/F0Tag/F0TagList.types.ts
  packages/react-native/src/components/F0Tag/F0TagPerson.tsx
  packages/react-native/src/components/F0Tag/F0TagRaw.tsx
  packages/react-native/src/components/F0Tag/F0TagRoot.tsx
  packages/react-native/src/components/F0Tag/F0TagStatus.tsx
  packages/react-native/src/components/F0Tag/F0TagTeam.tsx
  packages/react-native/src/components/F0Tag/__tests__/F0Tag.spec.tsx
  packages/react-native/src/components/F0Tag/__tests__/__snapshots__/F0Tag.spec.tsx.snap
  packages/react-native/src/components/F0Tag/index.ts
  packages/react-native/src/components/Tags/AlertTab/index.tsx
  packages/react-native/src/components/Tags/exports.ts
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/index.spec.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/lib/text.ts
Due: format-react-native

chore: release main (#3645)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat(EditableTable): add date cell type with F0DatePicker integration (#3600)
  packages/react/src/components/F0DatePicker/F0DatePicker.tsx
  packages/react/src/components/F0DatePicker/components/DateInput.tsx
  packages/react/src/components/F0DatePicker/types.internal.ts
  packages/react/src/components/F0DatePicker/types.ts
  packages/react/src/experimental/OneCalendar/granularities/day/index.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/README.md
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/BaseCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/DateCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/index.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/consts.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/ui/InputField/InputField.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none
