Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

Potential fix for pull request finding
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
Due: format-react

fix: some copilot suggestions
  packages/react/src/experimental/Information/Headers/ResourceHeader/index.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__tests__/SurveyAnsweringForm.test.tsx
Due: format-react

fix: some other copilot suggestions
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/SelectQuestionField.tsx
  packages/react/src/ui/checkbox.tsx
Due: format-react

fix: add support for survey answering form to be on side position (#3666)
  packages/react/src/experimental/Information/Headers/ResourceHeader/index.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__tests__/SurveyAnsweringForm.test.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/RatingQuestionField.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/SelectQuestionField.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyFormSchema.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/TableOfContent/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseScoreQuestion/index.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3668)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(react): align F0DurationInput disabled and error highlight (#3665)
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/__stories__/ValidationIssues.test.stories.tsx
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
Due: format-react

chore: release main (#3669)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: wip
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/hooks/datasource/useSelectable/useSelectable.ts
Due: format-react

feat(F0Avatar): introduce F0Avatar component with multiple variants and showcase
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0AvatarShowcase/index.tsx
  packages/react-native/src/components/F0Avatar/F0Avatar.fileUtils.ts
  packages/react-native/src/components/F0Avatar/F0Avatar.md
  packages/react-native/src/components/F0Avatar/F0Avatar.modules.ts
  packages/react-native/src/components/F0Avatar/F0Avatar.primitives.tsx
  packages/react-native/src/components/F0Avatar/F0Avatar.styles.ts
  packages/react-native/src/components/F0Avatar/F0Avatar.tsx
  packages/react-native/src/components/F0Avatar/F0Avatar.types.ts
  packages/react-native/src/components/F0Avatar/F0Avatar.utils.ts
  packages/react-native/src/components/F0Avatar/F0AvatarAlert.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarBase.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarCompany.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarDate.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarEmoji.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarFile.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarFlag.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarIcon.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarList.clips.ts
  packages/react-native/src/components/F0Avatar/F0AvatarList.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarList.types.ts
  packages/react-native/src/components/F0Avatar/F0AvatarModule.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarPerson.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarTeam.tsx
  packages/react-native/src/components/F0Avatar/__tests__/F0Avatar.spec.tsx
  packages/react-native/src/components/F0Avatar/__tests__/__snapshots__/F0Avatar.spec.tsx.snap
  packages/react-native/src/components/F0Avatar/index.ts
Due: format-react-native

feat(F0AvatarShowcase): replace placeholder images with local asset images
  packages/react-native/playground/components/F0AvatarShowcase/index.tsx
Due: format-react-native

feat(F0Avatar): enhance avatar rendering with SVG support and clip masks for various shapes
  packages/react-native/src/components/F0Avatar/F0AvatarList.clips.ts
  packages/react-native/src/components/F0Avatar/F0AvatarList.tsx
  packages/react-native/src/components/F0Avatar/__tests__/__snapshots__/F0Avatar.spec.tsx.snap
Due: format-react-native

feat(react): add file attachments support to F0AiChat
  packages/react/src/examples/ApplicationFrame/index.stories.tsx
  packages/react/src/experimental/RichText/FileItem/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/components/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/UserMessage.tsx
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/index.ts
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
Due: format-react

fix: table of content drag and drop
  packages/react/src/experimental/Navigation/F0TableOfContent/__tests__/utils.test.ts
  packages/react/src/experimental/Navigation/F0TableOfContent/index.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/utils.ts
Due: format-react

feat(F0Avatar): establish architecture matrix
  packages/react-native/src/components/F0Avatar/F0Avatar.architecture-matrix.md
  packages/react-native/src/components/F0Avatar/F0Avatar.constants.ts
  packages/react-native/src/components/F0Avatar/F0Avatar.md
  packages/react-native/src/components/F0Avatar/F0Avatar.primitives.tsx
  packages/react-native/src/components/F0Avatar/F0Avatar.types.ts
  packages/react-native/src/components/F0Avatar/F0Avatar.utils.ts
  packages/react-native/src/components/F0Avatar/F0AvatarBase.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarCompany.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarFile.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarFlag.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarList.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarList.types.ts
  packages/react-native/src/components/F0Avatar/F0AvatarModule.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarPerson.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarTeam.tsx
  packages/react-native/src/components/F0Avatar/__tests__/F0Avatar.spec.tsx
  packages/react-native/src/components/F0Avatar/__tests__/__snapshots__/F0Avatar.spec.tsx.snap
  packages/react-native/src/components/F0Avatar/index.ts
  packages/react-native/src/components/F0Avatar/internal/badge.tsx
  packages/react-native/src/components/F0Avatar/internal/file-type.ts
  packages/react-native/src/components/F0Avatar/internal/list-avatar.tsx
  packages/react-native/src/components/F0Avatar/internal/list-counter.tsx
  packages/react-native/src/components/F0Avatar/internal/list-svg.tsx
  packages/react-native/src/components/F0Avatar/internal/list-types.ts
  packages/react-native/src/components/F0Avatar/internal/module-icons.ts
  packages/react-native/src/components/F0Avatar/internal/name.ts
Due: format-react-native

fix: javascript heap out of memory
  packages/react/package.json
  packages/react/src/examples/ApplicationFrame/index.tsx
  packages/react/src/experimental/Navigation/ApplicationFrame/index.tsx
Due: format-react

fix: javascript heap out of memory (#3672)
  packages/react/package.json
  packages/react/src/examples/ApplicationFrame/index.tsx
  packages/react/src/experimental/Navigation/ApplicationFrame/index.tsx
Due: format-react

chore: release main (#3673)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: restore add-row and summary stories for editable table (#3643)
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
Due: format-react

chore: release main (#3674)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(F0Avatar): remove drop-shadow from avatar components for cleaner appearance
  packages/react-native/src/components/Avatars/ModuleAvatar/index.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarModule.tsx
  packages/react-native/src/components/F0Avatar/__tests__/__snapshots__/F0Avatar.spec.tsx.snap
  packages/react-native/src/icons/modules/Hub.tsx
Due: format-react-native

feat(F0Avatar): add utility and flag size mappings for avatar components
  packages/react-native/src/components/F0Avatar/F0Avatar.constants.ts
  packages/react-native/src/components/F0Avatar/F0Avatar.tsx
  packages/react-native/src/components/F0Avatar/__tests__/F0Avatar.spec.tsx
  packages/react-native/src/components/F0Avatar/__tests__/__snapshots__/F0Avatar.spec.tsx.snap
  packages/react-native/src/components/F0Avatar/internal/badge.tsx
Due: format-react-native

feat(F0Avatar): integrate F0Text for fallback rendering and define size-based typography variants
  packages/react-native/src/components/F0Avatar/F0Avatar.primitives.tsx
Due: format-react-native

fix(F0Avatar): update snapshot styles for consistent typography and layout
  packages/react-native/src/components/F0Avatar/__tests__/__snapshots__/F0Avatar.spec.tsx.snap
Due: none

fix: handle text overflow for unspaced content in CommunityPost (#3527)
  packages/react/src/sds/Home/Communities/Post/CommunityPost/index.stories.tsx
  packages/react/src/sds/Home/Communities/Post/CommunityPost/index.tsx
  packages/react/src/sds/Home/Communities/Post/PostDescription/index.tsx
Due: format-react

chore(F0Avatar): remove architecture matrix document as it is no longer needed
  packages/react-native/src/components/F0Avatar/F0Avatar.architecture-matrix.md
Due: format-react-native

feat: data collection grouped headers
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/RowLoading/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/hooks/useHeaderGroups.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
  packages/react/src/experimental/OneTable/TableHead/index.tsx
Due: format-react

chore: release main (#3675)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(F0Avatar): update avatar list types to use specific item types instead of omitting size
  packages/react-native/src/components/F0Avatar/F0AvatarList.types.ts
  packages/react-native/src/components/F0Avatar/internal/list-types.ts
  packages/react-native/src/components/F0Avatar/internal/name.ts
Due: format-react-native

feat: add SelectCell for EditableTable with F0Select integration
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/SelectCell.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/SelectCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/consts.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
Due: format-react

docs(AGENTS): update AGENTS.md
  packages/react-native/AGENTS.md
Due: none

feat(exports): add F0Avatar export to component exports
  packages/react-native/src/components/exports.ts
Due: format-react-native

feat: add SelectCell for EditableTable with F0Select integration (#3607)
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/SelectCell.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/SelectCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/consts.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
Due: format-react

chore: release main (#3676)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none
