Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

fix: exports
  packages/react/src/sds/ai/exports.ts
Due: format-react

feat: replace WebGL renderer with CSS/SVG in F0OrbVoiceAnimation
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0OrbVoiceAnimation/__stories__/F0OrbVoiceAnimation.stories.tsx
  packages/react/src/sds/ai/F0OrbVoiceAnimation/components/F0OrbVoiceAnimation.tsx
  packages/react/src/sds/ai/F0OrbVoiceAnimation/components/styles.css
  packages/react/src/sds/ai/F0OrbVoiceAnimation/hooks/useOrbVoiceAnimation.ts
Due: format-react

feat: replace WebGL renderer with CSS gradients in F0AiMask
  packages/react/src/sds/ai/F0AiMask/F0AiMask.ts
  packages/react/src/sds/ai/F0AiMask/gl/geometry.ts
  packages/react/src/sds/ai/F0AiMask/gl/program.ts
  packages/react/src/sds/ai/F0AiMask/gl/shaders/fragment.ts
  packages/react/src/sds/ai/F0AiMask/gl/shaders/vertex.ts
  packages/react/src/sds/ai/F0AiMask/index.ts
  packages/react/src/sds/ai/F0AiMask/styles.css
Due: format-react

feat(orb): webgl voice animation orb with morphic gradient shader
  packages/react/src/sds/ai/F0AiMask/F0AiMask.ts
  packages/react/src/sds/ai/F0AiMask/styles.css
  packages/react/src/sds/ai/F0OrbVoiceAnimation/components/F0OrbVoiceAnimation.tsx
  packages/react/src/sds/ai/F0OrbVoiceAnimation/components/shaderSource.ts
  packages/react/src/sds/ai/F0OrbVoiceAnimation/components/styles.css
Due: format-react

fix(TableHead): show tooltip on truncated column headers via OneEllipsis (#4025)
  packages/react/src/experimental/OneTable/TableHead/index.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/index.stories.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4030)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(F0Button): re-enable autodocs so the Documentation entry appears in the sidebar
  packages/react/src/components/F0Button/__stories__/F0Button.stories.tsx
Due: format-react

fix: exports error
  packages/react/src/sds/ai/exports.ts
Due: format-react

fix(F0Button): match F0Alert tag pattern so docs render in public Storybook
  packages/react/src/components/F0Button/__stories__/F0Button.stories.tsx
Due: format-react

fix(OneDataCollection): add allPagesSelection banner below header and fix indeterminate state (#4023)
  packages/react/src/patterns/OneDataCollection/__stories__/selectable-bulk-actions.mdx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/__tests__/Table.test.tsx
Due: format-react

chore: release main (#4031)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: properly animate it
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/context.ts
  packages/react/src/patterns/F0Form/fields/FieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/GlowingFieldWrapper.tsx
  packages/react/src/patterns/F0Form/fields/date/DateTimeFieldRenderer.tsx
  packages/react/tailwind.config.ts
Due: format-react

fix: export orb animation
  packages/react/src/sds/ai/exports.ts
Due: format-react

revert mask to webgl
  packages/react/src/sds/ai/F0AiMask/F0AiMask.ts
  packages/react/src/sds/ai/F0AiMask/gl/geometry.ts
  packages/react/src/sds/ai/F0AiMask/gl/program.ts
  packages/react/src/sds/ai/F0AiMask/gl/shaders/fragment.ts
  packages/react/src/sds/ai/F0AiMask/gl/shaders/vertex.ts
  packages/react/src/sds/ai/F0AiMask/index.ts
  packages/react/src/sds/ai/F0AiMask/styles.css
Due: format-react

fix(core): align border radius tokens with Figma design system (#3805)
  packages/core/src/tokens/borderRadius.ts
  packages/react-native/src/styles/theme.css
  packages/react-native/src/styles/tokens/borderRadius.ts
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/deprecated/EntitySelect/Content/MainContent/Searcher.tsx
  packages/react/src/deprecated/EntitySelect/Content/MainContent/index.tsx
  packages/react/src/deprecated/EntitySelect/CreateItem/index.tsx
  packages/react/src/deprecated/EntitySelect/ListItem/index.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/Item/PrimitiveItem.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/index.tsx
  packages/react/src/lib/F0Box/__stories__/F0Box.stories.tsx
  packages/react/src/lib/F0Box/types.ts
  packages/react/src/lib/F0Box/utils/border.ts
  packages/react/src/lib/F0Box/utils/responsive-safelist.ts
  packages/react/src/ui/Avatar/Avatar.tsx
  packages/react/src/ui/F0Wizard/components/WizardSteps.tsx
  packages/react/src/ui/InputField/InputField.tsx
Due: format-react, format-react-native

chore: release main
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4033)
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(dialog): remove misleading disabled/loading from action item maps
  packages/react/src/patterns/F0Dialog/components/F0DialogFooter.tsx
Due: format-react

feat(dialog): add support for multiple secondary actions (#4013)
  packages/react/src/patterns/F0Dialog/__stories__/F0Modal.stories.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogFooter.tsx
  packages/react/src/patterns/F0Dialog/index.tsx
  packages/react/src/patterns/F0Dialog/internal-types.ts
  packages/react/src/patterns/F0Dialog/types.ts
Due: format-react

chore: release main (#4034)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(PageHeader): fix embedded back button navigation
  packages/react/src/experimental/Navigation/Header/PageHeader/index.tsx
Due: format-react

docs(react): add page-composition guide, screen-builder skill, Playground section
  packages/react/.storybook/main.ts
  packages/react/.storybook/preview.tsx
  packages/react/.storybook/skills/screen-builder/SKILL.md
  packages/react/.storybook/tsconfig.json
  packages/react/docs/page-composition.mdx
  packages/react/playground/README.md
  packages/react/playground/bots/BotDetail.stories.tsx
  packages/react/playground/bots/BotsList.stories.tsx
  packages/react/playground/bots/mock-data.ts
  packages/react/playground/bots/types.ts
Due: format-react

chore(react): remove bots playground example from PR scope
  packages/react/playground/bots/BotDetail.stories.tsx
  packages/react/playground/bots/BotsList.stories.tsx
  packages/react/playground/bots/mock-data.ts
  packages/react/playground/bots/types.ts
Due: format-react

feat: add support to resolve defaultValuesParams coming from One
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/patterns/F0Form/__tests__/F0AiFormRegistryAvailableDefinitions.test.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useF0AiFormActions.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
Due: format-react

fix: ensure we set values properly after resolving default values
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormFillAction.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
Due: format-react

fix: ensure we don't resolve values twice
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
Due: format-react

feat(F0AiChat): stop fix, chat-wide drop zone, canvas polish, history
  packages/react/src/components/RichText/FileItem/index.tsx
  packages/react/src/patterns/ApplicationFrame/index.tsx
  packages/react/src/sds/ai/F0AiChat/components/history/components/ThreadItem.tsx
  packages/react/src/sds/ai/F0AiChat/components/history/utils.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatInput.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/AttachedFilesList.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/DropOverlay.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/PendingQuoteChip.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/TextareaField.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/StepHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/CanvasPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ChatHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ChatWindow.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ResizeHandle.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/ScrollShadow.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/WelcomeScreen.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
Due: format-react

fix: address copilot comments
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormFillAction.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
Due: format-react

refactor(F0AiChat): improve styling and component structure
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/DropOverlay.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/WelcomeScreen.tsx
Due: format-react

fix(ChatTextarea): enhance border styling during clarification state
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/ChatTextarea.tsx
Due: format-react

feat(F0AiChat): implement cancel functionality for clarifying questions
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/persistClarifyingResolution.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/types.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/clarifyingQuestion/useClarifyingQuestionAction.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatInput.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/ClarifyingQuestionPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ClarifyingQuestionPanel/__tests__/ClarifyingQuestionPanel.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/__stories__/ClarifyingQuestion.stories.tsx
Due: format-react

refactor(F0AiChat): enhance layout and styling for Canvas components
  packages/react/src/patterns/ApplicationFrame/index.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/components/CanvasCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/components/__tests__/CanvasCard.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/CanvasPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ResizeHandle.tsx
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
Due: format-react

feat: add support to resolve defaultValuesParams coming from One (#4036)
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/patterns/F0Form/__tests__/F0AiFormRegistryAvailableDefinitions.test.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useF0AiFormActions.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormFillAction.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
Due: format-react

chore: release main (#4040)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: automatically generate icon barrel file
  packages/react/package.json
  packages/react/scripts/generate-icon-barrels.sh
  packages/react/src/icons/app/index.ts
Due: format-react

chore: automatically generate icon barrel file (#4043)
  packages/react/package.json
  packages/react/scripts/generate-icon-barrels.sh
  packages/react/src/icons/app/index.ts
Due: format-react
