Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

fix: some fields not being marked properly as required
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/components/F0Form/describeFormSchema.ts
  packages/react/src/components/F0Form/fields/FieldRenderer.tsx
  packages/react/src/components/F0Form/fields/schema.ts
  packages/react/src/components/F0Form/useSchemaDefinition.ts
Due: format-react

feat(metadata): add progress-bar variant to ResourceHeader metadata (#3730)
  packages/react/src/experimental/Information/Headers/Metadata/MetadataValue.tsx
  packages/react/src/experimental/Information/Headers/Metadata/index.stories.tsx
  packages/react/src/experimental/Information/Headers/Metadata/index.tsx
  packages/react/src/experimental/Information/Headers/index.mdx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3748)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: update FileQuestion to use string array for value instead of File array
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/FileQuestion/index.stories.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/FileQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/types.ts
Due: format-react

fix: add more strict typing
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/components/F0Form/fields/schema.ts
Due: format-react

feat: implement mock file upload functionality
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyFormSchema.tsx
Due: format-react

feat: add tests for file question handling in SurveyAnsweringForm
  packages/react/src/sds/surveys/SurveyAnsweringForm/__tests__/SurveyAnsweringForm.test.tsx
Due: format-react

refactor: apply copilot suggestion
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/components/F0Form/f0Schema.ts
  packages/react/src/components/F0Form/fields/checkbox/types.ts
  packages/react/src/components/F0Form/useSchemaDefinition.ts
  packages/react/src/experimental/Forms/CardSelectable/CardSelectable.tsx
Due: format-react

fix: some fields not being marked properly as required (#3747)
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/components/F0Form/describeFormSchema.ts
  packages/react/src/components/F0Form/fields/FieldRenderer.tsx
  packages/react/src/components/F0Form/fields/schema.ts
  packages/react/src/components/F0Form/useSchemaDefinition.ts
Due: format-react

chore: release main (#3749)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0Box): add hoverBackground prop with semantic hover tokens
  packages/react/src/components/F0Box/F0Box.tsx
  packages/react/src/components/F0Box/index.tsx
  packages/react/src/components/F0Box/types.ts
  packages/react/src/components/F0Box/utils/background.ts
  packages/react/src/components/F0Box/utils/responsive-safelist.ts
  packages/react/src/components/F0Box/utils/responsive.ts
Due: format-react

fix: copilot suggestion
  packages/react/src/experimental/Forms/CardSelectable/CardSelectable.tsx
Due: format-react

feat: add support for alert and more info link on f0form fields (#3541)
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/components/F0Form/__tests__/F0FormRenderCustomField.test.tsx
  packages/react/src/components/F0Form/components/SwitchGroupRenderer.tsx
  packages/react/src/components/F0Form/f0Schema.ts
  packages/react/src/components/F0Form/fields/FieldRenderer.tsx
  packages/react/src/components/F0Form/fields/checkbox/types.ts
  packages/react/src/components/F0Form/fields/switch/types.ts
  packages/react/src/components/F0Form/fields/types.ts
  packages/react/src/components/F0Form/index.tsx
  packages/react/src/components/F0Form/types.ts
  packages/react/src/components/F0Form/useSchemaDefinition.ts
  packages/react/src/experimental/Forms/CardSelectable/CardSelectable.tsx
  packages/react/src/experimental/Forms/CardSelectable/index.stories.tsx
  packages/react/src/experimental/Forms/CardSelectable/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

chore: release main (#3750)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(rich-text): add Ask AI tutor flow in bubble menu
  packages/react/src/experimental/RichText/CoreEditor/BubbleMenu/AskAITutorButton.tsx
  packages/react/src/experimental/RichText/CoreEditor/BubbleMenu/AskAITutorDialog.tsx
  packages/react/src/experimental/RichText/CoreEditor/BubbleMenu/index.tsx
  packages/react/src/experimental/RichText/NotesTextEditor/index.stories.tsx
  packages/react/src/experimental/RichText/NotesTextEditor/index.tsx
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ChatWindow.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

feat(rich-text): add Ask AI tutor flow in bubble menu
  packages/react/src/experimental/RichText/CoreEditor/BubbleMenu/AskAITutorDialog.tsx
Due: format-react

fix: pass useUpload hook at F0Form level instead of field-level
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/components/F0FormSection.tsx
  packages/react/src/components/F0Form/context.ts
  packages/react/src/components/F0Form/f0Schema.ts
  packages/react/src/components/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/file/__tests__/FileFieldRenderer.test.tsx
  packages/react/src/components/F0Form/fields/file/types.ts
  packages/react/src/components/F0Form/types.ts
  packages/react/src/components/F0Form/useSchemaDefinition.ts
Due: format-react

feat: replace WebGL renderer with CSS/SVG in F0OrbVoiceAnimation
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0OrbVoiceAnimation/__stories__/F0OrbVoiceAnimation.stories.tsx
  packages/react/src/sds/ai/F0OrbVoiceAnimation/components/F0OrbVoiceAnimation.tsx
  packages/react/src/sds/ai/F0OrbVoiceAnimation/components/styles.css
  packages/react/src/sds/ai/F0OrbVoiceAnimation/hooks/useOrbVoiceAnimation.ts
Due: format-react

refactor(react): extract F0TimelineConnector into subcomponent
  packages/react/src/components/F0TimelineRow/F0TimelineRow.tsx
  packages/react/src/components/F0TimelineRow/components/F0TimelineConnector.tsx
Due: format-react

feat: replace WebGL renderer with CSS gradients in F0AiMask
  packages/react/src/sds/ai/F0AiMask/F0AiMask.ts
  packages/react/src/sds/ai/F0AiMask/env.d.ts
  packages/react/src/sds/ai/F0AiMask/gl/geometry.ts
  packages/react/src/sds/ai/F0AiMask/gl/program.ts
  packages/react/src/sds/ai/F0AiMask/gl/shaders/fragment.glsl
  packages/react/src/sds/ai/F0AiMask/gl/shaders/vertex.glsl
  packages/react/src/sds/ai/F0AiMask/index.ts
  packages/react/src/sds/ai/F0AiMask/styles.css
Due: format-react

refactor(react): address PR review - discriminated union types, fix icons, merge action interfaces
  packages/core/assets/icons/app/Marker.svg
  packages/core/assets/icons/app/circle-dashed.svg
  packages/react/src/components/F0TimelineRow/F0TimelineRow.tsx
  packages/react/src/components/F0TimelineRow/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/components/F0TimelineRow/__tests__/F0TimelineRow.test.tsx
  packages/react/src/components/F0TimelineRow/index.tsx
  packages/react/src/components/F0TimelineRow/types.ts
  packages/react/src/icons/app/CircleDashed.tsx
  packages/react/src/icons/app/Multitask.tsx
  packages/react/src/icons/app/ProgressClock.tsx
Due: format-react

fix(OverflowList): prevent multi-item jumps and add custom overflow trigger for FiltersPresets
  packages/react/src/components/OneFilterPicker/components/FiltersPresets.tsx
  packages/react/src/ui/OverflowList/useOverflowCalculation.ts
Due: format-react

feat: add useUpload prop to SurveyAnsweringForm and related components
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyFormSchema.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Context.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/FileQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/types.ts
Due: format-react

feat: remove "file" from default question types
  packages/react/src/sds/surveys/SurveyFormBuilder/lib.ts
Due: format-react

fix(progress): remove unnecessary empty View in F0ProgressShowcase
  packages/react-native/playground/components/F0ProgressShowcase/index.tsx
Due: format-react-native

feat(progress): add F0Progress component (#3742)
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0ProgressShowcase/index.tsx
  packages/react-native/src/components/F0Progress/F0Progress.md
  packages/react-native/src/components/F0Progress/F0Progress.styles.ts
  packages/react-native/src/components/F0Progress/F0Progress.tsx
  packages/react-native/src/components/F0Progress/F0Progress.types.ts
  packages/react-native/src/components/F0Progress/__tests__/F0Progress.spec.tsx
  packages/react-native/src/components/F0Progress/__tests__/__snapshots__/F0Progress.spec.tsx.snap
  packages/react-native/src/components/F0Progress/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3754)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat(chip): introduce F0Chip component with showcase and styles
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0ChipShowcase/index.tsx
  packages/react-native/src/components/F0Chip/F0Chip.md
  packages/react-native/src/components/F0Chip/F0Chip.styles.ts
  packages/react-native/src/components/F0Chip/F0Chip.tsx
  packages/react-native/src/components/F0Chip/F0Chip.types.ts
  packages/react-native/src/components/F0Chip/__tests__/F0Chip.spec.tsx
  packages/react-native/src/components/F0Chip/__tests__/__snapshots__/F0Chip.spec.tsx.snap
  packages/react-native/src/components/F0Chip/index.ts
  packages/react-native/src/components/OneChip/index.spec.tsx
  packages/react-native/src/components/OneChip/index.tsx
  packages/react-native/src/components/exports.ts
Due: format-react-native

refactor(react): extract F0TimelineRow helpers into separate component files
  packages/react/src/components/F0TimelineRow/F0TimelineRow.tsx
  packages/react/src/components/F0TimelineRow/components/Actions.tsx
  packages/react/src/components/F0TimelineRow/components/IconContainer.tsx
  packages/react/src/components/F0TimelineRow/components/MultitaskHeader.tsx
  packages/react/src/components/F0TimelineRow/components/StatusIndicator.tsx
  packages/react/src/components/F0TimelineRow/components/TaskDetails.tsx
  packages/react/src/components/F0TimelineRow/components/TaskHeader.tsx
Due: format-react

fix(ai): keep final assistant replies out of thinking state
  packages/react/src/sds/ai/F0AiChat/components/messages/AssistantMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/__tests__/MessagesContainer.test.ts
  packages/react/src/sds/ai/F0AiChat/utils/turnUtils.ts
Due: format-react

fix(ai): render CopilotKit placeholder as thinking state
  packages/react/src/sds/ai/F0AiChat/actions/core/orchestratorThinking/useOrchestratorThinkingAction.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/AssistantMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/__tests__/AssistantMessage.test.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/utils/turnUtils.ts
Due: format-react

fix(ai): drop obsolete fallback thinking indicator
  packages/react/src/sds/ai/F0AiChat/components/messages/MessagesContainer.tsx
Due: format-react

fix(ai): address Copilot follow-up review comments
  packages/react/src/sds/ai/F0AiChat/components/messages/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/__tests__/MessagesContainer.test.ts
  packages/react/src/sds/ai/F0AiChat/utils/turnUtils.ts
Due: format-react

refactor(react): simplify F0TimelineRow avatars and status indicator
  packages/react/src/components/F0TimelineRow/__tests__/F0TimelineRow.test.tsx
  packages/react/src/components/F0TimelineRow/components/IconContainer.tsx
  packages/react/src/components/F0TimelineRow/components/StatusIndicator.tsx
  packages/react/src/components/F0TimelineRow/components/TaskDetails.tsx
  packages/react/src/components/F0TimelineRow/components/TaskHeader.tsx
Due: format-react

fix(react): remove background from F0TimelineRow status icons
  packages/react/src/components/F0TimelineRow/components/StatusIndicator.tsx
Due: format-react
