Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

feat(react-native): support Expo SDK 56 (React Native 0.85) (#4584)
  package.json
  packages/react-native/babel.config.cjs
  packages/react-native/jest.config.mjs
  packages/react-native/jest.setup.js
  packages/react-native/package.json
  packages/react-native/src/components/F0Avatar/__tests__/__snapshots__/F0Avatar.spec.tsx.snap
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
  packages/react-native/src/components/F0Metadata/__tests__/__snapshots__/F0Metadata.spec.tsx.snap
  packages/react-native/src/components/F0Step/__tests__/F0Step.spec.tsx
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.md
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.tsx
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.types.ts
  packages/react-native/src/components/primitives/F0BlurView/__tests__/__snapshots__/F0BlurView.spec.tsx.snap
  packages/react-native/src/components/primitives/PressableFeedback/__tests__/index.spec.tsx
  pnpm-lock.yaml
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#4658)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat(Cocreation): add Training Surveys as a second co-creation flow
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
  packages/react/src/patterns/Cocreation/__stories__/flow-configs.ts
  packages/react/src/patterns/Cocreation/__stories__/index.mdx
  packages/react/src/patterns/Cocreation/__stories__/mockData.tsx
  packages/react/src/patterns/Cocreation/__stories__/phases.mdx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.mdx
  packages/react/src/patterns/Cocreation/__stories__/survey-mocks.ts
  packages/react/src/patterns/Cocreation/__stories__/tab-configs.ts
Due: format-react

feat(F0Chat): implement link previews in message body rendering
  packages/react/src/sds/chat/F0Chat/__tests__/ChatLinkPreview.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatBubble.tsx
  packages/react/src/sds/chat/F0Chat/utils/__tests__/render-body.test.tsx
  packages/react/src/sds/chat/F0Chat/utils/render-body.tsx
Due: format-react

fix(OneDataCollection): contain table widget loading states within the card
  packages/react/src/experimental/OneTable/Table/index.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
Due: format-react

refactor(OneDataCollection): share bordered wrapper classes, test loading containment
  packages/react/src/experimental/OneTable/Table/__tests__/Table.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
Due: format-react

fix(toast): always-dark surface (fix dark mode) + neutral titles
  packages/react/src/ui/Toast/F0Toast.tsx
Due: format-react

fix(F0AiChatTextArea): enable send with attachment-only (no text) (#4640)
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4660)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore(react-native): make the playground showcase harness native (Expo UI / SDK 56) (#4586)
  packages/react-native/package.json
  packages/react-native/playground/app/(tabs)/_layout.tsx
  packages/react-native/playground/app/index.tsx
  packages/react-native/playground/components/Select/index.tsx
  packages/react-native/playground/components/Select/types.ts
  packages/react-native/playground/components/ThemeSwitcher.tsx
  pnpm-lock.yaml
Due: format-react-native

chore(react-native): use native Liquid Glass tabs in the playground tab bar (#4585)
  packages/react-native/package.json
  packages/react-native/playground/app/(tabs)/_layout.tsx
  packages/react-native/playground/app/index.tsx
  packages/react-native/playground/components/Select/index.tsx
  packages/react-native/playground/components/Select/types.ts
  packages/react-native/playground/components/ThemeSwitcher.tsx
  pnpm-lock.yaml
Due: format-react-native

fix(OneFilterPicker): apply nested grouped filter selections (#4654)
  packages/react/src/patterns/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/patterns/OneFilterPicker/OneFilterPicker.tsx
  packages/react/src/patterns/OneFilterPicker/__test__/groupedOptions.test.tsx
  packages/react/src/patterns/OneFilterPicker/components/FiltersControls.tsx
  packages/react/src/patterns/OneFilterPicker/filterTypes/InFilter/__stories__/InFilter.stories.tsx
Due: format-react

chore: release main (#4662)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: make OneDataCollection column-settings list scrollable (#4650)
  packages/react/src/patterns/OneDataCollection/Settings/SortAndHideSettings.tsx
Due: format-react

chore: release main (#4663)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(Cocreation): give Training Surveys its own guided-type creation flow
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
  packages/react/src/patterns/Cocreation/__stories__/flow-configs.ts
  packages/react/src/patterns/Cocreation/__stories__/mockData.tsx
  packages/react/src/patterns/Cocreation/__stories__/survey-mocks.ts
Due: format-react

feat(Cocreation): confirm before leaving Training creation on close
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
Due: format-react

feat(Cocreation): leaving Training creation closes chat to start page
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
Due: format-react

refactor(toasts): replace toast engine with sonner
  packages/react/package.json
  packages/react/src/hooks/toast/ToastItem.tsx
  packages/react/src/hooks/toast/ToastProvider.tsx
  packages/react/src/hooks/toast/__stories__/toasts.mdx
  packages/react/src/hooks/toast/__tests__/store.test.ts
  packages/react/src/hooks/toast/__tests__/toasts.aichat-stacking.test.tsx
  packages/react/src/hooks/toast/__tests__/toasts.sonner.test.tsx
  packages/react/src/hooks/toast/__tests__/toasts.test.tsx
  packages/react/src/hooks/toast/imperative.tsx
  packages/react/src/hooks/toast/store.ts
  pnpm-lock.yaml
Due: format-react

test(F0AnalyticsDashboard): add TableLoadingContainment story
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/mockDataMixed.ts
Due: format-react

test(F0AnalyticsDashboard): cover all widget types in the loading-states story
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/mockDataMixed.ts
Due: format-react

fix(F0DataChart): make the ECharts lifecycle safe inside animated canvas panels
  packages/react/src/kits/F0DataChart/__tests__/BarChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/F0DataChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/GaugeChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/HeatmapChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/LineChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/PieChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/RadarChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/stubChartContainerLayout.ts
  packages/react/src/kits/F0DataChart/components/BarChart/BarChart.tsx
  packages/react/src/kits/F0DataChart/components/FunnelChart/FunnelChart.tsx
  packages/react/src/kits/F0DataChart/components/HeatmapChart/HeatmapChart.tsx
  packages/react/src/kits/F0DataChart/components/LineChart/LineChart.tsx
  packages/react/src/kits/F0DataChart/components/PieChart/PieChart.tsx
  packages/react/src/kits/F0DataChart/components/RadarChart/RadarChart.tsx
  packages/react/src/kits/F0DataChart/utils/useAxisLabelTooltip.ts
  packages/react/src/kits/F0DataChart/utils/useEChartsInstance.ts
  packages/react/src/kits/F0DataChart/utils/useLegendInteraction.ts
  packages/react/src/patterns/F0AnalyticsDashboard/components/MetricItem/MetricItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useChartDownloadActions.ts
Due: format-react

test(F0DataChart): add lifecycle stories for deferred init and disposal
  packages/react/src/kits/F0DataChart/__stories__/Lifecycle.stories.tsx
Due: format-react

test(F0DataChart): match dashboard chart padding in lifecycle stories
  packages/react/src/kits/F0DataChart/__stories__/Lifecycle.stories.tsx
Due: format-react

fix(F0DataChart): wait for the container size to settle before deferred init
  packages/react/src/kits/F0DataChart/utils/useEChartsInstance.ts
Due: format-react

fix(F0DataChart): single first paint and canvas fade-in on deferred init
  packages/react/src/kits/F0DataChart/components/BarChart/BarChart.tsx
  packages/react/src/kits/F0DataChart/components/FunnelChart/FunnelChart.tsx
  packages/react/src/kits/F0DataChart/components/GaugeChart/GaugeChart.tsx
  packages/react/src/kits/F0DataChart/components/HeatmapChart/HeatmapChart.tsx
  packages/react/src/kits/F0DataChart/components/LineChart/LineChart.tsx
  packages/react/src/kits/F0DataChart/components/PieChart/PieChart.tsx
  packages/react/src/kits/F0DataChart/components/RadarChart/RadarChart.tsx
  packages/react/src/kits/F0DataChart/utils/useEChartsInstance.ts
Due: format-react

revert(F0DataChart): drop the canvas fade-in, keep the native entrance animation
  packages/react/src/kits/F0DataChart/components/BarChart/BarChart.tsx
  packages/react/src/kits/F0DataChart/components/FunnelChart/FunnelChart.tsx
  packages/react/src/kits/F0DataChart/components/GaugeChart/GaugeChart.tsx
  packages/react/src/kits/F0DataChart/components/HeatmapChart/HeatmapChart.tsx
  packages/react/src/kits/F0DataChart/components/LineChart/LineChart.tsx
  packages/react/src/kits/F0DataChart/components/PieChart/PieChart.tsx
  packages/react/src/kits/F0DataChart/components/RadarChart/RadarChart.tsx
Due: format-react

fix(F0DataChart): re-verify container size when the settle timer fires
  packages/react/src/kits/F0DataChart/utils/useEChartsInstance.ts
Due: format-react

docs: trim explanatory comments to the essentials
  packages/react/src/experimental/OneTable/Table/__tests__/Table.test.tsx
  packages/react/src/experimental/OneTable/Table/index.tsx
  packages/react/src/kits/F0DataChart/__stories__/Lifecycle.stories.tsx
  packages/react/src/kits/F0DataChart/__tests__/stubChartContainerLayout.ts
  packages/react/src/kits/F0DataChart/utils/useAxisLabelTooltip.ts
  packages/react/src/kits/F0DataChart/utils/useEChartsInstance.ts
  packages/react/src/kits/F0DataChart/utils/useLegendInteraction.ts
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/mockDataMixed.ts
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useChartDownloadActions.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
Due: format-react

fix(toasts): force uniform toast width in the stack
  packages/react/src/hooks/toast/ToastProvider.tsx
  packages/react/src/hooks/toast/__tests__/toasts.sonner.test.tsx
Due: format-react

fix(F0AudioPlayer): use secondary border token on card (#4656)
  packages/react/src/components/F0AudioPlayer/F0AudioPlayerCard.tsx
Due: format-react

chore: release main (#4666)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(chat): enhance mock chat functionality with new features and utilities
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/chat/F0Chat/F0Chat.stories.tsx
  packages/react/src/sds/chat/F0Chat/F0Chat.tsx
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.contract.test.tsx
  packages/react/src/sds/chat/F0Chat/__tests__/grouping-identity.test.ts
  packages/react/src/sds/chat/F0Chat/__tests__/scroll-tuning.test.ts
  packages/react/src/sds/chat/F0Chat/components/ChatBubble.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatHeader.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatLinkPreview.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageActions.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageAttachments.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageItem.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageReactions.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageRowRenderer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessagesContainer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatStates.tsx
  packages/react/src/sds/chat/F0Chat/components/MessageStatus.tsx
  packages/react/src/sds/chat/F0Chat/components/ReplyQuote.tsx
  packages/react/src/sds/chat/F0Chat/hooks/useChatScroll.ts
  packages/react/src/sds/chat/F0Chat/index.ts
  packages/react/src/sds/chat/F0Chat/mocks/MockChatApp.tsx
  packages/react/src/sds/chat/F0Chat/mocks/createMockChatRuntime.ts
  packages/react/src/sds/chat/F0Chat/mocks/mockSeeds.ts
  packages/react/src/sds/chat/F0Chat/mocks/useChatStorm.ts
  packages/react/src/sds/chat/F0Chat/mocks/useMockChatApp.ts
  packages/react/src/sds/chat/F0Chat/providers/F0ChatProvider.tsx
  packages/react/src/sds/chat/F0Chat/types.ts
  packages/react/src/sds/chat/F0Chat/utils/grouping.ts
  packages/react/src/sds/chat/F0Chat/utils/scroll-tuning.ts
Due: format-react

feat(F0Chat): improve message status display during sending
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.contract.test.tsx
  packages/react/src/sds/chat/F0Chat/components/MessageStatus.tsx
  packages/react/src/sds/chat/F0Chat/hooks/useChatScroll.ts
Due: format-react

feat(value-display): support tooltip on status cell
  packages/react/src/ui/value-display/types/status/status.test.tsx
  packages/react/src/ui/value-display/types/status/status.tsx
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
