Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3962)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0AiChat): update dashboard save functionality and unsaved state handling
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/types.ts
Due: format-react

fix(file-upload): rename 'File weight' to 'File size' in i18n default; run oxfmt on all affected files
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

feat(F0AiChat): add discard changes action to dashboard unsaved state handling
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
Due: format-react

feat: add dataSource item navigation
  packages/react/src/hooks/datasource/index.ts
  packages/react/src/hooks/datasource/useDataSourceItemNavigation/__stories__/useDataSourceItemNavigation.stories.tsx
  packages/react/src/hooks/datasource/useDataSourceItemNavigation/__tests__/useDataSourceItemNavigation.test.ts
  packages/react/src/hooks/datasource/useDataSourceItemNavigation/index.ts
  packages/react/src/hooks/datasource/useDataSourceItemNavigation/types.ts
  packages/react/src/hooks/datasource/useDataSourceItemNavigation/useDataSourceItemNavigation.ts
Due: format-react

fix: add support to get next and previous item url
  packages/react/src/hooks/datasource/useDataSourceItemNavigation/__stories__/useDataSourceItemNavigation.stories.tsx
  packages/react/src/hooks/datasource/useDataSourceItemNavigation/__tests__/useDataSourceItemNavigation.test.ts
  packages/react/src/hooks/datasource/useDataSourceItemNavigation/types.ts
  packages/react/src/hooks/datasource/useDataSourceItemNavigation/useDataSourceItemNavigation.ts
Due: format-react

feat: allow to format fields properly in FormCard
  packages/react/src/experimental/Lists/DetailsItem/index.tsx
  packages/react/src/experimental/Lists/DetailsItemsList/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__stories__/FormCard.stories.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCard.test.tsx
Due: format-react

feat: add custom field formatter support
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__stories__/FormCard.stories.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCard.test.tsx
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/providers/FormCardValueFormatterProvider.tsx
Due: format-react

refactor: add FormCardValueFormatterProvider in F0Provider
  packages/react/src/lib/providers/f0/f0-provider.tsx
Due: format-react

fix: capitalize by default
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCard.tsx
Due: format-react

feat(F0AiChat): implement saved dashboard metadata store for persistence
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContext.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/configStore.ts
Due: format-react

fix(F0AiChat): sanitize streaming entity-ref tags
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/utils/__tests__/sanitizeEntityRefs.test.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/utils/sanitizeEntityRefs.ts
  packages/react/src/sds/ai/F0AiChat/components/messages/AssistantMessage.tsx
Due: format-react

feat(ai-chat): redesign Person entity-ref hover card with Manager row
  packages/react/src/experimental/Lists/DataList/ItemContainer.tsx
  packages/react/src/experimental/Lists/DataList/actions/NavigateAction.tsx
  packages/react/src/experimental/Lists/DataList/types/actions.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/person/PersonEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/person/__stories__/PersonEntityRef.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/person/__tests__/PersonEntityRef.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/person/types.ts
Due: format-react

feat: editable table with actions column (#3951)
  packages/react/src/patterns/OneDataCollection/__stories__/actions/actions.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/editable-table/editable-table.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/patterns/OneDataCollection/components/itemActions/ItemActionsRow/ItemActionsRow.tsx
  packages/react/src/patterns/OneDataCollection/item-actions.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/README.md
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableTableItemActions.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/Row.tsx
Due: format-react

chore: release main (#3968)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor: address copilot concerns
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCard.test.tsx
  packages/react/src/sds/ai/F0AiChat/providers/FormCardValueFormatterProvider.tsx
Due: format-react

fix(F0Button): update fullWidth prop to apply correct class and add tests
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
  packages/react-native/src/components/F0Button/__tests__/__snapshots__/F0Button.spec.tsx.snap
Due: format-react-native

feat: allow to format fields properly in FormCard (#3965)
  packages/react/src/experimental/Lists/DetailsItem/index.tsx
  packages/react/src/experimental/Lists/DetailsItemsList/index.tsx
  packages/react/src/lib/providers/f0/f0-provider.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__stories__/FormCard.stories.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCard.test.tsx
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/providers/FormCardValueFormatterProvider.tsx
Due: format-react

chore: release main (#3970)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(F0AiChat): address PR review feedback on saved dashboards
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContext.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/SaveDashboardDialog.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/__tests__/DashboardHeader.test.tsx
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

feat(DashboardContent): add Save icon to save actions for improved UI clarity
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
Due: format-react

feat(F0AiChat): saved dashboards, canvas actions, pending context (#3957)
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/displayDashboard/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContext.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardHeader.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/SaveDashboardDialog.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/__tests__/DashboardHeader.test.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/__tests__/SaveDashboardDialog.test.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/configStore.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/index.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/types.ts
  packages/react/src/sds/ai/F0AiChat/canvas/index.ts
  packages/react/src/sds/ai/F0AiChat/canvas/types.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/UserMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/shared/CopilotFunctionBridge.tsx
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

chore: release main (#3972)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(OneDataCollection): reset Sort by and Group by on "Reset to default"
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/Settings/Settings.tsx
  packages/react/src/patterns/OneDataCollection/__tests__/index.spec.tsx
Due: format-react

feat: add FaceID and TouchID icons to the app icon set
  packages/react-native/src/icons/app/FaceID.tsx
  packages/react-native/src/icons/app/TouchID.tsx
  packages/react-native/src/icons/app/index.ts
Due: format-react-native

fix: GraphQL Int -> BigInt ID migration - allow strings as mentioned user IDs in the Rich Text editor (#3737)
  packages/react/src/components/RichText/CoreEditor/Extensions/Mention/types.tsx
  packages/react/src/components/RichText/RichTextEditor/index.stories.tsx
  packages/react/src/components/RichText/RichTextEditor/utils/helpers.tsx
  packages/react/src/components/RichText/RichTextEditor/utils/types.tsx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/__stories__/ValidationIssues.test.stories.tsx
  packages/react/src/patterns/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/patterns/F0Form/__tests__/F0FormValidation.test.tsx
  packages/react/src/patterns/F0Form/fields/richtext/types.ts
  packages/react/src/patterns/F0FormField/__stories__/F0FormField.stories.tsx
Due: format-react

chore: release main (#3974)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(F0Link): hardcode the "opens in new tab" a11y text
  packages/react/src/components/F0Link/F0Link.tsx
Due: format-react

fix(OneDataCollection): add required label to test grouping definition
  packages/react/src/patterns/OneDataCollection/__tests__/index.spec.tsx
Due: format-react

Apply suggestion from @Copilot
  packages/react/src/components/F0Link/F0Link.tsx
Due: format-react

fix(F0Link): hardcode opens-in-new-tab a11y text to avoid requiring I18nProvider (#3975)
  packages/react/src/components/F0Link/F0Link.tsx
Due: format-react

chore: release main (#3976)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
