Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

feat(react): voice mode close button
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
Due: format-react

fix: address copilot concerns
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/patterns/F0Form/__tests__/F0AiFormRegistryAvailableDefinitions.test.tsx
Due: format-react

fix: rich text field not getting updated when co-editing form (#3985)
  packages/react/src/patterns/F0Form/fields/richtext/RichTextFieldRenderer.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiFormTools.stories.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3993)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: add needed any
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
Due: format-react

fix: author not looking good on community post
  packages/react/src/components/F0Link/F0Link.tsx
Due: format-react

fix: author not looking good on community post (#3994)
  packages/react/src/components/F0Link/F0Link.tsx
Due: format-react

chore: release main (#3995)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: accept f0FormDefinition in availableFormDefinitions (#3986)
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
  packages/react/src/patterns/F0Form/__tests__/F0AiFormRegistryAvailableDefinitions.test.tsx
  packages/react/src/patterns/F0Form/index.tsx
Due: format-react

chore: release main (#3996)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

wip: improve entity-ref hover cards (vacancy, requisition, job-opening, candidate)
  packages/react/src/experimental/Lists/DataList/ItemContainer.tsx
  packages/react/src/experimental/Lists/DataList/actions/NavigateAction.tsx
  packages/react/src/experimental/Lists/DataList/types/actions.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/candidate/CandidateEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/candidate/types.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/jobPosting/JobPostingEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/jobPosting/types.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/person/types.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/requisition/RequisitionEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/requisition/types.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/vacancy/VacancyEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/vacancy/types.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

feat(CandidateEntityRef): show source and applied date rows
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/candidate/CandidateEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/candidate/types.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
Due: format-react

fix(useSelectable): preserve selection across infinite-scroll loadMore
  packages/react/src/hooks/datasource/__test__/useSelectable.test.tsx
  packages/react/src/hooks/datasource/useSelectable/typings.ts
  packages/react/src/hooks/datasource/useSelectable/useSelectable.ts
Due: format-react

fix: improve border accessibility by upgrading from border-secondary to border-default token
  packages/react/src/components/CardSelectable/CardSelectable.tsx
  packages/react/src/components/CardSelectable/index.tsx
  packages/react/src/experimental/Lists/DetailsItemsList/index.tsx
  packages/react/src/sds/inbox/OneApprovalHistory/index.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/RatingQuestionField.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseScoreQuestion/ScoreEditOption.tsx
  token-naming-inconsistencies.md
Due: format-react

fix: prevent form from being submitted from canva mode when it has validation errors
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/__tests__/formActions.test.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/forms/useFormSubmitAction.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
Due: format-react

fix(FileFieldRenderer): correct fileWeight i18n default to 'File weight'
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

docs(F0ButtonDropdown): rewrite MDX documentation applying UX feedback
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
Due: format-react

docs(F0ButtonDropdown): move Usage into Guidelines, add Canvas in When to use
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
Due: format-react

docs(F0ButtonDropdown): use bold instead of headings in Usage examples
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
Due: none

docs(F0ButtonDropdown): move Modes/Variants/Sizes under Anatomy
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
Due: none

docs(F0ButtonDropdown): apply iterative feedback corrections
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
Due: format-react

docs(F0ButtonDropdown): remove ### Sizes section — redundant with system defaults
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
Due: none

fix: apply oxfmt formatting to do-donts.tsx
  packages/react/src/lib/storybook-utils/do-donts.tsx
Due: format-react

docs(skills): add format step to quality gate and args rule to storybook stories
  packages/react/.skills/f0-quality-gate/SKILL.md
  packages/react/.skills/f0-storybook-stories/SKILL.md
Due: format-react

docs(F0ButtonDropdown): add visual example to critical items DoDont
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
Due: none

docs: convert #### subheadings to bold in Guidelines section
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
Due: none

docs(F0ButtonDropdown): add visual to first DoDont, fix Canvas collision in cards
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
  packages/react/src/lib/storybook-utils/do-donts.tsx
Due: format-react

docs(F0ButtonDropdown): fix DoDont visual using Canvas instead of inline JSX
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
Due: format-react

docs(F0ButtonDropdown): remove verb-first labels DoDont — not specific to this component
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
Due: format-react

docs(F0ButtonDropdown): final coherence pass
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
Due: format-react

fix(F0ButtonDropdown): apply Copilot review fixes
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
  packages/react/src/components/F0ButtonDropdown/__stories__/controls.mdx
Due: format-react

fix(F0ButtonDropdown): add required args to Variants/Sizes/Modes stories and apply oxfmt
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
Due: format-react

fix(F0ButtonDropdown): address remaining Copilot comments
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
Due: format-react

docs(F0ButtonDropdown): add Sizes section to MDX and remove redundant args from render-only stories
  packages/react/docs/component-status-data.json
  packages/react/docs/component-status.mdx
  packages/react/docs/components/ComponentStatusTable.tsx
  packages/react/scripts/generate-component-status.mjs
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.mdx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
Due: format-react

fix(F0ButtonDropdown): remove semicolons from stories.tsx via oxfmt; fix MDX import examples in mdx-authoring.md skill reference
  packages/react/.skills/f0-docs/references/mdx-authoring.md
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
Due: format-react

fix(core): align border radius tokens with Figma design system
  packages/core/src/tokens/borderRadius.ts
  packages/react-native/src/styles/theme.css
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/deprecated/EntitySelect/Content/MainContent/Searcher.tsx
  packages/react/src/deprecated/EntitySelect/Content/MainContent/index.tsx
  packages/react/src/deprecated/EntitySelect/CreateItem/index.tsx
  packages/react/src/deprecated/EntitySelect/ListItem/index.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/Item/PrimitiveItem.tsx
  packages/react/src/experimental/Navigation/F0TableOfContent/index.tsx
  packages/react/src/ui/F0Wizard/components/WizardSteps.tsx
  packages/react/src/ui/InputField/InputField.tsx
Due: format-react, format-react-native

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
