Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

feat(ai): enhance message filtering to exclude non-renderable messages (#3929)
  packages/react/src/sds/ai/F0AiChat/__tests__/internal-types.test.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatInput.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ChatHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3931)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0AiChat): render assistant messages in true streaming order (#3895)
  packages/react/package.json
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/components/messages/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/providers/OrderedMessagePartsProvider.tsx
  packages/react/src/sds/ai/F0AiChat/providers/__tests__/OrderedMessagePartsProvider.test.tsx
  packages/react/src/sds/ai/F0AiChat/utils/__tests__/expand-message-parts.test.ts
  packages/react/src/sds/ai/F0AiChat/utils/expand-message-parts.ts
  pnpm-lock.yaml
Due: format-react

chore: release main (#3932)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(docs): address remaining Copilot comments on PR #3894
  packages/react/.skills/f0-storybook-stories/SKILL.md
  packages/react/src/components/F0Alert/__stories__/F0Alert.stories.tsx
  packages/react/src/components/F0Checkbox/__stories__/F0Checkbox.mdx
  packages/react/src/components/F0Checkbox/__stories__/F0Checkbox.stories.tsx
Due: format-react

fix(EntitySelect): render popover inside dialogs and fix scroll/height issues (#3921)
  packages/react/src/deprecated/EntitySelect/Content/index.tsx
  packages/react/src/deprecated/EntitySelect/index.stories.tsx
  packages/react/src/deprecated/EntitySelect/index.tsx
Due: format-react

feat(F0Icon): add tintColor prop for runtime color customization and update documentation
  packages/react-native/playground/components/F0IconShowcase/index.tsx
  packages/react-native/src/components/primitives/F0Icon/F0Icon.md
  packages/react-native/src/components/primitives/F0Icon/F0Icon.tsx
  packages/react-native/src/components/primitives/F0Icon/F0Icon.types.ts
  packages/react-native/src/components/primitives/F0Icon/__tests__/F0Icon.spec.tsx
Due: format-react-native

chore: release main (#3933)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: change button feedback animation
  packages/react/src/ui/Action/variants.ts
Due: format-react

fix: change animation for dropdown buttons
  packages/react/src/components/F0ButtonDropdown/F0ButtonDropdown.tsx
Due: format-react

refactor: make tooltip a function of action state
  packages/react/src/patterns/OneDataCollection/actions.tsx
  packages/react/src/patterns/OneDataCollection/components/CollectionActions/CollectionActions.tsx
  packages/react/src/patterns/OneDataCollection/components/CollectionActions/__tests__/CollectionActions.test.tsx
Due: format-react

feat(ai): expose onSaveDashboard callback and Save Report button in dashboard header
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardContext.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardHeader.tsx
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

feat(ai): add refresh button to dashboard header
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/DashboardHeader.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/dashboard/index.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/types.ts
  packages/react/src/sds/ai/F0AiChat/components/layout/CanvasPanel.tsx
Due: format-react

feat(TimeLine): add F0TimelineRowNestedtask variant
  packages/react/src/sds/TimeLine/F0TimelineRow.tsx
  packages/react/src/sds/TimeLine/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/sds/TimeLine/__tests__/F0TimelineRow.test.tsx
  packages/react/src/sds/TimeLine/components/MultitaskRow.tsx
  packages/react/src/sds/TimeLine/components/NestedtaskHeader.tsx
  packages/react/src/sds/TimeLine/components/NestedtaskRow.tsx
  packages/react/src/sds/TimeLine/index.tsx
  packages/react/src/sds/TimeLine/types.ts
Due: format-react

fix: align nestedtask header spacing with task header (gap-3)
  packages/react/src/sds/TimeLine/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/sds/TimeLine/components/NestedtaskHeader.tsx
  packages/react/src/sds/TimeLine/components/NestedtaskRow.tsx
Due: format-react

fix: remove duplicate import of EyeVisible icon in F0TimelineRow stories
  packages/react/src/sds/TimeLine/__stories__/F0TimelineRow.stories.tsx
Due: format-react

fix: some styling small issues
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/ui/InputField/InputField.tsx
Due: format-react

docs(AGENTS): add mandatory pre-commit format step (#3920)
  packages/react/AGENTS.md
Due: none

fix(F0Alert): stability audit BLOCKING fixes (#3900)
  packages/react/src/components/F0Alert/F0Alert.tsx
  packages/react/src/components/F0Alert/__stories__/F0Alert.stories.tsx
  packages/react/src/components/F0Alert/__tests__/F0Alert.test.tsx
  packages/react/src/components/F0Alert/types.ts
Due: format-react

chore: release main (#3937)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(F0Link): resolve stability audit BLOCKING issues (#3903)
  packages/react/src/components/F0Link/F0Link.tsx
  packages/react/src/components/F0Link/__stories__/F0Link.stories.tsx
  packages/react/src/components/F0Link/__tests__/index.test.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

chore: release main (#3938)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(F0Button): stability BLOCKING fixes (#3897)
  packages/react/src/components/F0Button/__stories__/F0Button.stories.tsx
  packages/react/src/components/F0Button/__tests__/F0Button.test.tsx
  packages/react/src/components/F0Button/internal.tsx
Due: format-react

feat: add tooltip support to DataCollection secondary actions (#3930)
  packages/react/src/patterns/OneDataCollection/actions.tsx
  packages/react/src/patterns/OneDataCollection/components/CollectionActions/CollectionActions.tsx
  packages/react/src/patterns/OneDataCollection/components/CollectionActions/__tests__/CollectionActions.test.tsx
Due: format-react

chore: release main (#3939)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(NestedtaskHeader): refactor button rendering logic for better clarity
  packages/react/src/sds/TimeLine/components/NestedtaskHeader.tsx
Due: format-react

fix: address PR review comments for nestedtask variant
  packages/react/src/sds/TimeLine/F0TimelineRow.tsx
  packages/react/src/sds/TimeLine/__tests__/F0TimelineRow.test.tsx
  packages/react/src/sds/TimeLine/components/MultitaskRow.tsx
  packages/react/src/sds/TimeLine/components/NestedtaskHeader.tsx
  packages/react/src/sds/TimeLine/components/NestedtaskRow.tsx
Due: format-react

feat(F0HILActionConfirmation): add destructive variant for irreversible actions
  packages/react/src/sds/ai/F0HILActionConfirmation/F0HILActionConfirmation.tsx
  packages/react/src/sds/ai/F0HILActionConfirmation/index.ts
  packages/react/src/sds/ai/F0HILActionConfirmation/types.ts
Due: format-react

feat(useAutoOpenCanvas): add optional shouldOpen guard callback
  packages/react/src/sds/ai/F0AiChat/hooks/useAutoOpenCanvas.ts
Due: format-react

feat(TimeLine): add F0TimelineRowNestedtask variant (#3936)
  packages/react/src/sds/TimeLine/F0TimelineRow.tsx
  packages/react/src/sds/TimeLine/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/sds/TimeLine/__tests__/F0TimelineRow.test.tsx
  packages/react/src/sds/TimeLine/components/MultitaskRow.tsx
  packages/react/src/sds/TimeLine/components/NestedtaskHeader.tsx
  packages/react/src/sds/TimeLine/components/NestedtaskRow.tsx
  packages/react/src/sds/TimeLine/index.tsx
  packages/react/src/sds/TimeLine/types.ts
Due: format-react

chore: release main (#3940)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

docs(F0HILActionConfirmation): add storybook examples for destructive variant
  packages/react/src/sds/ai/F0HILActionConfirmation/__stories__/F0HILActionConfirmation.stories.tsx
Due: format-react

fix: i18n issues
  packages/react/.storybook/ImportBanner.tsx
  packages/react/src/components/F0Alert/__stories__/F0Alert.mdx
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
