Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

refactor(component-status): extract a11yTierOf helper
  packages/react/scripts/component-status-build.mjs
  packages/react/scripts/component-status-build.test.ts
Due: format-react

feat: add warning tag variant to sidebar
  packages/react/src/patterns/Navigation/Sidebar/Menu/index.tsx
  packages/react/src/patterns/Navigation/Sidebar/index.stories.tsx
Due: format-react

fix(Table): don't flash rows when paginating
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/hooks/__tests__/useAddedRowKeys.test.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/hooks/useAddedRowKeys.ts
Due: format-react

fix(Table): don't animate row movement when paginating
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
Due: format-react

feat(F0DataChart): format and restyle bar value labels
  packages/react/src/kits/F0DataChart/__tests__/BarChart.test.tsx
  packages/react/src/kits/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/kits/F0DataChart/types.ts
Due: format-react

feat(F0DataChart): show precise values in bar chart tooltips
  packages/react/src/kits/F0DataChart/__tests__/BarChart.test.tsx
  packages/react/src/kits/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/kits/F0DataChart/types.ts
  packages/react/src/kits/F0DataChart/utils/options.ts
Due: format-react

feat(F0DataChart): hide bar value labels that don't fit
  packages/react/src/kits/F0DataChart/__tests__/BarChart.test.tsx
  packages/react/src/kits/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/kits/F0DataChart/types.ts
Due: format-react

chore(Charts): remove unused experimental F0Chart component
  packages/react/src/kits/Charts/F0Chart/F0Chart.tsx
  packages/react/src/kits/Charts/F0Chart/__stories__/area.stories.tsx
  packages/react/src/kits/Charts/F0Chart/__stories__/bar.stories.tsx
  packages/react/src/kits/Charts/F0Chart/__stories__/barHorizontal.stories.tsx
  packages/react/src/kits/Charts/F0Chart/__stories__/decorators.tsx
  packages/react/src/kits/Charts/F0Chart/__stories__/funnel.stories.tsx
  packages/react/src/kits/Charts/F0Chart/__stories__/index.stories.tsx
  packages/react/src/kits/Charts/F0Chart/__stories__/line.stories.tsx
  packages/react/src/kits/Charts/F0Chart/__stories__/pie.stories.tsx
  packages/react/src/kits/Charts/F0Chart/__stories__/radar.stories.tsx
  packages/react/src/kits/Charts/F0Chart/index.ts
  packages/react/src/kits/Charts/F0Chart/themes/f0.light.ts
  packages/react/src/layouts/Dashboard/__stories__/mockWidgets.tsx
Due: format-react

fix(Table): don't animate rows when paginating (#4809)
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/hooks/__tests__/useAddedRowKeys.test.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/hooks/useAddedRowKeys.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4813)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(storybook): serve remote MCP at /mcp via Azure SWA rewrite
  AGENTS.md
  packages/react/.storybook/static/staticwebapp.config.json
Due: format-react

fix(storybook): return 405 on GET to remote MCP endpoint
  packages/react/api/src/functions/mcp.ts
Due: format-react

feat(F0AnalyticsDashboard): polish metric (KPI) widget
  packages/react/src/patterns/F0AnalyticsDashboard/components/MetricItem/MetricItem.tsx
Due: format-react

fix(storybook): serve remote MCP at /mcp via Azure SWA rewrite (#4814)
  AGENTS.md
  packages/react/.storybook/static/staticwebapp.config.json
  packages/react/api/src/functions/mcp.ts
Due: format-react

chore: release main (#4816)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(OneDataCollection): grey parent rows on hover in nested table
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/__tests__/Table.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
Due: format-react

feat(categoryBarChart): add loading skeleton and align bar in row
  packages/react/src/ui/value-display/types/categoryBarChart/__stories__/categoryBarChart.mdx
  packages/react/src/ui/value-display/types/categoryBarChart/__stories__/categoryBarChart.stories.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.test.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.tsx
Due: format-react

feat(categoryBarChart): center cell and add loading skeleton (#4808)
  packages/react/src/ui/value-display/types/categoryBarChart/__stories__/categoryBarChart.mdx
  packages/react/src/ui/value-display/types/categoryBarChart/__stories__/categoryBarChart.stories.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.test.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.tsx
Due: format-react

chore: release main (#4819)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

docs(f0): reorganize the About F0 docs, aligned to the lifecycle landing
  packages/react/.storybook/preview.tsx
  packages/react/docs/AddNewIcon.mdx
  packages/react/docs/Introduction.mdx
  packages/react/docs/_lifecycle-visuals.tsx
  packages/react/docs/changelog.mdx
  packages/react/docs/component-status.mdx
  packages/react/docs/components-maturity.mdx
  packages/react/docs/contributions.mdx
  packages/react/docs/definition-of-done.mdx
  packages/react/docs/design-review.mdx
  packages/react/docs/development/release-and-versioning.mdx
  packages/react/docs/getting-started.md
  packages/react/docs/what-is-f0.mdx
  packages/react/docs/where-it-goes.mdx
Due: format-react

feat(OneDataCollection): add grouping to the Kanban visualization
  packages/react/src/patterns/OneDataCollection/__stories__/grouping.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/kanban-versions.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/kanban.stories.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/Kanban.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/KanbanBoard.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/index.spec.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Kanban/types.ts
Due: format-react

chore(Charts): hide deprecated Charts kit from Storybook sidebar
  packages/react/src/kits/Charts/AreaChart/index.stories.tsx
  packages/react/src/kits/Charts/BarChart/index.stories.tsx
  packages/react/src/kits/Charts/CategoryBarChart/index.stories.tsx
  packages/react/src/kits/Charts/ComboChart/index.stories.tsx
  packages/react/src/kits/Charts/LineChart/index.stories.tsx
  packages/react/src/kits/Charts/PieChart/index.stories.tsx
  packages/react/src/kits/Charts/ProgressChart/index.stories.tsx
  packages/react/src/kits/Charts/RadarChart/index.stories.tsx
  packages/react/src/kits/Charts/RadialProgressChart/index.stories.tsx
  packages/react/src/kits/Charts/VerticalBarChart/index.stories.tsx
Due: format-react

feat(F0Map): routes, arcs and route-stop markers
  packages/react/src/patterns/F0Map/components/F0MapList/F0MapList.tsx
  packages/react/src/patterns/F0Map/components/F0MapMarker/F0MapMarker.tsx
  packages/react/src/patterns/F0Map/components/F0MapMarker/__stories__/F0MapMarker.stories.tsx
  packages/react/src/patterns/F0Map/components/F0MapVectorLayer.tsx
  packages/react/src/patterns/F0Map/components/internal/BaseMapMarker/BaseMapMarker.tsx
  packages/react/src/patterns/F0Map/components/internal/BaseMapMarker/__stories__/BaseMapMarker.stories.tsx
  packages/react/src/patterns/F0Map/components/internal/BaseMapMarker/index.ts
  packages/react/src/patterns/F0Map/types.ts
  packages/react/src/patterns/F0Map/utils/arc.ts
Due: format-react

feat(F0Map): current-location dot as a GL layer under everything
  packages/react/src/patterns/F0Map/components/F0MapMarkersLayer.tsx
  packages/react/src/patterns/F0Map/components/internal/CurrentLocationDot.tsx
  packages/react/src/patterns/F0Map/components/internal/CurrentLocationLayer.tsx
Due: format-react

feat(F0Map): globe projection, forced-theme dark wrap and line-aware shell
  packages/react/src/patterns/F0Map/F0Map.tsx
  packages/react/src/patterns/F0Map/__stories__/F0Map.mdx
  packages/react/src/patterns/F0Map/__stories__/F0Map.stories.tsx
  packages/react/src/patterns/F0Map/__tests__/F0Map.test.tsx
  packages/react/src/patterns/F0Map/index.tsx
Due: format-react

feat(F0Map): clusters show four heads before the +N counter
  packages/react/src/patterns/F0Map/components/internal/F0MapCluster/F0MapCluster.tsx
  packages/react/src/patterns/F0Map/components/internal/F0MapCluster/__stories__/F0MapCluster.stories.tsx
Due: format-react

feat(F0Map): controls grouped on frosted cards
  packages/react/src/patterns/F0Map/components/F0MapControls/F0MapControls.tsx
Due: format-react

feat(F0Map): dark basemap water as a light overlay tone
  packages/react/src/patterns/F0Map/styles/buildStyles.mjs
  packages/react/src/patterns/F0Map/styles/f0-dark.json
  packages/react/src/patterns/F0Map/styles/f0-light.json
Due: format-react

feat(F0DataChart): add categoryBar variant
  packages/react/src/kits/F0DataChart/F0DataChart.tsx
  packages/react/src/kits/F0DataChart/__stories__/CategoryBar.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/EmptyStates.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/Skeletons.stories.tsx
  packages/react/src/kits/F0DataChart/__tests__/CategoryBarChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/isDataChartEmpty.test.ts
  packages/react/src/kits/F0DataChart/components/CategoryBarChart/CategoryBarChart.tsx
  packages/react/src/kits/F0DataChart/components/EmptyState/EmptyState.tsx
  packages/react/src/kits/F0DataChart/index.ts
  packages/react/src/kits/F0DataChart/skeletons.tsx
  packages/react/src/kits/F0DataChart/types.ts
  packages/react/src/kits/F0DataChart/utils/isDataChartEmpty.ts
Due: format-react

chore(ownership): kits follow regular component rules, drop their manifests
  CODEOWNERS
  lefthook.yml
  ownership/CODEOWNERS.base
  ownership/check.ts
  ownership/lib.ts
  packages/react/src/kits/Charts/package.yml
  packages/react/src/kits/F0DataChart/package.yml
  packages/react/src/kits/Social/package.yml
Due: format-react

chore(ownership): require f0-general sign-off for new sds modules
  ownership/README.md
  ownership/review-policy.ts
Due: none

feat(Charts): deprecate Charts kit and migrate internal consumers to F0DataChart
  packages/react/src/experimental/F0SegmentedBar/F0SegmentedBar.tsx
  packages/react/src/experimental/F0SegmentedBar/__tests__/F0SegmentedBar.test.tsx
  packages/react/src/experimental/Information/Headers/Metadata/MetadataValue.tsx
  packages/react/src/experimental/Widgets/Charts/AreaChartWidget/index.tsx
  packages/react/src/experimental/Widgets/Charts/BarChartWidget/index.tsx
  packages/react/src/experimental/Widgets/Charts/LineChartWidget/index.tsx
  packages/react/src/experimental/Widgets/Charts/PieChartWidget/index.tsx
  packages/react/src/experimental/Widgets/Charts/RadialProgressWidget/index.tsx
  packages/react/src/experimental/Widgets/Charts/VerticalBarChartWidget/index.tsx
  packages/react/src/experimental/Widgets/Charts/adapters.ts
  packages/react/src/experimental/Widgets/Content/ProgressBarDuo/index.tsx
  packages/react/src/kits/Charts/RadialProgressChart/index.tsx
  packages/react/src/kits/Charts/exports.ts
  packages/react/src/kits/Charts/utils/colors.tsx
  packages/react/src/lib/chart-colors.ts
  packages/react/src/sds/Profile/CategoryBarSection/index.tsx
  packages/react/src/ui/value-display/types/barSeries/barSeries.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.tsx
  packages/react/src/ui/value-display/types/progressBar/progressBar.tsx
Due: format-react

docs(f0): frame the flow around your AI agent, not Claude specifically
  packages/react/docs/Introduction.mdx
  packages/react/docs/contributions.mdx
  packages/react/docs/definition-of-done.mdx
  packages/react/docs/what-is-f0.mdx
  packages/react/docs/where-it-goes.mdx
Due: none

docs(f0): keep the agent framing open + note F0 is open source
  packages/react/docs/Introduction.mdx
  packages/react/docs/contributions.mdx
  packages/react/docs/what-is-f0.mdx
Due: none

docs(f0): remove the standalone Design Review page
  packages/react/.storybook/preview.tsx
  packages/react/docs/Introduction.mdx
  packages/react/docs/definition-of-done.mdx
  packages/react/docs/design-review.mdx
  packages/react/docs/development/release-and-versioning.mdx
  packages/react/docs/index.md
Due: format-react

feat(icons): ReceiptAi — add to react-native + refresh art (web + mobile) (#4708)
  packages/react-native/assets/icons/ai/receipt-ai.svg
  packages/react-native/package.json
  packages/react-native/scripts/generate-icons.mjs
  packages/react-native/src/icons/ai/ReceiptAi.tsx
  packages/react-native/src/icons/ai/index.ts
  packages/react-native/src/icons/index.ts
  packages/react/src/icons/ai/ReceiptAi.tsx
Due: format-react, format-react-native
