Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

fix(OneDataCollection): restore eager mode via expandTo and retry failed fetches after a reset
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/__tests__/NestedExpansionControl.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/providers/NestedProvider.tsx
Due: format-react

fix(SortAndHideList): add edge padding to first/last toggle rows
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/SortAndHideList/SortAndHideList.tsx
Due: format-react

feat(F0Graph): parent-anchored tree layout (ancestors fixed on expand)
  packages/react/src/patterns/F0Graph/hooks/__tests__/useLayoutEngine.test.ts
  packages/react/src/patterns/F0Graph/hooks/useLayoutEngine.ts
Due: format-react

refactor(F0FileItem): rename date prop to subtitle
  packages/react/src/components/F0FileItem/F0FileItem.tsx
  packages/react/src/components/F0FileItem/__stories__/F0FileItem.stories.tsx
  packages/react/src/components/F0FileItem/__tests__/F0FileItem.test.tsx
Due: format-react

revert(F0Graph): drop the node-transform reflow transition
  packages/react/src/patterns/F0Graph/F0Graph.css
  packages/react/src/patterns/F0Graph/hooks/useGraphRenderModel.ts
Due: format-react

revert(F0Graph): restore centered tree layout (drop parent-anchored A1)
  packages/react/src/patterns/F0Graph/hooks/__tests__/useLayoutEngine.test.ts
  packages/react/src/patterns/F0Graph/hooks/useLayoutEngine.ts
Due: format-react

fix(F0Graph): don't let React Flow double-cull the windowed node array (#4742)
  packages/react/src/patterns/F0Graph/F0Graph.tsx
  packages/react/src/patterns/F0Graph/__stories__/F0Graph.mdx
  packages/react/src/patterns/F0Graph/__stories__/F0Graph.stories.tsx
  packages/react/src/patterns/F0Graph/__tests__/F0Graph.canvasFooterActions.test.tsx
  packages/react/src/patterns/F0Graph/__tests__/F0Graph.windowingCulling.test.tsx
  packages/react/src/patterns/F0Graph/components/F0GraphNode/F0GraphNode.tsx
  packages/react/src/patterns/F0Graph/components/F0GraphView/F0GraphView.tsx
  packages/react/src/patterns/F0Graph/hooks/__tests__/useGraphRenderModel.test.ts
  packages/react/src/patterns/F0Graph/hooks/__tests__/useViewportDataLoader.test.ts
  packages/react/src/patterns/F0Graph/hooks/useGraphRenderModel.ts
  packages/react/src/patterns/F0Graph/hooks/useGraphViewport.ts
  packages/react/src/patterns/F0Graph/hooks/useViewportDataLoader.ts
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Graph/index.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Graph/types.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4768)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(react): wrap survey rating options so long labels don't clip
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/RatingQuestionField.tsx
Due: format-react

feat(Card): default the header link to a ghost appearance
  packages/react/src/ui/Card/Card.tsx
  packages/react/src/ui/Card/__tests__/Card.test.tsx
Due: format-react

fix(F0AnalyticsDashboard): dashboard rows can't be shrunk + chart tooltips vanish on hover pause (#4740)
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/DashboardGrid.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/hooks/useDashboardExport.ts
Due: format-react

chore: release main (#4771)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(storybook): fail CI on new a11y skipCi usages (ratchet guard)
  packages/react/.storybook/a11y-skip-allowlist.json
  packages/react/.storybook/test-runner.ts
  packages/react/src/lib/storybook-utils/parameters.ts
  vendor/skills/f0-storybook-stories/SKILL.md
  vendor/skills/f0-storybook-stories/references/story-patterns.md
  vendor/skills/f0-storybook-testing/SKILL.md
  vendor/skills/f0-storybook-testing/references/storybook-test-patterns.md
Due: format-react

test(storybook): keep a11y skip allowlist in sync with reality
  packages/react/src/lib/storybook-utils/a11ySkipAllowlist.test.ts
Due: format-react

fix(SortAndHideList): apply edge padding on inner content, not list items
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/SortAndHideList/SortAndHideList.tsx
Due: format-react

feat(storybook): track per-file skip counts in the a11y allowlist
  packages/react/.storybook/a11y-skip-allowlist.json
  packages/react/.storybook/test-runner.ts
  packages/react/src/lib/storybook-utils/a11ySkipAllowlist.test.ts
  packages/react/src/lib/storybook-utils/parameters.ts
  vendor/skills/f0-storybook-stories/references/story-patterns.md
  vendor/skills/f0-storybook-testing/SKILL.md
  vendor/skills/f0-storybook-testing/references/storybook-test-patterns.md
Due: format-react

docs(skills): instruct agents to update the a11y allowlist on skip removal
  AGENTS.md
  vendor/skills/f0-storybook-stories/SKILL.md
  vendor/skills/f0-storybook-testing/SKILL.md
  vendor/skills/f0-storybook-testing/references/storybook-test-patterns.md
Due: none

docs(skills): point to canonical skip-removal rules instead of duplicating
  vendor/skills/f0-storybook-stories/SKILL.md
Due: none

test: deliberate ratchet violation to prove ci rejects new skips
  packages/react/src/ui/Spinner/index.stories.tsx
Due: format-react

chore(storybook): fix dangling MDX story references
  packages/react/src/__tests__/mdxStoryReferences.test.ts
  packages/react/src/lib/F0GridStack/__stories__/F0GridStack.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/list/list.mdx
Due: format-react

docs(ai): show chat and analytics toolbar modes
  packages/react/src/sds/ai/F0AiChatTextArea/__stories__/F0AiChatTextArea.stories.tsx
Due: format-react

feat(storybook): extend axe coverage to WCAG 2.2 A and AA
  packages/react/.storybook/test-runner.ts
Due: format-react

feat(F0DatePicker): add defaultMonth to control initial calendar view
  packages/react/src/components/F0DatePicker/F0DatePicker.tsx
  packages/react/src/components/F0DatePicker/__stories__/F0DatePicker.stories.tsx
  packages/react/src/components/F0DatePicker/types.ts
  packages/react/src/components/OneCalendar/OneCalendar.tsx
  packages/react/src/patterns/F0Form/fields/date/DateFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/date/types.ts
  packages/react/src/patterns/F0Form/fields/renderFieldInput.tsx
  packages/react/src/ui/DatePickerPopup/DatePickerPopup.tsx
Due: format-react

feat(F0Avatar): expose configurable background color via bgColor prop
  packages/react/src/components/avatars/F0Avatar/F0Avatar.tsx
  packages/react/src/components/avatars/F0Avatar/__stories__/F0Avatar.stories.tsx
  packages/react/src/components/avatars/F0AvatarCompany/F0AvatarCompany.tsx
  packages/react/src/components/avatars/F0AvatarCompany/types.ts
  packages/react/src/components/avatars/F0AvatarPerson/F0AvatarPerson.tsx
  packages/react/src/components/avatars/F0AvatarPerson/types.ts
  packages/react/src/components/avatars/F0AvatarTeam/F0AvatarTeam.tsx
Due: format-react

chore(react-native): remove deprecated OnePreset component (#4694)
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/OnePresetShowcase/index.tsx
  packages/react-native/src/components/OnePreset/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/OnePreset/index.spec.tsx
  packages/react-native/src/components/OnePreset/index.tsx
  packages/react-native/src/components/exports.ts
Due: format-react-native

feat(ai): toolbarStart slot in the chat composer action row (#4713)
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__stories__/F0AiChatTextArea.stories.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__tests__/F0AiChatTextArea.toolbarStart.test.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/components/ActionBar.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
Due: format-react

chore: release main (#4777)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore(storybook): fix dangling MDX story references (#4774)
  packages/react/src/__tests__/mdxStoryReferences.test.ts
  packages/react/src/lib/F0GridStack/__stories__/F0GridStack.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/list/list.mdx
Due: format-react

feat(F0Text): add ai gradient text variant
  packages/react/src/components/F0Text/F0Text.tsx
  packages/react/src/components/F0Text/__stories__/Text.mdx
  packages/react/src/components/F0Text/__stories__/Text.stories.tsx
  packages/react/src/components/F0Text/__tests__/Text.test.tsx
  packages/react/src/ui/Text/variants.ts
  packages/react/tailwind.config.ts
Due: format-react

fix(react): wrap survey rating options so long labels don't clip (#4769)
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/RatingQuestionField.tsx
Due: format-react

chore: release main (#4789)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
