Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

fix: adjust padding in WelcomeScreen component for improved layout
  packages/react/src/ai/F0AiChat/components/WelcomeScreen.tsx
Due: format-react

refactor: update layout structure in F0AiChat stories for better responsiveness
  packages/react/src/ai/F0AiChat/__stories__/F0AiChat.stories.tsx
Due: format-react

Refactor(aichat): extract F0HILActionConfirmation and F0Thinking
  packages/react/src/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/ai/F0AiChat/components/ChatSpinner.tsx
  packages/react/src/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/ai/F0AiChat/components/MessagesContainerFullscreen.tsx
  packages/react/src/ai/F0AiChat/components/index.ts
  packages/react/src/ai/F0AiChat/index.ts
  packages/react/src/ai/F0AiChat/internal-types.ts
  packages/react/src/ai/F0AiChat/types.ts
  packages/react/src/ai/F0HILActionConfirmation/F0HILActionConfirmation.tsx
  packages/react/src/ai/F0HILActionConfirmation/__stories__/F0HILActionConfirmation.stories.tsx
  packages/react/src/ai/F0HILActionConfirmation/index.ts
  packages/react/src/ai/F0HILActionConfirmation/types.ts
  packages/react/src/ai/F0Thinking/F0Thinking.tsx
  packages/react/src/ai/F0Thinking/__stories__/F0Thinking.stories.tsx
  packages/react/src/ai/F0Thinking/index.ts
  packages/react/src/ai/F0Thinking/types.ts
  packages/react/src/sds/ai/F0AiChat/components/AssistantMessage.tsx
Due: format-react

refactor(aichat): streamline F0AiChat component structure and introduce default copilot actions
  packages/react/src/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/ai/F0AiChat/components/ScrollShadow.tsx
  packages/react/src/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/ai/F0AiChat/copilotActions/types.ts
  packages/react/src/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/ai/F0AiChat/copilotActions/useMessageSourcesAction.tsx
  packages/react/src/ai/F0AiChat/copilotActions/useOrchestratorThinkingAction.tsx
  packages/react/src/ai/F0AiChat/index.ts
Due: format-react

feat: new one upselling components
  packages/react/src/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/ai/F0AiChat/copilotActions/types.ts
  packages/react/src/ai/F0AiChat/copilotActions/useBookAMeetingCardAction.tsx
  packages/react/src/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/ai/F0AiChat/copilotActions/useDemoCardAction.tsx
  packages/react/src/ai/F0AiChat/copilotActions/useModuleCardAction.tsx
  packages/react/src/ai/F0AiChat/copilotActions/useQuestionCardAction.tsx
  packages/react/src/ai/F0UpsellKit/F0BookAMeetingCard/F0BookAMeetingCard.tsx
  packages/react/src/ai/F0UpsellKit/F0BookAMeetingCard/__stories__/F0BookAMeetingCard.stories.tsx
  packages/react/src/ai/F0UpsellKit/F0BookAMeetingCard/index.ts
  packages/react/src/ai/F0UpsellKit/F0BookAMeetingCard/types.ts
  packages/react/src/ai/F0UpsellKit/F0DemoCard/F0DemoCard.tsx
  packages/react/src/ai/F0UpsellKit/F0DemoCard/__stories__/F0DemoCard.stories.tsx
  packages/react/src/ai/F0UpsellKit/F0DemoCard/index.ts
  packages/react/src/ai/F0UpsellKit/F0DemoCard/types.ts
  packages/react/src/ai/F0UpsellKit/F0ModuleCard/F0ModuleCard.tsx
  packages/react/src/ai/F0UpsellKit/F0ModuleCard/__stories__/F0ModuleCard.stories.tsx
  packages/react/src/ai/F0UpsellKit/F0ModuleCard/index.ts
  packages/react/src/ai/F0UpsellKit/F0ModuleCard/types.ts
  packages/react/src/ai/F0UpsellKit/F0QuestionCard/F0QuestionCard.tsx
  packages/react/src/ai/F0UpsellKit/F0QuestionCard/__stories__/F0QuestionCard.stories.tsx
  packages/react/src/ai/F0UpsellKit/F0QuestionCard/index.ts
  packages/react/src/ai/F0UpsellKit/F0QuestionCard/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

feat: new faq component for ai
  packages/react/src/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/ai/F0AiChat/copilotActions/types.ts
  packages/react/src/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/ai/F0AiChat/copilotActions/useFAQCardAction.tsx
  packages/react/src/ai/F0UpsellKit/F0BookAMeetingCard/F0BookAMeetingCard.tsx
  packages/react/src/ai/F0UpsellKit/F0DemoCard/F0DemoCard.tsx
  packages/react/src/ai/F0UpsellKit/F0FAQCard/F0FAQCard.tsx
  packages/react/src/ai/F0UpsellKit/F0FAQCard/__stories__/F0FAQCard.stories.tsx
  packages/react/src/ai/F0UpsellKit/F0FAQCard/index.ts
  packages/react/src/ai/F0UpsellKit/F0FAQCard/types.ts
  packages/react/src/ai/F0UpsellKit/F0ModuleCard/F0ModuleCard.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

fix: rebase
  packages/react/src/ai/F0AiChat/F0AiChat.tsx
Due: format-react

fix: refile
  packages/react/src/sds/ai/F0AiCollapsibleMessage/F0AiCollapsibleMessage.tsx
  packages/react/src/sds/ai/F0AiCollapsibleMessage/__stories__/F0AiCollapsibleMessage.stories.tsx
  packages/react/src/sds/ai/F0AiCollapsibleMessage/index.ts
  packages/react/src/sds/ai/F0AiCollapsibleMessage/types.ts
Due: format-react

feat: add oxfmt/oxlint configurations for React Native
  packages/react-native/.oxfmt-tailwind.css
  packages/react-native/.oxfmtrc.jsonc
  packages/react-native/.oxlintrc.json
  packages/react-native/.prettierrc
  packages/react-native/eslint.config.mjs
  packages/react-native/package.json
  pnpm-lock.yaml
Due: none

chore: update snapshots
  packages/react-native/src/components/Avatars/DateAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Avatars/EmojiAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Navigation/PageHeader/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/OneChip/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Tags/DotTag/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItem/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/__snapshots__/index.spec.tsx.snap
Due: none

chore: add React Native formatting and linting jobs to CI workflow
  .github/workflows/quality.yaml
  .github/workflows/test.yaml
Due: none

chore: update pnpm-lock
  pnpm-lock.yaml
Due: none

feat: add Marketplace and PushPin icons to React Native package
  packages/react-native/package.json
  packages/react-native/src/icons/app/Marketplace.tsx
  packages/react-native/src/icons/app/PushPin.tsx
  packages/react-native/src/icons/app/PushPinSolid.tsx
  packages/react-native/src/icons/app/index.ts
  packages/react-native/src/icons/modules/Marketplace.tsx
  packages/react-native/src/icons/modules/index.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat(RichTextEditor): implement image resizing functionality
  packages/react/src/experimental/RichText/CoreEditor/Extensions/Image/index.tsx
  packages/react/src/experimental/RichText/index.css
Due: format-react

fix(Hub): remove unsupported filter attribute from SVG
  packages/react-native/src/icons/modules/Hub.tsx
Due: format-react-native

feat(CoCreationForm): add dropdown question type with F0Select
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/CoCreationForm/DropdownQuestion/index.stories.tsx
  packages/react/src/sds/CoCreationForm/DropdownQuestion/index.tsx
  packages/react/src/sds/CoCreationForm/DropdownQuestion/types.ts
  packages/react/src/sds/CoCreationForm/Question/index.tsx
  packages/react/src/sds/CoCreationForm/constants.ts
  packages/react/src/sds/CoCreationForm/lib.ts
  packages/react/src/sds/CoCreationForm/types.ts
Due: format-react

Remove unsupported elements comment in Hub.tsx
  packages/react-native/src/icons/modules/Hub.tsx
Due: format-react-native

feat(CoCreationForm): add daterange question type with F0DatePicker
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/CoCreationForm/DateRangeQuestion/index.stories.tsx
  packages/react/src/sds/CoCreationForm/DateRangeQuestion/index.tsx
  packages/react/src/sds/CoCreationForm/DateRangeQuestion/types.ts
  packages/react/src/sds/CoCreationForm/Question/index.tsx
  packages/react/src/sds/CoCreationForm/constants.ts
  packages/react/src/sds/CoCreationForm/lib.ts
  packages/react/src/sds/CoCreationForm/types.ts
Due: format-react

feat(CoCreationForm): add entity-select question type
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/CoCreationForm/EntitySelectQuestion/index.stories.tsx
  packages/react/src/sds/CoCreationForm/EntitySelectQuestion/index.tsx
  packages/react/src/sds/CoCreationForm/EntitySelectQuestion/types.ts
  packages/react/src/sds/CoCreationForm/Question/index.tsx
  packages/react/src/sds/CoCreationForm/constants.ts
  packages/react/src/sds/CoCreationForm/lib.ts
  packages/react/src/sds/CoCreationForm/types.ts
Due: format-react

docs: update F0Text documentation to clarify usage of semantic props and layout guidelines
  packages/react-native/src/components/primitives/Text/F0Text.md
  packages/react-native/src/components/primitives/Text/F0Text.tsx
  packages/react-native/src/components/primitives/Text/F0Text.types.ts
  packages/react-native/src/components/primitives/Text/index.ts
Due: format-react-native

feat: introduce F0Icon component with standardized sizing and UniWind interop
  packages/react-native/playground/components/F0IconShowcase/index.tsx
  packages/react-native/src/components/Icon/index.tsx
  packages/react-native/src/components/primitives/Icon/F0Icon.md
  packages/react-native/src/components/primitives/Icon/F0Icon.styles.ts
  packages/react-native/src/components/primitives/Icon/F0Icon.tsx
  packages/react-native/src/components/primitives/Icon/F0Icon.types.ts
  packages/react-native/src/components/primitives/Icon/__tests__/F0Icon.spec.tsx
  packages/react-native/src/components/primitives/Icon/index.ts
Due: format-react-native

refactor: replace Text component with F0Text in Button for improved typography and color handling
  packages/react-native/src/components/Button/index.tsx
Due: format-react-native

refactor: update component imports and options to replace IconShowcase with F0IconShowcase
  packages/react-native/playground/app/(tabs)/components.tsx
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: refactor folders
  CODEOWNERS
  packages/react/src/ai/AiWidgets/F0MessageSources/F0MessageSources.tsx
  packages/react/src/ai/AiWidgets/F0MessageSources/__stories__/F0MessageSources.stories.tsx
  packages/react/src/ai/AiWidgets/F0MessageSources/index.ts
  packages/react/src/ai/AiWidgets/F0MessageSources/types.ts
  packages/react/src/ai/AiWidgets/F0MessageSources/useMessageSourcesAction.tsx
  packages/react/src/ai/AiWidgets/F0Thinking/F0Thinking.tsx
  packages/react/src/ai/AiWidgets/F0Thinking/__stories__/F0Thinking.stories.tsx
  packages/react/src/ai/AiWidgets/F0Thinking/index.ts
  packages/react/src/ai/AiWidgets/F0Thinking/types.ts
  packages/react/src/ai/AiWidgets/F0Thinking/useOrchestratorThinkingAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0BookAMeetingCard/F0BookAMeetingCard.tsx
  packages/react/src/sds/UpsellingKit/ai/F0BookAMeetingCard/__stories__/F0BookAMeetingCard.stories.tsx
  packages/react/src/sds/UpsellingKit/ai/F0BookAMeetingCard/index.ts
  packages/react/src/sds/UpsellingKit/ai/F0BookAMeetingCard/types.ts
  packages/react/src/sds/UpsellingKit/ai/F0BookAMeetingCard/useBookAMeetingCardAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0DemoCard/F0DemoCard.tsx
  packages/react/src/sds/UpsellingKit/ai/F0DemoCard/__stories__/F0DemoCard.stories.tsx
  packages/react/src/sds/UpsellingKit/ai/F0DemoCard/index.ts
  packages/react/src/sds/UpsellingKit/ai/F0DemoCard/types.ts
  packages/react/src/sds/UpsellingKit/ai/F0DemoCard/useDemoCardAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0FAQCard/F0FAQCard.tsx
  packages/react/src/sds/UpsellingKit/ai/F0FAQCard/__stories__/F0FAQCard.stories.tsx
  packages/react/src/sds/UpsellingKit/ai/F0FAQCard/index.ts
  packages/react/src/sds/UpsellingKit/ai/F0FAQCard/types.ts
  packages/react/src/sds/UpsellingKit/ai/F0FAQCard/useFAQCardAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0ModuleCard/F0ModuleCard.tsx
  packages/react/src/sds/UpsellingKit/ai/F0ModuleCard/__stories__/F0ModuleCard.stories.tsx
  packages/react/src/sds/UpsellingKit/ai/F0ModuleCard/index.ts
  packages/react/src/sds/UpsellingKit/ai/F0ModuleCard/types.ts
  packages/react/src/sds/UpsellingKit/ai/F0ModuleCard/useModuleCardAction.tsx
  packages/react/src/sds/UpsellingKit/ai/F0QuestionCard/F0QuestionCard.tsx
  packages/react/src/sds/UpsellingKit/ai/F0QuestionCard/__stories__/F0QuestionCard.stories.tsx
  packages/react/src/sds/UpsellingKit/ai/F0QuestionCard/index.ts
  packages/react/src/sds/UpsellingKit/ai/F0QuestionCard/types.ts
  packages/react/src/sds/UpsellingKit/ai/F0QuestionCard/useQuestionCardAction.tsx
Due: format-react

fix: import
  packages/react/src/sds/UpsellingKit/ai/F0QuestionCard/useQuestionCardAction.tsx
Due: format-react

fix: add default actions again
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
Due: format-react

fix: take care of large filter names in OneFilterPicker component
  packages/react/src/components/F0FilterPickerContent/internal.tsx
  packages/react/src/components/OneFilterPicker/components/FilterList.tsx
  packages/react/src/components/OneFilterPicker/components/FiltersControls.tsx
  packages/react/src/components/OneFilterPicker/filterTypes/SearchFilter/SearchFilter.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
Due: format-react

fix: show actual loaded selected items count in ActionBar
  packages/react/src/experimental/OneDataCollection/OneDatacollection.tsx
Due: format-react

chore: update snapshots
  packages/react-native/src/components/Button/__snapshots__/index.spec.tsx.snap
Due: none

refactor: replace Icon component with F0Icon across the codebase for consistency
  packages/react-native/README.md
  packages/react-native/playground/components/Select/index.tsx
  packages/react-native/src/components/Activity/ActivityItem/index.spec.tsx
  packages/react-native/src/components/Activity/ActivityItem/index.tsx
  packages/react-native/src/components/Avatars/IconAvatar/index.tsx
  packages/react-native/src/components/Avatars/ModuleAvatar/index.tsx
  packages/react-native/src/components/Badge/index.tsx
  packages/react-native/src/components/Button/index.spec.tsx
  packages/react-native/src/components/Button/index.tsx
  packages/react-native/src/components/Icon/README.md
  packages/react-native/src/components/Icon/__tests__/Icon.spec.tsx
  packages/react-native/src/components/Icon/index.tsx
  packages/react-native/src/components/OneChip/index.tsx
  packages/react-native/src/components/Tags/AlertTab/index.tsx
  packages/react-native/src/components/Tags/RawTag/index.tsx
  packages/react-native/src/components/experimental/Lists/DataList/ItemContainer.tsx
  packages/react-native/src/components/experimental/Lists/DataList/actions/CopyAction.tsx
  packages/react-native/src/components/experimental/Lists/DataList/actions/GenericAction.tsx
  packages/react-native/src/components/experimental/Lists/DataList/index.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/Icon/F0Icon.md
  packages/react-native/src/icons/index.ts
Due: format-react-native

refactor: standardize linting commands and improve component exports formatting
  packages/react-native/package.json
  packages/react-native/src/components/Avatars/BaseAvatar/index.tsx
  packages/react-native/src/components/Avatars/DateAvatar/index.tsx
  packages/react-native/src/components/Avatars/EmojiAvatar/index.tsx
  packages/react-native/src/components/Avatars/FileAvatar/index.tsx
  packages/react-native/src/components/Avatars/FileAvatar/utils.ts
  packages/react-native/src/components/Avatars/IconAvatar/index.tsx
  packages/react-native/src/components/Button/index.tsx
  packages/react-native/src/components/Navigation/PageHeader/index.tsx
  packages/react-native/src/components/OneChip/index.tsx
  packages/react-native/src/components/OnePreset/index.tsx
  packages/react-native/src/components/Tags/AlertTab/index.tsx
  packages/react-native/src/components/Tags/BaseTag/index.tsx
  packages/react-native/src/components/Tags/RawTag/index.tsx
  packages/react-native/src/components/experimental/Lists/DataList/actions/CopyAction.tsx
  packages/react-native/src/components/experimental/Lists/DataList/actions/GenericAction.tsx
  packages/react-native/src/components/experimental/Lists/DataList/index.tsx
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/index.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/Icon/F0Icon.md
  packages/react-native/src/components/primitives/Icon/F0Icon.styles.ts
  packages/react-native/src/components/primitives/Icon/F0Icon.tsx
  packages/react-native/src/components/primitives/Icon/F0Icon.types.ts
  packages/react-native/src/components/primitives/Icon/__tests__/F0Icon.spec.tsx
  packages/react-native/src/components/primitives/Icon/index.ts
  packages/react-native/src/components/primitives/Text/F0Text.md
  packages/react-native/src/components/primitives/Text/F0Text.styles.ts
  packages/react-native/src/components/primitives/Text/F0Text.tsx
  packages/react-native/src/components/primitives/Text/F0Text.types.ts
  packages/react-native/src/components/primitives/Text/__tests__/index.spec.tsx
  packages/react-native/src/components/primitives/Text/index.ts
  packages/react-native/src/icons/index.ts
  packages/react-native/src/styles/tokens/colors.ts
Due: format-react-native

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
