Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

feat(F0Form): support remove + custom row actions in entitiesList list-view
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListView.tsx
Due: format-react

feat(F0Form): move entitiesList add button into a header row beside the label
  packages/react/src/patterns/F0Form/fields/FieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListFieldRenderer.tsx
Due: format-react

feat(F0Form): entitiesList create/update form definitions with own onSubmit
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/f0Schema.ts
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/types.ts
  packages/react/src/patterns/F0Form/useSchemaDefinition.ts
Due: format-react

chore(react-native): remove deprecated OnePreset component
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/OnePresetShowcase/index.tsx
  packages/react-native/src/components/OnePreset/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/OnePreset/index.spec.tsx
  packages/react-native/src/components/OnePreset/index.tsx
  packages/react-native/src/components/exports.ts
Due: format-react-native

fix(F0Form): stop entitiesList list-view actions from submitting the parent form
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListView.tsx
Due: format-react

fix(F0Form): make entitiesList add-blocked tooltip accurate for any invalid row
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

feat(Cocreation): open blank survey up front, unify "Empty Survey" naming
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
  packages/react/src/patterns/Cocreation/__stories__/flow-configs.ts
  packages/react/src/patterns/Cocreation/__stories__/survey-mocks.ts
Due: format-react

docs(Cocreation): document guided chat, draft confirmation, no-credits
  packages/react/src/patterns/Cocreation/__stories__/adoption.mdx
  packages/react/src/patterns/Cocreation/__stories__/building-blocks.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
  packages/react/src/patterns/Cocreation/__stories__/guidelines.mdx
  packages/react/src/patterns/Cocreation/__stories__/index.mdx
  packages/react/src/patterns/Cocreation/__stories__/phases.mdx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.mdx
Due: none

fix(F0Form): disable the editable table in place on submit, no layout shift
  packages/react/src/experimental/F0FormEditableTable/F0FormEditableTable.tsx
  packages/react/src/experimental/F0FormEditableTable/types.ts
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListFieldRenderer.tsx
Due: format-react

fix(OneFilterPicker): clear valueless operator drafts
  packages/react/src/patterns/OneFilterPicker/__test__/index.test.tsx
  packages/react/src/patterns/OneFilterPicker/__test__/operatorFilter.test.tsx
  packages/react/src/patterns/OneFilterPicker/components/FiltersControls.tsx
  packages/react/src/patterns/OneFilterPicker/filterTypes/OperatorFilter/OperatorFilter.tsx
Due: format-react

fix(AiChat): restore the composer when a clarifying panel is cancelled
  packages/react/src/sds/ai/F0AiChat/__stories__/_mock/MockAiChatRuntime.tsx
Due: format-react

fix(F0Form): context-aware add-blocked hint; stop reorder over-drag scrollbar
  packages/react/src/experimental/F0FormEditableTable/F0FormEditableTable.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListFieldRenderer.tsx
Due: format-react

docs(Cocreation): extend accessibility + block list for the draft gate
  packages/react/src/patterns/Cocreation/__stories__/accessibility.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
Due: none

docs(Cocreation): match blank-survey-up-front and no-dead-end fixes
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
  packages/react/src/patterns/Cocreation/__stories__/phases.mdx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.mdx
Due: none

fix(F0Form): autosubmit drops the first change on a pristine form
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/__tests__/F0FormAutosubmit.test.tsx
Due: format-react

fix(Cocreation): keep the no-credits redirect armed after the panel is dismissed
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
Due: format-react

fix(F0Form): new inline entitiesList rows can't be completed; max-items add hint
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListFieldRenderer.tsx
Due: format-react

style(F0FormEditableTable): smoother, brighter cell hover highlight
  packages/react/src/experimental/F0FormEditableTable/F0FormEditableTable.tsx
Due: format-react

refactor(avatar): bump 3xs badge icon 8px→9px for a 0.75 ratio
  packages/react/src/components/avatars/F0AvatarModule/F0AvatarModule.tsx
Due: format-react

feat(Cocreation): confirm-to-leave when a guided clarifying panel is dismissed
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/_mock/MockAiChatRuntime.tsx
Due: format-react

docs(Cocreation): document the draft confirmation in the Standard flow
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.mdx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.stories.tsx
Due: format-react

fix(entitiesList): align list-view help-text spacing with the table
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListView.tsx
Due: format-react

docs(Cocreation): dismissing a guided panel now warns, not restarts
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.mdx
Due: none

docs(Cocreation): make "Try the flows" a card per Walkthrough flow
  packages/react/src/patterns/Cocreation/__stories__/index.mdx
Due: none

fix(DetailsItem): remove 320px max-width cap so items fill their container
  packages/react/src/experimental/Lists/DataList/index.tsx
Due: format-react

feat(F0AnalyticsDashboard): control report filters
  packages/react/src/components/OneChip/index.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.mdx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__tests__/F0AnalyticsDashboard.test.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/FilterBar/FilterBar.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/types.ts
  packages/react/src/patterns/OneDataCollection/__tests__/urlSyncChipClear.test.tsx
  packages/react/src/patterns/OneDataCollection/__tests__/urlSyncNoStorage.test.tsx
  packages/react/src/patterns/OneFilterPicker/OneFilterPicker.tsx
  packages/react/src/patterns/OneFilterPicker/__test__/groupedOptions.test.tsx
  packages/react/src/patterns/OneFilterPicker/__test__/index.test.tsx
  packages/react/src/patterns/OneFilterPicker/components/FiltersControls.tsx
  packages/react/src/patterns/OneFilterPicker/filterTypes/InFilter/InFilter.tsx
  packages/react/src/patterns/OneFilterPicker/filterTypes/InFilter/__tests__/InFilter.test.tsx
  packages/react/src/patterns/OneFilterPicker/filterTypes/InFilter/components/InFilterFlatOption.tsx
  packages/react/src/patterns/OneFilterPicker/filterTypes/InFilter/components/InFilterOptionRow.tsx
Due: format-react

docs(Cocreation): add a flow diagram to the Phases page
  packages/react/src/patterns/Cocreation/__stories__/phases.mdx
  packages/react/src/patterns/Cocreation/__stories__/phases.stories.tsx
Due: format-react

docs(Cocreation): make the Walkthrough launcher a card per flow
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
Due: none

feat(F0TextInput): lowercase email input as the user types
  packages/react/src/components/F0TextInput/internal.tsx
Due: format-react

feat(F0Graph): decouple tag column identity from visual type (#4688)
  packages/react/src/patterns/F0Graph/F0Graph.tsx
  packages/react/src/patterns/F0Graph/components/F0GraphNode/F0GraphNode.tsx
  packages/react/src/patterns/F0Graph/components/F0GraphNode/F0GraphNodeHoverCard.tsx
  packages/react/src/patterns/F0Graph/components/F0GraphNode/F0GraphNodeTags.tsx
  packages/react/src/patterns/F0Graph/components/F0GraphNode/__stories__/F0GraphNode.mdx
  packages/react/src/patterns/F0Graph/components/F0GraphNode/__tests__/F0GraphNode.test.tsx
  packages/react/src/patterns/F0Graph/components/F0GraphNode/index.tsx
  packages/react/src/patterns/F0Graph/components/F0GraphNode/types.ts
  packages/react/src/patterns/F0Graph/components/F0GraphView/F0GraphView.tsx
  packages/react/src/patterns/F0Graph/contexts.ts
  packages/react/src/patterns/F0Graph/hooks/useGraphRenderModel.ts
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/graph.stories.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Graph/index.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Graph/settings/SettingsRenderer.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Graph/types.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

docs(Cocreation): point Phases/Standard flow at the Walkthrough hub
  packages/react/src/patterns/Cocreation/__stories__/phases.mdx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.mdx
Due: none

chore: release main (#4698)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(entitiesList): custom create/update/edit/remove labels
  packages/react/src/experimental/F0FormEditableTable/F0FormEditableTable.tsx
  packages/react/src/experimental/F0FormEditableTable/types.ts
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/types.ts
Due: format-react

fix(OneDataCollection): support disabled on primaryActions in dropdown mode (#4691)
  packages/react/src/components/F0ButtonDropdown/types.ts
  packages/react/src/experimental/Navigation/Dropdown/internal.tsx
  packages/react/src/patterns/OneDataCollection/components/CollectionActions/CollectionActions.tsx
Due: format-react

chore: release main (#4699)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(entitiesList): read-only status/dot-color tags in list-view
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListView.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/types.ts
Due: format-react

fix(InFilter): scope nested tree separator to root-level items only (#4487)
  packages/react/src/patterns/OneFilterPicker/filterTypes/InFilter/__stories__/InFilter.stories.tsx
  packages/react/src/patterns/OneFilterPicker/filterTypes/InFilter/components/InFilterOptionRow.tsx
Due: format-react
