Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

Import SvgProps type in Question.tsx
  packages/react-native/src/icons/app/Question.tsx
Due: format-react-native

Fix formatting in Question.tsx
  packages/react-native/src/icons/app/Question.tsx
Due: format-react-native

Import SvgProps type in QuestionCircle component
  packages/react-native/src/icons/app/QuestionCircle.tsx
Due: format-react-native

feat: comment any
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/context/EditableRowContext.tsx
Due: format-react

feat: add content alignment option to DetailsItemsList V Allow right-aligned detail values. Default behavior remains unchanged.
  packages/react/src/experimental/Lists/DetailsItem/index.tsx
Due: format-react

feat: replace console log with actions
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
Due: format-react

fix: some guardrails
  packages/react/src/components/F0Form/components/F0FormSection.tsx
  packages/react/src/components/F0Form/types.ts
  packages/react/src/components/F0Wizard/F0Wizard.tsx
  packages/react/src/components/F0Wizard/__tests__/F0Wizard.test.tsx
  packages/react/src/components/F0Wizard/__tests__/WizardSteps.test.tsx
  packages/react/src/components/F0Wizard/__tests__/useWizardNavigation.test.ts
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/__tests__/F0WizardForm.test.tsx
Due: format-react

refactor: reorder imports
  packages/react-native/src/icons/app/QuestionCircle.tsx
Due: format-react-native

refactor: clean up imports in Question icon component
  packages/react-native/src/icons/app/Question.tsx
Due: format-react-native

feat(react-native): add QuestionCircle icon
  packages/react-native/src/icons/app/QuestionCircle.tsx
  packages/react-native/src/icons/app/index.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3534)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat: make form reactive
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/components/F0FormSection.tsx
  packages/react/src/components/F0Form/types.ts
Due: format-react

docs(data-testid): explain why generic components use as unknown as cast
  packages/react/src/components/Charts/RadarChart/index.tsx
  packages/react/src/components/F0FilterPickerContent/F0FilterPickerContent.tsx
  packages/react/src/components/F0Select/index.tsx
  packages/react/src/components/OneFilterPicker/OneFilterPicker.tsx
  packages/react/src/components/Utilities/Await/Await.tsx
  packages/react/src/lib/data-testid/index.tsx
Due: format-react

feat: use local item when rendering not-editable to have updated data
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
Due: format-react

feat: onCellChange cannot be null in mockdata
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
Due: format-react

fix: submit adjustments
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/types.ts
  packages/react/src/components/F0Wizard/F0Wizard.tsx
  packages/react/src/components/F0Wizard/__stories__/F0Wizard.stories.tsx
  packages/react/src/components/F0Wizard/__tests__/F0Wizard.test.tsx
  packages/react/src/components/F0Wizard/__tests__/useWizardNavigation.test.ts
  packages/react/src/components/F0Wizard/hooks/useWizardNavigation.ts
  packages/react/src/components/F0Wizard/types.ts
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/__stories__/F0WizardForm.stories.tsx
  packages/react/src/components/F0WizardForm/__tests__/F0WizardForm.test.tsx
  packages/react/src/components/F0WizardForm/types.ts
Due: format-react

feat(Select): support TagPerson in select options
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Select/components/SelectItem.tsx
  packages/react/src/components/F0Select/types.ts
Due: format-react

fix: properly preserve values between steps
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/components/F0FormSection.tsx
  packages/react/src/components/F0Form/useF0Form.ts
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/__tests__/F0WizardForm.test.tsx
Due: format-react

Update packages/react/src/lib/data-testid/index.tsx
  packages/react/src/lib/data-testid/index.tsx
Due: format-react

fix: auto jump to first non-completed step
  packages/react/src/components/F0Wizard/F0Wizard.tsx
  packages/react/src/components/F0Wizard/__stories__/F0Wizard.stories.tsx
  packages/react/src/components/F0Wizard/__tests__/F0Wizard.test.tsx
  packages/react/src/components/F0Wizard/types.ts
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/__tests__/F0WizardForm.test.tsx
  packages/react/src/components/F0WizardForm/types.ts
Due: format-react

refactor: move components where they should be placed
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/__stories__/F0WizardForm.stories.tsx
  packages/react/src/components/F0WizardForm/index.tsx
  packages/react/src/components/exports.ts
  packages/react/src/ui/F0Wizard/F0Wizard.tsx
  packages/react/src/ui/F0Wizard/__stories__/F0Wizard.stories.tsx
  packages/react/src/ui/F0Wizard/__tests__/F0Wizard.test.tsx
  packages/react/src/ui/F0Wizard/__tests__/WizardSteps.test.tsx
  packages/react/src/ui/F0Wizard/__tests__/useWizardNavigation.test.ts
  packages/react/src/ui/F0Wizard/components/WizardProvider.tsx
  packages/react/src/ui/F0Wizard/components/WizardSteps.tsx
  packages/react/src/ui/F0Wizard/hooks/useWizardNavigation.ts
  packages/react/src/ui/F0Wizard/index.tsx
  packages/react/src/ui/F0Wizard/internal-types.ts
  packages/react/src/ui/F0Wizard/types.ts
Due: format-react

refactor: solve copilot comments
  packages/react/src/components/F0WizardForm/F0WizardForm.tsx
  packages/react/src/components/F0WizardForm/types.ts
  packages/react/src/components/F0WizardForm/useF0FormDefinition.ts
  packages/react/src/ui/F0Wizard/F0Wizard.tsx
  packages/react/src/ui/F0Wizard/types.ts
Due: format-react

fix(data-testid): preserve generic types by using DataTestIdWrapper directly in complex components
  packages/react/src/components/Charts/RadarChart/index.tsx
  packages/react/src/components/F0FilterPickerContent/F0FilterPickerContent.tsx
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/index.tsx
  packages/react/src/components/OneFilterPicker/OneFilterPicker.tsx
  packages/react/src/components/Utilities/Await/Await.tsx
  packages/react/src/lib/data-testid/__tests__/withDataTestId.test.tsx
  packages/react/src/lib/data-testid/index.tsx
Due: format-react

fix(datacollection): fix sort column list ellipsis not working
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/SortAndHideList/SortAndHideList.tsx
Due: format-react

refactor: migrate PressableFeedback to primitives and update exports for consistency
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/F0Button.types.ts
  packages/react-native/src/components/PressableFeedback/index.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/PressableFeedback/PressableFeedback.md
  packages/react-native/src/components/primitives/PressableFeedback/PressableFeedback.tsx
  packages/react-native/src/components/primitives/PressableFeedback/PressableFeedback.types.ts
  packages/react-native/src/components/primitives/PressableFeedback/__tests__/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/primitives/PressableFeedback/__tests__/index.spec.tsx
  packages/react-native/src/components/primitives/PressableFeedback/index.ts
Due: format-react-native

refactor(data-testid): use inline dataTestId prop in Pattern B components
  packages/react/src/components/Charts/RadarChart/index.tsx
  packages/react/src/components/F0FilterPickerContent/F0FilterPickerContent.tsx
  packages/react/src/components/F0FilterPickerContent/types.ts
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/index.tsx
  packages/react/src/components/F0Select/types.ts
  packages/react/src/components/OneFilterPicker/OneFilterPicker.tsx
  packages/react/src/components/Utilities/Await/Await.tsx
Due: format-react

feat: using value display
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.mdx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/index.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/ui/value-display/editors.ts
  packages/react/src/ui/value-display/index.tsx
  packages/react/src/ui/value-display/types.ts
  packages/react/src/ui/value-display/types/text/index.tsx
  packages/react/src/ui/value-display/types/text/text-editor.tsx
Due: format-react

chore: format
  packages/react/src/lib/data-testid/index.tsx
Due: format-react

refactor(data-testid): use DataTestIdWrapper directly in RichTextEditor
  packages/react/src/experimental/RichText/RichTextEditor/index.tsx
Due: format-react

feat: update meta of
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.mdx
Due: none

feat: warn when column doesnt have id
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
Due: format-react

feat: th responsive
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
Due: format-react

chore: add snapshot stories
  packages/react/src/components/F0WizardForm/__stories__/F0WizardForm.stories.tsx
  packages/react/src/ui/F0Wizard/__stories__/F0Wizard.stories.tsx
Due: format-react

fix: add missing tests
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/components/F0WizardForm/__stories__/F0WizardForm.stories.tsx
  packages/react/src/ui/F0Wizard/__stories__/F0Wizard.stories.tsx
Due: format-react

fix(data-testid): render forwardRef components via JSX to fix null-return CI failure
  packages/react/src/lib/data-testid/__tests__/withDataTestId.test.tsx
  packages/react/src/lib/data-testid/index.tsx
Due: format-react
