Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

fix: fix bar
  packages/react/src/components/F0TimelineRow/components/Actions.tsx
Due: format-react

fix: remove colo blank
  packages/react/src/components/F0TimelineRow/components/IconContainer.tsx
Due: format-react

feat(chip): introduce F0Chip component with showcase and styles (#3755)
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0ChipShowcase/index.tsx
  packages/react-native/src/components/F0Chip/F0Chip.md
  packages/react-native/src/components/F0Chip/F0Chip.styles.ts
  packages/react-native/src/components/F0Chip/F0Chip.tsx
  packages/react-native/src/components/F0Chip/F0Chip.types.ts
  packages/react-native/src/components/F0Chip/__tests__/F0Chip.spec.tsx
  packages/react-native/src/components/F0Chip/__tests__/__snapshots__/F0Chip.spec.tsx.snap
  packages/react-native/src/components/F0Chip/index.ts
  packages/react-native/src/components/OneChip/index.spec.tsx
  packages/react-native/src/components/OneChip/index.tsx
  packages/react-native/src/components/exports.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3756)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat(step): add F0Step component with showcase and documentation
  packages/react-native/AGENTS.md
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0StepShowcase/index.tsx
  packages/react-native/src/components/F0Step/F0Step.md
  packages/react-native/src/components/F0Step/F0Step.styles.ts
  packages/react-native/src/components/F0Step/F0Step.tsx
  packages/react-native/src/components/F0Step/F0Step.types.ts
  packages/react-native/src/components/F0Step/F0StepSegment.tsx
  packages/react-native/src/components/F0Step/__tests__/F0Step.spec.tsx
  packages/react-native/src/components/F0Step/__tests__/__snapshots__/F0Step.spec.tsx.snap
  packages/react-native/src/components/F0Step/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

fix: refactor a bit
  packages/react/src/components/F0TimelineRow/F0TimelineRow.tsx
  packages/react/src/components/F0TimelineRow/__tests__/F0TimelineRow.test.tsx
  packages/react/src/components/F0TimelineRow/components/MultitaskHeader.tsx
  packages/react/src/components/F0TimelineRow/components/MultitaskRow.tsx
  packages/react/src/components/F0TimelineRow/components/TaskRow.tsx
  packages/react/src/components/F0TimelineRow/components/TimelineRowLayout.tsx
  packages/react/src/components/F0TimelineRow/types.ts
Due: format-react

fix(NumberCell): remove tertiary color styling for zero values
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/NumberCell.tsx
Due: format-react

docs: add JSDoc comments to F0 components and establish documentation standards
  packages/react-native/AGENTS.md
  packages/react-native/src/components/F0Avatar/F0Avatar.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarAlert.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarCompany.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarDate.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarEmoji.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarFile.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarFlag.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarIcon.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarList.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarModule.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarPerson.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarTeam.tsx
  packages/react-native/src/components/F0Badge/F0Badge.tsx
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Chip/F0Chip.tsx
  packages/react-native/src/components/F0Link/F0Link.tsx
  packages/react-native/src/components/F0Progress/F0Progress.tsx
Due: format-react-native

fix: review done
  packages/react/src/components/F0TimelineRow/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/components/F0TimelineRow/__tests__/F0TimelineRow.test.tsx
  packages/react/src/components/F0TimelineRow/components/F0TimelineConnector.tsx
  packages/react/src/components/F0TimelineRow/components/IconContainer.tsx
  packages/react/src/components/F0TimelineRow/components/MultitaskHeader.tsx
  packages/react/src/components/F0TimelineRow/components/MultitaskRow.tsx
  packages/react/src/components/F0TimelineRow/components/StatusIndicator.tsx
  packages/react/src/components/F0TimelineRow/components/TaskDetails.tsx
  packages/react/src/components/F0TimelineRow/components/TaskHeader.tsx
  packages/react/src/components/F0TimelineRow/components/TaskRow.tsx
  packages/react/src/components/F0TimelineRow/components/TimelineRowLayout.tsx
  packages/react/src/components/F0TimelineRow/index.tsx
  packages/react/src/components/F0TimelineRow/types.ts
  packages/react/src/icons/app/CircleDashed.tsx
  packages/react/src/icons/app/ProgressClock.tsx
  packages/react/src/icons/app/index.ts
Due: format-react

fix: remove Assignees
  packages/react/src/components/F0TimelineRow/__stories__/F0TimelineRow.stories.tsx
Due: format-react

chore(core): remove unused CircleDashed and ProgressClock SVG sources
  packages/core/assets/icons/app/circle-dashed.svg
  packages/core/assets/icons/app/progress-clock.svg
Due: none

fix(react): add data-testid to TimelineRowLayout status indicator
  packages/react/src/components/F0TimelineRow/components/TimelineRowLayout.tsx
Due: format-react

fix(react): re-remove TimelineConnector icon restored by rebase
  packages/core/assets/icons/app/timeline-connector.svg
  packages/react/src/icons/app/TimelineConnector.tsx
  packages/react/src/icons/app/index.ts
Due: format-react

refactor(react): move F0TimelineRow from components/ to sds/TimeLine/
  packages/react/src/components/exports.ts
  packages/react/src/sds/TimeLine/F0TimelineRow.tsx
  packages/react/src/sds/TimeLine/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/sds/TimeLine/__tests__/F0TimelineRow.test.tsx
  packages/react/src/sds/TimeLine/components/Actions.tsx
  packages/react/src/sds/TimeLine/components/F0TimelineConnector.tsx
  packages/react/src/sds/TimeLine/components/MultitaskHeader.tsx
  packages/react/src/sds/TimeLine/components/MultitaskRow.tsx
  packages/react/src/sds/TimeLine/components/TaskDetails.tsx
  packages/react/src/sds/TimeLine/components/TaskHeader.tsx
  packages/react/src/sds/TimeLine/components/TaskRow.tsx
  packages/react/src/sds/TimeLine/components/TimelineRowLayout.tsx
  packages/react/src/sds/TimeLine/index.tsx
  packages/react/src/sds/TimeLine/types.ts
Due: format-react

fix(F0Step): update testID handling and refine type definitions for furthestReachedStep
  packages/react-native/src/components/F0Step/F0Step.tsx
  packages/react-native/src/components/F0Step/F0Step.types.ts
  packages/react-native/src/components/F0Step/__tests__/__snapshots__/F0Step.spec.tsx.snap
Due: format-react-native

feat(step): add F0Step component with showcase and documentation (#3757)
  packages/react-native/AGENTS.md
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0StepShowcase/index.tsx
  packages/react-native/src/components/F0Step/F0Step.md
  packages/react-native/src/components/F0Step/F0Step.styles.ts
  packages/react-native/src/components/F0Step/F0Step.tsx
  packages/react-native/src/components/F0Step/F0Step.types.ts
  packages/react-native/src/components/F0Step/F0StepSegment.tsx
  packages/react-native/src/components/F0Step/__tests__/F0Step.spec.tsx
  packages/react-native/src/components/F0Step/__tests__/__snapshots__/F0Step.spec.tsx.snap
  packages/react-native/src/components/F0Step/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

chore: release main (#3760)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat(F0AiChatTextArea): add tokenLimitState and onUpgrade props
  .gitignore
  packages/react/src/sds/ai/F0AiChat/components/input/__stories__/ChatTextarea.stories.tsx
Due: format-react

fix(NumberInput): reject non-numeric characters on input
  packages/react/src/experimental/Forms/Fields/NumberInput/internal.tsx
Due: format-react

feat(F0AiChatTextArea): add credit warning banner with soft and hard variants
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
Due: format-react

fix: border width
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea.tsx
Due: format-react

feat(F0AiChatTextArea): wire credit warning banner strings through i18n
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea.tsx
Due: format-react

feat: adding message credit warning
  .gitignore
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/UpsellingKit/ai/F0MessageCreditsWarning/F0MessageCreditsWarning.tsx
  packages/react/src/sds/UpsellingKit/ai/F0MessageCreditsWarning/__stories__/F0CreditsWarning.stories.tsx
  packages/react/src/sds/UpsellingKit/ai/F0MessageCreditsWarning/index.ts
  packages/react/src/sds/UpsellingKit/ai/F0MessageCreditsWarning/types.ts
  packages/react/src/sds/UpsellingKit/ai/F0MessageCreditsWarning/useCreditsWarningAction.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
Due: format-react

fix: adding decision
  packages/react/src/sds/UpsellingKit/ai/F0MessageCreditsWarning/F0MessageCreditsWarning.tsx
Due: format-react

docs: add jsdoc to f0 components (#3758)
  packages/react-native/AGENTS.md
  packages/react-native/src/components/F0Avatar/F0Avatar.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarAlert.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarCompany.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarDate.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarEmoji.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarFile.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarFlag.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarIcon.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarList.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarModule.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarPerson.tsx
  packages/react-native/src/components/F0Avatar/F0AvatarTeam.tsx
  packages/react-native/src/components/F0Badge/F0Badge.tsx
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Chip/F0Chip.tsx
  packages/react-native/src/components/F0Link/F0Link.tsx
  packages/react-native/src/components/F0Progress/F0Progress.tsx
  packages/react-native/src/components/F0Step/F0Step.styles.ts
  packages/react-native/src/components/F0Step/F0Step.tsx
Due: format-react-native

fix: rebasing
  packages/react/src/sds/ai/F0AiChat/components/input/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/input/__stories__/ChatTextarea.stories.tsx
Due: format-react

fix: structure
  packages/react/src/sds/ai/F0AiChat/actions/core/messageCreditsWarning/F0MessageCreditsWarning.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/messageCreditsWarning/__stories__/F0CreditsWarning.stories.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/messageCreditsWarning/index.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/messageCreditsWarning/types.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/messageCreditsWarning/useMessageCreditsWarningAction.tsx
  packages/react/src/sds/ai/F0AiChat/actions/registry.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
Due: format-react

fix: files
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
Due: format-react

fix: responsiveness
  packages/react/src/sds/TimeLine/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/sds/TimeLine/components/Actions.tsx
  packages/react/src/sds/TimeLine/components/TaskHeader.tsx
Due: format-react

refactor(value-display): isolate compound formatting
  packages/react/src/ui/value-display/types/compound/compound.tsx
  packages/react/src/ui/value-display/types/number/format.ts
  packages/react/src/ui/value-display/types/number/formattedContent.tsx
  packages/react/src/ui/value-display/types/number/number.test.tsx
  packages/react/src/ui/value-display/types/number/number.tsx
Due: format-react

docs(value-display): document compound renderer
  packages/react/src/ui/value-display/types/compound/compound.tsx
Due: format-react

feat: add f0-design-buddy skill with design rules and contribution docs
  .skills/f0-design-buddy/SKILL.md
  packages/react/.storybook/preview.tsx
  packages/react/docs/contributions.mdx
  packages/react/docs/design-rules.mdx
Due: format-react

ci: add agentic PR review checks for packages/react
  .github/agent-prompts/a11y-review.md
  .github/agent-prompts/code-review.md
  .github/agent-prompts/storybook-review.md
  .github/agent-prompts/test-coverage-review.md
  .github/scripts/agentic-check.sh
  .github/workflows/agentic-checks.yml
Due: none

feat(tabs): add F0Tabs component with showcase, styles, and documentation
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0TabsShowcase/index.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.md
  packages/react-native/src/components/F0Tabs/F0Tabs.styles.ts
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.types.ts
  packages/react-native/src/components/F0Tabs/__tests__/F0Tabs.spec.tsx
  packages/react-native/src/components/F0Tabs/__tests__/__snapshots__/F0Tabs.spec.tsx.snap
  packages/react-native/src/components/F0Tabs/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

Update packages/react/src/sds/TimeLine/components/TaskDetails.tsx
  packages/react/src/sds/TimeLine/components/TaskDetails.tsx
Due: format-react

Update packages/react/src/sds/TimeLine/components/MultitaskRow.tsx
  packages/react/src/sds/TimeLine/components/MultitaskRow.tsx
Due: format-react

fix: resolve type errors in MultitaskRow and TaskDetails destructuring
  packages/react/src/sds/TimeLine/components/MultitaskRow.tsx
  packages/react/src/sds/TimeLine/components/TaskDetails.tsx
Due: format-react

fix(value-display): respect table column alignment
  packages/react/src/experimental/OneDataCollection/property-render.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/ui/value-display/renderers.tsx
  packages/react/src/ui/value-display/types.ts
  packages/react/src/ui/value-display/types/compound/compound.test.tsx
  packages/react/src/ui/value-display/types/compound/compound.tsx
Due: format-react
