Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

chore: release main (#4700)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(DetailsItem): remove 320px max-width cap so items fill their container (#4696)
  packages/react/src/experimental/Lists/DataList/index.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4701)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(F0Button): clip press overlay to the button's rounded corners
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
  packages/react-native/src/components/F0Button/__tests__/__snapshots__/F0Button.spec.tsx.snap
Due: format-react-native

feat(F0NumberInput): opt-in locale-aware thousands grouping
  packages/react/src/components/F0NumberInput/internal.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/types.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/NumberCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/NumberCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/hooks/useNumberCellLayout.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/types.ts
Due: format-react

feat(entitiesList): infer callback item type from the schema
  packages/react/src/patterns/F0Form/f0Schema.ts
  packages/react/src/patterns/F0Form/fields/entitiesList/types.ts
Due: format-react

feat(value-display): support 15 base-color palette in categoryBarChart
  packages/react/src/ui/value-display/types/categoryBarChart/__stories__/categoryBarChart.mdx
  packages/react/src/ui/value-display/types/categoryBarChart/__stories__/categoryBarChart.stories.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.test.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.tsx
Due: format-react

fix(Cocreation): confirm chat close before animating; preview Close returns to gallery
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/_mock/MockAiChatRuntime.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/_mock/MockConnectedChatHeader.tsx
Due: format-react

fix(F0FormEditableTable): round corner cells so focus rings aren't clipped
  packages/react/src/experimental/F0FormEditableTable/F0FormEditableTable.tsx
Due: format-react

feat(table): add flash animation for newly-inserted rows
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/create/create.stories.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/hooks/useAddedRowKeys.ts
  packages/react/tailwind.config.ts
Due: format-react

feat(Row): implement flash animation for newly-added rows with timeout
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/Row.tsx
Due: format-react

fix(F0Button): clip press overlay to the button's rounded corners (#4702)
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
  packages/react-native/src/components/F0Button/__tests__/__snapshots__/F0Button.spec.tsx.snap
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#4703)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

fix(Cocreation): keep clarifying panel up during exit confirm; reset chat on Create
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/_mock/MockAiChatRuntime.tsx
Due: format-react

fix(F0Form): don't auto-save when the form is back to its saved state
  packages/react/src/patterns/F0Form/F0Form.tsx
Due: format-react

docs(Cocreation): correct the guided-flow leave-creation escape routes
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.mdx
Due: format-react

style(F0Form): format F0Form.mdx
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
Due: none

docs(Cocreation): rename the pattern to "AI Cocreation"
  packages/react/src/lib/storybook-utils/ai-mocks.ts
  packages/react/src/patterns/Cocreation/__stories__/accessibility.mdx
  packages/react/src/patterns/Cocreation/__stories__/adoption.mdx
  packages/react/src/patterns/Cocreation/__stories__/building-blocks.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
  packages/react/src/patterns/Cocreation/__stories__/flow-configs.ts
  packages/react/src/patterns/Cocreation/__stories__/guidelines.mdx
  packages/react/src/patterns/Cocreation/__stories__/index.mdx
  packages/react/src/patterns/Cocreation/__stories__/mockData.tsx
  packages/react/src/patterns/Cocreation/__stories__/phases.mdx
  packages/react/src/patterns/Cocreation/__stories__/phases.stories.tsx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.mdx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.stories.tsx
  packages/react/src/patterns/Cocreation/__stories__/survey-mocks.ts
  packages/react/src/sds/ai/F0HILActionConfirmation/F0HILActionConfirmation.tsx
  packages/react/src/sds/ai/canvas/F0CanvasCard/F0CanvasCard.tsx
Due: format-react

feat(OneDataCollection): custom labels for built-in visualizations (#4675)
  packages/react/src/patterns/OneDataCollection/Settings/components/__tests__/useVisualizationMeta.test.tsx
  packages/react/src/patterns/OneDataCollection/Settings/components/useVisualizationMeta.ts
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/graph.stories.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/types.ts
Due: format-react

chore: release main (#4704)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

test(entitiesList): remove action label is now "Remove"
  packages/react/src/patterns/F0Form/fields/entitiesList/__tests__/EntitiesListFieldRenderer.test.tsx
Due: format-react

fix(OneDataCollection): count selectable rows in selection banner (FCT-56547) (#4692)
  packages/react/src/hooks/datasource/__test__/useSelectable.test.tsx
  packages/react/src/hooks/datasource/useSelectable/typings.ts
  packages/react/src/hooks/datasource/useSelectable/useSelectable.ts
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
Due: format-react

chore: release main (#4705)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(tags): add size prop to F0TagRaw (md/sm) (#4553)
  packages/react/src/components/tags/F0TagRaw/F0TagRaw.tsx
  packages/react/src/components/tags/F0TagRaw/__storybook__/TagRaw.stories.tsx
  packages/react/src/components/tags/F0TagRaw/types.ts
  packages/react/src/components/tags/internal/BaseTag/index.tsx
Due: format-react

chore: release main (#4706)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4707)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(avatar): make md/lg module notch hug the squircle badge (even gap ring)
  packages/react/src/components/avatars/internal/BaseAvatar/utils.ts
Due: format-react

docs(F0AnalyticsDashboard): expose report filter stories
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.mdx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/mockDataMixed.ts
Due: format-react

feat(react-native): add ReceiptAi icon via a new ai/ group
  packages/react-native/assets/icons/ai/receipt-ai.svg
  packages/react-native/package.json
  packages/react-native/scripts/generate-icons.mjs
  packages/react-native/src/icons/ai/ReceiptAi.tsx
  packages/react-native/src/icons/ai/index.ts
  packages/react-native/src/icons/index.ts
Due: format-react-native

test(F0AnalyticsDashboard): await report filter chips
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
Due: format-react

docs(F0AiChat): fix collapsed chat width in Storybook
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiChat.stories.tsx
Due: format-react

fix(F0Graph): reliable focus via imperative focusNode/clearSelection (#4661)
  packages/react/src/patterns/F0Graph/F0Graph.tsx
  packages/react/src/patterns/F0Graph/__tests__/F0Graph.imperative.test.tsx
  packages/react/src/patterns/F0Graph/components/F0GraphView/F0GraphView.tsx
  packages/react/src/patterns/F0Graph/index.tsx
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/components/Search/useSearchPreview.test.ts
  packages/react/src/patterns/OneDataCollection/components/Search/useSearchPreview.ts
  packages/react/src/patterns/OneDataCollection/types.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Graph/__tests__/reveal.test.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Graph/index.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Graph/reveal.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/VisualizationRenderer.tsx
Due: format-react
