Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

chore: release main (#4522)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(PageHeader): use left/right chevrons for prev/next navigation (#4455)
  packages/react/src/experimental/Navigation/Header/PageNavigation/index.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4523)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

docs(f0): triage and promotion respond by availability, not a fixed SLA
  packages/react/.skills/f0-component-promotion/SKILL.md
  packages/react/docs/definition-of-done.mdx
Due: format-react

feat(lifecycle-site): align SDS/Kit model with the canonical where-it-goes spec
  packages/lifecycle-site/src/components/ContributeSection.tsx
  packages/lifecycle-site/src/data/contribute.ts
Due: none

refactor(toast): replace useToast hook with standalone openToast API
  packages/react/src/hooks/toast/ToastProvider.tsx
  packages/react/src/hooks/toast/__stories__/openToast.mdx
  packages/react/src/hooks/toast/__stories__/openToast.stories.tsx
  packages/react/src/hooks/toast/imperative.ts
  packages/react/src/hooks/toast/index.ts
  packages/react/src/hooks/toast/store.ts
  packages/react/src/hooks/toast/types.ts
  packages/react/src/hooks/toast/useToast.tsx
  packages/react/src/internal/components/Toast/__stories__/F0Toast.stories.tsx
Due: format-react

feat(F0Banner): add global and inline placement variants
  packages/react-native/playground/components/F0BannerShowcase/index.tsx
  packages/react-native/src/components/F0Banner/F0Banner.md
  packages/react-native/src/components/F0Banner/F0Banner.styles.ts
  packages/react-native/src/components/F0Banner/F0Banner.tsx
  packages/react-native/src/components/F0Banner/F0Banner.types.ts
  packages/react-native/src/components/F0Banner/__tests__/F0Banner.spec.tsx
  packages/react-native/src/components/F0Banner/index.ts
Due: format-react-native

fix(toast): opaque surface and outline close button
  packages/react/src/internal/components/Toast/F0Toast.tsx
Due: format-react

fix(toast): use fully opaque surface
  packages/react/src/internal/components/Toast/F0Toast.tsx
Due: format-react

feat(toast): make stacked toasts translucent for depth
  packages/react/src/hooks/toast/ToastProvider.tsx
Due: format-react

revert(toast): keep stacked toasts fully opaque
  packages/react/src/hooks/toast/ToastProvider.tsx
Due: format-react

feat(toast): add a visible border
  packages/react/src/internal/components/Toast/F0Toast.tsx
Due: format-react

feat(toast): match border color to the variant's alert color
  packages/react/src/internal/components/Toast/F0Toast.tsx
Due: format-react

fix(F0CardHorizontal): reserve action button width so the confirm/reject pair never shrinks
  packages/react/src/experimental/F0CardHorizontal/components/CardHorizontalActions.tsx
  packages/react/src/ui/ButtonGroup/ButtonGroup.tsx
  packages/react/src/ui/ButtonGroup/__tests__/ButtonGroup.test.tsx
Due: format-react

feat(value-display)!: use 15 base-color palette in categoryBarChart
  packages/react/src/ui/value-display/types/categoryBarChart/__stories__/categoryBarChart.mdx
  packages/react/src/ui/value-display/types/categoryBarChart/__stories__/categoryBarChart.stories.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.test.tsx
  packages/react/src/ui/value-display/types/categoryBarChart/categoryBarChart.tsx
Due: format-react

feat(Sidebar): add text label (tag) to MenuItem
  packages/react/src/patterns/Navigation/Sidebar/Menu/__tests__/Menu.test.tsx
  packages/react/src/patterns/Navigation/Sidebar/Menu/index.tsx
Due: format-react

docs(Sidebar): show MenuItem tag in Menu story
  packages/react/src/patterns/Navigation/Sidebar/Menu/index.stories.tsx
Due: format-react

test(Sidebar): remove MenuItem tag unit tests
  packages/react/src/patterns/Navigation/Sidebar/Menu/__tests__/Menu.test.tsx
Due: format-react

feat(F0AudioPlayer): add expandable detail panel with tabs
  packages/react/src/components/F0AudioPlayer/F0AudioPlayerCard.tsx
  packages/react/src/components/F0AudioPlayer/__stories__/F0AudioPlayer.mdx
  packages/react/src/components/F0AudioPlayer/__stories__/F0AudioPlayer.stories.tsx
  packages/react/src/components/F0AudioPlayer/__tests__/F0AudioPlayer.test.tsx
  packages/react/src/components/F0AudioPlayer/index.tsx
  packages/react/src/components/F0AudioPlayer/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

fix(F0AudioPlayer): address review on detail panel a11y
  packages/react/src/components/F0AudioPlayer/F0AudioPlayerCard.tsx
  packages/react/src/components/F0AudioPlayer/__stories__/F0AudioPlayer.mdx
  packages/react/src/components/F0AudioPlayer/__tests__/F0AudioPlayer.test.tsx
  packages/react/src/components/F0Button/internal-types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

refactor(F0AudioPlayer): drop dead detailsId instead of touching F0Button
  packages/react/src/components/F0AudioPlayer/F0AudioPlayerCard.tsx
  packages/react/src/components/F0AudioPlayer/__stories__/F0AudioPlayer.mdx
  packages/react/src/components/F0AudioPlayer/__tests__/F0AudioPlayer.test.tsx
  packages/react/src/components/F0Button/internal-types.ts
Due: format-react

feat(lifecycle-site): apply F0 dark brand, animated hero, and per-case expectations
  packages/lifecycle-site/src/App.tsx
  packages/lifecycle-site/src/components/ContributeSection.tsx
  packages/lifecycle-site/src/components/DefinitionOfDone.tsx
  packages/lifecycle-site/src/components/FlowDiagram.tsx
  packages/lifecycle-site/src/components/Footer.tsx
  packages/lifecycle-site/src/components/HeroMatrix.tsx
  packages/lifecycle-site/src/components/MaturitySection.tsx
  packages/lifecycle-site/src/components/PhaseSection.tsx
  packages/lifecycle-site/src/components/PrototypeSection.tsx
  packages/lifecycle-site/src/components/RulesPage.tsx
  packages/lifecycle-site/src/components/Troubleshooting.tsx
  packages/lifecycle-site/src/components/WhatIsF0.tsx
  packages/lifecycle-site/src/components/WhereF0Lives.tsx
  packages/lifecycle-site/src/data/contribute.ts
  packages/lifecycle-site/src/styles/globals.css
  packages/lifecycle-site/tailwind.config.js
Due: none

fix(EditableTable): apply correct cursor per cell type
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/DateCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/DisabledCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/NonEditableCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/SelectCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/DateCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/SelectCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/DisabledCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/NonEditableCell.tsx
Due: format-react

docs(F0CardHorizontal): stack the card Do/Don't vertically (#4521)
  packages/react/src/experimental/F0CardHorizontal/__stories__/F0CardHorizontal.mdx
  packages/react/src/lib/storybook-utils/do-donts.tsx
Due: format-react

fix(F0CardHorizontal): reserve action button width so the confirm/reject pair never shrinks (#4525)
  packages/react/src/experimental/F0CardHorizontal/components/CardHorizontalActions.tsx
  packages/react/src/ui/ButtonGroup/ButtonGroup.tsx
  packages/react/src/ui/ButtonGroup/__tests__/ButtonGroup.test.tsx
Due: format-react

chore: release main (#4529)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(toast): add useToast/openToast notifications with stacking, mobile support, and docs
  packages/react/.storybook/main.ts
  packages/react/src/hooks/exports.ts
  packages/react/src/hooks/toast/ToastProvider.tsx
  packages/react/src/hooks/toast/__stories__/openToast.mdx
  packages/react/src/hooks/toast/__stories__/openToast.stories.tsx
  packages/react/src/hooks/toast/imperative.ts
  packages/react/src/hooks/toast/index.ts
  packages/react/src/hooks/toast/store.ts
  packages/react/src/hooks/toast/types.ts
  packages/react/src/internal/README.md
  packages/react/src/internal/components/Toast/F0Toast.tsx
  packages/react/src/internal/components/Toast/__stories__/F0Toast.stories.tsx
  packages/react/src/internal/components/Toast/index.ts
  packages/react/src/internal/components/Toast/types.ts
  packages/react/src/lib/exports.ts
  packages/react/src/lib/providers/f0/f0-provider.tsx
  packages/react/src/lib/useIsDesktop.ts
Due: format-react

fix(SurveyFormBuilder): use foreground color for input text in dark mode
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/SelectQuestion/SelectOption/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Section/index.tsx
Due: format-react

docs(toast): don't showcase variant "default" in openToast examples
  packages/react/src/hooks/toast/__stories__/openToast.mdx
  packages/react/src/hooks/toast/__stories__/openToast.stories.tsx
  packages/react/src/internal/components/Toast/F0Toast.tsx
Due: format-react

fix(toast): restore F0Toast opaque surface and visible border
  packages/react/src/internal/components/Toast/F0Toast.tsx
Due: format-react

fix(SurveyFormBuilder): foreground input text in dark mode (#4471)
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/SelectQuestion/SelectOption/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Section/index.tsx
Due: format-react

chore: release main (#4531)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(Sidebar): remove unread chat sorting for direct rendering
  packages/react/src/patterns/Navigation/Sidebar/Chats/SidebarChatList.tsx
Due: format-react

refactor(toast): expose a namespaced `toasts` API (toasts.open/close/closeAll)
  packages/react/src/hooks/toast/__stories__/toasts.mdx
  packages/react/src/hooks/toast/__stories__/toasts.stories.tsx
  packages/react/src/hooks/toast/imperative.ts
  packages/react/src/hooks/toast/store.ts
  packages/react/src/internal/components/Toast/__stories__/F0Toast.stories.tsx
Due: format-react

refactor(toast): remove borders and drop "not a hook" framing from docs
  packages/react/src/hooks/toast/__stories__/toasts.mdx
  packages/react/src/internal/components/Toast/F0Toast.tsx
Due: format-react

feat(F0Form): add f0FormField.datePeriod shortcut for the period field
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/f0Schema.ts
  packages/react/src/patterns/F0Form/fields/period/__tests__/PeriodFieldRenderer.test.tsx
  packages/react/src/patterns/F0WizardForm/__stories__/F0WizardForm.stories.tsx
Due: format-react

refactor(toast): move F0Toast to src/ui (internal) and drop src/internal
  packages/react/.storybook/main.ts
  packages/react/src/hooks/toast/ToastProvider.tsx
  packages/react/src/hooks/toast/__stories__/toasts.stories.tsx
  packages/react/src/hooks/toast/types.ts
  packages/react/src/internal/README.md
  packages/react/src/ui/Toast/F0Toast.tsx
  packages/react/src/ui/Toast/__stories__/F0Toast.stories.tsx
  packages/react/src/ui/Toast/index.ts
  packages/react/src/ui/Toast/types.ts
Due: format-react
