Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

chore: release main (#4174)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(react-native): drop fixed-width label column in F0Metadata horizontal mode
  packages/react-native/src/components/F0Metadata/F0Metadata.styles.ts
  packages/react-native/src/components/F0Metadata/__tests__/__snapshots__/F0Metadata.spec.tsx.snap
Due: format-react-native

docs(storybook): make manual MDX docs visible in sidebar
  packages/react/.skills/f0-storybook-stories/SKILL.md
  packages/react/src/components/F0Button/__stories__/F0Button.stories.tsx
  packages/react/src/components/F0ButtonDropdown/__stories__/F0ButtonDropdown.stories.tsx
Due: format-react

fix: preserve snapshot when data source unmounts during active navigation session
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionItemNavigation/__tests__/useSnapshotManager.test.ts
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionItemNavigation/useDataCollectionItemNavigation.ts
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionItemNavigation/useSnapshotManager.ts
Due: format-react

feat(F0Card): add alert prop with controlled visibility (#4173)
  packages/react/src/components/F0Card/CardInternal.tsx
  packages/react/src/components/F0Card/F0Card.tsx
  packages/react/src/components/F0Card/__stories__/Card.stories.tsx
  packages/react/src/components/F0Card/__tests__/Card.test.tsx
  packages/react/src/components/F0Card/components/CardAlert.tsx
  packages/react/src/components/F0Card/types.ts
Due: format-react

fix(react-native): keep date text color independent of icon color in F0Metadata
  packages/react-native/src/components/F0Metadata/F0MetadataValue.tsx
  packages/react-native/src/components/F0Metadata/__tests__/__snapshots__/F0Metadata.spec.tsx.snap
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4176)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: add option creation in select from dataset question type (#4100)
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Select/__tests__/F0Select.test.tsx
  packages/react/src/components/F0Select/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0Form/fields/select/SelectFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/select/types.ts
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyFormSchema.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/index.stories.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/ActionsMenu/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/ActionsMenu/useQuestionActions.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/DropdownSingleQuestion/index.stories.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/DropdownSingleQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/DropdownSingleQuestion/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/types.ts
  packages/react/src/sds/surveys/__stories__/mocks.ts
  packages/react/src/ui/Select/components/SelectContent.tsx
Due: format-react

chore: release main (#4177)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: always center SurveyAnsweringForm elements vertically
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
Due: format-react

fix: preserve default values fn in available form definition conversion
  packages/react/src/patterns/F0Form/F0AiFormRegistry.tsx
Due: format-react

fix: always center SurveyAnsweringForm elements vertically (#4178)
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
Due: format-react

chore: release main (#4180)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: add PageHeaderNavigationProvider and useItemNavigationPageHeader bridge hook
  packages/react/src/experimental/Navigation/Header/PageHeader/PageHeaderNavigationContext.ts
  packages/react/src/experimental/Navigation/Header/PageHeader/__tests__/PageHeaderNavigationContext.test.tsx
  packages/react/src/experimental/Navigation/Header/PageHeader/index.tsx
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionItemNavigation/__tests__/useItemNavigationPageHeader.test.ts
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionItemNavigation/index.ts
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionItemNavigation/useItemNavigationPageHeader.ts
Due: format-react

feat(F0AiChat): add F0EmployeeCreditsWarning for per-employee credit caps [FCT-54242]
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/employeeCreditsWarning/F0EmployeeCreditsWarning.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/employeeCreditsWarning/__stories__/F0EmployeeCreditsWarning.stories.tsx
  packages/react/src/sds/ai/F0AiChat/actions/core/employeeCreditsWarning/index.ts
  packages/react/src/sds/ai/F0AiChat/actions/core/employeeCreditsWarning/types.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
Due: format-react

fix: prevent calling default values with wrong params
  packages/react/src/patterns/F0WizardForm/useF0FormDefinition.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
Due: format-react

fix(storybook): remove extra do-donts spacing
  packages/react/src/lib/storybook-utils/do-donts.tsx
Due: format-react

refactor(crud-patterns): reorganize story files
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/complex-resource.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/create/create.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/create/create.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/delete/delete.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/delete/delete.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/overview.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/read/read.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/read/read.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/shared.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/update/update.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/update/update.stories.tsx
Due: format-react

refactor(crud-patterns): align stories with production layout
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/create/create.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/delete/delete.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/overview.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/read/read.stories.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/shared.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/update/update.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/update/update.stories.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/List/index.tsx
Due: format-react

fix(storybook): order CRUD patterns by flow
  packages/react/.storybook/preview.tsx
Due: format-react

docs(crud-patterns): use explicit CRUD terminology
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/overview.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/read/read.mdx
  packages/react/src/patterns/OneDataCollection/__stories__/crud-patterns/read/read.stories.tsx
Due: format-react

fix(trainings): enforce parity audit and stabilize budget flows
  packages/f0compose/AGENTS.md
  packages/f0compose/checks/legal-entities-delta-audit.md
  packages/f0compose/checks/runStaticChecks.ts
  packages/f0compose/checks/trainings-f0compose-audit.md
  packages/f0compose/src/fixtures/trainings-extra.ts
  packages/f0compose/src/prototypes/multi-entity-budget/MultiEntityBudget.tsx
  packages/f0compose/src/prototypes/multi-entity-budget/detail/ClassDetail.tsx
  packages/f0compose/src/prototypes/multi-entity-budget/detail/CostsTab.tsx
  packages/f0compose/src/prototypes/trainings/NewTrainingWizard.tsx
  packages/f0compose/src/prototypes/trainings/_modules/budgets/TrainingsBudgets.tsx
  packages/f0compose/src/prototypes/trainings/detail/ClassDetail.tsx
  packages/f0compose/src/prototypes/trainings/detail/ClassModals.tsx
  packages/f0compose/src/prototypes/trainings/detail/CostsTab.tsx
  packages/f0compose/src/prototypes/trainings/detail/NewClassWizard.tsx
  packages/f0compose/src/prototypes/trainings/detail/NewFormWizard.tsx
  packages/f0compose/src/prototypes/trainings/detail/TrainingsDetail.tsx
  packages/f0compose/src/prototypes/trainings/detail/class/ParticipantsTab.tsx
  packages/f0compose/src/prototypes/trainings/tabs.ts
Due: none

chore(F0Link): set forwardRef displayName
  packages/react/src/components/F0Link/F0Link.tsx
Due: format-react

fix: preserve source.itemUrl in snapshot so prev/next URLs survive collection unmount
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionItemNavigation/__tests__/useSnapshotManager.test.ts
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionItemNavigation/useDataCollectionItemNavigation.ts
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionItemNavigation/useSnapshotManager.ts
Due: format-react

fix: do not resolve default values within the canvas
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/FormCanvasContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/form/__tests__/FormCanvasContent.test.tsx
Due: format-react

fix: update ticketing module avatar icon
  packages/react/src/components/avatars/F0AvatarModule/modules.ts
Due: format-react

feat(react-native): add calendar icon support to F0Metadata date value
  packages/react-native/src/components/F0Metadata/F0Metadata.md
  packages/react-native/src/components/F0Metadata/F0Metadata.types.ts
  packages/react-native/src/components/F0Metadata/F0MetadataValue.tsx
  packages/react-native/src/components/F0Metadata/__tests__/F0Metadata.spec.tsx
  packages/react-native/src/components/F0Metadata/__tests__/__snapshots__/F0Metadata.spec.tsx.snap
Due: format-react-native

fix(react-native): tighten F0Metadata horizontal label width
  packages/react-native/src/components/F0Metadata/F0Metadata.styles.ts
  packages/react-native/src/components/F0Metadata/__tests__/__snapshots__/F0Metadata.spec.tsx.snap
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#4184)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

fix(trainings): sync budget and legal entity flows
  packages/f0compose/checks/trainings-f0compose-audit.md
  packages/f0compose/src/fixtures/legal-entities.ts
  packages/f0compose/src/fixtures/trainings-extra.ts
  packages/f0compose/src/fixtures/trainings.ts
  packages/f0compose/src/prototypes/trainings/_modules/budgets/TrainingsBudgets.tsx
  packages/f0compose/src/prototypes/trainings/costsByLegalEntityToggleStore.ts
  packages/f0compose/src/prototypes/trainings/detail/ClassDetail.tsx
  packages/f0compose/src/prototypes/trainings/detail/CostsTab.tsx
Due: none

feat(react): allow hiding individual question actions in SurveyFormBuilder
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/index.stories.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/ActionsMenu/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/types.ts
Due: format-react

feat(F0InfoCard, F0TimelineRow): add collapsible body toggle and non-collapsible nested rows
  packages/react/src/sds/F0InfoCard/F0InfoCard.tsx
  packages/react/src/sds/F0InfoCard/types.ts
  packages/react/src/sds/TimeLine/components/NestedtaskHeader.tsx
  packages/react/src/sds/TimeLine/components/NestedtaskRow.tsx
  packages/react/src/sds/TimeLine/types.ts
Due: format-react

fix(F0TimelineRow): treat content-only nestedtask without items as nested variant
  packages/react/src/sds/TimeLine/F0TimelineRow.tsx
Due: format-react

feat(react): add F0InfoCard, TimelineRow content slot, and headerless table viz
  packages/react/src/components/exports.ts
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/types.ts
  packages/react/src/sds/F0InfoCard/F0InfoCard.tsx
  packages/react/src/sds/F0InfoCard/__stories__/F0InfoCard.stories.tsx
  packages/react/src/sds/F0InfoCard/__tests__/F0InfoCard.test.tsx
  packages/react/src/sds/F0InfoCard/index.tsx
  packages/react/src/sds/F0InfoCard/types.ts
  packages/react/src/sds/TimeLine/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/sds/TimeLine/__tests__/F0TimelineRow.test.tsx
  packages/react/src/sds/TimeLine/components/NestedtaskHeader.tsx
  packages/react/src/sds/TimeLine/components/NestedtaskRow.tsx
  packages/react/src/sds/TimeLine/types.ts
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
