Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

feat: add get started module icon (#3557)
  packages/react/src/components/avatars/F0AvatarModule/modules.ts
  packages/react/src/icons/modules/Rocket.tsx
  packages/react/src/icons/modules/index.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3561)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: question not being able to be changed to rating type in CoCreationForm
  packages/react/src/sds/CoCreationForm/BaseQuestion/ActionsMenu/index.tsx
Due: format-react

fix: proper fix
  packages/react/src/sds/CoCreationForm/BaseQuestion/ActionsMenu/index.tsx
Due: format-react

fix: remove any from editor registry and stop event propagation in editable cells
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
  packages/react/src/ui/value-display/editors.ts
Due: format-react

docs(changelog-summarizer): update design doc with actual installed dependency versions
  docs/plans/2026-03-02-changelog-summarizer-design.md
Due: none

fix(changelog-summarizer): validate --from/--to as YYYY-MM-DD and guard cache date parse
  packages/changelog-summarizer/src/index.ts
Due: none

fix(changelog-summarizer): use bash array for CLI args, quote expansions, guard empty api-key
  .github/workflows/changelog-summary.yaml
Due: none

fix(changelog-summarizer): persist .cache/last-run across workflow runs via actions/cache
  .github/workflows/changelog-summary.yaml
Due: none

feat(changelog-summarizer): add dry_run input to skip Slack publish
  .github/workflows/changelog-summary.yaml
Due: none

chore: omitProps utility to filter props and update F0Text component to prevent style prop
  packages/react-native/jest.config.mjs
  packages/react-native/src/components/primitives/F0Text/F0Text.md
  packages/react-native/src/components/primitives/F0Text/F0Text.tsx
  packages/react-native/src/components/primitives/F0Text/F0Text.types.ts
  packages/react-native/src/components/primitives/F0Text/__tests__/index.spec.tsx
  packages/react-native/src/lib/__tests__/utils.spec.ts
  packages/react-native/src/lib/utils.ts
Due: format-react-native

refactor: update F0IconShowcase and IconShowcase components to use F0Icon
  packages/react-native/playground/components/F0IconShowcase/index.tsx
  packages/react-native/playground/components/IconShowcase/index.tsx
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/F0Button.types.ts
  packages/react-native/src/components/primitives/PressableFeedback/PressableFeedback.md
  packages/react-native/src/components/primitives/PressableFeedback/PressableFeedback.types.ts
Due: format-react-native

fix(changelog-summarizer): skip saving last-run cache on dry runs
  .github/workflows/changelog-summary.yaml
Due: none

feat(F0Text): introduce F0Text component with semantic typography variants and styles
  packages/react-native/jest.config.mjs
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0TextShowcase/F0TextShowcase.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/F0Text/F0Text.md
  packages/react-native/src/components/primitives/F0Text/F0Text.styles.ts
  packages/react-native/src/components/primitives/F0Text/F0Text.tsx
  packages/react-native/src/components/primitives/F0Text/F0Text.types.ts
  packages/react-native/src/components/primitives/F0Text/__tests__/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/primitives/F0Text/__tests__/index.spec.tsx
  packages/react-native/src/components/primitives/F0Text/index.ts
  packages/react-native/src/index.ts
  packages/react-native/src/lib/__tests__/utils.spec.ts
  packages/react-native/src/lib/utils.ts
Due: format-react-native

feat: add table of content to cocreation form
  packages/react/src/experimental/Navigation/F0TableOfContent/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/CoCreationForm/BaseQuestion/index.tsx
  packages/react/src/sds/CoCreationForm/Form/TableOfContent/index.tsx
  packages/react/src/sds/CoCreationForm/Form/TableOfContent/useTableOfContentItems.ts
  packages/react/src/sds/CoCreationForm/Form/index.tsx
  packages/react/src/sds/CoCreationForm/Section/index.tsx
  packages/react/src/sds/CoCreationForm/constants.ts
Due: format-react

chore: small improvements around F0Text
  packages/react-native/jest.config.mjs
  packages/react-native/playground/components/F0TextShowcase/F0TextShowcase.tsx
  packages/react-native/src/components/primitives/F0Text/F0Text.md
  packages/react-native/src/components/primitives/F0Text/F0Text.tsx
  packages/react-native/src/components/primitives/F0Text/F0Text.types.ts
  packages/react-native/src/components/primitives/F0Text/__tests__/index.spec.tsx
Due: format-react-native

fix: question not being able to be changed to rating type in CoCreationForm (#3562)
  packages/react/src/sds/CoCreationForm/BaseQuestion/ActionsMenu/index.tsx
Due: format-react

chore: release main (#3565)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(changelog-summarizer): add --ignore-last-run flag and new Slack webhook
  .github/workflows/changelog-summary.yaml
  packages/changelog-summarizer/src/index.ts
Due: none

Update packages/changelog-summarizer/src/collectors/changelog.ts
  packages/changelog-summarizer/src/collectors/changelog.ts
Due: none

Update docs/plans/2026-03-02-changelog-summarizer-design.md
  docs/plans/2026-03-02-changelog-summarizer-design.md
Due: none

chore: ignore docs/plans/ and remove tracked design doc
  .gitignore
  docs/plans/2026-03-02-changelog-summarizer-design.md
Due: none

Update .github/workflows/changelog-summary.yaml
  .github/workflows/changelog-summary.yaml
Due: none

fix(changelog-summarizer): align cache path to repo root .cache/last-run
  .github/workflows/changelog-summary.yaml
Due: none

fix(changelog-summarizer): rename cache file to .cache/summarizer-last-run
  .github/workflows/changelog-summary.yaml
  packages/changelog-summarizer/src/index.ts
Due: none

feat(changelog-summarizer): add AI-powered weekly changelog summary CLI and workflow (#3560)
  .github/workflows/changelog-summary.yaml
  .gitignore
  packages/changelog-summarizer/package.json
  packages/changelog-summarizer/src/collectors/changelog.ts
  packages/changelog-summarizer/src/collectors/commits.ts
  packages/changelog-summarizer/src/formatters/markdown.ts
  packages/changelog-summarizer/src/index.ts
  packages/changelog-summarizer/src/prompts/default.md
  packages/changelog-summarizer/src/providers.ts
  packages/changelog-summarizer/src/summarizer.ts
  packages/changelog-summarizer/src/types.ts
  packages/changelog-summarizer/tsconfig.json
  pnpm-lock.yaml
Due: none

docs(changelog-summarizer): add README
  packages/changelog-summarizer/README.md
Due: none

chore(changelog-summarizer): fix provider in workflow env, slim install step
  .github/workflows/changelog-summary.yaml
  packages/changelog-summarizer/README.md
Due: none

fix(changelog-summarizer): use GROQ_API_KEY secret directly, drop CHANGELOG_AI_API_KEY
  .github/workflows/changelog-summary.yaml
  packages/changelog-summarizer/README.md
Due: none

fix(changelog-summarizer): use Slack mrkdwn + Block Kit for formatted message
  .github/workflows/changelog-summary.yaml
  packages/changelog-summarizer/src/index.ts
  packages/changelog-summarizer/src/prompts/default.md
Due: none

fix(changelog-summarizer): add :f0-dev: emoji to weekly summary title
  packages/changelog-summarizer/src/index.ts
Due: none

fix(changelog-summarizer): remove contributor shoutout from summary
  packages/changelog-summarizer/src/prompts/default.md
Due: none

chore(changelog-summarizer): add README and workflow improvements (#3566)
  .github/workflows/changelog-summary.yaml
  packages/changelog-summarizer/README.md
  packages/changelog-summarizer/src/index.ts
  packages/changelog-summarizer/src/prompts/default.md
Due: none

feat(ai-chat): extract TurnFeedback component and add extensible download formats
  packages/react/package.json
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/AssistantMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainerFullscreen.tsx
  packages/react/src/sds/ai/F0AiChat/components/TurnFeedback.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0DataDownload/F0DataDownload.tsx
  packages/react/src/sds/ai/F0DataDownload/formats/csv.ts
  packages/react/src/sds/ai/F0DataDownload/formats/excel.ts
  packages/react/src/sds/ai/F0DataDownload/formats/index.ts
  packages/react/src/sds/ai/F0DataDownload/formats/json.ts
  packages/react/src/sds/ai/F0DataDownload/formats/pdf.ts
  packages/react/src/sds/ai/F0DataDownload/formats/tsv.ts
  packages/react/src/sds/ai/F0DataDownload/formats/types.ts
  packages/react/src/sds/ai/F0DataDownload/types.ts
  packages/react/src/sds/ai/F0DataDownload/utils.ts
  pnpm-lock.yaml
Due: format-react

feat(F0BarChart): add experimental ECharts-based bar chart component
  packages/react/src/components/Charts/F0BarChart/F0BarChart.tsx
  packages/react/src/components/Charts/F0BarChart/__stories__/decorators.tsx
  packages/react/src/components/Charts/F0BarChart/__stories__/index.stories.tsx
  packages/react/src/components/Charts/F0BarChart/index.ts
  packages/react/src/components/Charts/F0BarChart/types.ts
  packages/react/src/components/Charts/F0BarChart/useBarChartOptions.ts
Due: format-react

docs(storybook): replace welcome banner with Introduction and System Principles content
  packages/react/docs/Introduction.mdx
Due: none

feat: add support to reorder questions outside of sections
  packages/react/src/components/F0TableOfContentPopover/F0TableOfContentPopover.tsx
  packages/react/src/components/F0TableOfContentPopover/internal-types.ts
  packages/react/src/experimental/Navigation/F0TableOfContent/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/CoCreationForm/Form/AddButton/index.tsx
  packages/react/src/sds/CoCreationForm/Form/EndOfSectionDivider.tsx
  packages/react/src/sds/CoCreationForm/Form/LastQuestionDialog.tsx
  packages/react/src/sds/CoCreationForm/Form/QuestionItem.tsx
  packages/react/src/sds/CoCreationForm/Form/SectionHeaderItem.tsx
  packages/react/src/sds/CoCreationForm/Form/TableOfContent/index.tsx
  packages/react/src/sds/CoCreationForm/Form/TableOfContent/useTableOfContentItems.ts
  packages/react/src/sds/CoCreationForm/Form/__tests__/index.test.tsx
  packages/react/src/sds/CoCreationForm/Form/index.tsx
  packages/react/src/sds/CoCreationForm/Form/useReorderHandler.ts
  packages/react/src/sds/CoCreationForm/Form/utils.ts
  packages/react/src/sds/CoCreationForm/Section/index.tsx
Due: format-react

chore: fix many ts errors showing in the editor for test files
  packages/react/package.json
  packages/react/tsconfig.json
Due: none
