Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

feat(F0Box): add hoverBackground prop with semantic hover tokens
  packages/react/src/components/F0Box/F0Box.tsx
  packages/react/src/components/F0Box/types.ts
  packages/react/src/components/F0Box/utils/background.ts
Due: format-react

feat(react): f0TimelineRow improvements
  packages/react/src/components/F0TimelineRow/F0TimelineRow.tsx
  packages/react/src/components/F0TimelineRow/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/components/F0TimelineRow/__tests__/F0TimelineRow.test.tsx
  packages/react/src/components/F0TimelineRow/types.ts
Due: format-react

feat: 6 new icons
  packages/core/assets/icons/app/Bookmark.svg
  packages/core/assets/icons/app/MonitorDot.svg
  packages/core/assets/icons/app/MonitorSmartphone.svg
  packages/core/assets/icons/app/Tag.svg
  packages/core/assets/icons/app/Watch.svg
  packages/core/assets/icons/app/Wifi.svg
  packages/react/src/icons/app/Bookmark.tsx
  packages/react/src/icons/app/MonitorDot.tsx
  packages/react/src/icons/app/MonitorSmartphone.tsx
  packages/react/src/icons/app/Tag.tsx
  packages/react/src/icons/app/Watch.tsx
  packages/react/src/icons/app/Wifi.tsx
  packages/react/src/icons/app/index.ts
Due: format-react

feat(react): add Marker icon and use as default, replace in-progress SVG with Figma version
  packages/react/src/components/F0TimelineRow/F0TimelineRow.tsx
  packages/react/src/components/F0TimelineRow/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/components/F0TimelineRow/__tests__/F0TimelineRow.test.tsx
  packages/react/src/components/F0TimelineRow/types.ts
  packages/react/src/icons/app/Marker.tsx
  packages/react/src/icons/app/index.ts
Due: format-react

fix(react): add Marker SVG to core, regenerate icons, fix in-progress clock icon
  packages/core/assets/icons/app/Marker.svg
  packages/react/src/components/F0TimelineRow/F0TimelineRow.tsx
  packages/react/src/components/F0TimelineRow/__tests__/F0TimelineRow.test.tsx
  packages/react/src/icons/app/Marker.tsx
  packages/react/src/icons/app/QuestionCircle.tsx
  packages/react/src/icons/app/index.ts
Due: format-react

fix(core): add ProgressClock and TimelineConnector SVGs to core assets
  packages/core/assets/icons/app/ProgressClock.svg
  packages/core/assets/icons/app/TimelineConnector.svg
Due: none

fix(icons): update ProgressClock SVG to match Figma design
  packages/core/assets/icons/app/ProgressClock.svg
  packages/react/src/icons/app/ProgressClock.tsx
Due: format-react

feat(react): use ProgressClock icon for in-progress status indicator
  packages/react/src/components/F0TimelineRow/F0TimelineRow.tsx
  packages/react/src/components/F0TimelineRow/__tests__/F0TimelineRow.test.tsx
Due: format-react

fix(react): reduce in-progress icon size to match other status icons
  packages/react/src/components/F0TimelineRow/F0TimelineRow.tsx
Due: format-react

feat(progress): add F0Progress component with linear and circular variants
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0ProgressShowcase/index.tsx
  packages/react-native/src/components/F0Progress/F0Progress.md
  packages/react-native/src/components/F0Progress/F0Progress.styles.ts
  packages/react-native/src/components/F0Progress/F0Progress.tsx
  packages/react-native/src/components/F0Progress/F0Progress.types.ts
  packages/react-native/src/components/F0Progress/__tests__/F0Progress.spec.tsx
  packages/react-native/src/components/F0Progress/__tests__/__snapshots__/F0Progress.spec.tsx.snap
  packages/react-native/src/components/F0Progress/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

test(progress): update F0Progress snapshots and mock CSS variables
  packages/react-native/src/components/F0Progress/__tests__/F0Progress.spec.tsx
  packages/react-native/src/components/F0Progress/__tests__/__snapshots__/F0Progress.spec.tsx.snap
Due: format-react-native

fix(OverflowList): add hysteresis and fix negative array index bug
  packages/react/src/ui/OverflowList/useOverflowCalculation.ts
Due: format-react

chore: new icon, ShoppingCart
  packages/core/assets/icons/app/ShoppingCart.svg
  packages/react/src/icons/app/ShoppingCart.tsx
  packages/react/src/icons/app/index.ts
Due: format-react

fix(OverflowList): guard last-item-width check on non-empty itemWidths
  packages/react/src/ui/OverflowList/useOverflowCalculation.ts
Due: format-react

feat(react): add files prop to F0TimelineRow using FileItem
  packages/react/src/components/F0TimelineRow/F0TimelineRow.tsx
  packages/react/src/components/F0TimelineRow/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/components/F0TimelineRow/__tests__/F0TimelineRow.test.tsx
  packages/react/src/components/F0TimelineRow/types.ts
Due: format-react

feat: 7 new icons (#3741)
  packages/core/assets/icons/app/Bookmark.svg
  packages/core/assets/icons/app/MonitorDot.svg
  packages/core/assets/icons/app/MonitorSmartphone.svg
  packages/core/assets/icons/app/ShoppingCart.svg
  packages/core/assets/icons/app/Tag.svg
  packages/core/assets/icons/app/Watch.svg
  packages/core/assets/icons/app/Wifi.svg
  packages/react/src/icons/app/Bookmark.tsx
  packages/react/src/icons/app/MonitorDot.tsx
  packages/react/src/icons/app/MonitorSmartphone.tsx
  packages/react/src/icons/app/ShoppingCart.tsx
  packages/react/src/icons/app/Tag.tsx
  packages/react/src/icons/app/Watch.tsx
  packages/react/src/icons/app/Wifi.tsx
  packages/react/src/icons/app/index.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3743)
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: use label in data collection cards instead of tooltip
  packages/react/src/components/F0Card/__stories__/Card.stories.tsx
  packages/react/src/components/F0Card/components/CardMetadata.tsx
  packages/react/src/components/F0Card/types.ts
  packages/react/src/experimental/OneDataCollection/__stories__/index.stories.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Card/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Kanban/Kanban.tsx
Due: format-react

fix: add missing labels
  packages/react/src/ui/Lane/__stories__/Lane.stories.tsx
Due: format-react

fix: add label to Lane stories and tooltip unit test for CardMetadata
  packages/react/src/components/F0Card/__tests__/Card.test.tsx
Due: format-react

chore: update structure
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/FileQuestion/index.stories.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/FileQuestion/index.tsx
Due: format-react

feat: add file question type
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/CoCreationForm/FileQuestion/index.stories.tsx
  packages/react/src/sds/CoCreationForm/FileQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/Question/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/constants.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/lib.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/types.ts
Due: format-react

feat: update file question type and translations for improved clarity
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/FileQuestion/index.stories.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/FileQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/constants.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/types.ts
Due: format-react

feat: enhance FileQuestion component with accept and maxSizeMB props
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/FileQuestion/index.tsx
Due: format-react

fix: add hysteresis to OverflowList to prevent visible count oscillation (#3740)
  packages/react/src/ui/OverflowList/useOverflowCalculation.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3745)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(core): remove duplicate PascalCase SVGs, update progress-clock.svg with Figma design
  packages/core/assets/icons/app/Marker.svg
  packages/core/assets/icons/app/ProgressClock.svg
  packages/core/assets/icons/app/TimelineConnector.svg
  packages/core/assets/icons/app/progress-clock.svg
  packages/react/src/icons/app/ProgressClock.tsx
  packages/react/src/icons/app/index.ts
Due: format-react

fix: use label in data collection cards instead of tooltip (#3744)
  packages/react/src/components/F0Card/__stories__/Card.stories.tsx
  packages/react/src/components/F0Card/__tests__/Card.test.tsx
  packages/react/src/components/F0Card/components/CardMetadata.tsx
  packages/react/src/components/F0Card/types.ts
  packages/react/src/experimental/OneDataCollection/__stories__/index.stories.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Card/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Kanban/Kanban.tsx
  packages/react/src/ui/Lane/__stories__/Lane.stories.tsx
Due: format-react

fix(react): remove unrelated QuestionCircle icon from PR
  packages/react/src/icons/app/QuestionCircle.tsx
  packages/react/src/icons/app/index.ts
Due: format-react

chore: release main (#3746)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

Update packages/react/src/components/F0TimelineRow/__stories__/F0TimelineRow.stories.tsx
  packages/react/src/components/F0TimelineRow/__stories__/F0TimelineRow.stories.tsx
Due: format-react

Update packages/react/src/icons/app/Marker.tsx
  packages/react/src/icons/app/Marker.tsx
Due: format-react

refactor(react): replace hardcoded colors/sizes with design tokens and use CheckCircle icon
  packages/core/assets/icons/app/Marker.svg
  packages/react/src/components/F0TimelineRow/F0TimelineRow.tsx
  packages/react/src/components/F0TimelineRow/__tests__/F0TimelineRow.test.tsx
Due: format-react

fix: add missing spacing
  packages/react/src/components/F0Form/components/SwitchGroupRenderer.tsx
Due: format-react

feat: add file upload answer mode
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyFormSchema.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/FileQuestion/index.tsx
Due: format-react

refactor(react): address PR review comments for F0TimelineRow
  packages/core/assets/icons/app/circle-dashed.svg
  packages/core/assets/icons/app/multitask.svg
  packages/react/src/components/F0TimelineRow/F0TimelineRow.tsx
  packages/react/src/components/F0TimelineRow/__tests__/F0TimelineRow.test.tsx
  packages/react/src/components/F0TimelineRow/index.tsx
  packages/react/src/icons/app/CircleDashed.tsx
  packages/react/src/icons/app/Multitask.tsx
  packages/react/src/icons/app/index.ts
Due: format-react

fix: add missing unit tests
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
