Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

feat(F0AiChat): New events in ai chat (#3501)
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/__stories__/F0AiChat.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/AssistantMessage.tsx
  packages/react/src/sds/ai/F0AiChat/components/ChatHeader.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/WelcomeScreen.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0OneSwitch/F0OneSwitch.tsx
  packages/react/src/sds/ai/F0OneSwitch/types.ts
Due: format-react

feat: update storybook example
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
Due: format-react

feat(ai-chat): add entity refs, @mentions, tool hints, data download, and textarea improvements
  packages/react/src/examples/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/components/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/UserMessage.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDataDownloadAction.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/MentionPopover.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/ToolHintSelector.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/TypewriterPlaceholder.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
  packages/react/src/sds/ai/F0AiChatTextArea/useMentions.ts
  packages/react/src/sds/ai/F0AiChatTextArea/utils.ts
  packages/react/src/sds/ai/F0DataDownload/F0DataDownload.tsx
  packages/react/src/sds/ai/F0DataDownload/__stories__/F0DataDownload.stories.tsx
  packages/react/src/sds/ai/F0DataDownload/index.ts
  packages/react/src/sds/ai/F0DataDownload/types.ts
  packages/react/src/sds/ai/F0MarkdownRenderers/F0MarkdownRenderers.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/components/EntityRef.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/components/PersonEntityRef.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/components/Table.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/index.ts
  packages/react/src/sds/ai/exports.ts
Due: format-react

refactor(ApplicationFrame): remove welcome screen suggestions
  packages/react/src/examples/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/ToolHintSelector.tsx
Due: format-react

chore: add generate-skills workflow and f0-skills output folder
  .github/workflows/generate-skills.yaml
  packages/react/f0-skills/README.md
Due: format-react

fix(ci): use action commit SHA and allow workflow_dispatch to bypass change detection
  .github/workflows/generate-skills.yaml
Due: none

refactor: replace F1 color variables with F0 across all components and showcases
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/app/(tabs)/tokens.tsx
  packages/react-native/playground/components/ActivityShowcase/index.tsx
  packages/react-native/playground/components/AvatarShowcase/index.tsx
  packages/react-native/playground/components/BadgeShowcase/index.tsx
  packages/react-native/playground/components/ButtonShowcase/index.tsx
  packages/react-native/playground/components/CounterShowcase/index.tsx
  packages/react-native/playground/components/DataListShowcase/index.tsx
  packages/react-native/playground/components/DetailsItemShowcase/index.tsx
  packages/react-native/playground/components/DetailsItemsListShowcase/index.tsx
  packages/react-native/playground/components/IconShowcase/index.tsx
  packages/react-native/playground/components/OneChipShowcase/index.tsx
  packages/react-native/playground/components/OnePresetShowcase/index.tsx
  packages/react-native/playground/components/PageHeaderShowcase/index.tsx
  packages/react-native/playground/components/Select/index.tsx
  packages/react-native/playground/components/TagShowcase/index.tsx
  packages/react-native/playground/components/ThemeSwitcher.tsx
Due: format-react-native

fix(ci): use v1 tag now that release has been published
  .github/workflows/generate-skills.yaml
Due: none

feat: add QuestionCircle icon and update its export in the icon index
  packages/react-native/src/icons/app/QuestionCircle.tsx
  packages/react-native/src/icons/app/index.ts
Due: format-react-native

refactor: update comment in ThemeSwitcher component to English
  packages/react-native/playground/components/ThemeSwitcher.tsx
Due: format-react-native

chore(ci): pin generate-skills action to v1.2.0
  .github/workflows/generate-skills.yaml
Due: none

chore(ci): exclude internal/library stories and prune stale skill dirs
  .github/workflows/generate-skills.yaml
Due: none

chore: switch skill generation model to qwen/qwen3-32b
  .github/workflows/generate-skills.yaml
Due: none

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3555)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(data-download): enhance data download functionality with Excel and CSV support
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDataDownloadAction.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0DataDownload/F0DataDownload.tsx
  packages/react/src/sds/ai/F0DataDownload/__stories__/F0DataDownload.stories.tsx
  packages/react/src/sds/ai/F0DataDownload/index.ts
  packages/react/src/sds/ai/F0DataDownload/types.ts
  packages/react/src/sds/ai/F0MarkdownRenderers/components/Table.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/index.ts
  packages/react/src/sds/ai/F0MarkdownRenderers/utils/tableExport.ts
Due: format-react

feat(data-download): add columnLabels support for customizable Excel/CSV headers
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDataDownloadAction.tsx
  packages/react/src/sds/ai/F0DataDownload/F0DataDownload.tsx
  packages/react/src/sds/ai/F0DataDownload/__stories__/F0DataDownload.stories.tsx
  packages/react/src/sds/ai/F0DataDownload/types.ts
Due: format-react

feat(ai-chat): enhance F0AiChatTextArea with XML escaping and scrollbar improvements
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/useMentions.ts
  packages/react/src/sds/ai/F0AiChatTextArea/utils.ts
  packages/react/src/sds/ai/F0MarkdownRenderers/components/PersonEntityRef.tsx
Due: format-react

feat(i18n): add new translations and improve accessibility in AI components
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0AiChatTextArea/ToolHintSelector.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/TypewriterPlaceholder.tsx
  packages/react/src/sds/ai/F0DataDownload/F0DataDownload.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/components/PersonEntityRef.tsx
Due: format-react

feat(F0Select, InFilter): select all with indeterminate and asList preview
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Select/components/SelectTopActions.tsx
  packages/react/src/components/OneFilterPicker/filterTypes/InFilter/InFilter.tsx
  packages/react/src/ui/Select/components/SelectContent.tsx
Due: format-react

feat(ai-chat): entity refs, @mentions, tool hints, data download with Excel/CSV export (#3553)
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Select/components/SelectTopActions.tsx
  packages/react/src/components/OneFilterPicker/filterTypes/InFilter/InFilter.tsx
  packages/react/src/examples/ApplicationFrame/index.stories.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/components/ChatTextarea.tsx
  packages/react/src/sds/ai/F0AiChat/components/MessagesContainer.tsx
  packages/react/src/sds/ai/F0AiChat/components/UserMessage.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDataDownloadAction.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/MentionPopover.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/ToolHintSelector.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/TypewriterPlaceholder.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
  packages/react/src/sds/ai/F0AiChatTextArea/useMentions.ts
  packages/react/src/sds/ai/F0AiChatTextArea/utils.ts
  packages/react/src/sds/ai/F0DataDownload/F0DataDownload.tsx
  packages/react/src/sds/ai/F0DataDownload/__stories__/F0DataDownload.stories.tsx
  packages/react/src/sds/ai/F0DataDownload/index.ts
  packages/react/src/sds/ai/F0DataDownload/types.ts
  packages/react/src/sds/ai/F0MarkdownRenderers/F0MarkdownRenderers.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/components/EntityRef.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/components/PersonEntityRef.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/components/Table.tsx
  packages/react/src/sds/ai/F0MarkdownRenderers/index.ts
  packages/react/src/sds/ai/F0MarkdownRenderers/utils/tableExport.ts
  packages/react/src/sds/ai/exports.ts
  packages/react/src/ui/Select/components/SelectContent.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3556)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: add get started module icon
  packages/react/src/components/avatars/F0AvatarModule/modules.ts
  packages/react/src/icons/modules/Rocket.tsx
  packages/react/src/icons/modules/index.ts
Due: format-react

chore(ci): push partial skill generation results even on rate-limit failure
  .github/workflows/generate-skills.yaml
Due: none

feat: add error handling for editable table save failures and update handleCellChange type
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/context/EditableRowContext.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

feat(Select): support TagPerson in select options (#3536)
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
  packages/react/src/components/F0Select/components/SelectItem.tsx
  packages/react/src/components/F0Select/types.ts
Due: format-react

chore: release main (#3558)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: update EditableRowContext to use RecordType for improved type safety
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/context/EditableRowContext.tsx
Due: format-react

refactor: clarify comment on type safety for value display editors
  packages/react/src/ui/value-display/editors.ts
Due: format-react

test: add customization tests for TableCollection component
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.spec.tsx
Due: format-react

fix: require column id for editable cell rendering
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
Due: format-react

chore(ci): also push generated skills on workflow_dispatch
  .github/workflows/generate-skills.yaml
Due: none

feat: formatting
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/context/EditableRowContext.tsx
Due: format-react

feat(changelog-summarizer): add AI-powered weekly changelog summary CLI and workflow
  .github/workflows/changelog-summary.yaml
  docs/plans/2026-03-02-changelog-summarizer-design.md
  packages/changelog-summarizer/package.json
  packages/changelog-summarizer/src/collectors/changelog.ts
  packages/changelog-summarizer/src/collectors/commits.ts
  packages/changelog-summarizer/src/formatters/markdown.ts
  packages/changelog-summarizer/src/index.ts
  packages/changelog-summarizer/src/prompts/default.md
  packages/changelog-summarizer/src/providers.ts
  packages/changelog-summarizer/src/summarizer.ts
  packages/changelog-summarizer/src/types.ts
  packages/changelog-summarizer/tsconfig.json
  pnpm-lock.yaml
Due: none

Fix `clearFetchedData` leaving stale `expandedRowIds` after global resets (#3559)
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/providers/NestedProvider.tsx
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
