Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

fix(Button, F0Button): update class names from 'item-start' to 'items-start' for alignment
  packages/react-native/src/components/Button/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Button/index.tsx
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/__tests__/__snapshots__/F0Button.spec.tsx.snap
Due: format-react-native

docs(AGENTS.md): expand component guidelines and conventions for React Native library
  packages/react-native/AGENTS.md
Due: none

feat(F0Badge): introduce F0Badge component with variants and sizes; deprecate Badge component
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0BadgeShowcase/index.tsx
  packages/react-native/src/components/Badge/__tests__/index.spec.tsx
  packages/react-native/src/components/Badge/index.tsx
  packages/react-native/src/components/F0Badge/F0Badge.md
  packages/react-native/src/components/F0Badge/F0Badge.styles.ts
  packages/react-native/src/components/F0Badge/F0Badge.tsx
  packages/react-native/src/components/F0Badge/F0Badge.types.ts
  packages/react-native/src/components/F0Badge/__tests__/F0Badge.spec.tsx
  packages/react-native/src/components/F0Badge/__tests__/__snapshots__/F0Badge.spec.tsx.snap
  packages/react-native/src/components/F0Badge/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

refactor: unify to use F0FormField
  packages/react/src/components/F0Form/fields/FieldRenderer.tsx
  packages/react/src/components/F0FormField/F0FormField.tsx
  packages/react/src/components/F0FormField/__stories__/F0FormField.stories.tsx
  packages/react/src/components/F0FormField/index.tsx
  packages/react/src/components/F0FormField/types.ts
  packages/react/src/components/exports.ts
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/AllQuestionsView.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/RatingQuestionField.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/SelectQuestionField.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/SteppedView.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/__tests__/useSurveyValidation.test.ts
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyForm.ts
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyFormSchema.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyValidation.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Context.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/TableOfContent/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/useQuestionDisabled.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/DateQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/DropdownSingleQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/LinkQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/NumericQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/TextQuestion/index.tsx
Due: format-react

fix(analytics): address sauldom102 PR review comments
  packages/react/src/components/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/CollectionItem/CollectionItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/types.ts
Due: format-react

feat: data collection reference row
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.mdx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
  packages/react/src/experimental/OneTable/TableCell/index.tsx
Due: format-react

feat: introduce reference row types
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.mdx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
  packages/react/src/experimental/OneTable/TableCell/index.tsx
Due: format-react

feat: add delta display cell
  packages/react/src/ui/value-display/__stories__/shared.tsx
  packages/react/src/ui/value-display/renderers.tsx
  packages/react/src/ui/value-display/types/delta/__stories__/delta.mdx
  packages/react/src/ui/value-display/types/delta/__stories__/delta.stories.tsx
  packages/react/src/ui/value-display/types/delta/delta.tsx
  packages/react/src/ui/value-display/types/delta/index.tsx
Due: format-react

feat: data collection reference row (#3585)
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.mdx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
  packages/react/src/experimental/OneTable/TableCell/index.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3632)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: add delta display cell (#3574)
  packages/react/src/ui/value-display/__stories__/shared.tsx
  packages/react/src/ui/value-display/renderers.tsx
  packages/react/src/ui/value-display/types/delta/__stories__/delta.mdx
  packages/react/src/ui/value-display/types/delta/__stories__/delta.stories.tsx
  packages/react/src/ui/value-display/types/delta/delta.tsx
  packages/react/src/ui/value-display/types/delta/index.tsx
Due: format-react

chore: release main (#3633)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(F0Badge): extract badge variant and size classes into constants
  packages/react-native/playground/components/F0BadgeShowcase/index.tsx
  packages/react-native/src/components/F0Badge/F0Badge.styles.ts
  packages/react-native/src/components/F0Badge/F0Badge.types.ts
Due: format-react-native

feat(F0Button): implement loading state with visual feedback and enhance button functionality
  packages/react-native/playground/components/F0ButtonShowcase/index.tsx
  packages/react-native/src/components/F0Button/F0Button.md
  packages/react-native/src/components/F0Button/F0Button.styles.ts
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
  packages/react-native/src/components/F0Button/__tests__/__snapshots__/F0Button.spec.tsx.snap
Due: format-react-native

feat(F0Badge): introduce F0Badge component with variants and sizes (#3631)
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0BadgeShowcase/index.tsx
  packages/react-native/src/components/Badge/__tests__/index.spec.tsx
  packages/react-native/src/components/Badge/index.tsx
  packages/react-native/src/components/F0Badge/F0Badge.md
  packages/react-native/src/components/F0Badge/F0Badge.styles.ts
  packages/react-native/src/components/F0Badge/F0Badge.tsx
  packages/react-native/src/components/F0Badge/F0Badge.types.ts
  packages/react-native/src/components/F0Badge/__tests__/F0Badge.spec.tsx
  packages/react-native/src/components/F0Badge/__tests__/__snapshots__/F0Badge.spec.tsx.snap
  packages/react-native/src/components/F0Badge/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3634)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat(F0AnalyticsDashboard): add all chart types + rewrite stories as reference catalog (#3617)
  packages/react/src/components/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/components/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/components/F0AnalyticsDashboard/__stories__/mockData.ts
  packages/react/src/components/F0AnalyticsDashboard/__stories__/mockDataMixed.ts
  packages/react/src/components/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/CollectionItem/CollectionItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardItem/DashboardItemSkeleton.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/FilterBar/FilterBar.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/MetricItem/MetricItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/hooks/useDashboardItemData.ts
  packages/react/src/components/F0AnalyticsDashboard/index.ts
  packages/react/src/components/F0AnalyticsDashboard/types.ts
  packages/react/src/components/exports.ts
Due: format-react

chore: release main (#3635)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(F0Button): improve error handling in onPress and update component options
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
Due: format-react-native

feat: introduce F0Button component (#3626)
  packages/react-native/AGENTS.md
  packages/react-native/README.md
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0ButtonShowcase/index.tsx
  packages/react-native/src/components/Button/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Button/index.tsx
  packages/react-native/src/components/F0Button/F0Button.md
  packages/react-native/src/components/F0Button/F0Button.styles.ts
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/F0Button.types.ts
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
  packages/react-native/src/components/F0Button/__tests__/__snapshots__/F0Button.spec.tsx.snap
  packages/react-native/src/components/F0Button/index.ts
  packages/react-native/src/components/Icon/index.tsx
  packages/react-native/src/components/exports.ts
Due: format-react-native

chore: release main (#3636)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

fix: stepped answering form
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/fields/FieldRenderer.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/SelectQuestionField.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyFormSchema.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Context.tsx
Due: format-react

fix: make stepper set as completed
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useStepper.ts
Due: format-react

fix: render-loop
  packages/react/src/components/F0Form/F0Form.tsx
  packages/react/src/components/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/components/F0Form/fields/FieldRenderer.tsx
  packages/react/src/components/F0Form/types.ts
  packages/react/src/components/F0FormField/__stories__/F0FormField.stories.tsx
  packages/react/src/components/F0WizardForm/__stories__/F0WizardForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/SelectQuestionField.tsx
Due: format-react

refactor: create renderFieldInput function
  packages/react/src/components/F0Form/fields/FieldRenderer.tsx
  packages/react/src/components/F0Form/fields/renderFieldInput.tsx
  packages/react/src/components/F0FormField/F0FormField.tsx
  packages/react/src/components/F0FormField/__tests__/F0FormField.test.tsx
Due: format-react

refactor: update imports
  packages/react/src/sds/surveys/SurveyAnsweringForm/__tests__/SurveyAnsweringForm.test.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
Due: format-react

fix: some unit tests failing
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/components/F0FormField/__tests__/F0FormField.test.tsx
  packages/react/src/experimental/Forms/Fields/NumberInput/internal.tsx
Due: format-react

refactor: add file type to F0FormField
  packages/react/src/components/F0Form/context.ts
  packages/react/src/components/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/renderFieldInput.tsx
  packages/react/src/components/F0FormField/F0FormField.tsx
  packages/react/src/components/F0FormField/__stories__/F0FormField.stories.tsx
  packages/react/src/components/F0FormField/__tests__/F0FormField.test.tsx
  packages/react/src/components/F0FormField/types.ts
Due: format-react

chore: release main (#3637)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: editable table - nested design fixes (#3588)
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.mdx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/table/table.stories.tsx
  packages/react/src/experimental/OneDataCollection/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/README.md
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableCellRenderer.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/TextCell.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/TextCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/index.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/DisabledCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/NonEditableCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/consts.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/LoadMore/index.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/RowLoading/index.tsx
  packages/react/src/experimental/OneTable/TableCell/NestedCell/index.tsx
  packages/react/src/experimental/OneTable/TableCell/TreeConnector/index.tsx
  packages/react/src/experimental/OneTable/TableCell/index.tsx
  packages/react/src/experimental/OneTable/TableCell/utils/nested.ts
Due: format-react

chore: release main (#3638)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0Image): add F0Image component with showcase and Jest mock for expo-image
  packages/react-native/jest.setup.js
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0ImageShowcase/index.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/F0Image/F0Image.md
  packages/react-native/src/components/primitives/F0Image/F0Image.tsx
  packages/react-native/src/components/primitives/F0Image/F0Image.types.ts
  packages/react-native/src/components/primitives/F0Image/__tests__/F0Image.spec.tsx
  packages/react-native/src/components/primitives/F0Image/index.ts
Due: format-react-native

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
