Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

revert(F0Dialog): restore F0Dialog, F0Drawer and dialog-alike to v3.12.0 behavior (#4616)
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/__tests__/F0Select.test.tsx
  packages/react/src/components/dialog-alike/F0Dialog/__stories__/DialogNotification.stories.tsx
  packages/react/src/components/dialog-alike/F0Dialog/__stories__/F0Dialog.stories.tsx
  packages/react/src/components/dialog-alike/F0Drawer/__stories__/F0Drawer.stories.tsx
  packages/react/src/components/dialog-alike/F0Drawer/index.tsx
  packages/react/src/components/dialog-alike/F0Drawer/internal/DrawerInternal.tsx
  packages/react/src/components/dialog-alike/F0Drawer/internal/internal-types.ts
  packages/react/src/components/dialog-alike/common/DialogWrapperProvider.tsx
  packages/react/src/components/dialog-alike/common/Header.tsx
  packages/react/src/components/dialog-alike/common/Wrapper.tsx
  packages/react/src/components/dialog-alike/common/dialog-primitive/DialogContent.tsx
  packages/react/src/components/dialog-alike/common/dialog-primitive/__tests__/useContainerAnchor.test.tsx
  packages/react/src/components/dialog-alike/common/dialog-primitive/useContainerAnchor.ts
  packages/react/src/components/exports.ts
  packages/react/src/deprecated/EntitySelect/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider.spec.tsx
  packages/react/src/lib/providers/i18n/i18n-provider.tsx
  packages/react/src/patterns/F0Dialog/F0Dialog.tsx
  packages/react/src/patterns/F0Dialog/F0DialogInternal.tsx
  packages/react/src/patterns/F0Dialog/__stories__/F0Modal.stories.tsx
  packages/react/src/patterns/F0Dialog/__tests__/F0Dialog.aichat-stacking.test.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogContent.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogFooter.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogHeader.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogProvider.tsx
  packages/react/src/patterns/F0Dialog/index.tsx
  packages/react/src/patterns/F0Dialog/internal-types.ts
  packages/react/src/patterns/F0Dialog/utils.ts
  packages/react/src/patterns/F0WizardForm/types.ts
  packages/react/src/patterns/OneDataCollection/__tests__/presets.test.tsx
  packages/react/src/patterns/OneDataCollection/components/PresetFormDialog/PresetFormDialog.tsx
  packages/react/src/patterns/OneFilterPicker/components/FiltersControls.tsx
  packages/react/src/sds/ai/F0AiMessagesContainer/components/feedback/FeedbackModal.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/TableOfContent/index.tsx
  packages/react/src/ui/Select/components/SelectContent.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4618)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(emoji-picker): seed props before append so onEmojiSelect fires
  packages/react/src/lib/EmojiPicker.test.tsx
  packages/react/src/lib/EmojiPicker.tsx
Due: format-react

fix(F0Chat): bump inline emoji render size to 17px
  packages/react/src/sds/chat/F0Chat/utils/render-body.tsx
Due: format-react

fix(emoji-picker): seed props before append so onEmojiSelect fires (#4619)
  packages/react/src/lib/EmojiPicker.test.tsx
  packages/react/src/lib/EmojiPicker.tsx
  packages/react/src/sds/chat/F0Chat/utils/render-body.tsx
Due: format-react

chore: release main (#4620)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(F0Graph): don't hydrate the whole tree on mount with windowing
  packages/react/src/patterns/F0Graph/components/F0GraphView/F0GraphView.tsx
  packages/react/src/patterns/F0Graph/hooks/__tests__/useViewportDataLoader.test.ts
  packages/react/src/patterns/F0Graph/hooks/useViewportDataLoader.ts
Due: format-react

fix(dialog-alike): don't let the opening interaction immediately dismiss a dialog
  packages/react/src/components/dialog-alike/common/Wrapper.tsx
  packages/react/src/components/dialog-alike/common/__tests__/Wrapper.test.tsx
Due: format-react

fix(OneFilterPicker): apply nested subfilter selections on Apply
  packages/react/src/patterns/OneFilterPicker/OneFilterPicker.tsx
  packages/react/src/patterns/OneFilterPicker/__test__/nested-subfilters.test.tsx
  packages/react/src/patterns/OneFilterPicker/components/FiltersControls.tsx
Due: format-react

docs(F0Graph): document itemUrl node navigation design
  packages/react/src/patterns/F0Graph/docs/rfc-node-navigation-itemurl.md
Due: format-react

perf(F0Graph): materialize only windowed nodes (not build-all-then-filter)
  packages/react/src/patterns/F0Graph/hooks/useGraphRenderModel.ts
Due: format-react

docs(cocreation): document welcome suggestion buttons on the chat start
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
  packages/react/src/patterns/Cocreation/__stories__/phases.mdx
Due: none

feat(F0Wizard): add ScrollComponent prop for keyboard-aware scrolling
  packages/react-native/src/components/F0Wizard/F0Wizard.md
  packages/react-native/src/components/F0Wizard/F0Wizard.tsx
  packages/react-native/src/components/F0Wizard/F0Wizard.types.ts
  packages/react-native/src/components/F0Wizard/__tests__/F0Wizard.spec.tsx
Due: format-react-native

fix(F0Wizard): type test scroll mock; add footer testID
  packages/react-native/src/components/F0Wizard/F0Wizard.tsx
  packages/react-native/src/components/F0Wizard/__tests__/F0Wizard.spec.tsx
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#4627)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

fix(InFilter): scope nested tree separator to root-level items only
  packages/react/src/patterns/OneFilterPicker/filterTypes/InFilter/__stories__/InFilter.stories.tsx
  packages/react/src/patterns/OneFilterPicker/filterTypes/InFilter/components/InFilterOptionRow.tsx
Due: format-react

feat(F0PdfViewer): add experimental PDF viewer component
  packages/react/package.json
  packages/react/public/f0-pdf-viewer-sample.pdf
  packages/react/src/components/F0PdfViewer/F0PdfViewer.styles.css
  packages/react/src/components/F0PdfViewer/F0PdfViewer.tsx
  packages/react/src/components/F0PdfViewer/F0PdfViewerSkeleton.tsx
  packages/react/src/components/F0PdfViewer/__stories__/F0PdfViewer.mdx
  packages/react/src/components/F0PdfViewer/__stories__/F0PdfViewer.stories.tsx
  packages/react/src/components/F0PdfViewer/__tests__/F0PdfViewer.test.tsx
  packages/react/src/components/F0PdfViewer/__tests__/pdfActions.test.ts
  packages/react/src/components/F0PdfViewer/__tests__/scales.test.ts
  packages/react/src/components/F0PdfViewer/__tests__/visiblePage.test.ts
  packages/react/src/components/F0PdfViewer/components/PdfLoadingState.tsx
  packages/react/src/components/F0PdfViewer/components/PdfToolbar.tsx
  packages/react/src/components/F0PdfViewer/components/ToolbarButton.tsx
  packages/react/src/components/F0PdfViewer/index.tsx
  packages/react/src/components/F0PdfViewer/pdfActions.ts
  packages/react/src/components/F0PdfViewer/pdfWorker.ts
  packages/react/src/components/F0PdfViewer/scales.ts
  packages/react/src/components/F0PdfViewer/types.ts
  packages/react/src/components/F0PdfViewer/visiblePage.ts
  packages/react/src/components/exports.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/ui/pdf.tsx
  pnpm-lock.yaml
Due: format-react

refactor(F0PdfViewer): polish docs preview, page centering and toolbar
  packages/react/public/f0-pdf-viewer-sample.pdf
  packages/react/src/components/F0PdfViewer/F0PdfViewer.styles.css
  packages/react/src/components/F0PdfViewer/F0PdfViewer.tsx
  packages/react/src/components/F0PdfViewer/__stories__/F0PdfViewer.mdx
  packages/react/src/components/F0PdfViewer/__stories__/F0PdfViewer.stories.tsx
  packages/react/src/components/F0PdfViewer/components/PdfToolbar.tsx
  packages/react/src/components/F0PdfViewer/components/ToolbarButton.tsx
Due: format-react

fix(F0PdfViewer): keep selected text from shifting
  packages/react/src/components/F0PdfViewer/F0PdfViewer.styles.css
Due: format-react

feat(F0PdfViewer): add opt-in page rotation
  packages/react/src/components/F0PdfViewer/F0PdfViewer.tsx
  packages/react/src/components/F0PdfViewer/__stories__/F0PdfViewer.mdx
  packages/react/src/components/F0PdfViewer/__stories__/F0PdfViewer.stories.tsx
  packages/react/src/components/F0PdfViewer/__tests__/F0PdfViewer.test.tsx
  packages/react/src/components/F0PdfViewer/components/PdfToolbar.tsx
  packages/react/src/components/F0PdfViewer/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

fix(F0PdfViewer): use skeletons instead of spinners while loading
  packages/react/src/components/F0PdfViewer/F0PdfViewer.tsx
  packages/react/src/components/F0PdfViewer/components/PdfLoadingState.tsx
Due: format-react

docs(cocreation): move Try the flow to top, drop broken demo link
  packages/react/src/patterns/Cocreation/__stories__/index.mdx
Due: none

docs(cocreation): rename Creation with AI page to Walkthrough
  packages/react/src/patterns/Cocreation/__stories__/adoption.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
  packages/react/src/patterns/Cocreation/__stories__/index.mdx
  packages/react/src/patterns/Cocreation/__stories__/mockData.tsx
  packages/react/src/patterns/Cocreation/__stories__/phases.mdx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.mdx
  packages/react/src/patterns/Cocreation/__stories__/survey-mocks.ts
  packages/react/src/patterns/Cocreation/__stories__/tab-configs.ts
Due: format-react

docs(cocreation): document welcome suggestion buttons (#4628)
  packages/react/src/patterns/Cocreation/__stories__/adoption.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.mdx
  packages/react/src/patterns/Cocreation/__stories__/creation-with-ai.stories.tsx
  packages/react/src/patterns/Cocreation/__stories__/index.mdx
  packages/react/src/patterns/Cocreation/__stories__/mockData.tsx
  packages/react/src/patterns/Cocreation/__stories__/phases.mdx
  packages/react/src/patterns/Cocreation/__stories__/standard-flow.mdx
  packages/react/src/patterns/Cocreation/__stories__/survey-mocks.ts
  packages/react/src/patterns/Cocreation/__stories__/tab-configs.ts
Due: format-react

fix(emoji-picker): construct the registered element class with a ref (light-DOM), not createElement
  packages/react/src/lib/EmojiPicker.test.tsx
  packages/react/src/lib/EmojiPicker.tsx
Due: format-react

chore(emoji-picker): trim redundant comments
  packages/react/src/lib/EmojiPicker.test.tsx
  packages/react/src/lib/EmojiPicker.tsx
Due: format-react

feat(F0TagStatus): add optional icon prop (#4593)
  packages/react/src/components/tags/F0TagStatus/F0TagStatus.tsx
  packages/react/src/components/tags/F0TagStatus/__storybook__/TagStatus.stories.tsx
  packages/react/src/components/tags/F0TagStatus/types.ts
  packages/react/src/ui/value-display/types/status/status.tsx
Due: format-react

chore: release main (#4630)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0Chat): preview composer images as square thumbnails
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageAttachments.tsx
Due: format-react

feat(F0Chat): preview composer images as square thumbnails (#4631)
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageAttachments.tsx
Due: format-react

chore: release main (#4632)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
