Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

Revert "chore(storybook): update brand logo and favicon" (#4722)
  packages/react/.storybook/manager-head.html
  packages/react/public/f0-dark.svg
  packages/react/public/f0-light.svg
  packages/react/public/f0.svg
  packages/react/public/favicon-alt.svg
  packages/react/public/favicon.svg
  packages/react/public/logo.svg
Due: none

chore(react): reorder & rename Storybook top-level navigation
  packages/react/.storybook/main.ts
  packages/react/.storybook/manager.ts
  packages/react/.storybook/preview.tsx
  packages/react/src/components/dialog-alike/F0Drawer/__stories__/F0Drawer.stories.tsx
  packages/react/src/experimental/Actions/F0SegmentedControl/__stories__/F0SegmentedControl.stories.tsx
  packages/react/src/patterns/Navigation/Sidebar/TabPanel/index.stories.tsx
  packages/react/src/sds/ai/Banners/BaseBanner/index.stories.tsx
  packages/react/src/sds/chat/F0Chat/F0Chat.stories.tsx
  packages/react/src/ui/ButtonCopy/__stories__/ButtonCopy.stories.tsx
  packages/react/src/ui/ChevronToggle/__stories__/ChevronToggle.stories.tsx
  packages/react/src/ui/DatePickerPopup/__stories__/DatePickerPopup.stories.tsx
  packages/react/src/ui/Dialog/__stories__/Dialog.stories.tsx
  packages/react/src/ui/OverflowList/index.stories.tsx
  packages/react/src/ui/Select/__stories__/select.stories.tsx
  packages/react/src/ui/VerticalOverflowList/index.stories.tsx
Due: format-react

feat(storybook): show component status + DoD checklist on docs pages
  packages/react/.storybook/ComponentStatusPanel.tsx
  packages/react/.storybook/DocsContainer.tsx
  packages/react/.storybook/componentStatusMessage.test.ts
  packages/react/.storybook/componentStatusMessage.ts
  packages/react/src/component-status/component-status.test.ts
  packages/react/src/component-status/component-status.ts
Due: format-react

docs(F0AnalyticsDashboard): pin controlled-filter contract in JSDoc
  packages/react/src/patterns/F0AnalyticsDashboard/types.ts
  packages/react/src/patterns/OneFilterPicker/OneFilterPicker.tsx
Due: format-react

feat(F0Form): add delete persistence + confirmation to entitiesList
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListFieldRenderer.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/EntitiesListView.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/__tests__/EntitiesListFieldRenderer.test.tsx
  packages/react/src/patterns/F0Form/fields/entitiesList/types.ts
  packages/react/src/patterns/F0Form/useSchemaDefinition.ts
Due: format-react

fix(OneFilterPicker): don't wipe the draft on identity-only value re-renders
  packages/react/src/patterns/OneFilterPicker/__test__/index.test.tsx
  packages/react/src/patterns/OneFilterPicker/components/FiltersControls.tsx
Due: format-react

fix(F0Accordion): remove resting box shadow
  packages/react/src/components/F0Accordion/F0Accordion.tsx
  packages/react/src/components/F0Accordion/F0AccordionSkeleton.tsx
Due: format-react

fix(F0Accordion): remove resting box shadow (#4729)
  packages/react/src/components/F0Accordion/F0Accordion.tsx
  packages/react/src/components/F0Accordion/F0AccordionSkeleton.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4730)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(component-status): move all panel text into the API + export ComponentStability
  packages/react/.storybook/ComponentStatusPanel.tsx
  packages/react/.storybook/componentStatusMessage.test.ts
  packages/react/.storybook/componentStatusMessage.ts
  packages/react/docs/component-status.mdx
  packages/react/src/component-status/ComponentStability.test.tsx
  packages/react/src/component-status/ComponentStability.tsx
  packages/react/src/component-status/component-status.test.ts
  packages/react/src/component-status/component-status.ts
  packages/react/src/component-status/exports.ts
Due: format-react

style(component-status): larger text, centered checklist rows, no horizontal padding
  packages/react/src/component-status/ComponentStability.tsx
Due: format-react

style(component-status): increase status badge size
  packages/react/src/component-status/ComponentStability.tsx
Due: format-react

chore: release main (#4731)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(component-status): add "Maturity level" heading, larger status text
  packages/react/src/component-status/ComponentStability.tsx
Due: format-react

refactor(component-status): drop "Status" label, use h3 headings
  packages/react/.storybook/ImportBanner.tsx
  packages/react/src/component-status/ComponentStability.tsx
Due: format-react

chore(F0Form): oxfmt mdx table alignment
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
Due: none

feat(component-status): enumerate the "acceptable" doc-quality criteria
  packages/react/src/component-status/ComponentStability.test.tsx
  packages/react/src/component-status/ComponentStability.tsx
  packages/react/src/component-status/component-status.test.ts
  packages/react/src/component-status/component-status.ts
Due: format-react

style(component-status): use text-base for checklist detail subtitles
  packages/react/src/component-status/ComponentStability.tsx
Due: format-react

feat(toast): bottom-center position, 384px width, action-aware duration
  packages/react/src/hooks/toast/ToastProvider.tsx
  packages/react/src/hooks/toast/__tests__/toasts.test.tsx
  packages/react/src/hooks/toast/imperative.ts
  packages/react/src/hooks/toast/types.ts
Due: format-react

fix(react): give root index.mdx docs an explicit title
  packages/react/src/experimental/Widgets/index.mdx
  packages/react/src/ui/IconBadge/Badge.mdx
  packages/react/src/ui/OneRestrictComponent/index.mdx
Due: none

fix(OneDateNavigator): revive persisted string dates before use
  packages/react/src/patterns/OneDateNavigator/OneDateNavigator.tsx
  packages/react/src/patterns/OneDateNavigator/__tests__/OneDateNavigator.test.tsx
  packages/react/src/ui/DatePickerPopup/utils.ts
Due: format-react

feat(component-status): align with lifecycle DoD; add effective status
  packages/react/docs/component-status.mdx
  packages/react/scripts/component-status-build.mjs
  packages/react/scripts/component-status-build.test.ts
  packages/react/src/component-status/ComponentStability.test.tsx
  packages/react/src/component-status/ComponentStability.tsx
  packages/react/src/component-status/component-status.test.ts
  packages/react/src/component-status/component-status.ts
Due: format-react

feat(component-status): per-criterion checks for doc quality
  packages/react/scripts/component-status-build.mjs
  packages/react/scripts/component-status-build.test.ts
  packages/react/src/component-status/ComponentStability.test.tsx
  packages/react/src/component-status/ComponentStability.tsx
  packages/react/src/component-status/component-status.test.ts
  packages/react/src/component-status/component-status.ts
Due: format-react

style(component-status): top-align top-level checklist icons
  packages/react/src/component-status/ComponentStability.tsx
Due: format-react

style(component-status): remove vertical padding from the panel container
  packages/react/src/component-status/ComponentStability.tsx
Due: format-react

fix(OneDateNavigator): revive persisted string dates before use (#4733)
  packages/react/src/patterns/OneDateNavigator/OneDateNavigator.tsx
  packages/react/src/patterns/OneDateNavigator/__tests__/OneDateNavigator.test.tsx
  packages/react/src/ui/DatePickerPopup/utils.ts
Due: format-react

chore: release main (#4734)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(storybook): sidebar warning dot for experimental components
  packages/react/.gitignore
  packages/react/.storybook/main.ts
  packages/react/.storybook/manager.ts
  packages/react/scripts/component-status-build.d.mts
  packages/react/scripts/component-status-build.mjs
  packages/react/src/component-status/component-status.test.ts
Due: format-react

feat(component-status): align status table with effective status; dot after sidebar label
  packages/react/.storybook/manager.ts
  packages/react/docs/components/ComponentStatusTable.tsx
Due: format-react

style(storybook): use 🚧 emoji instead of a dot for the sidebar experimental marker
  packages/react/.storybook/manager.ts
Due: format-react

fix(icons): update ReceiptAi to the corrected art (web + react-native)
  packages/core/assets/icons/ai/receipt-ai.svg
  packages/react-native/assets/icons/ai/receipt-ai.svg
  packages/react-native/src/icons/ai/ReceiptAi.tsx
  packages/react/src/icons/ai/ReceiptAi.tsx
Due: format-react, format-react-native

fix(component-status): meta-title extraction, drop internal, remove declared-tag column
  packages/react/docs/components/ComponentStatusTable.tsx
  packages/react/scripts/component-status-build.mjs
  packages/react/scripts/component-status-build.test.ts
Due: format-react

feat(storybook): sidebar ❌ marker for deprecated components
  packages/react/.gitignore
  packages/react/.storybook/main.ts
  packages/react/.storybook/manager.ts
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
