Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

feat: editable tables design (#3539)
  packages/react/src/experimental/Forms/Fields/Input/internal.tsx
  packages/react/src/experimental/OneDataCollection/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/EditableTable.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/README.md
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableCellRenderer.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/EditableRowContext.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/TextCell.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/EditableCellRenderer.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/BaseCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/TextCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/index.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/consts.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneTable/TableCell/index.tsx
  packages/react/src/ui/InputField/InputField.tsx
  packages/react/src/ui/input.tsx
  packages/react/src/ui/value-display/editors.ts
  packages/react/src/ui/value-display/index.tsx
  packages/react/src/ui/value-display/types.ts
  packages/react/src/ui/value-display/types/text/index.tsx
  packages/react/src/ui/value-display/types/text/text-editor.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3614)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: add new primitive `F0Icon` (#3594)
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0IconShowcase/index.tsx
  packages/react-native/playground/components/IconShowcase/index.tsx
  packages/react-native/playground/components/Select/index.tsx
  packages/react-native/src/components/Activity/ActivityItem/index.spec.tsx
  packages/react-native/src/components/Activity/ActivityItem/index.tsx
  packages/react-native/src/components/Avatars/IconAvatar/index.tsx
  packages/react-native/src/components/Avatars/ModuleAvatar/index.tsx
  packages/react-native/src/components/Badge/index.tsx
  packages/react-native/src/components/Button/index.spec.tsx
  packages/react-native/src/components/Button/index.tsx
  packages/react-native/src/components/Icon/README.md
  packages/react-native/src/components/Icon/__tests__/Icon.spec.tsx
  packages/react-native/src/components/Icon/index.tsx
  packages/react-native/src/components/OneChip/index.tsx
  packages/react-native/src/components/Tags/AlertTab/index.tsx
  packages/react-native/src/components/Tags/RawTag/index.tsx
  packages/react-native/src/components/experimental/Lists/DataList/ItemContainer.tsx
  packages/react-native/src/components/experimental/Lists/DataList/actions/CopyAction.tsx
  packages/react-native/src/components/experimental/Lists/DataList/actions/GenericAction.tsx
  packages/react-native/src/components/experimental/Lists/DataList/index.tsx
  packages/react-native/src/components/experimental/Lists/DetailsItem/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/F0Icon/F0Icon.md
  packages/react-native/src/components/primitives/F0Icon/F0Icon.styles.ts
  packages/react-native/src/components/primitives/F0Icon/F0Icon.tsx
  packages/react-native/src/components/primitives/F0Icon/F0Icon.types.ts
  packages/react-native/src/components/primitives/F0Icon/__tests__/F0Icon.spec.tsx
  packages/react-native/src/components/primitives/F0Icon/__tests__/F0Icon.tokens.spec.ts
  packages/react-native/src/components/primitives/F0Icon/index.ts
  packages/react-native/src/icons/index.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3615)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

refactor: update unit test title
  packages/react/src/components/F0Select/__tests__/F0Select.test.tsx
Due: format-react

fix: better placement of TableOfContent
  packages/react/src/components/F0TableOfContentPopover/F0TableOfContentPopover.tsx
  packages/react/src/components/F0TableOfContentPopover/internal-types.ts
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/index.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/TableOfContent/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/index.tsx
  packages/react/src/ui/hover-card.tsx
Due: format-react

feat(F0DataChart): add unified chart component with multiple chart types (#3613)
  packages/react/src/components/F0DataChart/F0DataChart.tsx
  packages/react/src/components/F0DataChart/__stories__/Bar.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/F0DataChart.mdx
  packages/react/src/components/F0DataChart/__stories__/Funnel.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/Gauge.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/Heatmap.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/Line.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/Pie.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/Radar.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/Skeletons.stories.tsx
  packages/react/src/components/F0DataChart/__stories__/decorators.tsx
  packages/react/src/components/F0DataChart/__tests__/F0DataChart.test.tsx
  packages/react/src/components/F0DataChart/__tests__/colors.test.ts
  packages/react/src/components/F0DataChart/__tests__/formatters.test.ts
  packages/react/src/components/F0DataChart/components/BarChart/BarChart.tsx
  packages/react/src/components/F0DataChart/components/BarChart/useBarChartOptions.ts
  packages/react/src/components/F0DataChart/components/FunnelChart/FunnelChart.tsx
  packages/react/src/components/F0DataChart/components/FunnelChart/useFunnelChartOptions.ts
  packages/react/src/components/F0DataChart/components/GaugeChart/GaugeChart.tsx
  packages/react/src/components/F0DataChart/components/GaugeChart/useGaugeChartOptions.ts
  packages/react/src/components/F0DataChart/components/HeatmapChart/HeatmapChart.tsx
  packages/react/src/components/F0DataChart/components/HeatmapChart/useHeatmapChartOptions.ts
  packages/react/src/components/F0DataChart/components/LineChart/LineChart.tsx
  packages/react/src/components/F0DataChart/components/LineChart/useLineChartOptions.ts
  packages/react/src/components/F0DataChart/components/PieChart/PieChart.tsx
  packages/react/src/components/F0DataChart/components/PieChart/usePieChartOptions.ts
  packages/react/src/components/F0DataChart/components/RadarChart/RadarChart.tsx
  packages/react/src/components/F0DataChart/components/RadarChart/useRadarChartOptions.ts
  packages/react/src/components/F0DataChart/index.ts
  packages/react/src/components/F0DataChart/skeletons.tsx
  packages/react/src/components/F0DataChart/types.ts
  packages/react/src/components/F0DataChart/utils/colors.ts
  packages/react/src/components/F0DataChart/utils/formatters.ts
  packages/react/src/components/F0DataChart/utils/options.ts
  packages/react/src/components/F0DataChart/utils/theme.ts
  packages/react/src/components/F0DataChart/utils/useChartTheme.ts
  packages/react/src/components/F0DataChart/utils/useContainerWidth.ts
  packages/react/src/components/F0DataChart/utils/useEChartsInstance.ts
Due: format-react

feat(F0AnalyticsDashboard): add all chart types and rewrite stories as reference catalog
  packages/react/src/components/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/components/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/components/F0AnalyticsDashboard/__stories__/mockData.ts
  packages/react/src/components/F0AnalyticsDashboard/__stories__/mockDataMixed.ts
  packages/react/src/components/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/CollectionItem/CollectionItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardItem/DashboardItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/DashboardItem/DashboardItemSkeleton.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/FilterBar/FilterBar.tsx
  packages/react/src/components/F0AnalyticsDashboard/components/MetricItem/MetricItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/hooks/useDashboardItemData.ts
  packages/react/src/components/F0AnalyticsDashboard/index.ts
  packages/react/src/components/F0AnalyticsDashboard/types.ts
  packages/react/src/components/exports.ts
Due: format-react

fix: improve form
  packages/react/src/experimental/Forms/Fields/NumberInput/internal.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/NumericQuestion/index.tsx
  packages/react/src/styles.css
  packages/react/src/ui/textarea.tsx
Due: format-react

fix(F0AnalyticsDashboard): address PR review feedback
  packages/react/src/components/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/components/F0AnalyticsDashboard/__stories__/mockData.ts
  packages/react/src/components/F0AnalyticsDashboard/__stories__/mockDataMixed.ts
  packages/react/src/components/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/components/F0AnalyticsDashboard/hooks/useDashboardItemData.ts
  packages/react/src/components/F0AnalyticsDashboard/types.ts
Due: format-react

feat: improve text component
  packages/react/src/ui/TextV2/TextV2.tsx
  packages/react/src/ui/TextV2/types.ts
Due: format-react

feat: introduce primitive with animated press feedback
  packages/react-native/playground/components/AnimatedF0TextShowcase/index.tsx
  packages/react-native/src/components/OneChip/index.tsx
  packages/react-native/src/components/OnePreset/index.tsx
  packages/react-native/src/components/Tags/BaseTag/index.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/PressableFeedback/PressableFeedback.md
  packages/react-native/src/components/primitives/PressableFeedback/PressableFeedback.tsx
  packages/react-native/src/components/primitives/PressableFeedback/PressableFeedback.types.ts
  packages/react-native/src/components/primitives/PressableFeedback/__tests__/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/primitives/PressableFeedback/__tests__/index.spec.tsx
  packages/react-native/src/components/primitives/PressableFeedback/index.ts
Due: format-react-native

feat: add PressableFeedbackShowcase component to demonstrate press feedback variations
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/PressableFeedbackShowcase/index.tsx
Due: format-react-native

feat(ai): add F0ChatChart, F0ChatDashboard, and F0ChatReportCard components
  packages/react/src/sds/ai/F0ChatChart/F0ChatChart.tsx
  packages/react/src/sds/ai/F0ChatChart/__stories__/F0ChatChart.stories.tsx
  packages/react/src/sds/ai/F0ChatChart/index.ts
  packages/react/src/sds/ai/F0ChatChart/types.ts
  packages/react/src/sds/ai/F0ChatDashboard/F0ChatDashboard.tsx
  packages/react/src/sds/ai/F0ChatDashboard/computations.ts
  packages/react/src/sds/ai/F0ChatDashboard/index.ts
  packages/react/src/sds/ai/F0ChatDashboard/types.ts
  packages/react/src/sds/ai/F0ChatReportCard/F0ChatReportCard.tsx
  packages/react/src/sds/ai/F0ChatReportCard/index.ts
  packages/react/src/sds/ai/F0ChatReportCard/types.ts
  packages/react/src/sds/ai/exports.ts
Due: format-react

feat(ai): add canvas panel and displayChart/displayDashboard copilot actions
  packages/react/src/examples/ApplicationFrame/index.tsx
  packages/react/src/sds/ai/F0AiChat/components/CanvasPanel.tsx
  packages/react/src/sds/ai/F0AiChat/components/UserMessage.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/index.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDefaultCopilotActions.ts
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayChartAction.tsx
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayDashboardAction.tsx
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

feat: pressableFeedback primitive (#3620)
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/AnimatedF0TextShowcase/index.tsx
  packages/react-native/playground/components/PressableFeedbackShowcase/index.tsx
  packages/react-native/src/components/OneChip/index.tsx
  packages/react-native/src/components/OnePreset/index.tsx
  packages/react-native/src/components/Tags/BaseTag/index.tsx
  packages/react-native/src/components/exports.ts
  packages/react-native/src/components/primitives/PressableFeedback/PressableFeedback.md
  packages/react-native/src/components/primitives/PressableFeedback/PressableFeedback.tsx
  packages/react-native/src/components/primitives/PressableFeedback/PressableFeedback.types.ts
  packages/react-native/src/components/primitives/PressableFeedback/__tests__/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/primitives/PressableFeedback/__tests__/index.spec.tsx
  packages/react-native/src/components/primitives/PressableFeedback/index.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3618)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#3622)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat: commit review
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.mdx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/README.md
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/TextCell.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/DisabledCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/NonEditableCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/Row.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/components/RowLoading/index.tsx
  packages/react/src/experimental/OneTable/TableCell/TreeConnector/index.tsx
  packages/react/src/experimental/OneTable/TableCell/index.tsx
Due: format-react

feat(ai): add all chart types support to F0ChatChart
  packages/react/src/sds/ai/F0AiChat/copilotActions/useDisplayChartAction.tsx
  packages/react/src/sds/ai/F0ChatChart/F0ChatChart.tsx
  packages/react/src/sds/ai/F0ChatChart/__stories__/F0ChatChart.stories.tsx
  packages/react/src/sds/ai/F0ChatChart/index.ts
  packages/react/src/sds/ai/F0ChatChart/types.ts
Due: format-react

fix: update ai mask colors
  packages/react/src/sds/ai/F0AiMask/F0AiMask.ts
Due: format-react

fix: add ai mask types
  packages/react/src/sds/ai/F0AiMask/index.ts
Due: format-react

fix: ai mask (#3624)
  packages/react/src/sds/ai/F0AiMask/F0AiMask.ts
  packages/react/src/sds/ai/F0AiMask/index.ts
Due: format-react

chore: release main (#3625)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0Button): introduce F0Button component
  packages/react-native/README.md
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0ButtonShowcase/index.tsx
  packages/react-native/src/components/Button/index.tsx
  packages/react-native/src/components/F0Button/F0Button.md
  packages/react-native/src/components/F0Button/F0Button.styles.ts
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/F0Button.types.ts
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
  packages/react-native/src/components/F0Button/__tests__/__snapshots__/F0Button.spec.tsx.snap
  packages/react-native/src/components/F0Button/index.ts
  packages/react-native/src/components/Icon/index.tsx
  packages/react-native/src/components/exports.ts
Due: format-react-native

fix: add form field validation
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__tests__/SurveyAnsweringForm.test.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/__tests__/useSurveyValidation.test.ts
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyValidation.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Context.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/TableOfContent/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/DateQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/DropdownSingleQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/LinkQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/NumericQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/SelectQuestion/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/TextQuestion/index.tsx
  packages/react/src/ui/InputField/InputField.tsx
Due: format-react

feat: select grouped collapsable
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/F0Select/__stories__/F0Select.stories.tsx
Due: format-react

feat: add GitHub Actions workflow for automated Expo preview on PRs targeting development
  .github/workflows/build-and-publish-expo-preview.yaml
  packages/react-native/README.md
Due: none

refactor: update Expo preview command to use automatic updates
  .github/workflows/build-and-publish-expo-preview.yaml
Due: none

fix: ensure GitHub Actions only trigger on the same repository for Expo preview
  .github/workflows/build-and-publish-expo-preview.yaml
Due: none

chore: enhance Expo preview workflow for React Native ALPHA with improved triggers
  .github/workflows/build-and-publish-alpha.yaml
  .github/workflows/build-and-publish-expo-preview.yaml
  packages/react-native/README.md
Due: none

feat: add GitHub Actions workflow for automated Expo preview on PRs (#3629)
  .github/workflows/build-and-publish-alpha.yaml
  .github/workflows/build-and-publish-expo-preview.yaml
  packages/react-native/README.md
Due: none

chore: release main (#3630)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

fix(F0Button): update deprecated types and improve prop handling
  packages/react-native/src/components/Button/index.tsx
  packages/react-native/src/components/F0Button/F0Button.tsx
  packages/react-native/src/components/F0Button/F0Button.types.ts
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
Due: format-react-native
