Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: pnpm exec commitlint --edit {1}
pre-commit:
  commands:
    format-react:
      glob: "packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    format-react-native:
      glob: "packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}"
      run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
      stage_fixed: true

    cycle-dependencies:
      run: pnpm exec tsx packages/react/.scripts/check-cycle-dependencies.ts --pre-commit

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4064)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(F0Tabs): address review comments
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
Due: format-react-native

feat(F0Tabs): make tab id type generic
  packages/react-native/src/components/F0Tabs/F0Tabs.md
  packages/react-native/src/components/F0Tabs/F0Tabs.tsx
  packages/react-native/src/components/F0Tabs/F0Tabs.types.ts
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#4065)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat(ticketing): add ticket canvas entity + confirmTicketCreation action
  packages/react/src/sds/TicketingKit/ai/F0TicketCard/useConfirmTicketCreationAction.tsx
  packages/react/src/sds/ai/F0AiChat/actions/registry.ts
  packages/react/src/sds/ai/F0AiChat/canvas/entities/ticket/TicketCard.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/ticket/TicketContent.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/ticket/TicketHeader.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/entities/ticket/index.tsx
  packages/react/src/sds/ai/F0AiChat/canvas/registry.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

refactor(UpsellingKit): simplify to outlinePromote only
  packages/react/src/sds/UpsellingKit/ProductBlankslate/index.stories.tsx
  packages/react/src/sds/UpsellingKit/ProductBlankslate/index.tsx
  packages/react/src/sds/UpsellingKit/ProductCard/index.stories.tsx
  packages/react/src/sds/UpsellingKit/ProductModal/ProductModal.stories.tsx
  packages/react/src/sds/UpsellingKit/ProductModal/index.tsx
  packages/react/src/sds/UpsellingKit/ProductWidget/index.stories.tsx
  packages/react/src/sds/UpsellingKit/ProductWidget/index.tsx
  packages/react/src/sds/UpsellingKit/UpsellRequestResponseDialog/index.tsx
  packages/react/src/sds/UpsellingKit/UpsellingBanner/index.stories.tsx
  packages/react/src/sds/UpsellingKit/UpsellingBanner/index.tsx
  packages/react/src/sds/UpsellingKit/UpsellingButton/index.stories.tsx
  packages/react/src/sds/UpsellingKit/UpsellingButton/index.tsx
  packages/react/src/sds/UpsellingKit/UpsellingPopover/index.stories.tsx
  packages/react/src/sds/UpsellingKit/UpsellingPopover/index.tsx
Due: format-react

fix(editable-table): allow decimal separator in NumberCell
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/NumberCell.tsx
Due: format-react

fix: restore solid background on F0AvatarIcon
  packages/react/src/components/avatars/F0AvatarIcon/F0AvatarIcon.tsx
Due: format-react

feat(rich-text): add unified AI Enhance system with inline accept/reject UI
  packages/react/src/components/RichText/CoreEditor/BubbleMenu/index.tsx
  packages/react/src/components/RichText/CoreEditor/Enhance/EnhanceActivator.tsx
  packages/react/src/components/RichText/CoreEditor/Enhance/EnhanceMenu.tsx
  packages/react/src/components/RichText/CoreEditor/Enhance/enhance.ts
  packages/react/src/components/RichText/CoreEditor/Enhance/index.ts
  packages/react/src/components/RichText/CoreEditor/Enhance/types.ts
  packages/react/src/components/RichText/CoreEditor/Enhance/useEnhance.ts
  packages/react/src/components/RichText/CoreEditor/Error/index.tsx
  packages/react/src/components/RichText/CoreEditor/index.tsx
  packages/react/src/components/RichText/RichTextEditor/Enhance/AcceptChanges/index.tsx
  packages/react/src/components/RichText/RichTextEditor/Enhance/EnhanceMenu/index.tsx
  packages/react/src/components/RichText/RichTextEditor/Enhance/LoadingEnhance/index.tsx
  packages/react/src/components/RichText/RichTextEditor/Enhance/index.tsx
  packages/react/src/components/RichText/RichTextEditor/Footer/index.tsx
  packages/react/src/components/RichText/RichTextEditor/index.tsx
  packages/react/src/components/RichText/RichTextEditor/utils/types.tsx
Due: format-react

style: fix prettier formatting
  packages/react/src/components/RichText/CoreEditor/BubbleMenu/index.tsx
  packages/react/src/components/RichText/CoreEditor/Enhance/EnhanceActivator.tsx
  packages/react/src/components/RichText/CoreEditor/Enhance/EnhanceMenu.tsx
  packages/react/src/components/RichText/CoreEditor/Enhance/enhance.ts
  packages/react/src/components/RichText/CoreEditor/Enhance/index.ts
  packages/react/src/components/RichText/CoreEditor/Enhance/types.ts
  packages/react/src/components/RichText/CoreEditor/Enhance/useEnhance.ts
  packages/react/src/components/RichText/CoreEditor/Error/index.tsx
  packages/react/src/components/RichText/RichTextEditor/Footer/index.tsx
  packages/react/src/components/RichText/RichTextEditor/index.tsx
  packages/react/src/components/RichText/RichTextEditor/utils/types.tsx
Due: format-react

fix(rich-text): add AI Enhance support to F0NotesTextEditor and fix Footer
  packages/react/src/components/RichText/F0NotesTextEditor/extensions.tsx
  packages/react/src/components/RichText/F0NotesTextEditor/index.stories.tsx
  packages/react/src/components/RichText/F0NotesTextEditor/index.tsx
  packages/react/src/components/RichText/F0NotesTextEditor/types.tsx
  packages/react/src/components/RichText/F0RichTextEditor/Footer/index.tsx
  packages/react/src/components/RichText/internal/Enhance/EnhanceMenu.tsx
Due: format-react

refactor(rich-text): align component structure with F0 design system pattern
  packages/react/src/components/F0FileItem/F0FileItem.tsx
  packages/react/src/components/F0FileItem/__stories__/FileItem.stories.tsx
  packages/react/src/components/F0FileItem/index.ts
  packages/react/src/components/F0FileItem/types.ts
  packages/react/src/components/RichText/F0NotesTextEditor/F0NotesTextEditor.tsx
  packages/react/src/components/RichText/F0NotesTextEditor/NotesTextEditorInternal.tsx
  packages/react/src/components/RichText/F0NotesTextEditor/NotesTextEditorSkeleton.tsx
  packages/react/src/components/RichText/F0NotesTextEditor/__stories__/NotesTextEditor.stories.tsx
  packages/react/src/components/RichText/F0NotesTextEditor/__tests__/NotesTextEditor.test.tsx
  packages/react/src/components/RichText/F0NotesTextEditor/__tests__/applyPageDocumentPatch.test.ts
  packages/react/src/components/RichText/F0NotesTextEditor/components/NotesHeader.tsx
  packages/react/src/components/RichText/F0NotesTextEditor/components/NotesTitle.tsx
  packages/react/src/components/RichText/F0NotesTextEditor/index.ts
  packages/react/src/components/RichText/F0NotesTextEditor/types.ts
  packages/react/src/components/RichText/F0RichTextDisplay/F0RichTextDisplay.tsx
  packages/react/src/components/RichText/F0RichTextDisplay/__stories__/RichTextDisplay.stories.tsx
  packages/react/src/components/RichText/F0RichTextDisplay/index.ts
  packages/react/src/components/RichText/F0RichTextDisplay/types.ts
  packages/react/src/components/RichText/F0RichTextEditor/F0RichTextEditor.tsx
  packages/react/src/components/RichText/F0RichTextEditor/RichTextEditorInternal.tsx
  packages/react/src/components/RichText/F0RichTextEditor/RichTextEditorSkeleton.tsx
  packages/react/src/components/RichText/F0RichTextEditor/__stories__/RichTextEditor.stories.tsx
  packages/react/src/components/RichText/F0RichTextEditor/__tests__/RichTextEditor.test.tsx
  packages/react/src/components/RichText/F0RichTextEditor/__tests__/mentions.test.tsx
  packages/react/src/components/RichText/F0RichTextEditor/components/ActionsMenu.tsx
  packages/react/src/components/RichText/F0RichTextEditor/components/EditorFileList.tsx
  packages/react/src/components/RichText/F0RichTextEditor/components/EditorFooter.tsx
  packages/react/src/components/RichText/F0RichTextEditor/components/EditorHead.tsx
  packages/react/src/components/RichText/F0RichTextEditor/index.ts
  packages/react/src/components/RichText/F0RichTextEditor/types.ts
  packages/react/src/components/RichText/F0RichTextEditor/utils/constants.ts
  packages/react/src/components/RichText/F0RichTextEditor/utils/files.tsx
  packages/react/src/components/RichText/F0RichTextEditor/utils/helpers.tsx
Due: format-react

fix(EditableTable): allow decimal separator in NumberCell (#4067)
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/NumberCell.tsx
Due: format-react

chore: release main (#4070)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: restore solid background on F0AvatarIcon (#4069)
  packages/react/src/components/avatars/F0AvatarIcon/F0AvatarIcon.tsx
Due: format-react

chore: release main (#4071)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: add ExpenseEntityRef component for entity-ref hover cards
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/components/entityRefRegistry.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/expense/ExpenseEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/expense/__tests__/ExpenseEntityRef.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/expense/types.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/types.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

feat: add ExpenseEntityRef component for entity-ref hover cards (#4073)
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/components/entityRefRegistry.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/expense/ExpenseEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/expense/__tests__/ExpenseEntityRef.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/expense/types.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/types.ts
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/types.ts
Due: format-react

chore: release main (#4074)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix: editable table QA (#4055)
  packages/react/src/experimental/OneTable/TableCell/NestedCell/index.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/MoneyCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/components/NestedRow.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/Table/hooks/useCalculateConectorHeight.ts
Due: format-react

chore: release main (#4075)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0DataChart): add empty state to data charts
  packages/react/src/kits/F0DataChart/F0DataChart.tsx
  packages/react/src/kits/F0DataChart/__stories__/Bar.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/EmptyStates.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/F0DataChart.mdx
  packages/react/src/kits/F0DataChart/__stories__/Funnel.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/Gauge.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/Heatmap.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/Line.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/Pie.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/Radar.stories.tsx
  packages/react/src/kits/F0DataChart/__tests__/F0DataChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/isDataChartEmpty.test.ts
  packages/react/src/kits/F0DataChart/components/EmptyState/DataChartEmptyStateView.tsx
  packages/react/src/kits/F0DataChart/components/EmptyState/EmptyState.tsx
  packages/react/src/kits/F0DataChart/index.ts
  packages/react/src/kits/F0DataChart/types.ts
  packages/react/src/kits/F0DataChart/utils/isDataChartEmpty.ts
  packages/react/src/patterns/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
Due: format-react

refactor(F0DataChart): drop clear-filters CTA and cap empty-state size
  packages/react/src/kits/F0DataChart/__stories__/EmptyStates.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/F0DataChart.mdx
  packages/react/src/kits/F0DataChart/__tests__/F0DataChart.test.tsx
  packages/react/src/kits/F0DataChart/components/EmptyState/DataChartEmptyStateView.tsx
  packages/react/src/kits/F0DataChart/components/EmptyState/EmptyState.tsx
  packages/react/src/kits/F0DataChart/types.ts
  packages/react/src/patterns/F0AnalyticsDashboard/F0AnalyticsDashboard.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/DashboardGrid/DashboardGrid.tsx
Due: format-react

fix(F0Select): prevent search clear in asList mode that resets selection
  packages/react/src/components/F0Select/F0Select.tsx
Due: format-react

fix(F0DataChart): address Copilot PR review comments
  packages/react/src/kits/F0DataChart/__stories__/EmptyStates.stories.tsx
  packages/react/src/kits/F0DataChart/__tests__/isDataChartEmpty.test.ts
  packages/react/src/kits/F0DataChart/components/EmptyState/DataChartEmptyStateView.tsx
  packages/react/src/kits/F0DataChart/utils/isDataChartEmpty.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

feat(F0DataChart): add empty state to data charts (#4076)
  packages/react/src/kits/F0DataChart/F0DataChart.tsx
  packages/react/src/kits/F0DataChart/__stories__/Bar.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/EmptyStates.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/F0DataChart.mdx
  packages/react/src/kits/F0DataChart/__stories__/Funnel.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/Gauge.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/Heatmap.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/Line.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/Pie.stories.tsx
  packages/react/src/kits/F0DataChart/__stories__/Radar.stories.tsx
  packages/react/src/kits/F0DataChart/__tests__/F0DataChart.test.tsx
  packages/react/src/kits/F0DataChart/__tests__/isDataChartEmpty.test.ts
  packages/react/src/kits/F0DataChart/components/EmptyState/DataChartEmptyStateView.tsx
  packages/react/src/kits/F0DataChart/components/EmptyState/EmptyState.tsx
  packages/react/src/kits/F0DataChart/index.ts
  packages/react/src/kits/F0DataChart/types.ts
  packages/react/src/kits/F0DataChart/utils/isDataChartEmpty.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0AnalyticsDashboard/__stories__/index.stories.tsx
  packages/react/src/patterns/F0AnalyticsDashboard/components/ChartItem/ChartItem.tsx
Due: format-react

chore: release main (#4078)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0AiChat): enrich requisition entity ref card
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/components/EntityRefDetails.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/components/__tests__/EntityRefDetails.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/requisition/RequisitionEntityRef.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/requisition/__tests__/RequisitionEntityRef.test.tsx
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/requisition/types.ts
Due: format-react

test(F0AiChat): assert statusVariant on requisition status tag
  packages/react/src/sds/ai/F0AiChat/components/markdownRenderers/entityRef/entities/requisition/__tests__/RequisitionEntityRef.test.tsx
Due: format-react
