Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

fix(ApplicationFrame): tidy responsive panel-container seams
  packages/react/src/patterns/ApplicationFrame/index.tsx
  packages/react/src/sds/ai/F0AiChat/components/layout/ChatWindow.tsx
  packages/react/src/sds/chat/F0Chat/__tests__/ChatHeader.fullscreen.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatBubble.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatHeader.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatTextareaField.tsx
Due: format-react

feat(Sidebar): update chat icon and adjust sidebar tab styles
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/patterns/Navigation/Sidebar/Tabs/index.tsx
Due: format-react

feat(chat): refactor ChatUI context and enhance emoji handling
  packages/react/src/sds/chat/F0Chat/F0Chat.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatBubble.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatHeader.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatHeaderSearch.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatImagePreview.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageActions.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageAttachments.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageItem.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessagesContainer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatTextareaField.tsx
  packages/react/src/sds/chat/F0Chat/components/ReplyQuote.tsx
  packages/react/src/sds/chat/F0Chat/components/__tests__/ChatTextareaField.test.tsx
  packages/react/src/sds/chat/F0Chat/hooks/useTransientError.ts
  packages/react/src/sds/chat/F0Chat/providers/ChatUIProvider.tsx
  packages/react/src/sds/chat/F0Chat/utils/__tests__/render-body.test.tsx
  packages/react/src/sds/chat/F0Chat/utils/render-body.tsx
Due: format-react

feat(Sidebar): update "One" tab to AI variant with gradient aura effect
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/patterns/Navigation/Sidebar/Tabs/index.tsx
Due: format-react

feat(ChatComposer): adjust padding and import order for improved layout and organization
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
Due: format-react

feat(DaytimePage): reorganize imports and enhance layout with border styling
  packages/react/src/sds/Home/DaytimePage/index.tsx
Due: format-react

refactor(F0Chat): remove dead grouping helpers and unused i18n keys
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/chat/F0Chat/utils/__tests__/grouping.test.ts
  packages/react/src/sds/chat/F0Chat/utils/grouping.ts
Due: format-react

fix(F0AiChat): always close the side panel fully, never reopen as the chat
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/providers/__tests__/AiChatStateProvider.panelContent.test.tsx
Due: format-react

feat(Sidebar): implement shared blank state for chat lists with actions
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/SidebarChatBlankState.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/SidebarChatList.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/__tests__/SidebarChatBlankState.test.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/__tests__/SidebarChatList.test.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/index.stories.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/index.ts
  packages/react/src/patterns/Navigation/Sidebar/index.stories.tsx
Due: format-react

feat(F0Chat): add edit message with mention-styled chip + "edited" marker
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/chat/F0Chat/__tests__/ChatBubble.test.tsx
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatBubble.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatEditChip.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageActions.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageItem.tsx
  packages/react/src/sds/chat/F0Chat/hooks/__tests__/useMentions.test.ts
  packages/react/src/sds/chat/F0Chat/hooks/useMentions.ts
  packages/react/src/sds/chat/F0Chat/index.ts
  packages/react/src/sds/chat/F0Chat/mocks/MockChatApp.tsx
  packages/react/src/sds/chat/F0Chat/mocks/createMockChatRuntime.ts
  packages/react/src/sds/chat/F0Chat/mocks/useMockChatApp.ts
  packages/react/src/sds/chat/F0Chat/providers/ChatUIProvider.tsx
  packages/react/src/sds/chat/F0Chat/types.ts
Due: format-react

fix(NotesTextEditor): guard TableBubbleMenu when table extension absent
  packages/react/src/components/RichText/CoreEditor/BubbleMenu/TableBubbleMenu.tsx
Due: format-react

chore: change LMS icon
  packages/react-native/assets/icons/modules/LMS.svg
  packages/react-native/src/icons/modules/Lms.tsx
Due: format-react-native

feat(icons): add ReceiptAi to the AI icon set (#4570)
  packages/core/assets/icons/ai/receipt-ai.svg
  packages/react/src/icons/ai/ReceiptAi.tsx
  packages/react/src/icons/ai/index.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4577)
  .release-please-manifest.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(ChatBubble): implement chained corners for consecutive messages
  packages/react/src/kits/Social/Reactions/reaction.tsx
  packages/react/src/sds/chat/F0Chat/__tests__/ChatBubble.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatBubble.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageItem.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageReactions.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageRowRenderer.tsx
  packages/react/src/sds/chat/F0Chat/mocks/mockSeeds.ts
Due: format-react

feat(f0compose): rework create-session modal with F0Form
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

feat(ClockInControls): add locationSelectorElement slot for location drill-in (#4516)
  packages/react/src/sds/Home/ClockIn/ClockInControls/index.spec.tsx
  packages/react/src/sds/Home/ClockIn/ClockInControls/index.stories.tsx
  packages/react/src/sds/Home/ClockIn/ClockInControls/index.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4579)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(OneDataCollection): add toolbar upsell button option
  packages/react/src/patterns/OneDataCollection/OneDatacollection.tsx
  packages/react/src/patterns/OneDataCollection/__stories__/actions/collection-actions.stories.tsx
  packages/react/src/patterns/OneDataCollection/actions.tsx
  packages/react/src/patterns/OneDataCollection/components/CollectionActions/CollectionActions.tsx
  packages/react/src/patterns/OneDataCollection/components/CollectionActions/__tests__/CollectionActions.test.tsx
  packages/react/src/patterns/OneDataCollection/hooks/useDataCollectionSource/types.ts
Due: format-react

fix(f0compose): polish create-session Format section
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

fix(EditableTable): non-editable cells read-only bg + hint on right (FCT-56432)
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/BaseCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/NonEditableCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/BaseCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/NonEditableCell.tsx
Due: format-react

fix(RichText): re-wire PasteSanitizer into editor extension lists (#4574)
  packages/react/src/components/RichText/F0NotesTextEditor/extensions.ts
  packages/react/src/components/RichText/F0RichTextEditor/utils/extensions.ts
Due: format-react

chore: release main (#4581)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(f0compose): move session name into Schedule section
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

refactor(EditableTable): scope change to hint position only
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/DisabledCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/__tests__/NonEditableCell.test.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/DisabledCell.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/NonEditableCell.tsx
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#4582)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat(f0compose): attendance upsell for untracked formats
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

docs(cocreation): show welcome cards in the ApplicationFrame default footer
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
Due: format-react

chore(f0compose): rename session notifications block to Reminders
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

feat(trainings): fundae variante D — gestión por curso (propuesta principal)
  packages/f0compose/src/prototypes/trainings/detail/TrainingsDetail.tsx
  packages/f0compose/src/prototypes/trainings/detail/fundae/AccionFormativaCard.tsx
  packages/f0compose/src/prototypes/trainings/detail/fundae/FundaeDForms.tsx
  packages/f0compose/src/prototypes/trainings/detail/fundae/FundaeFlowC.tsx
  packages/f0compose/src/prototypes/trainings/detail/fundae/FundaeFlowD.tsx
  packages/f0compose/src/prototypes/trainings/detail/fundae/FundaePanel.tsx
  packages/f0compose/src/prototypes/trainings/detail/fundae/ParticipantsTable.tsx
  packages/f0compose/src/prototypes/trainings/detail/fundae/fundaeTypes.ts
  packages/f0compose/src/shell/FactorialShell.tsx
  packages/react/src/components/F0Select/F0Select.tsx
Due: format-react

feat(f0compose): degrade session flow when not hosted in Factorial
  packages/f0compose/src/prototypes/training-live-session-participant/TrainingLiveSessionParticipant.tsx
Due: none

refactor(ai): replace canUndo boolean with a per-turn onUndo callback
  packages/react/src/sds/ai/F0AiMessagesContainer/F0AiMessagesContainer.tsx
  packages/react/src/sds/ai/F0AiMessagesContainer/types.ts
Due: format-react

feat(F0Rating): add experimental rating scale component
  packages/react/src/experimental/F0Rating/F0Rating.tsx
  packages/react/src/experimental/F0Rating/__stories__/F0Rating.mdx
  packages/react/src/experimental/F0Rating/__stories__/F0Rating.stories.tsx
  packages/react/src/experimental/F0Rating/__tests__/F0Rating.test.tsx
  packages/react/src/experimental/F0Rating/index.tsx
  packages/react/src/experimental/F0Rating/types.ts
  packages/react/src/experimental/exports.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

feat(ReplyQuote): add props for message ownership and run status to adjust corner styling
  packages/react/src/sds/chat/F0Chat/__tests__/ReplyQuote.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatBubble.tsx
  packages/react/src/sds/chat/F0Chat/components/ReplyQuote.tsx
Due: format-react

feat(react-native): support Expo SDK 56 (React Native 0.85)
  package.json
  packages/react-native/babel.config.cjs
  packages/react-native/jest.config.mjs
  packages/react-native/jest.setup.js
  packages/react-native/package.json
  packages/react-native/src/components/F0Avatar/__tests__/__snapshots__/F0Avatar.spec.tsx.snap
  packages/react-native/src/components/F0Button/__tests__/F0Button.spec.tsx
  packages/react-native/src/components/F0Metadata/__tests__/__snapshots__/F0Metadata.spec.tsx.snap
  packages/react-native/src/components/F0Step/__tests__/F0Step.spec.tsx
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.md
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.tsx
  packages/react-native/src/components/primitives/F0BlurView/F0BlurView.types.ts
  packages/react-native/src/components/primitives/F0BlurView/__tests__/__snapshots__/F0BlurView.spec.tsx.snap
  packages/react-native/src/components/primitives/PressableFeedback/__tests__/index.spec.tsx
  pnpm-lock.yaml
Due: format-react-native

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
