Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

chore: release main (#3646)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat: add SelectCell for EditableTable with F0Select integration
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/SelectCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/consts.ts
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
Due: format-react

fix(F0DurationInput): use 2ch segments with rollover behavior
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
Due: format-react

feat(editable-table): right-align text inside input for numeric columns
  packages/react/src/experimental/OneDataCollection/__stories__/mockData.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/TextCell.tsx
Due: format-react

fix: remove hover border for questions in survey form builder component
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
Due: format-react

chore(F0DurationInput): remove dead helper and align default story args
  packages/react/src/components/F0DurationInput/__stories__/F0DurationInput.stories.tsx
  packages/react/src/components/F0DurationInput/utils.ts
Due: format-react

fix(editable-table): update TextCell test for [&_input]:text-right class
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/__tests__/TextCell.test.tsx
Due: format-react

fix: better display form errors
  packages/react/src/components/F0Form/fields/FieldRenderer.tsx
  packages/react/src/components/F0Form/fields/renderFieldInput.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyFormSchema.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/index.stories.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/index.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
Due: format-react

feat: add F0Counter component with size and type variants, deprecate legacy Counter
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0CounterShowcase/index.tsx
  packages/react-native/src/components/Counter/index.tsx
  packages/react-native/src/components/F0Counter/F0Counter.md
  packages/react-native/src/components/F0Counter/F0Counter.styles.ts
  packages/react-native/src/components/F0Counter/F0Counter.tsx
  packages/react-native/src/components/F0Counter/F0Counter.types.ts
  packages/react-native/src/components/F0Counter/__tests__/F0Counter.spec.tsx
  packages/react-native/src/components/F0Counter/__tests__/__snapshots__/F0Counter.spec.tsx.snap
  packages/react-native/src/components/F0Counter/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

fix(F0Button): update button sizes in styles and snapshots for consistency
  packages/react-native/src/components/F0Button/F0Button.styles.ts
  packages/react-native/src/components/F0Button/__tests__/__snapshots__/F0Button.spec.tsx.snap
Due: format-react-native

fix: update F0Counter component to improve size definitions and add text truncation support
  packages/react-native/src/components/F0Counter/F0Counter.md
  packages/react-native/src/components/F0Counter/F0Counter.tsx
  packages/react-native/src/components/F0Counter/__tests__/__snapshots__/F0Counter.spec.tsx.snap
Due: format-react-native

fix: better handle when having no description on questions and section inset
  packages/react/src/components/F0Form/components/SectionRenderer.tsx
  packages/react/src/components/F0Form/types.ts
  packages/react/src/components/F0Form/useSchemaDefinition.ts
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/hooks/useSurveyFormSchema.tsx
  packages/react/src/sds/surveys/SurveyFormBuilder/QuestionTypes/BaseQuestion/index.tsx
Due: format-react

refactor: some import change order
  packages/react/src/components/F0Form/components/SectionRenderer.tsx
  packages/react/src/components/F0Form/useSchemaDefinition.ts
Due: format-react

fix(F0Button): update button sizes in styles and snapshots for consis… (#3650)
  packages/react-native/src/components/F0Button/F0Button.styles.ts
  packages/react-native/src/components/F0Button/__tests__/__snapshots__/F0Button.spec.tsx.snap
Due: format-react-native

chore: release main
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

chore: release main (#3651)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

fix: add support for empty state
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__tests__/SurveyAnsweringForm.test.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
Due: format-react

feat(F0Card): add 16:9 image aspect ratio
  packages/react/src/components/F0Card/CardInternal.tsx
  packages/react/src/components/F0Card/F0Card.tsx
  packages/react/src/components/F0Card/__stories__/Card.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Card/index.tsx
Due: format-react

feat: add F0Counter component with size and type variants (#3649)
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0CounterShowcase/index.tsx
  packages/react-native/src/components/Counter/index.tsx
  packages/react-native/src/components/F0Counter/F0Counter.md
  packages/react-native/src/components/F0Counter/F0Counter.styles.ts
  packages/react-native/src/components/F0Counter/F0Counter.tsx
  packages/react-native/src/components/F0Counter/F0Counter.types.ts
  packages/react-native/src/components/F0Counter/__tests__/F0Counter.spec.tsx
  packages/react-native/src/components/F0Counter/__tests__/__snapshots__/F0Counter.spec.tsx.snap
  packages/react-native/src/components/F0Counter/index.ts
  packages/react-native/src/components/exports.ts
Due: format-react-native

chore: release main (#3653)
  .release-please-manifest.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
Due: none

feat: add F0Preset component with showcase and documentation
  packages/react-native/playground/app/(tabs)/components.tsx
  packages/react-native/playground/components/F0PresetShowcase/index.tsx
  packages/react-native/src/components/F0Preset/F0Preset.md
  packages/react-native/src/components/F0Preset/F0Preset.styles.ts
  packages/react-native/src/components/F0Preset/F0Preset.tsx
  packages/react-native/src/components/F0Preset/F0Preset.types.ts
  packages/react-native/src/components/F0Preset/__tests__/F0Preset.spec.tsx
  packages/react-native/src/components/F0Preset/__tests__/__snapshots__/F0Preset.spec.tsx.snap
  packages/react-native/src/components/F0Preset/index.ts
  packages/react-native/src/components/OnePreset/index.tsx
  packages/react-native/src/components/exports.ts
Due: format-react-native

fix(one-data-collection): add summary placeholders
  packages/react/src/experimental/OneDataCollection/__stories__/summary.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.spec.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
Due: format-react

fix(one-data-collection): tighten summary test types
  packages/react/src/experimental/OneDataCollection/__stories__/summary.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.spec.tsx
Due: format-react

chore(one-data-collection): address summary placeholder review
  packages/react/src/experimental/OneDataCollection/__stories__/summary.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.test.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/types.ts
Due: format-react

fix(F0Preset): update import path and enhance accessibility features
  packages/react-native/src/components/F0Preset/F0Preset.md
  packages/react-native/src/components/F0Preset/F0Preset.tsx
  packages/react-native/src/components/F0Preset/__tests__/F0Preset.spec.tsx
  packages/react-native/src/components/F0Preset/__tests__/__snapshots__/F0Preset.spec.tsx.snap
  packages/react-native/src/components/OnePreset/index.tsx
Due: format-react-native

fix: default values fallback in select and cell layout in editable table
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/components/cells/SelectCell.tsx
  packages/react/src/experimental/OneDataCollection/visualizations/collection/EditableTable/types.ts
Due: format-react

feat(F0Form): add duration field and status support
  packages/react/src/components/F0DurationInput/F0DurationInput.tsx
  packages/react/src/components/F0DurationInput/__tests__/F0DurationInput.test.tsx
  packages/react/src/components/F0DurationInput/types.ts
  packages/react/src/components/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/components/F0Form/f0Schema.ts
  packages/react/src/components/F0Form/fields/FieldRenderer.tsx
  packages/react/src/components/F0Form/fields/date/DateFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/date/DateTimeFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/date/TimeFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/daterange/DateRangeFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/duration/DurationFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/duration/types.ts
  packages/react/src/components/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/number/NumberFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/renderFieldInput.tsx
  packages/react/src/components/F0Form/fields/select/SelectFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/text/TextFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/textarea/TextareaFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/types.ts
  packages/react/src/components/F0Form/useSchemaDefinition.ts
  packages/react/src/components/F0FormField/F0FormField.tsx
  packages/react/src/components/F0FormField/__tests__/F0FormField.test.tsx
  packages/react/src/components/F0FormField/types.ts
Due: format-react

style(one-data-collection): format table collection
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/Table.tsx
Due: format-react

fix: correct summary-row story deps, salary coercion, and invalid prop (#3644)
  packages/react/src/experimental/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
Due: format-react

docs(one-data-collection): refine summary placeholder story
  packages/react/src/experimental/OneDataCollection/__stories__/summary.stories.tsx
Due: format-react

fix(F0Form): apply PR feedback for status and duration types
  packages/react/src/components/F0Form/fields/duration/types.ts
  packages/react/src/components/F0Form/fields/file/FileFieldRenderer.tsx
  packages/react/src/components/F0Form/fields/renderFieldInput.tsx
  packages/react/src/ui/InputField/types.ts
Due: format-react

test(one-data-collection): cover empty summary strings
  packages/react/src/experimental/OneDataCollection/visualizations/collection/Table/__tests__/Table.test.tsx
Due: format-react

docs(one-data-collection): clarify summary placeholder story
  packages/react/src/experimental/OneDataCollection/__stories__/summary.stories.tsx
Due: format-react

fix: add some skeletons for loading state
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__stories__/SurveyAnsweringForm.stories.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/__tests__/SurveyAnsweringForm.test.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/components/skeletons/SurveyAnsweringFormLoadingSkeletons.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
Due: format-react

chore: export F0DataChart
  packages/react/src/experimental/Charts/exports.ts
Due: format-react

refactor(F0Card): rename imageAspectRatio values to "default" and "video"
  packages/react/src/components/F0Card/CardInternal.tsx
  packages/react/src/components/F0Card/__stories__/Card.stories.tsx
Due: format-react

fix(F0Counter): android bug remove overflow-hidden from styles and update snapshots
  packages/react-native/src/components/F0Counter/F0Counter.styles.ts
  packages/react-native/src/components/F0Counter/__tests__/__snapshots__/F0Counter.spec.tsx.snap
  packages/react-native/src/components/F0Preset/__tests__/__snapshots__/F0Preset.spec.tsx.snap
Due: format-react-native

fix: solve tableofcontent positioning
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
Due: format-react

fix: hide table of content on smaller screens
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/TableOfContent/index.tsx
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
