Repository factorialco/f0: changes, and which lefthook commands are due for each by the changed paths.
All: format-react, format-react-native

format-react:
  run: pnpm --filter @factorialco/f0-react oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

format-react-native:
  run: pnpm --filter @factorialco/f0-react-native prettier --write {staged_files}
  stage_fixed: true

feat(ai): add F0AiProcessingOverlay (#4533)
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/ai/F0AiProcessingOverlay/F0AiProcessingOverlay.tsx
  packages/react/src/sds/ai/F0AiProcessingOverlay/__stories__/F0AiProcessingOverlay.stories.tsx
  packages/react/src/sds/ai/F0AiProcessingOverlay/__tests__/F0AiProcessingOverlay.test.tsx
  packages/react/src/sds/ai/F0AiProcessingOverlay/index.ts
  packages/react/src/sds/ai/exports.ts
Due: format-react

chore: release main
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: release main (#4562)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

docs(ai): deprecate F0HILActionConfirmation + F0CanvasCard (#4536)
  packages/react/src/sds/ai/F0HILActionConfirmation/F0HILActionConfirmation.tsx
  packages/react/src/sds/ai/F0HILActionConfirmation/__stories__/F0HILActionConfirmation.stories.tsx
  packages/react/src/sds/ai/F0HILActionConfirmation/types.ts
  packages/react/src/sds/ai/canvas/F0CanvasCard/F0CanvasCard.tsx
  packages/react/src/sds/ai/canvas/F0CanvasCard/__stories__/F0CanvasCard.stories.tsx
Due: format-react

fix(EditableTable): fade disabled cell text (FCT-56243) (#4547)
  packages/react/src/patterns/OneDataCollection/__stories__/visualizations/editable-table/editable-table.stories.tsx
  packages/react/src/patterns/OneDataCollection/visualizations/collection/EditableTable/components/cells/status/DisabledCell.tsx
Due: format-react

chore: release main (#4563)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(F0Dialog): deprecate patterns F0Dialog in favor of dialog-alike (#4552)
  packages/react/src/components/F0Select/F0Select.tsx
  packages/react/src/components/dialog-alike/F0Dialog/__stories__/F0Dialog.stories.tsx
  packages/react/src/components/dialog-alike/common/DialogWrapperProvider.tsx
  packages/react/src/components/exports.ts
  packages/react/src/deprecated/EntitySelect/index.tsx
  packages/react/src/patterns/F0Dialog/F0Dialog.tsx
  packages/react/src/patterns/F0Dialog/F0DialogInternal.tsx
  packages/react/src/patterns/F0Dialog/__stories__/F0Modal.stories.tsx
  packages/react/src/patterns/F0Dialog/__tests__/F0Dialog.aichat-stacking.test.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogContent.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogFooter.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogHeader.tsx
  packages/react/src/patterns/F0Dialog/components/F0DialogProvider.tsx
  packages/react/src/patterns/F0Dialog/index.tsx
  packages/react/src/patterns/F0Dialog/internal-types.ts
  packages/react/src/patterns/F0Dialog/utils.ts
  packages/react/src/patterns/F0WizardForm/types.ts
  packages/react/src/patterns/OneDataCollection/__tests__/presets.test.tsx
  packages/react/src/patterns/OneDataCollection/components/PresetFormDialog/PresetFormDialog.tsx
  packages/react/src/patterns/OneFilterPicker/components/FiltersControls.tsx
  packages/react/src/sds/ai/F0AiMessagesContainer/components/feedback/FeedbackModal.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/SurveyAnsweringForm.tsx
  packages/react/src/sds/surveys/SurveyAnsweringForm/types.ts
  packages/react/src/sds/surveys/SurveyFormBuilder/Form/TableOfContent/index.tsx
  packages/react/src/ui/Select/components/SelectContent.tsx
Due: format-react

fix(F0Form): switch row stacking to a container query
  packages/react/src/patterns/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/patterns/F0Form/components/RowRenderer.tsx
Due: format-react

feat(F0Form): add showOnlySelectedSection styling option
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/__stories__/F0Form.stories.tsx
  packages/react/src/patterns/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/patterns/F0Form/types.ts
  packages/react/src/patterns/F0Form/useErrorNavigation.ts
Due: format-react

feat(F0Form): hide conditionally-hidden sections from the sidepanel
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/__tests__/F0Form.test.tsx
Due: format-react

fix(F0Form): make row fields full-width when stacked below the xs breakpoint
  packages/react/src/patterns/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/patterns/F0Form/components/RowRenderer.tsx
Due: format-react

feat(F0Form): hide the sections sidepanel on small viewports
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/patterns/F0Form/types.ts
Due: format-react

docs(F0Form): document showOnlySelectedSection in MDX and reference story
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
Due: none

feat(F0Form): add noPadding styling option
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/types.ts
Due: format-react

test(F0Form): cover noPadding option and document the styling config
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
  packages/react/src/patterns/F0Form/__tests__/F0Form.test.tsx
Due: format-react

refactor(F0Form): use cn() for conditional padding instead of duplicating classes
  packages/react/src/patterns/F0Form/F0Form.tsx
Due: format-react

feat(ai): add welcomeScreenCards prop and render suggestions above composer
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/ai/F0AiChat/index.ts
  packages/react/src/sds/ai/F0AiChat/internal-types.ts
  packages/react/src/sds/ai/F0AiChat/providers/AiChatStateProvider.tsx
  packages/react/src/sds/ai/F0AiChat/types.ts
  packages/react/src/sds/ai/F0AiChatTextArea/F0AiChatTextArea.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__stories__/F0AiChatTextArea.stories.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__tests__/F0AiChatTextArea.welcomeLayout.test.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/__tests__/WelcomeScreenCardsRow.test.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/components/WelcomeScreenCardsRow.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/components/WelcomeScreenSuggestionsRow.tsx
  packages/react/src/sds/ai/F0AiChatTextArea/types.ts
Due: format-react

fix(OneDataCollection): make Table settings column list scrollable
  packages/react/src/patterns/OneDataCollection/Settings/SortAndHideSettings.tsx
  packages/react/src/ui/scrollarea.tsx
Due: format-react

feat(F0Form): add noPadding styling option (#4535)
  packages/react/src/patterns/F0Form/F0Form.tsx
  packages/react/src/patterns/F0Form/__stories__/F0Form.mdx
  packages/react/src/patterns/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/patterns/F0Form/types.ts
Due: format-react

chore: release main (#4565)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(F0TextInput): add private input type (#4456)
  packages/react/src/components/F0TextInput/__stories__/F0TextInput.mdx
  packages/react/src/components/F0TextInput/__stories__/F0TextInput.stories.tsx
  packages/react/src/components/F0TextInput/__tests__/F0TextInput.test.tsx
  packages/react/src/components/F0TextInput/internal.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/F0Form/__tests__/F0Form.test.tsx
  packages/react/src/patterns/F0Form/fields/text/types.ts
Due: format-react

chore: release main (#4566)
  .release-please-manifest.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

ci: add agentic code-quality checks for react components and patterns
  .github/agent-prompts/a11y.md
  .github/agent-prompts/code-review.md
  .github/agent-prompts/storybook.md
  .github/agent-prompts/test-coverage.md
  .github/scripts/agentic-check.sh
  .github/workflows/agentic-checks.yaml
Due: none

test(react-native): update snapshots for refreshed icon set
  packages/react-native/src/components/Avatars/IconAvatar/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/F0Avatar/__tests__/__snapshots__/F0Avatar.spec.tsx.snap
  packages/react-native/src/components/F0Badge/__tests__/__snapshots__/F0Badge.spec.tsx.snap
  packages/react-native/src/components/F0Checkbox/__tests__/__snapshots__/F0Checkbox.spec.tsx.snap
  packages/react-native/src/components/F0Chip/__tests__/__snapshots__/F0Chip.spec.tsx.snap
  packages/react-native/src/components/F0Link/__tests__/__snapshots__/F0Link.spec.tsx.snap
  packages/react-native/src/components/F0Metadata/__tests__/__snapshots__/F0Metadata.spec.tsx.snap
  packages/react-native/src/components/F0Tag/__tests__/__snapshots__/F0Tag.spec.tsx.snap
  packages/react-native/src/components/OneChip/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Tags/AlertTab/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/Tags/RawTag/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItem/__snapshots__/index.spec.tsx.snap
  packages/react-native/src/components/experimental/Lists/DetailsItemsList/__snapshots__/index.spec.tsx.snap
Due: none

feat(react-native): update Deny icon with new prohibited-symbol design
  packages/react-native/src/icons/app/Deny.tsx
Due: format-react-native

feat(react-native): add new app icons
  packages/react-native/src/icons/app/AudioWave.tsx
  packages/react-native/src/icons/app/Board.tsx
  packages/react-native/src/icons/app/Booth.tsx
  packages/react-native/src/icons/app/ChartBars1.tsx
  packages/react-native/src/icons/app/ChartBars2.tsx
  packages/react-native/src/icons/app/ChartBars3.tsx
  packages/react-native/src/icons/app/ChartLineAscending.tsx
  packages/react-native/src/icons/app/Desk.tsx
  packages/react-native/src/icons/app/Dog.tsx
  packages/react-native/src/icons/app/Door.tsx
  packages/react-native/src/icons/app/FacePlus.tsx
  packages/react-native/src/icons/app/FolderArrowRight.tsx
  packages/react-native/src/icons/app/FolderPerson.tsx
  packages/react-native/src/icons/app/Indent.tsx
  packages/react-native/src/icons/app/Intro.tsx
  packages/react-native/src/icons/app/KudosGiven.tsx
  packages/react-native/src/icons/app/KudosReceived.tsx
  packages/react-native/src/icons/app/LogoMeetingDoctors.tsx
  packages/react-native/src/icons/app/MagnifierMinus.tsx
  packages/react-native/src/icons/app/MagnifierPlus.tsx
  packages/react-native/src/icons/app/Media.tsx
  packages/react-native/src/icons/app/MoreOptions.tsx
  packages/react-native/src/icons/app/ParkingSign.tsx
  packages/react-native/src/icons/app/SidebarHide.tsx
  packages/react-native/src/icons/app/SidebarShow.tsx
  packages/react-native/src/icons/app/Signature.tsx
  packages/react-native/src/icons/app/StarCircleLine.tsx
  packages/react-native/src/icons/app/Text.tsx
  packages/react-native/src/icons/app/Validation.tsx
  packages/react-native/src/icons/app/index.ts
Due: format-react-native

feat(F0PdfViewer): add experimental PDF viewer component
  packages/react/package.json
  packages/react/public/f0-pdf-viewer-sample.pdf
  packages/react/src/components/F0PdfViewer/F0PdfViewer.styles.css
  packages/react/src/components/F0PdfViewer/F0PdfViewer.tsx
  packages/react/src/components/F0PdfViewer/F0PdfViewerSkeleton.tsx
  packages/react/src/components/F0PdfViewer/__stories__/F0PdfViewer.mdx
  packages/react/src/components/F0PdfViewer/__stories__/F0PdfViewer.stories.tsx
  packages/react/src/components/F0PdfViewer/__tests__/F0PdfViewer.test.tsx
  packages/react/src/components/F0PdfViewer/__tests__/pdfActions.test.ts
  packages/react/src/components/F0PdfViewer/__tests__/scales.test.ts
  packages/react/src/components/F0PdfViewer/__tests__/visiblePage.test.ts
  packages/react/src/components/F0PdfViewer/components/PdfLoadingState.tsx
  packages/react/src/components/F0PdfViewer/components/PdfToolbar.tsx
  packages/react/src/components/F0PdfViewer/components/ToolbarButton.tsx
  packages/react/src/components/F0PdfViewer/index.tsx
  packages/react/src/components/F0PdfViewer/pdfActions.ts
  packages/react/src/components/F0PdfViewer/pdfWorker.ts
  packages/react/src/components/F0PdfViewer/scales.ts
  packages/react/src/components/F0PdfViewer/types.ts
  packages/react/src/components/F0PdfViewer/visiblePage.ts
  packages/react/src/components/exports.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/ui/pdf.tsx
  pnpm-lock.yaml
Due: format-react

feat(F0PdfViewer): add opt-in page rotation
  packages/react/src/components/F0PdfViewer/F0PdfViewer.tsx
  packages/react/src/components/F0PdfViewer/__stories__/F0PdfViewer.mdx
  packages/react/src/components/F0PdfViewer/__stories__/F0PdfViewer.stories.tsx
  packages/react/src/components/F0PdfViewer/__tests__/F0PdfViewer.test.tsx
  packages/react/src/components/F0PdfViewer/components/PdfToolbar.tsx
  packages/react/src/components/F0PdfViewer/types.ts
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
Due: format-react

fix(F0PdfViewer): keep selected text from shifting
  packages/react/src/components/F0PdfViewer/F0PdfViewer.styles.css
Due: format-react

fix(F0PdfViewer): use skeletons instead of spinners while loading
  packages/react/src/components/F0PdfViewer/F0PdfViewer.tsx
  packages/react/src/components/F0PdfViewer/components/PdfLoadingState.tsx
Due: format-react

refactor(F0PdfViewer): polish docs preview, page centering and toolbar
  packages/react/public/f0-pdf-viewer-sample.pdf
  packages/react/src/components/F0PdfViewer/F0PdfViewer.styles.css
  packages/react/src/components/F0PdfViewer/F0PdfViewer.tsx
  packages/react/src/components/F0PdfViewer/__stories__/F0PdfViewer.mdx
  packages/react/src/components/F0PdfViewer/__stories__/F0PdfViewer.stories.tsx
  packages/react/src/components/F0PdfViewer/components/PdfToolbar.tsx
  packages/react/src/components/F0PdfViewer/components/ToolbarButton.tsx
Due: format-react

feat(F0Chat): enhance chat functionality with search and status badges
  packages/react/src/kits/Social/Reactions/Picker/index.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/SidebarChatItem.tsx
  packages/react/src/sds/ai/F0AiChat/F0AiChat.tsx
  packages/react/src/sds/chat/F0Chat/F0Chat.stories.tsx
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatBubble.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatHeader.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageActions.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageInfo.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageItem.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageReactions.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageRowRenderer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageRun.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageSkeleton.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessagesContainer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatStates.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatTypingBubble.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatTypingChip.tsx
  packages/react/src/sds/chat/F0Chat/components/DateTimeSeparator.tsx
  packages/react/src/sds/chat/F0Chat/components/MessageStatus.tsx
  packages/react/src/sds/chat/F0Chat/hooks/useChatScroll.ts
  packages/react/src/sds/chat/F0Chat/index.ts
  packages/react/src/sds/chat/F0Chat/mocks/MockChatApp.tsx
  packages/react/src/sds/chat/F0Chat/mocks/mockSeeds.ts
  packages/react/src/sds/chat/F0Chat/mocks/useMockChatApp.ts
  packages/react/src/sds/chat/F0Chat/types.ts
  packages/react/src/sds/chat/F0Chat/utils/__tests__/grouping.test.ts
  packages/react/src/sds/chat/F0Chat/utils/__tests__/sender-color.test.ts
  packages/react/src/sds/chat/F0Chat/utils/grouping.ts
  packages/react/src/sds/chat/F0Chat/utils/natural-time.ts
  packages/react/src/sds/chat/F0Chat/utils/sender-color.ts
Due: format-react

feat(F0Chat): in-conversation message search with match navigation
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatHeader.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatHeaderSearch.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessagesContainer.tsx
  packages/react/src/sds/chat/F0Chat/hooks/useChatScroll.ts
  packages/react/src/sds/chat/F0Chat/index.ts
  packages/react/src/sds/chat/F0Chat/mocks/MockChatApp.tsx
  packages/react/src/sds/chat/F0Chat/providers/ChatUIProvider.tsx
  packages/react/src/sds/chat/F0Chat/types.ts
Due: format-react

feat(F0Chat): search loading state, sidebar polish, realistic menu
  packages/react/src/components/F0InputField/F0InputField.tsx
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/patterns/ApplicationFrame/index.stories.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/SidebarChatItem.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/SidebarChatList.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/UnreadBadge.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/__tests__/SidebarChatList.test.tsx
  packages/react/src/patterns/Navigation/Sidebar/Chats/index.stories.tsx
  packages/react/src/patterns/Navigation/Sidebar/CollapsibleSection/index.tsx
  packages/react/src/patterns/Navigation/Sidebar/Tabs/index.tsx
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatHeader.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatHeaderSearch.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageActions.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessageInfo.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatMessagesContainer.tsx
  packages/react/src/sds/chat/F0Chat/components/DateTimeSeparator.tsx
  packages/react/src/sds/chat/F0Chat/components/MessageStatus.tsx
  packages/react/src/sds/chat/F0Chat/hooks/useChatScroll.ts
  packages/react/src/sds/chat/F0Chat/mocks/mockSeeds.ts
  packages/react/src/sds/chat/F0Chat/providers/ChatUIProvider.tsx
Due: format-react

feat(F0Chat): add an emoji picker to the composer
  packages/react/src/lib/providers/i18n/i18n-provider-defaults.ts
  packages/react/src/sds/chat/F0Chat/__tests__/F0Chat.test.tsx
  packages/react/src/sds/chat/F0Chat/components/ChatComposer.tsx
Due: format-react

Path conditions:
  format-react: any of: packages/react/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
  format-react-native: any of: packages/react-native/**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,md}
